/**
 * General
 */
wizard[description=""] .wizard-header-description {
  display: none;
}

link {
  -moz-binding: url("chrome://mozapps/content/update/updates.xml#link");
  -moz-user-focus: normal;
  cursor: pointer;
}

link > label {
  cursor: inherit;
}

/**
 * Remote Content
 */
remotecontent {
  -moz-binding: url("chrome://mozapps/content/update/updates.xml#remotecontent");
  display: -moz-deck;
}

/**
 * Update History Window
 */
update {
  -moz-binding: url("chrome://mozapps/content/update/updates.xml#update");
  display: -moz-box;
  -moz-box-orient: vertical;
}

