/* Address Book specific style */


/* CardEdit styles - used in the Card Edit Dialog */

box[class="CardEdit"] {
	margin: 5px;
	padding: 5px;
	border: 2px groove white;
}

input[class="CardEdit"] {
	height       : 22px;
	width        : 190px;
	margin-left  : 0px;
	margin-right : 0px;
	margin-top   : 1px;
	margin-bottom: 1px;
}


/* CardView styles - used in the Card View Pane*/

div[class="CardViewHeading"] {
	padding: 1px;
	padding-left: 5px;
	color: white;
	background-color: #5050ff;
	font-weight: bold;
	display: none;
}

div[class="CardViewText"] {
	padding-left: 20px;
	padding-right: 2px;
	display: none;
}

box[class="CardView"] {
	padding: 0px;
	padding-top: 12px;
	padding-bottom: 4px;
	border: none;
	display: block;
}

spring[class="CardViewHeadingSpace"] {
	height: 3px;
}


/* General styles */

spring[class="PromptEditSpacing"] {
	width: 5px;
}

treeitem[selected="true"] { 
 color: white;
 background-color: #666699; 
}

