{
    NSInfoPlistVersion = "5.0";
    NSAppVersion = "xxx";
    NSHumanReadableShortName = "MyApp";
    NSHumanReadableCompleteName = "My Application.";
    NSHumanReadableCopyright = "Copyright (c) 19xx, Great Software, Inc.";
    NSTypes = (
	{
	    NSName = "DocumentType";
	    NSHumanReadableName = "My document file type.";
	    NSUnixExtensions = ("xxxx");
	    NSDOSExtensions = ("xxxx");
	    NSRole = Editor;
	    NSDocumentClass = Document;
	}
    );
}

 	
