/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/syncedtabs/sidebar.inc.css

/* These styles are intended to mimic XUL trees and the XUL search box. */

.item-title {
  margin: 1px 0 0;
  margin-inline-end: 6px;
}

.search-box {
  -moz-appearance: textfield;
  cursor: text;
  margin: 4px;
}

.textbox-search-clear {
  background-image: url(moz-icon://stock/gtk-clear?size=menu);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.search-box > .textbox-input-box {
  background-image: url(chrome://global/skin/icons/search-textbox.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: left center;
  padding-inline-start: 14px;
}

.search-box > .textbox-input-box:dir(rtl) {
  background-position: right center;
}

.textbox-search-clear:not([disabled]) {
  cursor: pointer;
}
