.amo-form div {
    margin: 1em 0;
}

.amo-submit {
    background-color: #cfc;
    border: 2px #999 outset;
}

.amo-submit:hover {
    background-color: #fff;
    border: 2px #999 inset;
    cursor: pointer;
}

.amo-cancel {
}

.amo-label-large, .amo-label-medium, .amo-label-small {
    border-bottom: 1px dashed #eee;
    float: left;
    font-weight: bold;
}

.amo-label-large {
    width: 14em;
}

.amo-label-medium {
    width: 10em;
}

.amo-label-small {
    width: 8em;
}

.amo-label-xsmall {
    width: 6em;
}

.amo-form-error {
    background-color: #eee;
    border: 1px dashed #c66;
    color: #c00;
    margin: 5px 0;
    padding: .5em;
}
