<!DOCTYPE html>
<html class="reftest-wait">
<style>
html {
  height: 100%;
  width: 100%;
}
body {
  height: 2000px;
  width: 200%;
  margin: 0px;
  padding: 0px;
}
div {
  width: 20px;
  height: 100%;
  top: 0px;
  background-color: green;
}
</style>
<div style="right: 0px;  position: fixed;"></div>
<div style="right: 25px; position: absolute;"></div>
<script>
let win = SpecialPowers.wrap(window);
SpecialPowers.spawnChrome([win.browsingContext.id], id => {
  BrowsingContext.get(id).forceDesktopViewport = true;
}).then(() => {
  document.documentElement.classList.remove('reftest-wait');
});
</script>
</html>
