<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td dojoAttachPoint="controlsContainer">
			<input type="button" value="pause" 
				dojoAttachPoint="startStopButton"
				dojoAttachEvent="onClick: togglePaused;">
		</td>
	</tr>
	<tr>
		<td>
			<div style="position: relative; width: 800px; height: 600px;"
				dojoAttachPoint="imagesContainer"
				dojoAttachEvent="onClick: togglePaused;">
				<img dojoAttachPoint="img1" class="slideShowImg" 
					style="z-index: 1;"  />
				<img dojoAttachPoint="img2" class="slideShowImg" 
					style="z-index: 0;" />
			</div>	
		</td>
	</tr>
</table>
