/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.inline-preview {
  position: relative;
  margin-top: calc(var(--theme-code-line-height) * -11px);
}

.inline-preview-outer {
  padding: 1px 0;
  background-color: var(--theme-inline-preview-background);
  border: 1px solid var(--theme-inline-preview-border-color);
  border-radius: 3px;
  font-size: 10px;
  margin-right: 5px;
}

.inline-preview-label {
  padding: 1px 2px 1px 4px;
  color: var(--theme-inline-preview-label-color);
  background-color: var(--theme-inline-preview-label-background);
}

.inline-preview-value {
  padding: 2px 6px;
}
