/* NEW WIDGET ANDING: <button> */

/** Default Button Styles (apply to usage of <button> without 
 *  any applied class).
 **/

/* outer frame */
  button, button.left
    {
      behavior            : url("chrome://global/skin/buttonBindings.xml#buttonleft");
      border-left         : 1px solid #DDDDDD;
      border-top          : 1px solid #DDDDDD;
      border-right        : 1px solid #000000;
      border-bottom       : 1px solid #000000;
      margin              : 1px 5px 2px 5px;
      background-color    : #DDDDDD;
      min-width           : 8em;
      font                : Geneva 8pt;
      color               : black;
      -moz-border-radius  : 3px 2px 2px 3px;
    }
  
  .button-box-1  
    {
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
    }

  .button-box-2
    {
			border              : 1px solid #DDDDDD;	
    }
    
  button:hover:active 
    {
      border              : 1px solid #000000;
    }

  button:hover:active > .button-box-1
    {
      border              : 1px solid #9D9D9D;
    }

  button:hover:active > .button-box-1 > .button-box-2
    {
      border              : 1px solid #DDDDDD;
    }

  button:hover:active > .button-box-1 > .button-box-2 > .button-box-text
    {
      padding             : 1px 2px 0px 3px; 
    }
  
  button[disabled="true"],
  button[disabled="true"]:hover:active 
    {
      color               : #999999;
    }
        
  button[disabled="true"] > .button-box-1 > .button-box-2 > .button-box-text,
  button[disabled="true"]:hover:active > .button-box-1 > .button-box-2 > .button-box-text
    {
      padding             : 0px 3px 1px 2px;
    }

/* text wrapping frame (hack because <text> does not support alignment) */
  .button-box-text,
  button[disabled]:focus > .button-box-1 > .button-box-2 > .button-box-text
    {
      text-align          : center;
      vertical-align      : middle;
      padding             : 0px 3px 1px 2px;
      border              : 1px solid #DDDDDD;
      margin              : 1px;
    }

  button:focus > .button-box-1 > .button-box-2 > .button-box-text
    {
      border              : 1px dotted #000000;
    }    
    
/** Styles for "DEFAULT" buttons (usually 'OK' or equivalent in dialogs. 
 *  To activate, set 'default' attribute on button.
 **/
 
/* outer frame */  
  button[default], button:focus
    {
      border              : 1px solid #000000;
    }

  button[default] > .button-box-1,
  button:focus > .button-box-1
    {
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #000000;
      border-bottom       : 1px solid #000000;
    }

  button[default] > .button-box-1 > .button-box-2,
  button:focus > .button-box-1 > .button-box-2
    {
      border-left         : 1px solid #DDDDDD;
      border-top          : 1px solid #DDDDDD;
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
    }
  
/** plain (raw) buttons, class="plain" **/
  button.plain, button.plain:hover, button.plain:hover:active,
  button:hover:active > .button-internal-box,
  button.plain > .button-internal-box, 
  button.plain > .button-internal-box:hover:active,
  button.plain > .button-internal-box > .button-text-container, 
  button.plain > .button-internal-box > .button-text-container:hover:active,
  button.plain > .button-internal-box > .button-text-container > .button-text, 
  button.plain > .button-internal-box > .button-text-container > .button.text:hover:active,
  button-plain > .button-internal-box > .button-icon, 
  button.plain > .button-internal-box > .button.icon:hover:active
    {
      border              : 0px ! important;
      margin              : 0px;
      padding             : 0px;
    }
    
    
