
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* colorpicker tiles */

.colorpickertile 
  {
    width                 : 20px;
    height                : 20px;
    margin                : 1px;
    border                : 1px inset #CCCCCC;
  }

.colorpickertile[selected="true"] 
  {
    border : 2px outset #C0C0C0;
  }

.colorpickertile[hover="true"]
  {
    border : 2px dotted #FFFFFF;
  }

.cp-light[hover="true"]
  {
    border : 2px dotted #909090;
  }

/* colorpicker button */

colorpicker[type="button"] {
  width: 35px;
  height: 20px;
  border: 1px solid #000000;
}

.colorpicker-button-internal-box {
  padding: 3px;
  border: 1px solid transparent;
}

.colorpicker-button-colorbox {
  border: 1px solid #000000;
}

colorpicker[type="button"][open="true"] > .colorpicker-button-internal-box {
  border-color: #000000;
}

