@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.wizard-header {
  background-color: #FFFFFF;
}

.wizard-header-box-2 {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #777777;
  background-color: #CCCCFF;
  color: #000000;
}

.wizard-header-box-text {
  border-bottom: 1px solid #9999FF; 
  padding: 6px 0 6px 0;
}

.wizard-header-label {
  margin-left: 23px;
  font-weight: bold;
}

.wizard-header-box-icon {
  margin: 3px 20 0 3px;
}

.wizard-header-icon {
  list-style-image: inherit;
}

.wizard-page-box {
  padding: 15px 23px;
  background-color: #FFFFFF;
}

.wizard-buttons-top {
  padding: 6px 10;
  background-color: #FFFFFF;
}

.wizard-buttons-separator {
  margin: 0 !important;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #FFFFFF !important;
}

.wizard-buttons-btm {
  padding: 3px 6px 6px 6px;
  background-color: #DDDDDD;
}

.wizard-label-box {
  border: 1px solid #777777;
  padding: 0 6px;
  background-color: #BBBBBB;
  font-weight: bold;
}

.wizard-button {
  font: menu !important;
}

.wizard-nav-button,
.wizard-nav-button[disabled="true"]:hover:active {
  -moz-binding: url("chrome://global/content/bindings/button.xml#button-image") !important;
  margin: 0 !important;
  border: 2px solid;
  min-width: 0;
  -moz-border-top-colors: #666666 #FFFFFF;
  -moz-border-right-colors: #333333 #888888;
  -moz-border-bottom-colors: #333333 #888888;
  -moz-border-left-colors: #666666 #FFFFFF;
  -moz-border-radius: 0;
}

.wizard-nav-button:hover:active {
  -moz-border-top-colors: #333333 #AAAAAA;
  -moz-border-right-colors: #666666 #777777;
  -moz-border-bottom-colors: #666666 #777777;
  -moz-border-left-colors: #333333 #AAAAAA;
}

.wizard-button[dlgtype="next"] > .button-box > .button-text,
.wizard-button[dlgtype="back"] > .button-box > .button-text {
  display: none;
}

.wizard-button[dlgtype="back"] {
  list-style-image: url("chrome://global/skin/wizard/wizard-btn-lft.gif");
}

.wizard-button[dlgtype="next"] {
  list-style-image: url("chrome://global/skin/wizard/wizard-btn-rit.gif");
}

.wizard-button[dlgtype="back"][disabled="true"],
.wizard-button[dlgtype="back"][disabled="true"]:hover:active {
  list-style-image: url("chrome://global/skin/wizard/wizard-btn-lft-dis.gif");
}

.wizard-button[dlgtype="next"][disabled="true"],
.wizard-button[dlgtype="next"][disabled="true"]:hover:active {
  list-style-image: url("chrome://global/skin/wizard/wizard-btn-rit-dis.gif");
}

.wizard-button[dlgtype="back"]:hover:active {
  list-style-image: url("chrome://global/skin/wizard/wizard-btn-lft-act.gif");
}

.wizard-button[dlgtype="next"]:hover:active {
  list-style-image: url("chrome://global/skin/wizard/wizard-btn-rit-act.gif");
}


