<html reftest-zoom="1.8">
<style>
  a{
    background-repeat: inherit;
    background-position: inherit;
    /* this image has a red pixel at the bottom to
    prevent image lib from optimizing it into a
    solid color fill */
    background-image:url("nearly-white.png");
    line-height: 20px; /* set the line height so that the red pixel is not drawn */ 
  }
</style>
<div style="background-repeat: no-repeat">
    <a>&nbsp;</a><a>&nbsp;</a>
</div>
<p>
<div style="background-position: right top">
    <a>&nbsp;</a><a>&nbsp;</a>
</div>
<p>
<div>
    <a>&nbsp;</a><a>&nbsp;</a>
</div>
