<!DOCTYPE HTML>
<style>
body {
  background-color:black;
}
div {
  transform: scale(0.3);
  transform-origin: 0 0;
}
</style>
<div>
<!-- Test that drawing of a 20x20 image with all pixels the same color is snapped -->
<img style="width:256px; height:256px"
 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAG0lEQVQ4jWP4T2XAMGrgqIGjBo4aOGrgSDUQAOdROhuRCSeMAAAAAElFTkSuQmCC"
><img style="width:256px; height:256px"
  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAG0lEQVQ4jWP4T2XAMGrgqIGjBo4aOGrgSDUQAOdROhuRCSeMAAAAAElFTkSuQmCC">
</div>
