<!doctype html>
<html>
<!--
https://bugzilla.mozilla.org/show_bug.cgi?id=1265611
-->
<head>
  <title>Test CSS animations ignore disabled properties (Bug 1265611)</title>
  <script src="/tests/SimpleTest/SimpleTest.js"></script>
  <link rel="stylesheet" type="text/css" href="/tests/SimpleTest/test.css"/>
</head>
<body>
<a target="_blank"
   href="https://bugzilla.mozilla.org/show_bug.cgi?id=1265611">Mozilla Bug
   1265611</a>
<pre id="test">
<script>
'use strict';

SimpleTest.waitForExplicitFinish();

/*
 * This test relies on the fact that the -webkit-text-fill-color property
 * is disabled by the layout.css.prefixes.webkit pref. If we ever remove that
 * pref we will need to substitute some other pref:property combination.
 */
SpecialPowers.pushPrefEnv(
  { 'set': [[ 'layout.css.prefixes.webkit', false ]] },
  () => window.open('file_animations_with_disabled_properties.html'));
</script>
</pre>
</body>
</html>
