# Filename will be appended to the timestamp in the report filename.
# Use letters and underscores only
filename: testfilename 

# The title of the report
title: testtitle

# Name of profile to test
Test profile 1:
  # Path to Firefox to test
  firefox: C:\cygwin\tmp\test\firefox\firefox.exe

  branch: testbranch

  branchid: testbranchid

  profile_path: C:\talos\base_profile

  # Preferences to set in the test (use "preferences : {}" for no prefs)
  preferences : 
    browser.shell.checkDefaultBrowser : false
    dom.allow_scripts_to_close_windows : true
    dom.disable_open_during_load: false
    browser.dom.window.dump.enabled: true
    network.proxy.type : 1
    network.proxy.http : localhost
    network.proxy.http_port : 80
    dom.disable_window_flip : true
    dom.disable_window_move_resize : true
    security.enable_java : false

  # Extensions to install in test (use "extensions: {}" for none)
  #extensions:
  extensions : {}

