//Microsoft Developer Studio generated resource script.
//
#define IDI_DCCK		1

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_DCCK 		      ICON    DISCARDABLE     "setup.ICO"






