<!DOCTYPE html>
<html class="reftest-wait">
<html>
<head>
<style type="text/css">
#last-child {
 height: 20px;
 margin-bottom: 0px;
 background-color: blue;
}
#separator {
 height: 20px;
 background-color: green;
}
#parent {
 margin-bottom: 20px;
}
</style>
<script type="text/javascript">
function test() {
 document.getElementById('last-child').style.marginBottom = '-30px';
 document.documentElement.removeAttribute('class');
}
document.addEventListener('MozReftestInvalidate', test, false);
</script>
</head>
<body>
<div id="parent">
 <div id="last-child"></div>
</div>
<div id="separator"></div>
</body>
</html>
