<!DOCTYPE html>
<html class="reftest-wait">
<head>
<style type="text/css">
#a {
 height: 20px;
 background-color: green;
}
#b {
 display: none;
 height: 20px;
 background-color: blue;
 margin-top: -20px;
}
</style>
<script type="text/javascript">
function test() {
 document.getElementById('b').style.display = 'block';
 document.documentElement.removeAttribute('class');
}
document.addEventListener('MozReftestInvalidate', test, false);
</script>
</head>
<body>
<div id="a"></div>
<div id="b"></div>
</body>
</html>
