<!DOCTYPE html>
<html class="reftest-wait">
<head>
<style type="text/css">
#parent {
 background-color: green;
}
#first-child {
 height: 20px;
}
#last-child {
 margin-top: 60px;
}
#separator {
 height: 20px;
 margin-top: 10px;
 background-color: green;
}
</style>
<script type="text/javascript">
function test() {
 document.getElementById('last-child').style.marginBottom = '-20px';
 document.documentElement.removeAttribute('class');
}
document.addEventListener('MozReftestInvalidate', test, false);
</script>
</head>
<body>
<div id="parent">
 <div id="first-child"></div>
 <div id="last-child"></div>
</div>
<div id="separator"></div>
</body>
</html>
