<!DOCTYPE html>
<html class="reftest-wait">
<head>
<style type="text/css">
fieldset {
 height: 20px;
 padding: 0;
 border: none;
 background-color: green;
}
#top {
 margin: 0 0 20px;
}
#middle {
 margin: 0;
}
#bottom {
 margin: 20px 0 0;
}
</style>
<script type="text/javascript">
function test() {
 document.getElementById('middle').style.margin = '20px 0';
 document.documentElement.removeAttribute('class');
}
document.addEventListener('MozReftestInvalidate', test, false);
</script>
</head>
<body>
<fieldset id="top"></fieldset>
<fieldset id="middle"></fieldset>
<fieldset id="bottom"></fieldset>
</body>
</html>
