[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backports-abc = "*"
boto3 = "*"
livereload = "*"
recommonmark = "*"
singledispatch = "*"
sphinx = "*"
# Upgrading to 2.5 causes an intermittent in the Doc task
sphinx-js = "==2.1"
sphinx-rtd-theme = "*"

[requires]
python_version = "2.7"
