[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backports-abc = "*"
futures = "*"
livereload = "*"
recommonmark = "*"
singledispatch = "*"
sphinx = "<1.7.0"
sphinx_rtd_theme = "*"
sphinx-js = "*"
typing = "*"

[requires]
python_version = "2.7"
