/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace xhtml "http://www.w3.org/1999/xhtml";

/* HTML link elements do weird things to the layout if they are not hidden */
xhtml|link {
  display: none;
}

.sidebar-footer-button > .text-link {
  margin-top: 0;
  margin-bottom: 0;
}


.text-list {
  white-space: pre-line;
}

#header-searching:not([active]) {
  visibility: hidden;
}

/* Elements in unselected richlistitems cannot be focused */
richlistitem:not([selected]) * {
  -moz-user-focus: ignore;
}

#header-search {
  width: 22em;
}

#pluginFlashBlockingCheckbox .checkbox-label-box {
  display: none; /*see bug 1508724*/
}
