@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/******** Outliner widget **********/

/** basic outliner ****************************************************
 *  basic outliner widget for use in main windows where no decoration
 *  is required.
 **/

outliner {
  border-spacing        : 0px;     
  border-top            : 1px solid ThreeDShadow;                             
  border-right          : 1px solid ThreeDHighlight;
  border-bottom         : 1px solid ThreeDShadow;                          
  border-left           : 1px solid ThreeDShadow; 
  background-color      : -moz-Field;
  color                 : -moz-FieldText;   
}

outliner.inset {
  border-top: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDHighlight;
  border-left: 1px solid ThreeDShadow;
}

outlinerbody {
  -moz-user-select: none;
}

outlinerbody:-moz-outliner-row {
  height: 18px;
  border: 1px solid transparent;
}

outlinerbody:-moz-outliner-row(selected) {
  background-color: -moz-Dialog;
}

outliner:focus > outlinerbody:-moz-outliner-row(selected, focus) {
  background-color: Highlight;
}

outlinerbody:-moz-outliner-row(current, focus) {
  border: 1px dotted #F5DB95;
}

outlinerbody:-moz-outliner-cell {
  padding: 0px 0px 1px 2px;
}

outlinerbody:-moz-outliner-cell-text {
  color: inherit;
}

outlinerbody:-moz-outliner-cell-text(selected) {
  color: -moz-DialogText;
}

outlinerbody:-moz-outliner-cell-text(selected, focus) {
  color: HighlightText;
}

outlinerbody:-moz-outliner-line {
  border: 1px dotted grey;
}

outlinerbody:-moz-outliner-line(selected) {
  border: 1px dotted black;
}

outlinerbody:-moz-outliner-separator {
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}

outlinercol { 
  border-left: 1px solid ThreeDHighlight;
  border-top: 1px solid ThreeDHighlight;
  border-right: 1px solid ThreeDDarkShadow;
  border-bottom : 1px solid ThreeDDarkShadow;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

.outlinercol-box,
.outlinercol-image-box {
  border-left: 1px solid ThreeDLightShadow;
  border-top: 1px solid ThreeDLightShadow;
  border-right: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
}  

.outlinercol-box {
  padding: 0px 4px;
}

.outlinercol-image-box {
  padding: 0px 1px;
}
  
outlinercol:hover:active {
  border: 1px solid ThreeDShadow;
}

outlinercol:hover:active > .outlinercol-box,
outlinercol:hover:active > .outlinercol-image-box {
  border-top: 1px solid transparent;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid transparent;
}
  
outlinercol:hover:active > .outlinercol-box {
  padding: 1px 4px 0px 5px;
}

outlinercol:hover:active > .outlinercol-image-box {
  padding: 1px 1px 0px 2px;
}

/* column drag and drop styles */

outlinercol[dragging="true"] {
  border: 1px solid ThreeDDarkShadow;
  background-color: ThreeDShadow;
  color: ThreeDHighlight;
}

outlinercol[dragging="true"] > .outlinercol-box {
  border: 1px solid transparent;
}

outlinercol[insertafter="true"] {
  border-right: 1px solid ThreeDDarkShadow;
}

outlinercol[insertafter="true"] > .outlinercol-box {
  border-right: 1px solid ThreeDShadow;
}

outlinercol[insertbefore="true"] {
  border-left: 1px solid ThreeDDarkShadow;
}

outlinercol[insertbefore="true"] > .outlinercol-box {
  border-left: 1px solid ThreeDShadow;
}

outlinerbody:-moz-outliner-column(insertbefore) {
  border-left: 1px solid ThreeDShadow;
}

outlinerbody:-moz-outliner-column(insertafter) {
  border-right: 1px solid ThreeDShadow;
}

/* outliner header with sort direction indicators */

.outlinercol-sortdirection {
  list-style-image: none;
}

.sortDirectionIndicator[sortDirection="ascending"] > .outlinercol-box > .outlinercol-sortdirection {
  list-style-image: url("chrome://global/skin/sortAscending.gif");
}

.sortDirectionIndicator[sortDirection="descending"] > .outlinercol-box > .outlinercol-sortdirection {
  list-style-image: url("chrome://global/skin/sortDescending.gif");
}

.outliner-colpicker-icon
{
  list-style-image: url("chrome://global/skin/columnselect.gif");
}

/* twisty rules */
outlinerbody:-moz-outliner-twisty {
  padding-right: 2px;
  width: 12px; /* The image's width is 12 pixels */
  list-style-image: url("chrome://global/skin/twisty-closed.gif");
}
  
outlinerbody:-moz-outliner-twisty(open) {
  width: 12px; /* The image's width is 12 pixels */
  list-style-image: url("chrome://global/skin/twisty-open.gif");
}

outlinerbody:-moz-outliner-indentation {
  width: 16px;
}

.outlinercol-text {
  margin: 0px 0px 0px 0px !important;
}