@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbox
  {
    background-color      : -moz-Dialog;
    border-left           : 1px solid ThreeDShadow;
    border-top            : 1px solid ThreeDShadow;
    border-right          : 1px solid ThreeDHighlight;
  }

toolbar
  {
    background-color      : -moz-Dialog;
    /*
     * DON'T DELETE.  Removes disappearance of scrollbars in content
     * pane when window is made smaller.
     * Talk to evaughan@netscape.com for details.
     */
    min-width             : 1px;      
  }
  
.toolbar-holder
  {
    border-left           : 1px solid ThreeDHighlight;
    border-top            : 1px solid ThreeDHighlight;
    border-right          : 1px solid ThreeDShadow;
    border-bottom         : 1px solid ThreeDShadow;
  }  

menubar
  {
    /* DON'T DELETE.  Removes disappearance of scrollbars
     * in content pane when window is made smaller.
     * Talk to evaughan@netscape.com for details.
     */
    min-width             : 1px;
    background-color      : Menu;
  }

toolbargrippy
  {
    -moz-box-orient       : vertical;
    border-left           : 1px solid ThreeDHighlight;
    border-top            : 1px solid ThreeDHighlight;
    border-right          : 1px solid ThreeDShadow;
    border-bottom         : 1px solid ThreeDShadow;
    width                 : 12px;
    padding-bottom        : 1px;
  }

.toolbargrippy-twisty
  {
    list-style-image      : url("chrome://global/skin/toolbargrippy-twisty.gif");
    margin-top            : 2px;
  }

.toolbargrippy-texture
  {
    margin                : 5px 3px 1px 2px;
    background-image      : url("chrome://global/skin/toolbargrippy-texture.gif");
    background-position   : 50% 0%;
    background-repeat     : repeat-y;
  } 

toolbargrippy[tbgrippy-collapsed="true"] 
  {
    -moz-box-orient       : horizontal;
    border-left           : 1px solid ThreeDHighlight;
    border-top            : 1px solid ThreeDHighlight;
    border-right          : 1px solid ThreeDShadow;
    border-bottom         : 1px solid ThreeDShadow;
    height                : 12px;
    padding-right         : 1px;
  }

.toolbargrippy-twisty-collapsed
  {
    list-style-image      : url("chrome://global/skin/tbg-twisty-collapsed.gif");
    margin-left           : 2px;
  }


.toolbargrippy-texture-collapsed
  {
    margin                : 2px 1px 1px 5px;
    background-image      : url("chrome://global/skin/tbg-texture-collapsed.gif");
    background-position   : 0% 50%;
    background-repeat     : repeat-x;
  } 


.collapsed-tray-spacer
  {
    border-bottom         : 1px solid ThreeDShadow;
  }  
  
toolbargrippy:hover
  {
    background-color      : #CCCCFF;
  }
  
toolbar[collapsed="true"] > toolbargrippy
  {
    width                 : 30px;
  }
  
toolbarseparator 
  {
    width                 : 1px;
    border-left           : 1px solid ThreeDShadow;
    border-right          : 1px solid ThreeDHighlight; 
    margin                : 2px 0.2em 2px 0.2em;
  }
  
.toolbar-focustarget
  {
    -moz-user-focus       : ignore !important;
  }   
