<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #%]  
  
[% DEFAULT title = "Error" %]

[% error_message = BLOCK %]
  [% IF    error == "aaa_example_error_tag" %]
    [% title = "Example Error" %]    
    This is an example error. The title is set above. This text is the body
    of the error. It can contain arbitrary <b>HTML</b>, and also references
    to any [% parameters %] which you may have set before calling
    ThrowUserError.

  [% ELSIF error == "account_disabled" %]
    [% title = "Account Disabled" %]
    [% disabledreason %]
    <hr>
    If you believe your account should be restored, please 
    send email to [% Param("maintainer") %] explaining why.
            
  [% ELSIF error == "account_exists" %]
    [% title = "Account Already Exists" %]
    There is already an account with
    [% IF email %]
      the login name [% email FILTER html %].
    [% ELSE %]
      that login name.
    [% END %]
                  
  [% ELSIF error == "account_inexistent" %]
    [% title = "Account Does Not Exist" %]
    There is no Bugzilla account with that login name.

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "Invalid Characters In Alias" %]
    The alias you entered, <em>[% alias FILTER html %]</em>,
    contains one or more commas or spaces.  Aliases cannot contain
    commas or spaces because those characters are used to separate
    aliases from each other in lists.  Please choose another alias
    that does not contain commas and spaces.
                  
  [% ELSIF error == "alias_in_use" %]
    [% title = "Alias In Use" %]
    [% bug_link %] has already taken the alias 
    <em>[% alias FILTER html %]</em>.  Please choose another one.
    
  [% ELSIF error == "alias_is_numeric" %]
    [% title = "Alias Is Numeric" %]
    You tried to give this bug the alias <em>[% alias FILTER html %]</em>,
    but aliases cannot be merely numbers, since they could
    then be confused with bug IDs.  Please choose another
    alias containing at least one letter.    
    
  [% ELSIF error == "alias_too_long" %]
    [% title = "Alias Too Long" %]
    Bug aliases cannot be longer than 20 characters.
    Please choose a shorter alias.

  [% ELSIF error == "authorization_failure" %]
    [% title = "Authorization Failed" %]
    You are not allowed to [% action %].

  [% ELSIF error == "attachment_access_denied" %]
    [% title = "Access Denied" %]
    You are not authorized to access this attachment.
    
  [% ELSIF error == "bug_access_denied" %]
    [% title = "Access Denied" %]
    You are not authorized to access bug #[% bug_id %].

  [% ELSIF error == "bug_access_query" %]
    [% title = "Access Denied" %]
    You are not authorized to access bug #[% bug_id %]. To see this bug, you
    must first <a href="show_bug.cgi?id=[% bug_id %]&amp;GoAheadAndLogIn=1">log
    in to an account</a> with the appropriate permissions.
    
  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "Parameters Required" %]
    [% url   = "query.cgi" %]
    [% link  = "Please use the search form to specify some search criteria." %]
    This script is not meant to be invoked without any search terms.
   
  [% ELSIF error == "bugs_not_changed" %]
    [% title = "Bugs Not Changed" %]
    Um, you apparently did not change anything on the selected bugs.
                        
  [% ELSIF error == "comment_required" %]
    [% title = "Comment Required" %]
    You have to specify a <b>comment</b> on this change.  
    Please give some words on the reason for your change.

  [% ELSIF error == "comment_too_long" %]
    [% title = "Comment Too Long" %]
    Comments cannot be longer than 65,535 characters.

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "Dependency Loop Detected" %]
    The following bug(s) would appear on both the "depends on"
    and "blocks" parts of the dependency tree if these changes
    are committed: [% both %]. This would create a circular 
    dependency, which is not allowed.
                            
  [% ELSIF error == "dependency_loop_single" %]
    [% title = "Dependency Loop Detected" %]
    You can't make a bug blocked or dependent on itself.

  [% ELSIF error == "dupe_invalid_bug_id" %]
    [% title = "Valid Bug Number Required" %]
    You must specify a valid bug number of which this bug
    is a duplicate.  The bug has not been changed.
     
  [% ELSIF error == "dupe_of_self_disallowed" %]
    [% title = "Nice Try..." %]
    Nice try, [% user.login FILTER html %], but it doesn't 
    really make sense to mark a bug as a duplicate of itself, 
    does it?  
    
  [% ELSIF error == "email_change_in_progress" %]
    [% title = "Email Change Already In Progress" %]
    Email change already in progress; please check your email. 
        
  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "Email Address Confirmation Failed" %]
    Email address confirmation failed.

  [% ELSIF error == "entry_access_denied" %]
    [% title = "Permission Denied" %]
    Sorry; you do not have the permissions necessary to enter a bug against
    the [% product FILTER html %] product.
     
  [% ELSIF error == "file_not_specified" %]
    [% title = "No File Specified" %]
    You did not specify a file to attach.
    
  [% ELSIF error == "file_too_large" %]
    [% title = "File Too Large" %]
    The file you are trying to attach is [% filesize %] kilobytes (KB) in size.
    Non-patch attachments cannot be more than [% Param('maxattachmentsize') %]
    KB.
    If your attachment is an image, try converting it to a compressable
    format like JPG or PNG, or put it elsewhere on the web and
    link to it from the bug's URL field or in a comment on the bug.
      
  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "Flag Type CC List Invalid" %]
    The CC list [% cc_list FILTER html %] must be less than 200 characters long.
    
  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "Flag Type Description Invalid" %]
    The description must be less than 32K.
    
  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "Flag Type Name Invalid" %]
    The name <em>[% name FILTER html %]</em> must be 1-50 characters long.
    
  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "Flag Type Sort Key Invalid" %]
    The sort key must be an integer between 0 and 32767 inclusive.
    It cannot be <em>[% variables.sortkey %]</em>.
  
  [% ELSIF error == "illegal_at_least_x_votes" %]
    [% title = "Your Query Makes No Sense" %]
    The <em>At least ___ votes</em> field must be a simple number. 
    You entered <tt>[% value FILTER html %]</tt>, which isn't.
    
  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "Unauthorised Action" %]
    You are not authorised to edit attachment [% attach_id %].
         
  [% ELSIF error == "illegal_attachment_is_patch" %]
    [% title = "Your Query Makes No Sense" %]
    The only legal values for the <em>Attachment is patch</em> field are
    0 and 1.
         
  [% ELSIF error == "illegal_change" %]
    You tried to change the <strong>[% field %]</strong> field 
    from <em>[% oldvalue FILTER html %]</em> to 
    <em>[% newvalue FILTER html %]</em>, 
    but only the owner or submitter of the bug, or a 
    sufficiently empowered user, may change that field.
  
  [% ELSIF error == "illegal_changed_in_last_x_days" %]
    [% title = "Your Query Makes No Sense" %]
    The <em>Changed in last ___ days</em> field must be a simple number. 
    You entered <tt>[% value FILTER html %]</tt>, which isn't.
    
  [% ELSIF error == "illegal_date" %]
    [% title = "Your Query Makes No Sense" %]
    '<tt>[% date %]</tt>' is not a legal date.
    
  [% ELSIF error == "illegal_email_address" %]
    [% title = "Invalid Email Address" %]
    The e-mail address you entered(<b>[% addr FILTER html %]</b>) 
    didn't pass our syntax checking for a legal email address. 
    [% Param('emailregexpdesc') %]
    It must also not contain any of these special characters:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>, or any whitespace.
    
  [% ELSIF error == "illegal_is_obsolete" %]
    [% title = "Your Query Makes No Sense" %]
    The only legal values for the <em>Attachment is obsolete</em> field are
    0 and 1.

  [% ELSIF error == "illegal_query_name" %]
    [% title = "Illegal Query Name" %]
    The name of your query cannot contain any of the following characters: 
    &lt;, &gt;, &amp;.

  [% ELSIF error == "insufficient_privs_for_multi" %]
    [% title = "Insufficient Privileges" %]
    Sorry, you do not have sufficient privileges to edit multiple bugs.
    
  [% ELSIF error == "invalid_attach_id" %]
    [% title = "Invalid Attachment ID" %]
    The attachment id [% attach_id FILTER html %] is invalid.

  [% ELSIF error == "invalid_bug_id" %]
    [% title = "Invalid Bug ID" %]
    The bug id [% bug_id FILTER html %] is invalid.

  [% ELSIF error == "invalid_bug_id_non_existent" %]
    [% title = "Invalid Bug ID" %]
    Bug #[% bug_id %] does not exist.
    
  [% ELSIF error == "invalid_bug_id_or_alias" %]
    [% title = "Invalid Bug ID" %]
    The 'bug number' <em>[% bug_id FILTER html %]</em> is invalid.     
    [% IF Param("usebugaliases") %]
      It is neither a bug number nor an alias to a bug number.
    [% END %]
    If you are trying to use QuickSearch, you need to enable JavaScript 
    in your browser. To help us fix this limitation, add your comments to 
    <a href="http://bugzilla.mozilla.org/show_bug.cgi?id=70907">bug 70907</a>.

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Invalid Content-Type" %]
    The content type <em>[% contenttype FILTER html %]</em> is invalid.
    Valid types must be of the form <em>foo/bar</em> where <em>foo</em> 
    is either <em>application, audio, image, message, model, multipart, 
    text,</em> or <em>video</em>.
    
  [% ELSIF error == "invalid_product_name" %]
    [% title = "Invalid Product Name" %]
    The product name '[% product FILTER html %]' is invalid or does not exist.
    
  [% ELSIF error == "invalid_username" %]
    [% title = "Invalid Username" %]
    The name <tt>[% name FILTER html %]</tt> is not a valid username.  
    Either you misspelled it, or the person has not
    registered for a Bugzilla account.

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "Invalid Username Or Password" %]
    The username or password you entered is not valid.
                    
  [% ELSIF error == "ldap_cant_create_account" %]
    [% title = "Can't create LDAP accounts" %]
    This site is using LDAP for authentication.  Please contact 
    an LDAP administrator to get a new account created.
     
  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "Login Name Required" %]
    You must enter a login name when requesting to change your password.

  [% ELSIF error == "milestone_required" %]
    [% title = "Milestone Required" %]
    You must determine a target milestone for bug [% bug_id %]
    if you are going to accept it.  Part of accepting 
    a bug is giving an estimate of when it will be fixed.

  [% ELSIF error == "missing_attachment_description" %]
    [% title = "Missing Attachment Description" %]
    You must enter a description for the attachment.
    
  [% ELSIF error == "missing_content_type" %]
    [% title = "Missing Content-Type" %]
     You asked Bugzilla to auto-detect the content type, but
     your browser did not specify a content type when uploading the file, 
     so you must enter a content type manually.
                
  [% ELSIF error == "missing_content_type_method" %]
    [% title = "Missing Content-Type Determination Method" %]
    You must choose a method for determining the content type,
    either <em>auto-detect</em>, <em>select from list</em>, or <em>enter 
    manually</em>.
        
  [% ELSIF error == "missing_cookie" %]
    [% title = "Missing Cookie" %]
    Sorry, I seem to have lost the cookie that recorded
    the results of your last search. I'm afraid you will have to start
    again on the <a href="query.cgi">search page</a>.
          
  [% ELSIF error == "missing_email_type" %]
    [% title = "Your Query Makes No Sense" %]
    You must specify one or more fields in which to search for
    <tt>[% email %]</tt>.
    
  [% ELSIF error == "missing_query" %]
    [% title = "Missing Query" %]
    The query named <em>[% queryname FILTER html %]</em> seems to no longer
    exist.
        
  [% ELSIF error == "need_component" %]
    [% title = "Component Required" %]
    You must specify a component to help determine the new owner of these bugs.
                  
  [% ELSIF error == "need_product" %]
    [% title = "Product Required" %]
    You must specify a product to help determine the new owner of these bugs.
    
  [% ELSIF error == "need_quip" %]
    [% title = "Quip Required" %]
    Please enter a quip in the text field.
    
  [% ELSIF error == "new_password_missing" %]
    [% title = "New Password Missing" %]
    You must enter a new password.
    
  [% ELSIF error == "no_bugs_chosen" %]
    [% title = "No Bugs Chosen" %]
    You apparently didn't choose any bugs to modify.

  [% ELSIF error == "no_component_change_for_multiple_products" %]
    [% title = "Action Not Permitted" %]
    You cannot change the component for a list of bugs covering more than 
    one product.
                       
  [% ELSIF error == "no_components" %]
    [% title = "No Components" %]
    Sorry; there needs to be at least one component for this product in order 
    to create a new bug.
    [% IF UserInGroup("editcomponents") %]
      <a href="editcomponents.cgi">Create a new component</a>.      
    [% ELSE %]
       Please contact [% Param("maintainer") %], giving the name of 
       the product in which you tried to create a new bug.      
    [% END %]
                            
  [% ELSIF error == "no_dupe_stats" %]
    [% title = "Cannot Find Duplicate Statistics" %]
    There are no duplicate statistics for today ([% today %]) or yesterday.
    
  [% ELSIF error == "no_dupe_stats_error_today" %]
    [% title = "Error Reading Today's Dupes File" %]
    An error occurred opening today's dupes file: [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_whenever" %]
    [% title = "Error Reading Previous Dupes File" %]
    An error occurred opening $changedsince days ago ($whenever)'s dupes file:
    [% error_msg FILTER html %].
     
  [% ELSIF error == "no_dupe_stats_error_yesterday" %]
    [% title = "Error Reading Yesterday's Dupes File" %]
    There are no duplicate statistics for today ([% today %]), and an error
    occurred opening yesterday's dupes file: [% error_msg FILTER html %].
    
  [% ELSIF error == "no_html_in_quips" %]
    [% title = "No HTML In Quips" %]
    Sorry - for security reasons, support for HTML tags has been turned off 
    in quips.
         
  [% ELSIF error == "no_new_quips" %]
    [% title = "No New Quips" %]
    This site does not permit the addition of new quips.
    
  [% ELSIF error == "no_page_specified" %]
    [% title = "No Page Specified" %]
    You did not specify the id of a page to display.

  [% ELSIF error == "no_products" %]
    [% title = "No Products" %]
    Either no products have been defined to enter bugs against or you have not
    been given access to any.
     
  [% ELSIF error == "old_password_incorrect" %]
    [% title = "Incorrect Old Password" %]
    You did not enter your old password correctly.
     
  [% ELSIF error == "old_password_required" %]
    [% title = "Old Password Required" %]
    You must enter your old password to change email address.
         
  [% ELSIF error == "passwords_dont_match" %]
    [% title = "Passwords Don't Match" %]
    The two passwords you entered did not match.
     
  [% ELSIF error == "password_too_long" %]
    [% title = "Password Too Long" %]
    The password is more than 16 characters long. It must be no more than 
    16 characters.
    
  [% ELSIF error == "password_too_short" %]
    [% title = "Password Too Short" %]
    The password is less than three characters long. It must be at least 
    three characters.
      
  [% ELSIF error == "patch_too_large" %]
    [% title = "File Too Large" %]
    The file you are trying to attach is [% filesize %] kilobytes (KB) in size.
    Patches cannot be more than [% Param('maxpatchsize') %] KB in size.
    Try breaking your patch into several pieces.  

  [% ELSIF error == "product_access_denied" %]
    [% title = "Access Denied" %]
    You do not have the permissions necessary to access that product.
     
  [% ELSIF error == "query_name_missing" %]
    [% title = "No Query Name Specified" %]
    You must enter a name for your query.

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "Illegal Reassignment" %]
    You cannot reassign to a bug to nobody. Unless you
    intentionally cleared out the "Reassign bug to" 
    field, [% Param("browserbugmessage") %]

  [% ELSIF error == "report_access_denied" %]
    [% title = "Access Denied" %]
    You do not have the permissions necessary to view reports for this product.
     
  [% ELSIF error == "requestee_too_short" %]
    [% title = "Requestee Name Too Short" %]
    One or two characters match too many users, so please enter at least 
    three characters of the name/email address of the user you want to set 
    the flag.
  
  [% ELSIF error == "requestee_too_many_matches" %]
    [% title = "Requestee String Matched Too Many Times" %]
    The string <em>[% requestee FILTER html %]</em> matched more than 
    100 users.  Enter more of the name to bring the number of matches 
    down to a reasonable amount.
  
  [% ELSIF error == "require_component" %]
    [% title = "Component Needed" %]
    You must choose a component to file this bug in. If necessary, 
    just guess.
    
  [% ELSIF error == "require_new_password" %]
    [% title = "New Password Needed" %]
    You cannot change your password without submitting a new one.

  [% ELSIF error == "require_summary" %]
    [% title = "Summary Needed" %]
    You must enter a summary for this bug.

  [% ELSIF error == "sanity_check_access_denied" %]
    [% title = "Access Denied" %]
    You do not have the permissions necessary to run a sanity check.
     
  [% ELSIF error == "sidebar_supports_mozilla_only" %]
    Sorry - sidebar.cgi currently only supports Mozilla based web browsers.
    <a href="http://www.mozilla.org">Upgrade today</a>. :-)

  [% ELSIF error == "too_many_votes_for_bug" %]
    [% title = "Illegal Vote" %]
    You may only use at most [% max %] votes for a single bug in the
    <tt>[% prod FILTER html %]</tt> product, but you are trying to use 
    [% votes %].
     
  [% ELSIF error == "too_many_votes_for_product" %]
    [% title = "Illegal Vote" %]
    You may only use at most [% max %] votes for bugs in the
    <tt>[% prod FILTER html %]</tt> product, but you are trying to use 
    [% votes %].
     
  [% ELSIF error == "token_inexistent" %]
    [% title = "Token Does Not Exist" %]
    The token you submitted does not exist, has expired, or has
    been cancelled.

  [% ELSIF error == "unknown_keyword" %]
    [% title = "Unknown Keyword" %]
    <code>[% keyword FILTER html %]</code> is not a known keyword. 
    The legal keyword names are <a href="describekeywords.cgi">listed here</a>.

  [% ELSIF error == "unknown_tab" %]
    [% title = "Unknown Tab" %]
    <code>[% current_tab_name FILTER html %]</code> is not a legal tab name.    
    
  [% ELSIF error == "votes_must_be_nonnegative" %]
    [% title = "Votes Must Be Non-negative" %]
    Only use non-negative numbers for your bug votes.
        
  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "Wrong Token" %]
    That token cannot be used to cancel an email address change.

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "Wrong Token" %]
    That token cannot be used to change your password.

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "Wrong Token" %]
    That token cannot be used to change your email address.

  [% ELSIF error == "z_axis_defined_with_no_x_axis" %]
    [% title = "Nonsensical Options" %]
    You've defined a field for multiple tables without having defined
    a horizontal axis for those tables.

  [% ELSIF error == "zero_length_file" %]
    [% title = "File Is Empty" %]
    The file you are trying to attach is empty!    
    
  [% ELSE %]
    [%# Cope with legacy calling convention, where "error" was the string
      # to print. 
      #%]
        
    [% error %]
  [% END %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message %]
      </font>
    </td>
  </tr>
</table>

<p>
  Please press <b>Back</b> and try again.
</p>

[% PROCESS global/footer.html.tmpl %]
