@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'),
       local('FiraSans'),
       url('fonts/firasans-regular.woff') format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'),
       local('FiraSansLight'),
       url('fonts/firasans-light.woff') format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Clear Sans'),
       local('ClearSans'),
       url('fonts/clearsans-regular.woff') format('woff');
}

