/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  font: message-box;
  font-size: 11px;
  font-weight: 400;
}

label,
.panel-item,
#project-panel-projects,
#runtime-panel-projects {
  display: block;
  float: left;
  width: 100%;
  text-align: left;
}

.project-image,
.panel-item span {
  display: inline-block;
  float: left;
  line-height: 20px;
}

.project-image {
  margin-right: 10px;
  max-height: 20px;
}

.panel-header {
  color: #ACACAC;
  text-transform: uppercase;
  line-height: 200%;
  margin: 5px 5px 0 5px;
  font-weight: 700;
  width: 100%;
}

.panel-header:first-child {
  margin-top: 0;
}

.panel-header[hidden], .panel-item[hidden] {
  display: none;
}

#runtime-panel-simulator,
.panel-item-complex {
  clear: both;
  position: relative;
}

.panel-item span {
  display: block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
  white-space: nowrap;
}

.panel-item {
  padding: 3%;
  display: block;
  width: 94%;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-left: 0;
  border-bottom: 1px solid #CCC;
  border-right: 0;
  background-color: transparent;
}

button.panel-item {
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  padding-left: 25px;
  width: 100%;
}

.panel-item:disabled {
  background-color: #FFF;
  color: #5A5A5A;
  opacity: 0.5;
  cursor: default;
}

#refresh-tabs {
  background-color: #FFF;
  border-top: 1px solid #EDEDED;
  display: inline-block;
  float: right;
  padding: 3px;
  text-transform: none;
  border-right: 1px solid #CCC;
  width: auto;
  margin: 0 4px 5px 5px;
}

.panel-item:not(:disabled):hover,
button.panel-item:not(:disabled):hover,
#refresh-tabs:hover {
  background-color: #CCF0FD;
  border-top: 1px solid #EDEDED;
}

.configure-button {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: -moz-image-rect(url("icons.png"), 104, 462, 129, 438);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  position: absolute;
  top: -2px;
  right: 0;
  border: 0;
}

.configure-button:hover {
  cursor: pointer;
}

.project-panel-item-openpackaged  { background-image: -moz-image-rect(url("icons.png"), 260, 438, 286, 412); }
.runtime-panel-item-simulator     { background-image: -moz-image-rect(url("icons.png"), 0, 438, 26, 412); }
.runtime-panel-item-other         { background-image: -moz-image-rect(url("icons.png"), 26, 438, 52, 412); }
#runtime-permissions              { background-image: -moz-image-rect(url("icons.png"), 105, 438, 131, 412); }
#runtime-screenshot               { background-image: -moz-image-rect(url("icons.png"), 131, 438, 156, 412); }

#runtime-preferences,
#runtime-settings                 { background-image: -moz-image-rect(url("icons.png"), 105, 464, 131, 438); }

#runtime-panel-nousbdevice,
#runtime-details                  { background-image: -moz-image-rect(url("icons.png"), 156, 438, 182, 412);  }

.runtime-panel-item-usb,
#runtime-disconnect               { background-image: -moz-image-rect(url("icons.png"), 52, 438, 78, 412); }

.runtime-panel-item-wifi,
.project-panel-item-openhosted    { background-image: -moz-image-rect(url("icons.png"), 208, 438, 234, 412); }

.project-panel-item-newapp,
#runtime-panel-noadbhelper,
#runtime-panel-installsimulator   { background-image: -moz-image-rect(url("icons.png"), 234, 438, 260, 412); }
