<?xml version="1.0"?>

<bindings id="menuitemBindings"
   xmlns="http://www.mozilla.org/xbl"
   xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul">

  <binding id="menuitem-base">
    <resources>
      <stylesheet src="chrome://global/skin/menu.css"/>
    </resources>
  </binding>

  <binding id="menu" extends="chrome://global/content/bindings/menu.xml#menuitem-base">
    <content>
      <xul:label class="menu-text" flex="1" inherits="value=label,accesskey,crop" crop="right"/>
      <xul:label class="menu-accel" inherits="value=acceltext"/>
      <xul:hbox align="center" class="menu-right" inherits="menuactive,disabled">
        <xul:image/>
      </xul:hbox>
      <children includes="menupopup"/>
    </content>
    
    <implementation>
      <property name="value" onset="this.setAttribute('value',val); return val;"
                            onget="return this.getAttribute('value');"/>
    </implementation>  
  </binding>

  <binding id="menuitem" extends="chrome://global/content/bindings/menu.xml#menuitem-base">
    <content>
      <xul:label class="menu-text" flex="1" inherits="value=label,accesskey,crop" crop="right"/>
      <xul:label class="menu-accel" inherits="value=acceltext"/>
    </content>
    
    <implementation>
      <property name="value" onset="this.setAttribute('value',val); return val;"
                            onget="return this.getAttribute('value');"/>
    </implementation>  
  </binding>

  <binding id="menu-menubar" extends="chrome://global/content/bindings/menu.xml#menuitem-base">
    <content>
      <xul:label class="menubar-text" inherits="value=label,accesskey,crop" crop="right"/>
      <children includes="menupopup"/>
    </content>
  </binding>

  <binding id="menu-menubar-iconic" extends="chrome://global/content/bindings/menu.xml#menuitem-base">
    <content>
      <xul:image class="menubar-left"/>
      <xul:label class="menubar-text" inherits="value=label,accesskey,crop" crop="right"/>
      <children includes="menupopup"/>
    </content>
  </binding>

  <binding id="menuitem-iconic" extends="chrome://global/content/bindings/menu.xml#menuitem-base">
    <content>
      <xul:hbox class="menu-iconic-left" align="center" pack="center"
               inherits="selected,menuactive,disabled,checked">
        <xul:image inherits="src"/>
      </xul:hbox>
      <xul:label class="menu-iconic-text" flex="1" inherits="value=label,accesskey,crop" crop="right"/>
      <xul:label class="menu-iconic-accel" inherits="value=acceltext"/>
    </content>
    
    <implementation>
      <property name="value" onset="this.setAttribute('value',val); return val;"
                            onget="return this.getAttribute('value');"/>
    </implementation>  
  </binding>

  <binding id="menu-iconic" extends="chrome://global/content/bindings/menu.xml#menuitem-base">
    <content>
      <xul:hbox class="menu-iconic-left" align="center" pack="center">
        <xul:image inherits="src"/>
      </xul:hbox>
      <xul:label class="menu-iconic-text" flex="1" inherits="value=label,accesskey,crop" crop="right"/>
      <xul:label class="menu-iconic-accel" inherits="value=acceltext"/>
      <xul:hbox class="menu-right" inherits="menuactive,disabled" align="center" pack="center">
        <xul:image/>
      </xul:hbox>
      <children includes="menupopup|template"/>
    </content>
    
    <implementation>
      <property name="value" onset="this.setAttribute('value',val); return val;"
                            onget="return this.getAttribute('value');"/>
    </implementation>  
  </binding>
  
  <binding id="menubutton-item" extends="chrome://global/content/bindings/menu.xml#menuitem-base">
    <content>
      <xul:label class="menubutton-text" flex="1" inherits="value=label,accesskey,crop" crop="right"/>
      <children includes="menupopup"/>
    </content>
  </binding>  
  
  <binding id="menuseparator" extends="chrome://global/content/bindings/menu.xml#menuitem-base"/>

</bindings>