/////////////////////////////////////////////////////////////////////////////
// Version stamp for this .DLL
#include <windows.h>
#include <ver.h>

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,5,0,00 // major, minor, release (alpha 1), build #
  PRODUCTVERSION    1,5,0,00
  FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
  FILEFLAGS         0 // final version
  FILEOS            VOS_DOS_WINDOWS32
  FILETYPE          VFT_DLL
  FILESUBTYPE       0   // not used
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
        BEGIN
            VALUE "CompanyName",     "Netscape Communications Corporation\0"
            VALUE "FileDescription", "Netscape Personal Security Manager\0"
            VALUE "FileVersion",     "1.5\0"
            VALUE "InternalName",    "PSM\0"
            VALUE "LegalCopyright",  "Copyright Netscape Communications. 2000\0"
            VALUE "LegalTrademarks", "Netscape\0"
            VALUE "OriginalFilename","PSM.EXE\0"
            VALUE "ProductName",     "Netscape Personal Security Manager\0"
            VALUE "ProductVersion",  "1.5\0"
        END
    END
END
