
body  {
  background-color:#CCCCCC;
  font-family: sans-serif;
  font-size: 9pt;

}
   
#righttext {
  text-align: left;
  font-style: bold;
  
}


#righttext {
  text-align: right;
}

#top  {
background-color: grey
}

table {
    display:block;
    border: groove white 2px;
    min-height: 16px;
    color: white;
}

td {
    font-size: 8pt;
}

</STYLE>