
body  {
  background-color:#CCCCCC;
  font-family: sans-serif;
  font-size: 9pt;

}
   
#righttext {
  text-align: left;
  font-style: bold;
  
}


#righttext {
  text-align: right;
}

#top  {
background-color: grey
}

table {
    display: block;
		width: 100%;
    border: 0px;
    min-height: 16px;
    color: white;
}

label {
	background-color:#cccccc;
}

td {
    font-size: 8pt;
}

#pref-appearance {
	  border : 0}

#preftree  {
	  border : yes;
	  border-style : ridge;
		width :25%;
		height : 326;
		}
