@namespace html url("http://www.w3.org/TR/REC-html40"); /* namespace for XUL elements */


select.Font {
      width: 110px;
  }

select.FontSize {
      width: 50px;
  }



/* Header */


.header {
   background-color: #336699;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   border-left: 1px solid threedshadow;
   border-top: 1px solid threedshadow;
   border-right: 1px solid threedhighlight;
   border-bottom: 1px solid threedhighlight;
}


select.Font {
      width: 200px;
  }

.selectLangs {
      width: 200px;
  }

.size {
      width: 200px;
  }

select.font {
      width: 50px;
  }



.left-header-text {
   color: white;
   font-weight: bold;
}

.right-header-text {
   color: white;
}

/* spacing around widgets */

.indent {
	margin-left: 12px;   
}

.indent-second-label {
	margin-left: 20px;   
}

.vertical-gap {
	padding-top: 12px;   
}

.vspace {
  padding-top: 7px;
}

.hspace-both {
  padding-left: 15px;
  padding-right: 15px;
}

.vspace-both {
  padding-top: 7px;
  padding-bottom: 7px;
}

spring.vgap {
   height: 12px;
}

spring.hgap {
   width: 12px;
}


/* obsolete styles - will be removed soon */

#top  {
background-color: grey
}

#pref-appearance {
	  border : 0}

#preftree  {
  border : yes;
  border-style : ridge;
  width :25%;
  height : 326;
}

/* need rule for outset shape */
menu.colorpicker {
  border: 1px outset #CCCCCC;
}

/* reorder buttons */
titledbutton.up {
  list-style-image: url("chrome://global/skin/scroll-up.gif");
}
titledbutton.down {
  list-style-image: url("chrome://global/skin/scroll-down.gif");
}
