{
  "extends": "../../.eslintrc",

  "globals": {
    "sendAsyncMessage": false,

    "ExtensionTestUtils": false,
    "NetUtil": true,
    "XPCOMUtils": true,

    "waitForLoad": true,

    // Test harness globals
    "add_task": false,
    "info": false,
    "is": false,
    "ok": false,
    "SimpleTest": false,
    "SpecialPowers": true,
  },

  "env": {
    "browser": true,
    "webextensions": true,
  }
}
