{
  "extends": "../../../../../testing/mochitest/mochitest.eslintrc",

  "env": {
    "webextensions": true,
  },

  "globals": {
    "sendAsyncMessage": false,

    "waitForLoad": true,
    "promiseConsoleOutput": true,

    "ExtensionTestUtils": false,
    "NetUtil": true,
    "XPCOMUtils": true,
  },
}
