/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.container {
  padding-inline: var(--space-small);
  font-size: 15px;
}

.customize-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-context-properties: fill;
  fill: currentColor;
  color: currentColor;

  .customize-close-button::part(button) {
    background-image: url("chrome://global/skin/icons/close-12.svg");
  }
}

.customize-firefox-tools {
  .inputs {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-small);

    > input {
      margin-inline-start: 0;
    }

    > label {
      display: inline-flex;
      align-items: center;
      gap: var(--space-small);
      font-size: 0.9em;
    }
  }
}

.icon {
  -moz-context-properties: fill;
  fill: currentColor;
  width: var(--icon-size-default);
  height: var(--icon-size-default);
}

.customize-extensions {
  .extensions {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
  }

  .extension-item {
    display: flex;
    gap: var(--space-medium);
    align-items: center;
    font-size: 0.9em;
  }
}

#manage-settings {
  display: flex;
  align-items: center;
  gap: var(--space-medium);
  margin-block-start: var(--space-xxlarge);
  font-size: 0.9em;

  .icon {
    background-image: url("chrome://browser/skin/preferences/category-general.svg");
  }
}
