[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #                    Michael Hight <mjhight@gmail.com>
  #                    Scott Sudweeks <ssudweeks@novell.com>
  #%]

[%# INTERFACE:
  # ...
  #%]

<form method="POST" onsubmit="submit_valid_exp();" action="tr_admin_environment.cgi" name="form1">
<h3>Property Value Administration</h3>
  <input type="hidden" name="action" value="do_edit" />
  <input type="hidden" name="id" value="[% property.id FILTER none %]" />
  <input type="hidden" name="type" value="validexp" />
  
  <table border="0">
    <tr> 
        <th class="bz_row_header" align="center">Values For:<br><img src="testopia/img/triangle.gif"/ align="bottom"> <span style="color:#C00" >[% property.name %]</span></th>
    </tr>
    <tr>
         <td>
              <select
                  size="10"
                  style="width:150px"
                  name="valid_exp"
                  id="valid_exp"
                  onchange="selected_expression_change(this);">
              [% FOREACH e = expressions %]
                  <option value="[% e %]">[% e %]
            [% END %]
              </select>
         </td>
         <td>
             <input type="button" onclick="moveUp();" value="/\" />
             <br>
             <input type="button" onclick="moveDown();" value="\/" />
         </td>
    </tr>
        <td>
            Value: <input type="text" name="text_exp_value" id="text_exp_value" />
        </td>
        <td>
            <input type="button" value="change" id="" onclick="update_text();"/>
        </td>
    </tr>
  </table>
  
  <br />

  <input name="submit" type="submit" value="Save Changes">
<p><b>You must click Save Changes for your changes to take effect</b></p>
</form>
