/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%filter substitution
%include defines.inc

/* Disable firstrun in some cases */
#stack[startpage] .firstrun-content {
  display: none;
}

@media (max-width: 900px) {
  .firstrun-content {
    display: none;
  }
}

/* bg transparent pane --------------- */

#firstrun-bg-pane {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Got it button ---------------------- */

#firstrun-gotit {
  position: fixed;
  bottom: calc(@toolbar_height@ + 64px);
  left: 64px;
}

#firstrun-gotit:-moz-locale-dir(rtl) {
  left: auto;
  right: 64px;
}

.firstrun-button {
  padding: 15px 45px;
  font-family: "Segoe UI", sans-serif;
  font-size: 25px;
  background-image: -moz-linear-gradient(0deg, rgb(255, 128, 0) 0%, rgb(255, 149, 0) 100%);
  border: 0;
  color: #FFF;
}

/* Instructions arrows ---------------- */

.instruction-arrow {
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
}

.instruction-arrow.arrow-top,
.instruction-arrow.arrow-down,
.instruction-arrow.arrow-down-reverse {
  background-image: url("chrome://browser/skin/images/arrow-top-light.png");
}

.instruction-arrow.arrow-down,
.instruction-arrow.arrow-down-reverse:-moz-locale-dir(rtl) {
  transform: rotate(180deg);
}

.instruction-arrow.arrow-down-reverse,
.instruction-arrow.arrow-down:-moz-locale-dir(rtl) {
  transform: rotate(180deg) scaleX(-1);
}

.instruction-arrow.arrow-back,
.instruction-arrow.arrow-forward {
  background-image: url("chrome://browser/skin/images/arrow-left-light.png");
}

.instruction-arrow.arrow-forward,
.instruction-arrow.arrow-back:-moz-locale-dir(rtl) {
  transform: rotate(180deg) scaleY(-1);
}

.instruction-arrow.arrow-forward:-moz-locale-dir(rtl) {
  transform: none;
}

/* Instructions text ------------------ */

.instruction-content-container {
  width: 380px;
  vertical-align: bottom;
}

#instruction-back .instruction-content-container,
#instruction-plus .instruction-content-container {
  width: 320px;
}

.instruction-label {
  font-size: 18px;
  color: #BBB;
  line-height: 22px;
}

#instruction-tabs {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#instruction-back {
  position: fixed;
  top: 50%;
  left: 100px;
}

#instruction-back:-moz-locale-dir(rtl)  {
  left: auto;
  right: 100px;
}

#instruction-plus {
  position: fixed;
  top: 50%;
  right: 100px;
}

#instruction-plus:-moz-locale-dir(rtl)  {
  right: auto;
  left: 100px;
}

#instruction-star {
  position: fixed;
  bottom: @toolbar_height@;
  right: 145px;
}

#instruction-star:-moz-locale-dir(rtl)  {
  right: auto;
  left: 145px;
}

#instruction-star .instruction-label {
  max-width: 250px;
}

#instruction-star .instruction-content-container:-moz-locale-dir(rtl) {
  -moz-box-align: start;
  vertical-align: top;
}

#instruction-pin {
  position: fixed;
  bottom: @toolbar_height@;
  right: 10px;
}

#instruction-pin:-moz-locale-dir(rtl)  {
  right: auto;
  left: 10px;
}

#instruction-pin .instruction-label {
  max-width: 250px;
  margin-bottom: 20px;
}

#instruction-pin .instruction-arrow {
  -moz-margin-end: 65px;
}

/* Higher resolution images ---------------------- */

@media (min-resolution: @min_res_140pc@) {
  /* Load 140% image when scaled by 140% */
  .instruction-arrow.arrow-top,
  .instruction-arrow.arrow-down,
  .instruction-arrow.arrow-down-reverse {
    background-image: url("chrome://browser/skin/images/arrow-top-light@1.4x.png");
  }

  .instruction-arrow.arrow-back,
  .instruction-arrow.arrow-forward {
    background-image: url("chrome://browser/skin/images/arrow-left-light@1.4x.png");
  }
}

@media (min-resolution: @min_res_180pc@) {
  /* Load 180% image when scaled by 180% */
  .instruction-arrow.arrow-top,
  .instruction-arrow.arrow-down,
  .instruction-arrow.arrow-down-reverse {
    background-image: url("chrome://browser/skin/images/arrow-top-light@1.8x.png");
  }

  .instruction-arrow.arrow-back,
  .instruction-arrow.arrow-forward {
    background-image: url("chrome://browser/skin/images/arrow-left-light@1.8x.png");
  }
}
