<?xml version="1.0" encoding="utf-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mozilla.focus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Used by sentry. -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- Needed to prompt the user to give permission for camera access -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Needed to prompt the user to give permission to install a downloaded apk -->
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.fingerprint" android:required="false"/>
    <uses-permission-sdk-23 android:name="android.permission.USE_FINGERPRINT"/>

    <!-- Permission needed to publish the app on Samsung AppStore -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".FocusApplication"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity.IntentReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenSize|locale|layoutDirection|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".activity.CustomTabActivity"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenSize|locale|layoutDirection|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:exported="false"
            android:taskAffinity=""
            android:persistableMode="persistNever"
            android:autoRemoveFromRecents="false"
            android:label="@string/app_name" />

        <activity android:name=".activity.InfoActivity"
            android:theme="@style/InfoTheme"/>

        <activity android:name=".activity.TextActionActivity"
            android:label="@string/text_selection_search_action"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- SettingsActivity title is set dynamically for multilocale support -->
        <activity android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/SettingsTheme"
            android:configChanges="locale"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.InstallFirefoxActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".activity.EraseShortcutActivity"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name=".activity.EraseAndOpenShortcutActivity"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name=".customtabs.CustomTabsService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.support.customtabs.action.CustomTabsService" />
            </intent-filter>
        </service>

        <service android:name=".downloads.DownloadService"
            android:exported="false" />

        <service android:name=".session.SessionNotificationService"
            android:exported="false" />

        <meta-data android:name="android.webkit.WebView.MetricsOptOut"
                   android:value="true" />
    </application>

</manifest>