/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../shared.inc
%include ../../shared/controlcenter/panel.inc.css

#identity-popup {
  margin-top: 1px;
}

.identity-popup-expander:-moz-focusring {
  padding: 2px;
}

.identity-popup-expander:-moz-focusring > .button-box {
  @hudButtonFocused@
}

#tracking-action-block,
#tracking-action-unblock,
#tracking-action-unblock-private,
#identity-popup-securityView-body > button {
  @hudButton@
  min-height: 30px;
}

#tracking-action-block:hover:active,
#tracking-action-unblock:hover:active,
#tracking-action-unblock-private:hover:active,
#identity-popup-securityView-body > button:hover:active {
  @hudButtonPressed@
}

#tracking-action-block:-moz-focusring,
#tracking-action-unblock:-moz-focusring,
#tracking-action-unblock-private:-moz-focusring,
#identity-popup-securityView-body > button:-moz-focusring {
  @hudButtonFocused@
}

