/*
 * The contents of this file are subject to the Mozilla Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific language governing rights and limitations
 * under the License.
 *
 * The Original Code is the Mozilla OS/2 libraries.
 *
 * The Initial Developer of the Original Code is John Fairhurst,
 * <john_fairhurst@iname.com>.  Portions created by John Fairhurst are
 * Copyright (C) 1999 John Fairhurst. All Rights Reserved.
 *
 * Contributor(s): 
 *
 */

#include <os2.h>
#include "resid.h"

DLGTEMPLATE DID_DIRPICKER LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Choose directory", DID_DIRPICKER, 0, 0, 190, 143, NOT WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR | FCF_CLOSEBUTTON
    BEGIN
        LTEXT           "Choose drive:", 0, 3, 132, 60, 8
        CONTROL         "", IDD_CBDRIVES, 63, 96, 124, 45, WC_COMBOBOX, 
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                        WS_VISIBLE
        CONTAINER       IDD_TREECNR, 3, 29, 184, 100, WS_TABSTOP | CCS_SINGLESEL |
                        CCS_READONLY | CCS_MINIRECORDCORE | CCS_MINIICONS
        ENTRYFIELD      "", IDD_EFPATH, 4, 18, 182, 7, ES_MARGIN | WS_TABSTOP
        PUSHBUTTON      "~OK", DID_OK, 2, 2, 36, 12, WS_GROUP | WS_TABSTOP
        PUSHBUTTON      "~Cancel", DID_CANCEL, 42, 2, 36, 12
        PUSHBUTTON      "~Help", IDD_HELPBUTTON, 82, 2, 36, 12
    END
END

/* icons */
ICON ID_ICO_FRAME         frame.ico
ICON ID_ICO_FOLDER        folder.ico
ICON ID_ICO_DRAGITEM      dragitem.ico

/* pointers */
POINTER ID_PTR_SELECTURL   select.ptr
POINTER ID_PTR_ARROWNORTH  arrow_north.ptr
POINTER ID_PTR_ARROWNORTHP arrow_north_plus.ptr
POINTER ID_PTR_ARROWSOUTH  arrow_south.ptr
POINTER ID_PTR_ARROWSOUTHP arrow_south_plus.ptr
POINTER ID_PTR_ARROWWEST   arrow_west.ptr
POINTER ID_PTR_ARROWWESTP  arrow_west_plus.ptr
POINTER ID_PTR_ARROWEAST   arrow_east.ptr
POINTER ID_PTR_ARROWEASTP  arrow_east_plus.ptr
POINTER ID_PTR_COPY        copy.ptr
POINTER ID_PTR_ALIAS       aliasb.ptr
POINTER ID_PTR_CELL        cell.ptr
POINTER ID_PTR_GRAB        grab.ptr
POINTER ID_PTR_GRABBING    grabbing.ptr
POINTER ID_PTR_ARROWWAIT   arrow_wait.ptr

/* stringtable */
STRINGTABLE
BEGIN
   ID_STR_FONT   "8.Helv"
   ID_STR_HMMDIR "Cannot locate directory %s.  Would you like it to be created?"
   ID_STR_NOCDIR "Could not create directory."
END
