chrome/content
tests/

# Uses `#filter substitution`
app/mobile.js
chrome/content/healthreport-prefs.js

# Uses `#expand`
chrome/content/about.js

# Not much JS to lint and non-standard at that
installer/
locales/

# Pretty sure we're disabling this one anyway
modules/ContactService.jsm

# es7 proposed: array comprehensions
#   https://github.com/eslint/espree/issues/125
modules/WebappManager.jsm

# Non-standard `(catch ex if ...)`
components/Snippets.js
