# Checks run by clang-tidy over Mozilla code.

# The following checks are currently enabled:
# * modernize-raw-string-literal -
#     Replace string literals containing escaped characters with raw string literals
# * modernize-use-bool-literals
#     Replace integer literals which are cast to bool
# * modernize-loop-convert
#     Converts for(...; ...; ...) loops to use the new range-based loops in C++11
# * modernize-use-default
#     Replace default bodies of special member functions with = default;
# * modernize-use-override
#     Use C++11's override and remove virtual where applicable

Checks:          '-*, modernize-raw-string-literal, modernize-use-bool-literals, modernize-loop-convert, modernize-use-default, modernize-use-override'

