{
  // When adding items to this file please check for effects on sub-directories.
  "plugins": [
    "mozilla"
  ],
  "rules": {
    "mozilla/import-globals": 1,
  },
  "env": {
    "es6": true
  },
}
