[flake8]
# See http://pep8.readthedocs.io/en/latest/intro.html#configuration
ignore = E121, E123, E126, E129, E133, E226, E241, E242, E704, W503, E402, E741
max-line-length = 99
exclude =
    browser/extensions/mortar/ppapi/,
    build/pymake/,
    security/nss/,
    testing/mochitest/pywebsocket,
    tools/lint/test/files,

