# This list automatically picks up exclusions from .eslintignore

# Ignore all top-level directories for now.
accessible/**
browser/**
build/**
caps/**
chrome/**
config/**
db/**
docshell/**
dom/**
editor/**
extensions/**
gfx/**
gradle/**
hal/**
image/**
intl/**
ipc/**
js/**
layout/**
media/**
memory/**
mfbt/**
mobile/**
modules/**
mozglue/**
netwerk/**
node_modules/**
nsprpub/**
other-licenses/**
parser/**
python/**
remote/**
security/**
services/**
servo/**
startupcache/**
storage/**
taskcluster/**
testing/**
third_party/**
toolkit/**
tools/**
uriloader/**
view/**
widget/**
xpcom/**
xpfe/**

# Ignore all devtools directories for now, except the debugger.
devtools/client/*.js
devtools/client/aboutdebugging/**
devtools/client/aboutdebugging-new/**
devtools/client/accessibility/**
devtools/client/application/**
devtools/client/bin/**
devtools/client/dom/**
devtools/client/framework/**
devtools/client/inspector/**
devtools/client/jsonview/**
devtools/client/locales/**
devtools/client/memory/**
devtools/client/netmonitor/**
devtools/client/performance/**
devtools/client/performance-new/**
devtools/client/preferences/**
devtools/client/responsive.html/**
devtools/client/scratchpad/**
devtools/client/shared/**
devtools/client/storage/**
devtools/client/styleeditor/**
devtools/client/themes/**
devtools/client/webconsole/**
devtools/client/webide/**
devtools/client/webreplay/**
devtools/docs/**
devtools/platform/**
devtools/server/**
devtools/shared/**
devtools/startup/**

# Ignore devtools debugger files
# Keep in sync with devtools/client/debugger/.prettierignore
devtools/client/debugger/src/workers/parser/tests/fixtures/functionNames.js
devtools/client/debugger/src/workers/parser/tests/fixtures/scopes/*.js
devtools/client/debugger/src/workers/parser/tests/fixtures/pause/*.js
devtools/client/debugger/src/test/mochitest/examples/babel/polyfill-bundle.js
devtools/client/debugger/src/test/mochitest/examples/babel/fixtures/*/input.js
devtools/client/debugger/src/test/mochitest/examples/babel/fixtures/*/output.js
devtools/client/debugger/src/test/mochitest/examples/babel/fixtures/*/output.js.map
devtools/client/debugger/src/test/mochitest/examples/ember/quickstart
