[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
attrs = "==18.1.0"
blessings = "==1.7"
jsmin = "==2.1.0"
json-e = "==2.5.0"
pipenv = "==2018.5.18"
pytest = "==3.2.5"
python-hglib = "==2.4"
requests = "==2.9.1"
six = "==1.10.0"
virtualenv = "==15.2.0"
voluptuous = "==0.10.5"
