/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include shared.inc

/*
 * LightweightThemeListener will append the current lightweight theme's header
 * image to the background-image for each of the following rulesets.
 */

/* Lightweight theme on tabs */
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab > .tab-stack > .tab-background > .tab-background-start[selected=true]:-moz-lwtheme::before,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab > .tab-stack > .tab-background > .tab-background-end[selected=true]:-moz-lwtheme::before {
  background-attachment: scroll, fixed;
  background-color: transparent;
  background-image: @fgTabTextureLWT@;/*, lwtHeader;*/
  background-position: 0 0, right top;
  background-repeat: repeat-x, no-repeat;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab > .tab-stack > .tab-background > .tab-background-middle[selected=true]:-moz-lwtheme {
  background-attachment: scroll, scroll, fixed;
  background-color: transparent;
  background-image: url(chrome://browser/skin/tabbrowser/tab-active-middle.png),
                    @fgTabTextureLWT@;/*,
                    lwtHeader;*/
  background-position: 0 0, 0 0, right top;
  background-repeat: repeat-x, repeat-x, no-repeat;
}

@media (min-resolution: 2dppx) {
  #tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab > .tab-stack > .tab-background > .tab-background-middle[selected=true]:-moz-lwtheme {
    background-image: url(chrome://browser/skin/tabbrowser/tab-active-middle@2x.png),
                      @fgTabTextureLWT@;/*,
                      lwtHeader;*/
  }
}
