{
  "extends": [
    "../.eslintrc"
  ],
  "globals": {
    "Cc": true,
    "Ci": true,
    "Components": true,
    "console": true,
    "Cu": true,
    "dump": true,
    "Services": true,
    "XPCOMUtils": true
  }
}
