[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backports-abc = "~=0.5"
boto3 = "~=1.10.33"
"fluent.pygments" = "~=0.1"
livereload = "~=2.6.1"
python-frontmatter = "~=0.4.5"
recommonmark = "~=0.6.0"
scandir = "~=1.9.0"
singledispatch = "~=3.4.0"
sphinx-js = "~=3.0.1"
sphinx-rtd-theme = "~=0.4.3"
sphinxcontrib-mermaid = "~=0.4.0"
sphinx = "~=3.1.2"
sphinx-markdown-tables = "~=0.0.15"
tornado = "~=6.0.3"
sphinx-copybutton = "~=0.2.12"

[requires]
python_version = "3"
