/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#root-wrapper {
  overflow: hidden;
  min-width: 250px;
}

.children {
  list-style: none;
  padding: 0;
  margin: 0;
}

.child {
  margin-left: -1000em;
  padding-left: 1001em;
}

.tag-line {
  min-height: 1.4em;
  line-height: 1.4em;
  position: relative;
}

/* Children are indented thanks to their parent's left padding, that means they
 * are not stretching from edge to edge, which is what we want.
 * So we insert a pseudo-element and make sure it covers the whole "line" */
.tag-line .highlighter {
    content: "";
    position: absolute;
    left: -1000em;
    right: 0;
    height: 100%;
    z-index: -1;
}

.expander {
  display: inline-block;
  margin-left: -14px;
  vertical-align: middle;
}

.child.collapsed .child {
  display: none;
}

.child > .tag-line:first-child .close {
  display: none;
}

.child.collapsed > .tag-line:first-child .close {
  display: inline;
}

.child.collapsed > .tag-line ~ .tag-line {
  display: none;
}

.child.collapsed .close {
  display: inline;
}

.newattr {
  display: inline-block;
  width: 1em;
  height: 1ex;
  margin-right: -1em;
  padding: 1px 0;
}

.newattr:focus {
  margin-right: 0;
}

/* Preview */

#previewbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 90px;
  background: black;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  overflow: hidden;
}

#preview {
  position: absolute;
  top: 0;
  right: 5px;
  width: 80px;
  height: 100%;
  background-image: -moz-element(#root);
  background-repeat: no-repeat;
}

#previewbar.hide,
#previewbar.disabled {
  display: none;
}

#viewbox {
  position: absolute;
  top: 0;
  right: 5px;
  width: 80px;
  border: 1px dashed #888;
  background: rgba(205,205,255,0.2);
  outline: 1px solid transparent;
}
