[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is Doctor.
  #
  # The Initial Developer of the Original Code is Netscape 
  # Communications Corporation. Portions created by Netscape 
  # are Copyright (C) 2002 Netscape Communications Corporation. 
  # All Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  # %]

[% DEFAULT 
  message = "An unknown error occurred."
  title = "Error"
%]

<html>

  <head>
    <title>Doctor - [% title %]</title>
    <link rel="stylesheet" href="doctor.css" type="text/css"></link>
  </head>

  <body>
    <h1>Doctor - [% title %]</h1>
    
    <p>
      Unfortunately Doctor has experienced an internal error from which it was
      unable to recover.  More information about the error is provided below.
      Please forward this information along with any other information
      that would help diagnose and fix this problem to the system administrator
      at <a href="mailto:[% config.ADMIN_EMAIL %]">[% config.ADMIN_EMAIL %]</a>.
    </p>
    
    <p>[% message %]</p>
  </body>

</html>
