/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  -moz-appearance: checkbox-container;
  -moz-box-align: center;
  margin: 2px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 2px;
}

.checkbox-icon {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-label-box {
  outline: 1px dotted;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
  background-color: -moz-Dialog;
}

checkbox[disabled="true"] {
  color: GrayText;
}

checkbox[disabled="true"]:-moz-system-metric(windows-classic) {
  color: ThreeDShadow;
  text-shadow: 1px 1px ThreeDHighlight;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  -moz-appearance: checkbox;
  -moz-box-align: center;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  min-width: 13px;
  min-height: 13px;
  background: -moz-Field no-repeat 50% 50%;
  margin-inline-end: 3px;
}

checkbox:hover:active > .checkbox-check {
  background-color: -moz-Dialog;
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif") !important
}

