/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css =====================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

prefwindow {
  padding: 0px;
}

prefpane {
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

prefwindow[type="child"] {
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

prefwindow[type="child"] > prefpane {
  padding: 0px;
}

.prefWindow-dlgbuttons {
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
  padding: 0px;
}

radio[pane] {
  -moz-appearance: none;
  margin: 0px 1px 0px 1px;
  padding: 1px 3px 1px 3px;
  min-width: 4.5em;
}

.paneSelector {
  border-bottom: 2px groove ThreeDFace;
  margin: 0px;
  -moz-padding-start: 10px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

.paneButtonIcon {
  width: 32px;
  height: 32px;
}

radio[pane]:hover {
  background-color: #E0E8F6;
  color: black;
  -moz-appearance: none;
}

radio[pane][selected="true"] {
  background-color: #C1D2EE;
  color: black; 
  -moz-appearance: none;
}

