/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

groupbox {
  display: -moz-groupbox;
  -moz-appearance: groupbox;
  margin: 6px 3px;
}

.groupbox-body {
  /* We cannot use padding on the groupbox due to its -moz-appearance. */
  margin: 3px 3px 6px;
}

caption {
  -moz-box-pack: start;
  margin: -8px 6px 0;
}

caption > label {
  background-color: -moz-field;
  padding: 0 2px;
}

.portrait-page {
  list-style-image: url("chrome://global/skin/icons/Portrait.png");
}

.landscape-page {
  list-style-image: url("chrome://global/skin/icons/Landscape.png");
}
