/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tabbox.css =================================================
  == Styles used by XUL tab-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tabpanels ::::: */

tabpanels {
  appearance: auto;
  -moz-default-appearance: tabpanels;
  padding: 8px;
  color: -moz-DialogText;
  /* These don't have non-native theme support, so force them to light mode to
   * use the native windows theme. */
  color-scheme: light;
}

/* ::::: tab ::::: */

tab {
  appearance: auto;
  -moz-default-appearance: tab;
  margin-top: 2px;
  padding: 1px 4px 2px;
  color: -moz-DialogText;
  /* These don't have non-native theme support, so force them to light mode to
   * use the native windows theme. */
  color-scheme: light;
}

tab:where([visuallyselected]) {
  margin-top: 0;
  padding: 1px 6px 4px;
}

tab:where(:first-of-type[visuallyselected]) {
  padding-inline: 5px;
}

.tab-text {
  margin: 0 !important;
}

tab:-moz-focusring > .tab-middle {
  outline: var(--default-focusring);
}
