/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== xulscrollbars.css ==============================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* ::::: scrollbar ::::: */

scrollbar {
  appearance: auto;
  -moz-default-appearance: scrollbar-horizontal;
  cursor: default;
  background-color: #f0f0f0;
}

@media all and (-moz-overlay-scrollbars) {
  scrollbar[root="true"] {
    position: relative;
    z-index: 2147483647; /* largest positive value of a signed 32-bit integer */
  }

  scrollbar:not([active="true"]),
  scrollbar[disabled="true"] {
    visibility: hidden;
  }
}

scrollbar[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbar-vertical;
}

/* ::::: slider - a thumb is inside  ::::: */
slider {
  appearance: auto;
  -moz-default-appearance: scrollbartrack-horizontal;
}

slider[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbartrack-vertical;
}

/* ::::: thumb (horizontal) ::::: */

thumb {
  background-color: #cdcdcd;
}

thumb[orient="vertical"] {
  appearance: auto;
  -moz-default-appearance: scrollbarthumb-vertical;
  min-height: 8px;
}

thumb[orient="horizontal"] {
  appearance: auto;
  -moz-default-appearance: scrollbarthumb-horizontal;
  min-width: 8px;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner {
  appearance: auto;
  -moz-default-appearance: scrollcorner;
  width: 16px;
  cursor: default;
  background-color: -moz-Dialog;
}

/* ..... increment .... */

scrollbarbutton[type="increment"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-right;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-down;
}

/* ..... decrement .... */

scrollbarbutton[type="decrement"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-left;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  appearance: auto;
  -moz-default-appearance: scrollbarbutton-up;
}

