<!DOCTYPE html>
<meta charset=utf-8>
<script>
function boom() {
  var div = document.querySelector("div");
  div.offsetHeight;
  div.style.fontSize = "120%";
}
</script>
<body onload="boom()">
<div style="float:left; position:relative;">
  <div style="display:inline;">
    <img src="foo.jpg" style="float:left;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tortor nulla,
eleifend eu eleifend eu, scelerisque sit amet sapien. Sed iaculis tellus ut quam
pharetra consequat. Donec vitae nulla eu mi porta vulputate. In vestibulum, erat
quis aliquam tempor, lectus augue viverra justo, vitae semper nibh neque tempor
orci. Etiam luctus aliquet magna id pellentesque. Interdum et malesuada fames ac
ante ipsum primis in faucibus. Suspendisse sit amet eros volutpat, convallis
purus non, porta sapien. Duis fermentum at tortor nec ultricies. Morbi et lacus
vitae risus elementum condimentum quis vitae justo. Cum sociis natoque penatibus
et magnis dis parturient montes, nascetur ridiculus mus.<br><br>
