<html>
  <head>
    <style></style>
    <script>
    try { o1 = document.createElement('acronym') } catch(e) { }
    try { o2 = document.createElement('video') } catch(e) { }
    try { o3 = document.createElement('progress') } catch(e) { }
    try { document.documentElement.appendChild(o1) } catch(e) { }
    try { document.documentElement.appendChild(o2) } catch(e) { }
    try { o1.appendChild(o3) } catch(e) { }
    try { o3.style.writingMode = 'sideways-lr' } catch(e) { }
    try { document.styleSheets[0].insertRule('* { column-width: calc(15px); display: flow-root}', 0); } catch(e) { }
    </script>
  </head>
</html>
