<!DOCTYPE HTML>
<html>
<head>
    <script>
      window.addEventListener('load', () => {
        const svg = document.createElementNS('http://www.w3.org/2000/svg', 'style')
        document.documentElement.appendChild(svg)
        svg.textContent = `
         HTML { column-rule-color: rgba( 4294967295%, 0%, 0%, 0% );
         inset-block: 4294967295% 0%;
         min-block-size: 4294967295%;
         position: fixed;
         aspect-ratio: 4294967295 / 4294967295;`
      })
    </script>
</head>
</html>
