<html>
<body>

<div style="overflow: scroll">
  <table border="1">
    <tr> 
      <td> 
        <select style="height: 200%">
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
          <option>Option</option>
        </select>
      </td>
    </tr>
  </table>
</div>

</body>
</html>
