<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">



<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      lang="en">

  <head>
    <meta http-equiv="Content-Type"
          content="text/html;charset=utf-8" />

    <title>Testcase #1 for bug 375462</title>

<!-- Reduced from http://www.bethelmaine.com/events/index_events_bugy -->        
                    
                    
  </head>

  <body class="section-events" dir="ltr">
  

 
    <div>
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">"Remembering Sis Post"</h3>
           <h3 style="float: right;">
            <span>07/01</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">BHS members and friends will gather to share stories and memories in celebration of the life of the late Persis G. Post, who was an outstanding volunteer at the Society for more than 20 years.</div>
          <br />
          <div style="position: relative;" class="stx">1:00 PM, Mason House Exhibit Hall</div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Dr. Moses Mason House</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>Bethel Historical Society</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:info@bethelhistorical.org"><span>info@bethelhistorical.org</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207-824-2908</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">"An Androscoggin Sampler"</h3>
           <h3 style="float: right;">
            <span>07/01</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">In conjunction with the Society's newest exhibit, "A River's Journey: The Story of the Androscoggin," a series of slides of old photos taken in various locations throughout the Androscoggin valley will be shown.  Free and open to the public.</div>
          <br />
          <div style="position: relative;" class="stx">2:00 PM, Mason House Exhibit Hall (the exhibit will be open at the Robinson House following the program)</div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Bethel Historical Society</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>Bethel Historical Society</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:info@bethelhistorical.org"><span>info@bethelhistorical.org</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207-824-2908</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">Summer Season Mason House Period Room Tours</h3>
           <h3 style="float: right;">
            <span>07/02</span>
            <span>- 08/01</span>
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">Summer season guided tours of the Mason House period rooms begin (Tuesday through Sunday, 1:00 to 4:00 PM, until Labor Day); tours may be arranged during the remainder of the year by calling 207-824-2908.</div>
          <br />
          <div style="position: relative;" class="stx"></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Dr. Moses Mason House</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>Bethel Historical Society</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:info@bethelhistorical.org"><span>info@bethelhistorical.org</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207-824-2908</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">4th of July Community Picnic</h3>
           <h3 style="float: right;">
            <span>07/04</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;"></div>
          <br />
          <div style="position: relative;" class="stx"><p>In the 1850s, Dr. Moses Mason began hosting a Fourth of July community picnic in "the grove" behind his residence. Today, the Bethel Historical Society proudly carries on this tradition. </p><p>This year's event will start at noon on the lawn beside the Mason house, and after the presentation of colors and the National Anthem, a two-hour concert will be presented by the Portland Brass Quintet. </p><p>In case of rain, the picnic and concert will be held in the historic Middle Intervale Meetinghouse (1816) on Intervale Road, approximately four miles down river from Bethel Hill village. Bring your lunch and a lawn chair or blanket. Free and open to the public (donations accepted).</p></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>14 Broad Street</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>Bethel Historical Society</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:info@bethelhistorical.org"><span>info@bethelhistorical.org</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207-824-2908</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">Mama's Night Out</h3>
           <h3 style="float: right;">
            <span>07/05</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">You don't have to be a mother to enjoy the hilarious comedy of these three finalists in Nick at Nite's “Search for the Funniest Mom in America.”  The uproarious views on life and laughter of these ladies’ – a southerner living in Maine, a sassy Brit, and a New Yorker - are for everyone.  Okay, perhaps they are not really for children, but that's why it's called a night out.  For further information and reservations please call the Deertrees Box Office at 207 583 6747 or visit www.deertreestheatre.org</div>
          <br />
          <div style="position: relative;" class="stx"><p>8pm  $18<br /><br />The Box Office is open from 10 AM until 5 PM Tuesday through Saturday and one hour before performances.<br /><br />Tickets are also available at:<br />Books-N-Things, Bethel<br />The Cool Moose, Bridgton<br />Center Lovell Market, Lovell<br />The Country Sleigh, Naples<br />Fare Share, Norway <br /><br />Deertrees Theatre is handicap accessible.<br />Free parking on the grounds.</p></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Deertrees Theatre</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>C.Randolph Parker (house manager)</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:deertrees@usa.net"><span>deertrees@usa.net</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207 583 6747</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">The Casco Bay Tummlers</h3>
           <h3 style="float: right;">
            <span>07/06</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">Klezmer music is music that speaks, it's Balkans and blues, ancient Jewish culture and prayer and history, spirit and jazz all mixed together. Emotionally charged and played with abandon by musicians who continue to change, expand, and morph musical and cultural boundaries.  For further information and reservations please call the Deertrees Box Office at 207 583 6747 or visit www.deertreestheatre.org 
 </div>
          <br />
          <div style="position: relative;" class="stx"><p>8pm  $18<br /><br />Box Office open, 10 AM until 5 PM, Tuesday through Saturday, and one hour before performances.<br /><br />Tickets are also available at:<br />Books-N-Things, Bethel<br />The Cool Moose, Bridgton<br />Center Lovell Market, Lovell<br />The Country Sleigh, Naples<br />Fare Share, Norway <br /><br />Deertrees Theatre is handicapped accessible.<br />Free parking on the grounds.</p></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Deertrees Theatre</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>C.Randolph Parker (house manager)</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:deertrees@usa.net"><span>deertrees@usa.net</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207 583 6747</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">18th Annual Bethel Art Fair</h3>
           <h3 style="float: right;">
            <span>07/07</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">Fifty artists &amp; fine artisans display and sell their creations -- </div>
          <br />
          <div style="position: relative;" class="stx"><div><div>Scroll down for complete schedule...<br /></div></div></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Bethel Town Common</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>Bethel Area Chamber of Commerce</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:info@bethelmaine.com"><span>info@bethelmaine.com</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207.824.2282</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">The Hunger Mountain Boys with The Wiyos</h3>
           <h3 style="float: right;">
            <span>07/07</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">This double dose of traditional music may be resolutely old-school but it is also resolutely eclectic.  With their ears tuned to music from the 30’s, 40’s and 50’s, the Massachusetts bluegrass band, The Hunger Mountain Boys, serve up a hard-hittin’, high energy sound that pays homage to the soulfulness and sincerity of old-time country while subtly incorporating rock, jazz and ska influences.  The opening set by Brooklyn based “the WIYOS” can only be called Vaudevillian Ragtime-Blues and HillBilly Swing.  For further information and reservations please call the Deertrees Box Office at 207 583 6747 or visit www.deertreestheatre.org 

</div>
          <br />
          <div style="position: relative;" class="stx"><p>8pm $16<br /><br />The Box Office is open from 10 AM until 5 PM Tuesday through Saturday and one hour before performances.<br /><br />Tickets are also available at:<br />Books-N-Things, Bethel<br />The Cool Moose, Bridgton<br />Center Lovell Market, Lovell<br />The Country Sleigh, Naples<br />Fare Share, Norway <br /><br />Deertrees Theatre is handicap accessible.<br />Free parking on the grounds.</p></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Deertrees Theatre</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>C.Randolph Parker (house manager)</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:deertrees@usa.net"><span>deertrees@usa.net</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207 583 6747</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">Summer Piano Festival at Gould Academy</h3>
           <h3 style="float: right;">
            <span>07/07</span>
            
           </h3>
          <div style="clear: both;" />
          
          <div style="position: relative;">Free piano recitals, July 1-20, 2007 at Gould Academy, an all-Steinway school!
</div>
          <br />
          <div style="position: relative;" class="stx"><p>

</p><p>Saturday, July 7, 7 p.m., 
Bingham Hall</p><p>Distinguished Russian pianist and Master Teacher, Tamara
Poddubnaya, and her students present free public recitals.</p>















<p>FULL SCHEDULE:<br />Saturday, July 7, 7 p.m., 
Bingham Hall<br />Wednesday, July 11, 7 p.m., 
Bingham Hall<br />Friday, July 13, 7 p.m., 
Bingham Hall<br />Wednesday, July 18, 7 p.m., 
Bingham Hall<br />Friday, July 20, 7 p.m., 
<strong>McLaughlin Science Center, Trustees' Auditorium</strong></p><p><br /></p><p><br /></p><br /><p><br />
</p>

</div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Bingham Hall, Gould Academy, Bethel, Maine</span>
              </td>
            </tr>
            
            
            
          </table>
          
         </div>
         <hr />
        
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">5th Annual Skunk Run</h3>
           <h3 style="float: right;">
            <span>07/28</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">SATURDAY, July 28,2007 -- Benefiting the Sandon A. Morgan Memorial Scholarship Fund awarded exclusively at Telstar Regional High School, Bethel, Maine. The scholarship is awarded each year to a graduating senior at Telstar to attend CMCC in Auburn for 2 full years, all academics are covered. </div>
          <br />
          <div style="position: relative;" class="stx"><p>

</p>

<p>MOTORCYCLE RUN</p>









<p>$10.00 includes run, bottled water, sandwich, chips &amp;
FUN!<br />Registration 8:30am-9:45am<br />Vertical Outlaws Stunt Team to perform in the morning.<br />Run leaves at 10:00 am </p>

<p>Ride through Bethel to Grafton Notch State Park, into New
Hampshire and back to Greenwood (Locke Mills). Designated bathroom/rest &amp;
gas stops. Great scenery and roads! All of our traffic is taken care of by our
traffic control volunteers, so the run stays together for safety reasons. We
also have a red Hummer leading the pack of bikes, as well as a tail vehicle.</p>



<p> </p>











<p>PIG ROAST/TURKEY FRY<br />3:00-5:00 PM<br />$10:00<br />Includes pig, turkey, summer salads, bean hole beans, rolls,
watermelon, homemade desserts, and assorted beverages. BYOB.<br />Music, vendor showcase, Skunk Run T's and assorted items for
sale. </p>



<p>Directions:<br />From the south - go north from Gray on Route 26 to Bryant
Pond, after sharp "S" turn with light, follow Rt. 26 for a few more
miles. You will see North Pond on your right, take the 2nd right onto Gore
Road.</p>



<p>From the north - go west on Route 2 through Rumford to Route
232 south. Turn right and travel north on Route 26 to Bryant Pond, after sharp
"S" turn with light, follow Rt. 26 for a few more miles. You will see
North Pond on your right, take the 2nd right onto Gore Road.</p>



<p> From the west - take Route 2 east to Route 26 south to
Greenwood (Locke Mills). Past Mt. Mica Rarities (purple building) take Gore
Road on left.</p>



<p>From the east - from Augusta, take Route 202 west to
Route 133 to Route 219 to Route 26 North to Greenwood (Locke Mills). Past Mt.
Mica Rarities (purple building) take Gore Road on left.</p><p><br /></p></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Gore Road, Greenwood, ME, just off Rt. 26</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>Mark</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:mdmorgandesigns@yahoo.com"><span>mdmorgandesigns@yahoo.com</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207.743.8254 or 207.890.6767</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">The Bill &amp; Bo Winiker Quartet</h3>
           <h3 style="float: right;">
            <span>07/28</span>
            
           </h3>
          <div style="clear: both;" />
          <div style="float: right; padding: 1px; margin-left: 1em; margin-bottom: 1em; border: 1px solid black;">
          </div>
          <div style="position: relative;">Featuring jazz savant pianist Tony Deblois, this Boston based quartet embarks on an eclectic journey through the many styles of jazz including traditional, swing, bebop, jazzy takes on Broadway classics, world music and even some original compositions. Making music an uplifting and joyous experience.   Sponsored by Gordon Dexter and Barbara Grandolfo.  For further information and reservations please call the Deertrees Box Office at 207 583 6747 or visit www.deertreestheatre.org </div>
          <br />
          <div style="position: relative;" class="stx"><p>Saturday, July 28 at 8:00 pm<br /><br />$20<br /><br />The Box Office is open from 10 AM until 5 PM Tuesday through Saturday and one hour before performances.<br /><br />Tickets are also available at:<br />Books-N-Things, Bethel<br />The Cool Moose, Bridgton<br />Center Lovell Market, Lovell<br />The Country Sleigh, Naples<br />Fare Share, Norway <br /><br />Deertrees Theatre is handicap accessible.<br />Free parking on the grounds.</p></div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            <tr>
              <td style="border-right: 1px solid grey;">
                Location:
              </td>
              <td>
                 <span>Deertrees Theatre</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>C.Randolph Parker (house manager)</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:deertrees@usa.net"><span>deertrees@usa.net</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207 583 6747</span>
              </td>
            </tr>
          </table>
          
         </div>
         <hr />
        
        
         <div>
          <div style="clear: both;" />
           <h3 style="float: left;">Tenth Annual Canoe and Kayak Outdoor Adventure Day Camp </h3>
           <h3 style="float: right;">
            <span>07/30</span>
            <span>- 08/03</span>
           </h3>
          <div style="clear: both;" />
          
          <div style="position: relative;">Designed with young people in mind, all aspects of canoeing and kayaking will be taught, as well as some other adventure activities. This is a hands on active program! June 23rd - July 27th from 9am-3pm for ages 8-13. $175.00 for the week session.</div>
          <br />
          <div style="position: relative;" class="stx">Included in the session will be basic canoe and kayak strokes, rescue techniques, expeditioning by canoe, simple camping skills, simple white water techniques and other adventure activities. Participants will learn how to skillfully maneuver canoes and kayaks while exploring the many channels and islands on the river, and develop proficiency and confidence in all types of outdoor skills. Meet at Bethel Outdoor Adventure every morning and travel to local lakes , ponds, islands, and the Androscoggin River. To sign up call 207.824.4224 or info@betheloutdooradventure.com
Event Starts: July 30, 2007  
Event Ends: August 3, 2007  
 
</div>
          <table style="border: 1px solid grey; margin-top: 1em; margin-bottom: 1em;" cellspacing="0" cellpadding="2px">
            
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Name:
              </td>
              <td>
                 <span>Jeff and Pattie Parsons</span>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact E-mail: 
              </td>
              <td>
                <a href="mailto:info@betheloutdooradventure.com"><span>info@betheloutdooradventure.com</span></a>
              </td>
            </tr>
            <tr>
              <td style="border-right: 1px solid grey;">
                Contact Phone:
              </td>
              <td>
                 <span>207.824.4224  </span>
              </td>
            </tr>
          </table>
          
         </div>
         
        
    </div>

    <hr />

  </div>

                    
                      <div class="discussion">
    
</div>
                    

                  </div>

                </div>

              
            </td>
            

            
            
            
          </tr>
        </tbody>
      </table>
      

      <div class="visualClear"><!-- --></div>


      <hr class="netscape4" />

      

        <div id="portal-footer">

<p>
</p>

</div>

        <div id="portal-colophon">
    <p>
    Bethel Area Chamber of Commerce<br />
    8 Station Place<br />
    PO Box 1247<br />
    Bethel, ME 04217<br />
    Tel: 207.824.2282 or 800.442.5826 Fax: 207.824.7123<br />
    Email: info@bethelmaine.com
    </p>

      
    </div>
      

    </div>

</body>
</html>


