<html><head>
<style>
*::first-line { }
*::after { content:"anonymous text"; border:3px solid black;}
*::before { content:"before text"; border:3px solid black;font-size: 10px;}
</style>
</head>
<body>
<div style="-moz-column-count: 2; width: 1400px;">
  &#1593; tesxt
  <span>
    &#1593; tesxt &#1593; tesxt &#1593; tesxt 
    <span>
      &#1593; tesxt &#1593; tesxt &#1593; tesxt &#1593; tesxt 
    </span>
 </span>
<div style="-moz-column-count: 2;">
<div style="-moz-column-count: 2; white-space: nowrap;">
<div style="-moz-column-count: 2;">
<span>
&#1593; tesxt &#1593; tesxt &#1593; tesxt 
</span>
</div>
</div>
</div>
</div>
</body>
</html>