<html>
<head>
<style type="text/css">
/*<![CDATA[*/

body {
  font-size: 62.5%; /* Resets 1em to 10px */
}

#content { font-size: 1.2em; }

.entry p { font-size: 1.05em; }

.entry {
 -moz-column-width: 25em;
 -moz-column-gap: 3em;
}

.entry img {
  float: left;
  margin: 3px 10px;
}

.alt {
  padding: 10px;
}

#content {
  margin-left:  20px;
  margin-right: 260px;
  padding: 0 17px 20px 17px;
}


/*]]>*/
</style>
</head>
<body>
<div id="content" class="entry">

<img width="222" height="164">

				<p class="alt">
,  .You can follow any responses the
				</p>
</div>
</body>
</html>
