<html>
<head><style>
 div:first-line {}
</style></head>
<body>
<div>
a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a
b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b
a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a
b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b
a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a
b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b a b
a b a b a b a b a b

</div>
</body>
</html>