<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<title>Gecko 1.9 crash with a.p. and inline c.b.</title>

<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
<span style="position: relative; background-color: #ddd;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<span style="position: absolute; top: 0; left: 0; background-color: #f00;">AP</span>
</span>
</p>
