<html>
<head>
<script type="text/javascript">
function bounce()
{
  var b = document.body;
  var dE = document.documentElement;
  dE.removeChild(b);
  dE.offsetHeight;
  dE.appendChild(b)
}
</script>
</head>
<body onload="bounce();">
<table><tbody><tr><td><div style="-moz-column-count: 2;"><div><span style="font-size: 91735350in;"><table><tbody><tr><td></td></tr></tbody></table><div><p><select></select></p><table><tbody><tr><td></td></tr></tbody></table></div></span></div><div style="height: 300px;"></div></div></td></tr></tbody><thead></thead></table>
</body>
</html>
