<!DOCTYPE html>
<html>
<head>
<style type="text/css">

#v {
  -moz-column-count: 2;
  direction: rtl;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-transform: capitalize;
  letter-spacing: 163851344580570600em;
}

#v:first-letter { }

</style>
</head>

<body>
<div id="v">

#xxx {
  xxxxxxxx: xxxxxxxx;
  xxxxxxxxxx-xxxxx: xxxx;
  xxx: xxxx;
  xxxx: xxxx;
  xxxxx: xxxxx;
  xxxxxx: xxxxx;
}

#xxxxx {
  xxxxxxxx: xxxxxxxx;
  xxxxxxxxxx-xxxxx: xxxx;
  xxx: xxxx;
  xxxxx: xxxx;
  xxxxx: xxxx;
  xxxxxx: xxxxx;
}

#xxxx {
  xxxxxxxx: xxxxxxxx;
  xxxxxxxxxx-xxxxx: xxxx;
  xxxx: xxxx;
  xxxxxx: xxxx;
  xxxxx: xxxxx;
  xxxxxx: xxxx;
}

#xxxxxx {
  xxxxxxxx: xxxxxxxx;
  xxxxxxxxxx-xxxxx: xxxx;
  xxxxx: xxxx;
  xxxxx: xxxx;
  xxxxxx: xxxx;
  xxxxxx: xxxx;
}

</div>
</body>
</html>
