<!DOCTYPE HTML>
<html class="reftest-paged">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Testcase for bug 570160</title>
<!-- distilled from  href="http://www.musicalcriticism.com/concerts/usherhall-rsno-clein-0510.shtml" -->

<style type="text/css">

.manuscript {
	position: absolute;
	left: 770px;
	top: 134px;
	width: 233px;
	height: 133px;
}

#maintext {
	padding: 0px px 15px 15px;
	position: absolute;
	left: 16px;
	top: 299px;
	width: 752px;
	height: 636px;
}


#maintext img {
	padding: 10px 10px 10px 25px;
	float: right;
}

</style></head>

<body>

 <div class="manuscript"></div>


<div id="maintext">
 
<div style="height:98%"></div>

 <p><img src="yyyyyyy" alt="line"  width="750" height="50" /></p>
 <p><strong><img src="xxxxx" alt="maxwell davies" width="100" height="100" />Related articles:</strong></p>
 <p>The RSNO and Denève in Mahler 6<br />


</div>

 
</body>
</html>
