<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script>

function boom()
{
  var e = document.body;
  var sel = window.getSelection();

  window.getSelection().removeAllRanges();
  var r0 = document.createRange();
  r0.setStart(e, 0);
  r0.setEnd(e, 1);
  window.getSelection().addRange(r0);
  var r1 = document.createRange();
  r1.setStart(e, 1);
  r1.setEnd(e, 1);
  window.getSelection().addRange(r1);

  window.getSelection().deleteFromDocument();
}

</script>
</head>

<body onload="boom();" contenteditable="true">x</body>
</html>
