<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<style>
.wrapper{
  direction: rtl;
  border: 1px solid black;
  display: inline-block;
}
.panel{
  display: inline-block;
  width: 50px;
  height: 20px;
}
.olive {
  border: 3px dotted olive;
}
.blue {
  border: 3px dotted blue;
}
.purple {
  border: 3px dotted purple;
}
.negMargin {
  margin-left: -30px;
}
.posMargin {
  margin-left: 30px;
}
.forceLTR {
  direction: ltr;
}
</style>
</head>
<body>
  <div class="wrapper">
    <div class="panel olive"></div
   ><div class="panel blue forceLTR posMargin"></div
   ><div class="panel purple"></div>
  </div>
  <br><br>
  <div class="wrapper">
    <div class="panel olive"></div
   ><div class="panel blue forceLTR negMargin"></div
   ><div class="panel purple"></div>
  </div>
</body></html>
