<!DOCTYPE HTML>
<html class="reftest-wait">
<meta charset="utf-8">
<title>Scrolling shouldn't cause gaps in the shadow</title>
<style type="text/css"> 
#rear {
	width: 500px;
	height: 1500px;
	box-shadow: 0 0 71px #667;
	display: block;
}
</style>

<div id="rear"></div>

<script>

function doTest() {
  document.documentElement.scrollTop = 108;
  document.documentElement.removeAttribute("class");
}
window.addEventListener("MozReftestInvalidate", doTest);

document.documentElement.scrollTop = 112;

</script>
