<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Rotated buffer with mask</title>

<style>

body {
  margin: 0;
}

.outer {
  padding: 50px;
}

.scrollbox {
  width: 200px;
  height: 200px;
  overflow: auto;
}

.scrolled {
  box-sizing: border-box;
  border: 1px solid transparent;
  height: 200px;
}

</style>

<div class="outer">

  <div class="scrollbox">
    <div class="scrolled" style="background-color: blue;"></div>
    <div class="scrolled" style="background-color: lime;"></div>
  </div>

</div>

<script>

var scrollbox = document.querySelector(".scrollbox");

scrollbox.scrollTop = 199;

</script>

