<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!--
        This test makes sure that linear gradient painting paths agree around
        non-pixel aligned dimensions: namely, the direct path which draws the
        linear gradient repeatedly; and the optimised path which converts the
        original gradient into a repeating gradient and fills the whole
        destination in one go.

        This CSS will hit the optimised linear gradient painting path, since the
        dirty rect will be the size of the whole box (including border), but the
        destination is only the size of the rect within the border.
    -->
    <style type="text/css">
      div {
        border: 2px solid grey;
        background: linear-gradient(to top, red, blue);
        height: 18.5px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div>
    </div>
  </body>
</html>
