<!doctype html>
<html>
<head>
<style>
video {
  width: 100px;
  height: 100px;
  border: 10px solid purple;
}
fieldset {
  border: 10px solid blue;
}
fieldset:valid {
  border-color: green;
}
fieldset:invalid {
  border-color: red;
}
</style>
<script>
window.onload = function() {
  let v = document.getElementById("x");
  v.currentTime = -128;
  v.controls = !v.controls;
}
</script>
</head>
<body>
<!-- Native anonymous content shouldn't affect fieldset validity -->
<fieldset><video id="x" style="visibility:hidden"></video></fieldset>
</body>
</html>
