<!DOCTYPE html><html class="reftest-paged">
<style>html{font-size:12pt}</style>
<!-- http example.org uri makes this an oop if with fission -->
<iframe style="height: 1000vh" src="http://example.org/1743533-1-helper.html"></iframe>
</html>

<!--
Some notes about this test.
To reproduce the problem we just need an oop iframe that spans multiple pages,
and some content in it that also spans multiple pages. I used text instead
of a background color because background colors don't show up by default in
print preview. We're using page mode here and not print preview, so that is
not technically required here.

We'd like to compare an oop iframe and an in process iframe with the same
content to make sure they are the same. But some idiosyncracies with scrollbars
in paged mode cause the rendering not to be exactly the same. Since paged mode
is just for testing, and printing doesn't have scrollbars, it doesn't seem
worth digging too much into it.

We compare an iframe with content in it, to a blank iframe, and then we use a
high minimum accepted number of pixels differing in the fuzz. This then makes
sure the two documents differ by enough pixels.

Note why we couldn't use other test types:

I tried to write this as a wpt print reftest, it did not reproduce the bug.
I'm not sure what wpt reftests use to simulate printing, but I suspect it
is not similar enough to our print preview to trigger the bug.

I tried to add this as a test to layout/base/tests/chrome/test_printpreview.xhtml
but that is not feasible because that test runs as part of the mochitest-chrome
suite, which I'm told doesn't even run in e10s mode, and definitely does not get
run with fission, which is required to reproduce the bug.
-->
