<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="reftest-print">

<head>
<title>Fixed DIV, Multipe Page Testcase</title>
<style type="text/css">
div.header { position: fixed;
	width: 100%;
	height: 1.5em;
	top: 0;
	font-style: italic;
	background-color: white;
	color: black }
</style>
</head>

<body>

<div class="header">I stay on the top of the web page and each printed page.</div>

<h1>Fixed DIV, multiple page testcase</h1>

<hr />

<p>Maybe related to bug 163800?</p>

<p>Similar to 193686 and 197808, but there are <i>no</i> forms involved in this crash.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

<p>Repeating text, to get  us onto the next page.</p>

</body>
</html>