<!DOCTYPE HTML>
<html class="reftest-paged">
<body>
<div style="height:1087px;">
<div>Location:  </div>

<p>
We are located at 333 West San Carlos Street, Suite 1650, San Jose.
Our building has a parking garage, and we will validate your parking.
After you park, as you are walking out of the parking garage, you will
see a bank of elevators. These elevators only go up and down in the
garage &#150; they don&#x2019;t connect to the office building. You
should walk past those elevators, walk out of the garage, walk across a
courtyard, and into the doors for the main building. There is another
bank of elevators in that building. Take these elevators to the 16th
Floor.
</p>

<p>
From Highway 280 heading northbound to San Jose:  Take the Guadalupe
Parkway exit, also called Highway 87.  This exit splits into a
northbound and a southbound direction.  Take the northbound direction.
Once on the Guadalupe Parkway take the first exit, which is the Santa
Clara Street exit.  Bear right on Santa Clara Street as you come off
that exit.  The first light you come to is Almaden Blvd.  Turn right on
Almaden.  Go down 3 lights to West San Carlos Street.  Turn right on
West San Carlos.  The next light you come to is a small street called
Woz Way. Turn right on Woz.  The parking garage for our building is on
your right.   Turn right into the garage.  Then follow the directions
above from the garage to our office.
</p>

<p>
From Highway 101 heading southbound to San Jose:  Take the Guadalupe
Parkway exit, also called Highway 87.  Stay on the Guadalupe as it
turns into a surface street and you cross over Hedding and Coleman.
Once it turns into an expressway again, the second exit is the Park
Avenue exit.  Take this exit.  Turn left on Park Avenue.  After you
turn left you will come under the freeway and immediately come to a
traffic light at a small street called  Woz Way.  Turn right on Woz
Way.  The parking garage for our building is on your left.  Turn left
into the garage.  Then follow the directions above from the garage to
our office.
</p>

<p>
From Highway 101 heading northbound to San Jose:  Turn on to Highway
280 headed north.  Then follow directions above for Highway 280 heading
northbound to San Jose.
</p>

<p>
From Highway 880:  Take Highway 880 to Highway 280 South, and then
follow directions above from Highway 280 heading southbound to San
Jose.
</p>
</div>
</body>
</html>
