<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head><title></title></head>
<body>
<table width="400">
<tbody><tr> 
<td> 
<font><b>
long string long string long string long string long string long string long string long string
<select id="sel">
<option value="b">short string</option>
<option value="a">long string long string long string long string</option>
</select>
</b></font>
</td>
</tr>
</tbody></table>
</body></html>
