<html>
<head>
<title>Testcase, Mozilla bug 311822</title>
</head>

<body>

<table >
  <caption style="font-weight:bold"><b>table</b> <b>caption</b></caption>
  <tr>
    <th >title</th>
  </tr>
  <tr>
    <td >Content of cell</td>
  </tr>
</table>

<table >
  <caption style="font-style: italic"><em>table</em> <em>caption</em></caption>
  <tr>
    <th >title</th>
  </tr>
  <tr>
    <td >Content of cell</td>
  </tr>
</table>

<table >
  <caption style="font-style: italic"><i>table</i> <i>caption</i></caption>
  <tr>
    <th >title</th>
  </tr>
  <tr>
    <td >Content of cell</td>
  </tr>
</table>

<table >
  <caption><span>table</span> <span>caption</span></caption>
  <tr>
    <th >title</th>
  </tr>
  <tr>
    <td >Content of cell</td>
  </tr>
</table>

</body>
</html>
