<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<title>Testcase bug 325486 - Input element default value invisible when overflowing parent div</title>
</head><body>
<div style="position: absolute; top: 100px; left: 10px; width: 500px; height: 50px;">
	<div style="border: 2px solid blue; position: absolute;">
		<input value="This text gets cut off but should not. (outer div positioned absolutely)" style="width:400px;">
	</div>
</div>
<div style="position: relative; top: 150px; left: 10px; width: 500px; height: 50px;">
	<div style="border: 2px solid blue; position: absolute;">
		<input value="This text gets cut off but should not. (outer div positioned relatively)" style="width:400px;">
	</div>
</div>
</body></html>
