<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.float-left, .float-right {
 float: left;
 width: 125px; height: 1em;
 background-color: red;
}
.float-right {
 float: right;
}
.fieldset {
 margin: 0 125px 0; padding: 0;
 border: none;
 height: 5em;
 background-color: green;
}
</style>
</head>
<body>
<div class="float-left"></div>
<div class="float-right"></div>
<div class="fieldset"></div>
<div class="float-left"></div>
<div class="float-right"></div>
<div class="fieldset"></div>
</body>
</html>
