<!DOCTYPE html>
<html>
<head>
<style>
  body { font-family: sans-serif; }
  span { color: green }
</style>
</head>
<body>
<div><span>T</span>ext</div>
<div style="overflow: auto"><span>T</span>ext</div>
<fieldset><span>T</span>ext</fieldset>
<table><tr><td><span>T</span>ext</td></tr></table>

<div><span>T</span>ext</div>
<div style="overflow: auto"><span>T</span>ext</div>
<fieldset><span>T</span>ext</fieldset>
<table><tr><td><span>T</span>ext</td></tr></table>

<div><span>T</span>extMore Text</div>
<div style="overflow: auto"><span>T</span>extMore Text</div>
<fieldset><span>T</span>extMore Text</fieldset>
<table><tr><td><span>T</span>extMore Text</td></tr></table>

</body>
</html>
