<!DOCTYPE html>
<html>
<head>
<style>
* { -moz-appearance: none }
</style>
</head>
<body>
<div>
<select>
  <option>This is option one</option>
  <option>This is option two</option>
  <option>This is option three which is long</option>
  <option>This is option four</option>
</select>
</div>
<div>
<select size="3">
  <option>This is option one</option>
  <option>This is option two</option>
  <option>This is option three which is long</option>
  <option>This is option four</option>
</select>
<div>
</body>
</html>

  
