<!DOCTYPE html>
<html>
<head>
<title>CSS 2.1 Test Suite: Test for baseline alignment of table cells</title>
<link rel="author" title="L. David Baron" href="http://dbaron.org/" />
<link rel="author" title="Mozilla Corporation" href="http://mozilla.com/" />
<link rel="help" href="http://www.w3.org/TR/CSS21/tables.html#height-layout" />
<meta name="flags" content="" />
<style type="text/css">

td { vertical-align: baseline; }

</style>
</head>
<body>

<table>
  <tr>
    <td style="padding-top: 0;"><div style="padding-top: 40px; height: 80px;">data</div></td>
    <td style="padding-top: 12px; height: 160px;"><div style="padding-top: 3px;">data</div></td>
    <td style="padding-top: 40px;"><div style="padding-top: 0;">data</div></td>
  </tr>
</table>

</body>
</html>
