<!DOCTYPE HTML>
<html>
<head>
<title>Minimum intrinsic widths combined with negative margins</title>
<style type="text/css">

td { height: 2.5em; }

</style>
</head>
<body>

<table border width="1"><tr><td>
</td></tr></table>
<table border width="1"><tr><td>
</td></tr></table>
<table border width="1"><tr><td>
</td></tr></table>

<table border width="1"><tr><td>
</td></tr></table>
<table border width="1"><tr><td>
</td></tr></table>
<table border width="1"><tr><td>
</td></tr></table>

<table border width="1"><tr><td>
  <div style="width: 2em"></div>
</td></tr></table>

<table border width="1"><tr><td>
  <div style="width: 3em"></div>
</td></tr></table>

<table border width="1"><tr><td>
  <div style="width: 3em"></div>
</td></tr></table>

<table border width="1"><tr><td>
  <div style="width: 0.5em"></div>
</td></tr></table>

</body>
</html>
