<!DOCTYPE html>

<style>
html, body {margin: 0; padding:5px}
</style>

<div style="overflow: auto; position: relative; height: 100px; width: 100px;">
<div style="background: blue; position: absolute; clip: rect(10px, 40px, 60px, 0); width: 200px; height: 200px;">
</div>
</div>

<div style="overflow: auto; position: relative; height: 100px; width: 100px;">
<div style="background: blue; position: fixed; clip: rect(0 50px 50px 10px); width: 200px; height: 200px;">
</div>
</div>

<div style="overflow: auto; position: relative; height: 100px; width: 100px;">
<div style="background: blue; position: relative; clip: rect(0, 50px, 50px, 0); width: 200px; height: 200px;">
</div>
</div>

<div style="overflow: auto; position: relative; height: 100px; width: 100px;">
<div style="background: blue; position: absolute; clip: rect(0, auto, auto, 0); width: 200px; height: 200px;">
</div>
</div>
