<!DOCTYPE HTML>
<html>
<head>
<style>
p { float:left; white-space:pre; border:1px solid black; clear:both; }
.space { padding:0 2px; }
table { clear:both; }
</style>
</head>
<body>

<p>
        a
</p>

<div style="width:0">
  <p>
        a
  </p>
</div>

<p>
        <span class="space">a</span>
</p>

<div style="width:0">
  <p class="letterspace">
        <span class="space">a</span>
  </p>
</div>

<table><tr>
  <td style="background-color:#808080;"><pre>
test
abcdefg hijklm  nopqr   stuv    wxy     z0      1       
  </pre></td>
  <td style="background-color:#c08080;">cell 2</td>
</tr></table>

</body>
</html>
