<html>
<head><style>
  table        { width: 600px; }
  td.smallSpec { width: 100px; }
  td.bigSpec   { width: 500px; }
  td.smallPct  { width: 10%;   }
  td.bigPct    { width: 90%;   }
  td.pink      { background: pink; }
  td.teal      { background: teal; }
</style></head>
<body>

<h2>Other column fixed-width; two zero columns with colspan; explicit 0 width on span</h2>

<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="smallSpec pink">100</td>
    <td class="bigSpec teal"/>
  </tr>
</table>

<h2>Other column percent-width; two zero columns with colspan; explicit 0 width on span</h2>

<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="smallPct pink">10%</td>
    <td class="bigPct teal"/>
  </tr>
</table>

<h2>Other column fixed-width; zero-column explicitly zero-width; zero column spanned by colspan (crossing other column)</h2>

<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="pink">100</td>
  </tr>
</table>

<h2>Other column percent-width; zero-column explicitly zero-width; zero column spanned by colspan (crossing other column)</h2>

<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="pink">10%</td>
  </tr>
</table>

</body>
</html>
