<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html class="reftest-print">
<title>Fixed Positioning Test</title>
<style type="text/css">
  html, body { margin: 0; padding: 0; }
</style>

<div style="width: 3in; border: solid; font-size: 16px;">
This box must be repeated at this same position on the first, second, and third pages.
</div>

<div style="page-break-before: always; width: 3in; border: solid; font-size: 16px;">
This box must be repeated at this same position on the first, second, and third pages.
</div>

<div style="page-break-before: always; width: 3in; border: solid; font-size: 16px;">
This box must be repeated at this same position on the first, second, and third pages.
</div>
