<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head>
	<title>Absolute positioning margin:auto regression</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<style type="text/css">

	body > div {
		position: relative;
		border: medium solid;
		width: 600px;
		padding-bottom: 1.5em;
	}

	body > div > div {
		background: blue;
		width: 400px;
		height: 1em;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: 100px;
	}

	</style>
</head>
<body>

<div>
This div should be centered within its container:
<div></div>
</div>

</body>
</html>
