<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="reftest-wait">
  <head>            
    <title>424465 testcase</title>         
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
         
    <style type="text/css">      
      .standardform {
      background-color: #00f000;
      border: 1px solid #000000; 
      margin-bottom: 3px; /* Remove this line and bug disappears */
      }  
    </style>  

    <script type="text/javascript">
    //<![CDATA[

    window.addEventListener("MozReftestInvalidate", showBug, false);

    function imageLoaded()
    {
        document.documentElement.className = "";
    }

    function showBug()
    {
		document.getElementById("hiddenColumnBugged").innerHTML =
            "<div>.: See the bug ? :.<br /><img onload='imageLoaded()' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAAATCAIAAAB0hvS3AAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAdTAAAOpgAAA6lwAAF2+XqZnUAAAAuUlEQVR4nGJkYPjPMApGwWACAAHENNAOGAWjAB0ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABNBoohwFgw4ABBgAsywBJafN/+UAAAAASUVORK5CYII=' /><\/div>";
    }

    //]]>
    </script>

  </head>

  <body>

    <form method="get" action="#">
      <table class="standardform" cellspacing="5">
        <tbody>
          <tr>
            <td colspan="2" id="hiddenColumnBugged">
              <input onclick="showBug(); return false;" value="Trigger Bug" type="button" />
            </td>
          </tr>
        </tbody>

      </table>
    </form>
  </body>

</html>
