<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head>
	<title>table-layout: fixed width distribution with unassigned space</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<style type="text/css">

	table, td { margin: 0; padding: 0; }

	table {
		border-spacing: 0;
		margin-bottom: 2px;
	}

	td { color: black; background: yellow; }
	td + td { background: aqua; }
	td + td + td { background: fuchsia; }

	</style>
</head>
<body>

<table>
  <tr>
    <td style="width: 600px">100px</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 700px">700px</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">600px</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 200px">100px</td>
    <td style="width: 400px">200px</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 200px">150px</td>
    <td style="width: 400px">300px</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">20%</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">100%</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">120%</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 200px">20%</td>
    <td style="width: 400px">40%</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 200px">30%</td>
    <td style="width: 400px">60%</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 120px">20%</td>
    <td style="width: 480px">100px</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 120px">20%</td>
    <td style="width: 100px">100px</td>
    <td style="width: 380px">div</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">20%</td>
    <td style="width: 0"><div style="width: 0">0</div></td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">20%</td>
    <td style="width: 0"><div style="width: 0">0%</div></td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">100px</td>
    <td style="width: 0"><div style="width: 0">0</div></td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 600px">100px</td>
    <td style="width: 0"><div style="width: 0">0%</div></td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 300px">0</td>
    <td style="width: 300px">0</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width: 300px">0%</td>
    <td style="width: 300px">0</td>
  </tr>
</table>

</body>
</html>
