<!DOCTYPE html>
<html>
  <head>
    <style>body { color: red; }</style>
    <link rel="stylesheet" href="data:text/css,@import 'data:text/css,body { color: green }'; @import 'data:text/css,foopy {}';" id="r">
    <link rel="stylesheet" href="data:text/css,@import 'data:text/css,body { color: green }'; @import 'data:text/css,foopy {}';">
    <script>
      // Force a unique inner for the second linked sheet
      document.styleSheets[2].cssRules[0];

      // Ditch the first sheet
      var r = document.getElementById("r");
      r.parentNode.removeChild(r);
    </script>
  </head>
  <body>
    This should be green
  </body>
</html>
    
