<!DOCTYPE HTML>
<html>
<head>
<title>CSS 2.1 Test Suite: Test for float placement rules</title>
<link rel="author" title="Robert O'Callahan" href="mailto:robert@ocallahan.org" />
<link rel="author" title="Mozilla Corporation" href="http://mozilla.com/" />
<link rel="help" href="http://www.w3.org/TR/CSS21/visuren.html#float-position" />
<meta name="assert" content="A floating box must be placed as high as possible. " />
<meta name="flags" content="" />
<style>
.left { float:left; }
.right { float:right; }
.left, .right { width:50px; height:50px; background:yellow; }
p { overflow:auto; }
</style>
</head>
<body style="width:400px">
<p><span>Hello<span class="left"></span></span>Kitty
<p><span>Hello<span class="right"></span></span>Kitty
<p dir="rtl"><span>Hello<span class="left"></span></span>Kitty
<p dir="rtl"><span>Hello<span class="right"></span></span>Kitty
<p style="text-align:right;"><span>Hello<span class="left"></span></span>Kitty
<p style="text-align:right;"><span>Hello<span class="right"></span></span>Kitty
</body>
</html>
