<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body { padding-right: 100px; }
    div { border: 1px solid purple; overflow-x: scroll; overflow-y: hidden; width: 300px; margin: 0 50px 0 0; padding: 0; }
    span { display: inline-block; height: 50px; margin: 0; }
  </style>
</head>
<body dir="rtl">
  <div style="display: -moz-box;">
    <span style="background: green; width: 50px; position: fixed; -moz-margin-start: -50px"></span>
    <span style="background: yellow; width: 400px; overflow: hidden"></span>
  </div>
</body>
</html>
