<!DOCTYPE HTML>
<title>Testcase for float breaking</title>
<body style="margin: 0">
  <div style="position: absolute; top: 0; left: 0; width: 150px; height: 100px; background: blue"></div>
  <div style="position: absolute; top: 100px; left: 0; width: 75px; height: 125px; background: aqua"></div>
  <div style="position: absolute; top: 100px; left: 75px; width: 100px; height: 125px; background: fuchsia"></div>
  <div style="position: absolute; top: 0px; left: 200px; width: 75px; height: 75px; background: aqua"></div>
  <div style="position: absolute; top: 0; left: 275px; width: 100px; height: 225px; background: fuchsia"></div>
