<!DOCTYPE HTML>
<title>HR elements should have circular ends, not elliptical</title>
<body style="margin:0; font-size: 0">
<hr size="100" color="blue">
<div style="position: absolute; background: red; height: 5px; width: 5px; top: 1px; left: 51px; z-index: -1"></div>
<div style="position: absolute; background: red; height: 5px; width: 5px; top: 1px; right: 51px; z-index: -1"></div>
<div style="position: absolute; background: red; height: 5px; width: 5px; top: 94px; left: 51px; z-index: -1"></div>
<div style="position: absolute; background: red; height: 5px; width: 5px; top: 94px; right: 51px; z-index: -1"></div>
