<!DOCTYPE html>
<html class="reftest-wait">
  <head>
    <style type="text/css">
      input {
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
      }
      input:focus {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          transform: scale(1.05);
      }
    </style>
    <script>
      function boom() {
        var i = document.querySelector("input");
        i.addEventListener("transitionend", function() {
          i.removeEventListener("transitionend", arguments.callee, true);
          setTimeout(function() {
            i.value = "test";
            setTimeout(function() {
              i.value = "";
              setTimeout(function() {
                i.addEventListener("transitionend", function() {
                  i.removeEventListener("transisionend", arguments.callee, true);
                  setTimeout(function() {
                    document.documentElement.removeAttribute("class");
                  }, 0);
                }, true);
                i.blur();
              }, 0);
            }, 0);
          }, 0);
        }, true);
        i.focus();
      }
    </script>
  </head>
  <body onload="boom()">
    <input type="text" placeholder="foo">
  </body>
</html>
