<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <title>Bug 97777-2 Reference</title>
  <style type="text/css">
    table {position: absolute; border-collapse: collapse; background: #CCCCCC}
    div.sub {border: solid blue}
    p {border: solid red}
    td {padding: 0px; text-align: center}
  </style>
</head>
<body>
<table style="top: 0.5em"><tr><td>
  <p style="float: left">Float</p>
  <div class="sub" style="-moz-float-edge: border-box">Should be shrink-wrapped [align="center", float-edge="border-box"]</div>
</td></tr></table>
<table style="top: 4.5em"><tr><td>
  <p style="float: right">Float</p>
  <div class="sub" style="-moz-float-edge: border-box">Should be shrink-wrapped [align="center", float-edge="border-box"]</div>
</td></tr></table>
<table style="top: 8.5em"><tr><td>
  <p style="float: left">Float</p>
  <div class="sub" style="-moz-float-edge: padding-box">Should be shrink-wrapped [align="center", float-edge="padding-box"]</div>
</table>
<table style="top: 12.5em"><tr><td>
  <p style="float: right">Float</p>
  <div class="sub" style="-moz-float-edge: padding-box">Should be shrink-wrapped [align="center", float-edge="padding-box"]</div>
</table>
<table style="top: 16.5em"><tr><td>
  <p style="float: left">Float</p>
  <div class="sub" style="-moz-float-edge: margin-box">Should be shrink-wrapped [align="center", float-edge="margin-box"]</div>
</table>
<table style="top: 20.5em"><tr><td>
  <p style="float: right">Float</p>
  <div class="sub" style="-moz-float-edge: margin-box">Should be shrink-wrapped [align="center", float-edge="margin-box"]</div>
</table>
</body>
</html>
