<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <title>Bug 97777-1</title>
  <style type="text/css">div.top {position: absolute; background: #CCCCCC}</style>
</head>
<body>
<div class="top" style="top: 0.5em" align="center"><div>Box 1</div></div>
<div class="top" style="top: 2.5em"><center><div>Box 2</div></center></div>
<div class="top" style="top: 4.5em"><table align="center"><tr><td>Box 3</td></tr></table></div>
</body>
</html>
