/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

xul|*:-moz-system-metric(touch-enabled) {
  cursor: none !important;
}

html|*:-moz-system-metric(touch-enabled) {
  cursor: none !important;
}

/* For touch input, *all* select boxes use the SelectHelper popup. */
select option, select optgroup {
  pointer-events: none;
}
