<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Bug 809020</title>
<style>
p { 
  font-family: monospace;
  margin: 1em 0;
}
</style>
</head>
<body>

Line breaks should always occur before a '/' character,
and no fragment should be less than 6 chars long.

<p>/a/a</p>
<p>/a/a/a</p>
<p>/a/a/a/a</p>
<p>/a/a/a/a/a</p>
<p>/a/a/a<br>/a/a/a</p>

<p>/aa/aa<br>/aa/aa<br>/aa/aa/aa</p>
<p>/aaa/aaa<br>/aaa/aaa/aaa</p>
<p>/aaaa/aaaa<br>/aaaa/aaaa</p>
<p>/aaaaa<br>/aaaaa<br>/aaaaa</p>
<p>/aaaaaa<br>/aaaaaa<br>/aaaaaa</p>

<p>/a/ab/abc<br>/abcd/abcde<br>/abcdef<br>/abcdefg</p>
<p>/abcdefg<br>/abcdef<br>/abcde<br>/abcd/abc/ab/a</p>

</body>
</html>
