<html>
<head>
<style type="text/css"> p { margin: 5px 1em; width: 0; } </style>
</head>
<body>

<p>abcdef(abcdef)abcdef</p>
<p>abcde),</p>
<p>abcde).</p>
<p>abcde)!</p>
<p>abcde)?</p>

<p>abcdef[abcdef]abcdef</p>
<p>abcde],</p>
<p>abcde].</p>
<p>abcde]!</p>
<p>abcde]?</p>

<p>abcdef{abcdef}abcdef</p>
<p>abcde},</p>
<p>abcde}.</p>
<p>abcde}!</p>
<p>abcde}?</p>

<p>abcdef&lt;abcdef&gt;abcdef</p>
<p>abcde&gt;,</p>
<p>abcde&gt;.</p>
<p>abcde&gt;!</p>
<p>abcde&gt;?</p>

<p>abcdef(abcd)[abcd]{abcd}&lt;abcd&gt;(abcd)(abcd)[abcd][abcd]{abcd}{abcd}&lt;abcd&gt;&lt;abcd&gt;abcdef</p>

</body>
</html>
