<html>
<head>
<style type="text/css"> p { margin: 5px 1em; width: 0; white-space: nowrap; } </style>
</head>
<body>

<p>abcdef(abcdef)abcdef</p>
<p>abcde),</p>
<p>abcde).</p>
<p>abcde)!</p>
<p>abcde)?</p>

<p>abcdef[abcdef]abcdef</p>
<p>abcde],</p>
<p>abcde].</p>
<p>abcde]!</p>
<p>abcde]?</p>

<p>abcdef{abcdef}abcdef</p>
<p>abcde},</p>
<p>abcde}.</p>
<p>abcde}!</p>
<p>abcde}?</p>

<p>abcdef&lt;abcdef&gt;abcdef</p>
<p>abcde&gt;,</p>
<p>abcde&gt;.</p>
<p>abcde&gt;!</p>
<p>abcde&gt;?</p>

<p>abcdef(abcd)<br>[abcd]<br>{abcd}<br>&lt;abcd&gt;<br>(abcd)<br>(abcd)<br>[abcd]<br>[abcd]<br>{abcd}<br>{abcd}<br>&lt;abcd&gt;<br>&lt;abcd&gt;abcdef</p>

</body>
</html>
