<html>
<head>
<style type="text/css"> p { margin: 5px 1em; width: 0; } </style>
</head>
<body>

<p>abcdef&#xFF64;(abcdef</p>
<p>abcdef&#xFF64;[abcdef</p>
<p>abcdef&#xFF64;{abcdef</p>
<p>abcdef&#xFF64;{abcdef</p>
<p>abcdef&#xFF64;&#xFF62;abcdef</p>
<p>abcdef&#xFF64;&#xFF08;abcdef</p>
<p>abcdef&#xFF64;&#xFF3B;abcdef</p>
<p>abcdef&#xFF64;&#xFF5B;abcdef</p>
<p>abcdef&#xFF64;&#x300C;abcdef</p>

<p>abcdef&#xFF61;(abcdef</p>
<p>abcdef&#xFF61;[abcdef</p>
<p>abcdef&#xFF61;{abcdef</p>
<p>abcdef&#xFF61;&#xFF62;abcdef</p>
<p>abcdef&#xFF61;&#xFF08;abcdef</p>
<p>abcdef&#xFF61;&#xFF3B;abcdef</p>
<p>abcdef&#xFF61;&#xFF5B;abcdef</p>
<p>abcdef&#xFF61;&#x300C;abcdef</p>

</body>
</html>
