<html>
<head>
<style type="text/css"> p { margin: 5px 1em; width: 0; white-space: nowrap; } </style>
</head>
<body>

<p>abcdef&#xFF0C;<br>(abcdef</p>
<p>abcdef&#xFF0C;<br>[abcdef</p>
<p>abcdef&#xFF0C;<br>{abcdef</p>
<p>abcdef&#xFF0C;<br>{abcdef</p>
<p>abcdef&#xFF0C;<br>&#xFF62;abcdef</p>
<p>abcdef&#xFF0C;<br>&#xFF08;abcdef</p>
<p>abcdef&#xFF0C;<br>&#xFF3B;abcdef</p>
<p>abcdef&#xFF0C;<br>&#xFF5B;abcdef</p>
<p>abcdef&#xFF0C;<br>&#x300C;abcdef</p>

<p>abcdef&#xFF0E;<br>(abcdef</p>
<p>abcdef&#xFF0E;<br>[abcdef</p>
<p>abcdef&#xFF0E;<br>{abcdef</p>
<p>abcdef&#xFF0E;<br>&#xFF62;abcdef</p>
<p>abcdef&#xFF0E;<br>&#xFF08;abcdef</p>
<p>abcdef&#xFF0E;<br>&#xFF3B;abcdef</p>
<p>abcdef&#xFF0E;<br>&#xFF5B;abcdef</p>
<p>abcdef&#xFF0E;<br>&#x300C;abcdef</p>

</body>
</html>
