#bookmark-window toolbarbutton {
  list-style-image: url("chrome://browser/skin/bookmarks/Bookmarks-toolbar.png");
  -moz-box-orient: vertical;
}

toolbarbutton#newbookmark {
  -moz-image-region: rect(0px, 224px, 32px, 192px);
}
toolbarbutton#newbookmark:active {
  -moz-image-region: rect(32px, 224px, 64px, 192px);
}
toolbarbutton#newbookmark[disabled="true"] {
  -moz-image-region: rect(64px, 224px, 96px, 192px);
}

toolbarbutton#newfolder {
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}
toolbarbutton#newfolder:active {
  -moz-image-region: rect(32px, 32px, 64px, 0px);
}
toolbarbutton#newfolder[disabled="true"] {
  -moz-image-region: rect(64px, 32px, 96px, 0px);
}

toolbarbutton#newseparator {
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}
toolbarbutton#newseparator:active {
  -moz-image-region: rect(32px, 64px, 64px, 32px);
}
toolbarbutton#newseparator[disabled="true"] {
  -moz-image-region: rect(64px, 64px, 96px, 32px);
}

toolbarbutton#moveBookmark {
  -moz-image-region: rect(0px, 96px, 32px, 64px);
}
toolbarbutton#moveBookmark:active {
  -moz-image-region: rect(32px, 96px, 64px, 64px);
}
toolbarbutton#moveBookmark[disabled="true"] {
  -moz-image-region: rect(64px, 96px, 96px, 64px);
}

toolbarbutton#properties {
  -moz-image-region: rect(0px, 128px, 32px, 96px);
}
toolbarbutton#properties:active {
  -moz-image-region: rect(32px, 128px, 64px, 96px);
}
toolbarbutton#properties[disabled="true"] {
  -moz-image-region: rect(64px, 128px, 96px, 96px);
}

toolbarbutton#rename {
  -moz-image-region: rect(0px, 160px, 32px, 128px);
}
toolbarbutton#rename:active {
  -moz-image-region: rect(32px, 160px, 64px, 128px);
}
toolbarbutton#rename[disabled="true"] {
  -moz-image-region: rect(64px, 160px, 96px, 128px);
}

toolbarbutton#delete {
  -moz-image-region: rect(0px, 192px, 32px, 160px);
}
toolbarbutton#delete:active {
  -moz-image-region: rect(32px, 192px, 64px, 160px);
}
toolbarbutton#delete[disabled="true"] {
  -moz-image-region: rect(64px, 192px, 96px, 160px);
}

#bookmarks-search {
	background-image: none;
}
