<!DOCTYPE HTML>
<html class="reftest-wait"><head>
    <meta charset="utf-8">
    <title>Testcase #2 for bug 1178575</title>
    <style type="text/css">

        html,body {
            color:black; background-color:white; font-size:16px; padding:0; margin:20px;
        }

        div {
            position: absolute;
            left: 0;
            right: 0;
            box-shadow: 0 0 0 10px rgba(0, 255, 0, 0.5);
            margin-top: 10px;
        }

        span {
          position: relative;
          display: block;
          overflow: hidden;
          height: 200px;
        }

    </style>
<script>
function tweak() {
  document.querySelector('div').style.height = "40px";
  document.documentElement.removeAttribute("class");
}
window.addEventListener("MozReftestInvalidate", tweak, false);
</script>
</head>
<body><span><div></div><span></body></html>
