( org.mozilla.chimera.preference.navigation,
  org.mozilla.chimera.preference.appearance,
  org.mozilla.chimera.preference.privacy,
  org.mozilla.chimera.preference.security,
  org.mozilla.camino.preference.history,
  org.mozilla.camino.preference.tabs,
  org.mozilla.camino.preference.downloads,
  org.mozilla.chimera.preference.webfeatures,
)
