@import url("chrome://pocket-shared/skin/pocket.css");

#nav-bar #pocket-button > .toolbarbutton-icon {
%ifndef MOZ_PHOTON_THEME
  padding: var(--toolbarbutton-inner-padding) 6px;
%else
  padding: calc(var(--toolbarbutton-inner-padding) - 1px);
%endif
}

:-moz-any(#TabsToolbar, .widget-overflow-list) #pocket-button > .toolbarbutton-icon {
    max-width: 18px;
    padding: 0;
}
