/* mozilla.org MezzoTan DevMo Template Styles
 *
 */

/* Link Navigation */

    #tNavTop,
    #tNavBottom {
        list-style: none;
        text-align: right;
    }
    #tNavTop > li,
    #tNavBottom > li {
        display: block;
    }
    #tNavTop:before,
    #tNavBottom:after {
      clear: both;
    }
    
    #tNavTop a[rel="prev"],
    #tNavBottom a[rel="prev"] {
        float: left;
        text-align: left;
    }
        
    #tNavTop a[rel="toc"] {
      display: block;
      text-align: center;
    }
    
    #tNavTop a[rel="next"],
    #tNavBottom a[rel="next"] {
        float: right;
    }

/* Footer */

    .tLicense {
        font-size: smaller;
    }

    #mBody {
        clear: both;
        padding: 0 0 1em 0;
    }

    #side {
        float: left;
        width: 23%;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    #mainContent {
        float: right;
        width: 74%;
        margin-bottom: 3em;
    }
    .nomenu #mainContent {
        float: none;
        width: 100%;
    }
    .bodyleft {
        float: right !important;
        width: 74% !important;
    }
    #mainContent.right {
        float: left;
        width: 62%;
        margin-bottom: 2em;
    }
    
    #side.right {
        float: right;
        width: 35%;
        margin-bottom: 2em;
        margin-top: 0;
    }

/* Sidebar */

    #getcd {
        margin: 1em 0 0 45px;
    }

/*accessibility tweaks*/
    .skipLink {
        position: absolute;
        left: -999px;
        width: 990px;
    }
    hr.hide {
        display: none;
    }
