[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Ed Fuentetaja <efuentetaja@acm.org>
  #%]

[%# INTERFACE:
  # ...
  #%]

[% DECORATIVE_BORDER_BEGIN = "<table style=\"border-width:1px;border-bottom-width:3px;border-style:solid;border-collapse:collapse;border-color:black;border-spacing:0px;\"><tr><td style=\"margin:0;padding:0;\"><table style=\"border-collapse:collapse;border-width:0px;\"><tr><td>" %]
[% DECORATIVE_BORDER_100_BEGIN = "<table width=\"100%\" style=\"border-width:1px;border-bottom-width:3px;border-style:solid;border-collapse:collapse;border-color:black;border-spacing:0px;\"><tr><td style=\"margin:0;padding:0;\"><table width=\"100%\" style=\"border-collapse:collapse;border-width:0px;\"><tr><td>" %]
[% DECORATIVE_BORDER_END = "</td></tr></table></td></tr></table>" %]
