# Until bug 1724273 lands, python-testing code that uses a site is not possible. Work around
# this by representing the "vendor" site's dependency as a separate "requirements.txt" file,
# which can be used by python-test's "requirements" feature.
poetry==1.4
poetry-core==1.5.1
tomlkit==0.12.3
