[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Zach Lipton <zach@zachlipton.com>
#%]
  
[%# INTERFACE:
  # $user - the user object to edit
#%]

[% PROCESS global/selects.none.tmpl %]

[% includeselects=1 %]
[% INCLUDE global/html_header.tmpl js_files=['js/SelectBoxes.js','js/FormValidation.js'] 
    title='Edit User' %]
[% INCLUDE global/litmus_header.tmpl %]

<script type="text/javascript">
function checkFormContents(f) {
[% IF show_admin %]
  return (
          comparePasswords(f.edit_password,f.edit_confirm_password,true)
         );
[% ELSE %]
  return (
          comparePasswords(f.edit_password,f.edit_confirm_password,true) &&
	  checkString(f.current_password,'Current password',false)
         );
[% END %]
}
</script>

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">
      <h1 class="firstHeading">Edit User - [% user.email | html %]</h1>
    
<div class="section-full">
<form action="edit_users.cgi" method="post" name="edit_user_form" id="edit_user_form" autocomplete="off" onSubmit="return checkFormContents(this);">
<input type="hidden" name="user_id" value="[% user.user_id | html %]" />
<table class="manage">
  <tr>
     <td class="headerleft">User ID:</td>
     <td>[% user.user_id | html %]</td>
  </tr>
  <tr>
     <td class="headerleft">Bugzilla User ID:</td> 
     <td>[% IF show_admin %]<input name="bugzilla_uid" size="15" value="[% user.bugzilla_uid | html %]" />[% ELSE %][% user.bugzilla_uid | html %][% END %]</td>
  </tr>
  <tr>
     <td class="headerleft">Email:</td>
     <td><input name="edit_email" size="30" value="[% user.email | html %]" /></td>
  </tr>
  <tr>
    <td class="headerleft">Real Name:</td>
    <td><input name="realname" size="30" value="[% user.realname | html %]" /></td>
  </tr>
  <tr>
    <td class="headerleft">IRC Nickname:</td>
    <td><input name="irc_nickname" size="15" value="[% user.irc_nickname | html %]" /></td>
  </tr>
  [% IF show_admin %]
  <tr>
    <td class="headerleft">Enabled?</td>
    <td><input name="enabled" type="checkbox" value="1" 
      [% IF user.enabled %] checked [% END %] /></td>
  </tr>
  <tr>
    <td class="headerleft">Is An Admin?</td>
    <td><input name="is_admin" type="checkbox" value="1" 
      [% IF user.is_admin %] checked [% END %] /></td>
  </tr>
  [% END %]

  <tr>
    <td class="headerleft">Web Services Auth Token:</b></td>
    <td>[% IF show_admin %]<input name="authtoken" size="30" value="[% user.authtoken | html %]" />[% ELSE %][% IF user.authtoken %][% user.authtoken %][% ELSE %]None[% END %][% END %]</td>
    <td>&lArr; A web services authentication token allows this user to submit automated testing results.</td>
  </tr>

  <tr>
    <td colspan="3"><hr/></td>
  </tr>

  <tr>
    <td class="headerleft">New Password:</td>
    <td><input name="edit_password" type="password" size="30" value="" /></td>
  </tr>
  <tr>
    <td class="headerleft">Confirm New Password:</td>
    <td><input name="edit_confirm_password" type="password" size="30" value="" /></td>
  </tr>


  [% IF ! show_admin %]
  <tr>
    <td colspan="3"><hr/></td>
  </tr>
  <tr>
    <td class="headerleft">Current Password:</td>
    <td><input name="current_password" type="password" size="30" value="" /></td>
    <td>&lArr; NOTE: You must provide your current password in order to update your profile.</td>
  </tr>
  [% END %]

</table>

<br />
<input type="submit" value="Submit changes" />

</form>
</div>


</div><!--END content-->

</div><!--END page-->


[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]
