<div id="sidebar">

[% INCLUDE sidebar/widget_header.tmpl %]

[% INCLUDE sidebar/widget_login.tmpl %]

[% INCLUDE sidebar/widget_testcases.tmpl %]

[% INCLUDE sidebar/widget_options.tmpl %]

[% INCLUDE sidebar/widget_admin.tmpl %]

[% INCLUDE sidebar/widget_legend.tmpl %]

</div>
