  <div class="pagetools">
    <div>
	<h3>Options</h3>
	<ul>
	<li><a href="run_tests.cgi">Run Tests</a></li>         
	<li><a href="show_test.cgi">View Testcase</a></li>
        <li><a href="search_results.cgi">Search Results</a></li>
	<li><a href="advanced_search.cgi">Advanced Search</a></li>
        <li><a href="stats.cgi">Statistics</a></li>        
	</ul>
    </div>
  </div>
