  <div class="pagetools">
    <div>
	<h3>Legend</h3>
	<table class="legend">
	  <tr class="pass">
	    <td>Pass</td>
          </tr>
	  <tr class="fail">
	    <td>Fail</td>
          </tr>
	  <tr class="unclear">
	    <td>Unclear/Broken</td>
          </tr>
        </table>
    </div>
  </div>
