<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Testcase for bug 1067268</title>
    <style type="text/css">
      .drowning { height: 24px; padding-right: 26px; }
    </style>
  </head>
  <body>
    <ul>
      <li>
        <div>
          <div class="drowning"><div class="text">חדשות</div></div>
        </div>
      </li>
      <li>
        <div>
          <div class="drowning"><div class="text">הודעות</div></div>
        </div>
      </li>
    </ul>
  </body>
</html>
