<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Bug 413928</title>
  <style type="text/css">
 ol {
   list-style-type: hebrew;
   list-style-position: inside;
   padding: 0;
   margin: 0;
}

 li {
   line-height: 2em;
}
  </style>
 </head>
 <body dir="rtl">
  <ol start="-3">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li value="14"></li>
   <li></li>
   <li></li>
   <li></li>
   <li value="97"></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li value="944"></li>
   <li></li>
   <li></li>
   <li value="999"></li>
   <li></li>
   <li></li>
   <li value="1998"></li>
   <li></li>
   <li></li>
   <li></li>
   <li value="2003"></li>
   <li value="2748"></li>
   <li value="2750"></li>
   <li value="1000000"></li>
   <li value="1500000"></li>
   <li value="2000000"></li>
   <li value="9999999"></li>
   <li value="10000212"></li>
   <li value="10000425"></li>
   <li value="10000851"></li>
   <li value="10001064"></li>
   <li value="10001277"></li>
  </ol>
 </body>
</html>