<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>pre element with auto-direction</title>
 </head>
 <body>
  <pre><div dir="ltr">The word Automaton is the latinization of the Greek
αὐτόματον,... automaton, (neuter) “acting of one’s own will”. It is more
often used to describe non-electronic moving machines, especially those that
have been made to resemble human or animal actions, such as the jacks on old
public striking clocks, or the cuckoo and any other animated figures on a 
cuckoo clock.</div><div dir="rtl">העדויות על בובות מכניות ראשונות הן מיוון העתיקה, שם הופעלו פסלים נעים בכוח הקיטור 
שנקראו אוטומטון (ביוונית: αὐτόματος - נע מעצמו). האוטומטונים שימשו הן כצעצועים והן 
לצורכי בימת התיאטרון היווני, כמייצגים אלים, במיוחד בכניסה מפתיעה בסוף המחזה. הביטוי 
דאוס אקס מכינה ("האל מתוך המכונה"), שמשמעותו מצב בסיפור שבו הכותב מכניס לעלילה 
גורם שאינו נובע מהשרשרת הסיבתית העלילתית כדי לפתור בעיות עלילתיות, מגיע מהופעת ה"אל"
מתוך הפסל המכני שהוריד אותו אל הבמה. למנגנוני תנועה מכניים אוטומטיים מאותה תקופה נמצא 
שריד ארכאולוגי בדמותו של מנגנון אנטיקיתרה, ששימש למכונת חישוב קדומה.</div>
</pre>
 </body>
</html>
