---
ignore: |
  *node_modules*
  **/test/params/

extends: default

rules:
    document-end:
        present: false
    document-start:
        present: true
    indentation:
        spaces: 4
    # Checks currently failing
    line-length: disable
