.SubmitFormSnippet {
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;

  &.send_to_device_snippet {
    text-align: center;

    .message {
      font-size: 16px;
    }
  }

  .ASRouterButton {
    &.primary {
      flex: 1 1 0;
    }
  }

  .scene2Icon {
    width: 100%;

    img {
      width: 98px;
      display: inline-block;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .message {
    font-size: 14px;
    align-self: stretch;
    flex: 0 0 100%;

    p {
      margin-top: 0;
    }
  }

  .privacyNotice {
    color: var(--newtab-text-secondary-color);
    flex: 0 0 100%;

    p {
      margin-bottom: 0;
    }
  }

  .innerWrapper {
    max-width: 670px;
    flex-wrap: wrap;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer {
    width: 100%;
    margin: 0 auto;
    text-align: right;
    background-color: var(--newtab-background-color);
    padding: 10px 0;

    .footer-content {
      margin: 0 auto;
      max-width: 768px;
      width: 100%;
      text-align: right;
    }
  }

  input {
    &.mainInput {
      border-radius: 3px;
      background-color: var(--newtab-textbox-background-color);
      border: $input-border;
      padding: 0 8px;
      height: 100%;
      font-size: 15px;
      width: 50%;

      &:focus {
        border: $input-border-active;
        box-shadow: var(--newtab-textbox-focus-boxshadow);
      }
    }
  }
}

.submissionStatus {
  text-align: center;
  font-size: 14px;
  padding: 20px 0;

  .submitStatusTitle {
    font-size: 20px;
  }
}
