[Desktop Entry]
Name=Check for new hardware drivers
Comment=Notify about new hardware drivers available for the system
Icon=jockey
Exec=sh -c "test -e /var/cache/jockey/check || exec jockey-gtk --check"
Terminal=false
Type=Application
Categories=System;Settings;GTK;HardwareSettings;
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=jockey

# Bug 984944/1240084 - It prevents taking screenshots
X-GNOME-Autostart-Delay=false

NoDisplay=true
