/* -*- Mode: C++; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#include <os2.h>

// Splash screen dialog ID.
#define IDD_SPLASH  100

// Splash screen bitmap ID.
#define IDB_SPLASH  101

ICON 1 XULRUNNER_ICO

DLGTEMPLATE IDD_SPLASH DISCARDABLE 
BEGIN
    DIALOG "", IDD_SPLASH, 0, 0, 390, 261, , FCF_BORDER
    BEGIN
    END
END

//BITMAP IDB_SPLASH "splash.bmp"
