<!DOCTYPE HTML>
<html>
<head>
<title>oblique italic equivalence</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
<style type="text/css">

body {
  margin: 50px;
  font-size: 300%;
}

#sans { font-family: sans-serif; }
#serif { font-family: serif; }
#mono { font-family: monospace; }

p {
  margin: 0;
  font-style: oblique;
  line-height: 1.3em;
}
</style>

</head>
<body>

<p id=sans>UNICORN asteroid</p>
<p id=serif>UNICORN asteroid</p>
<p id=mono>UNICORN asteroid</p>

</body>
</html>