/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../global/shared.inc

.heading {
  font-size: 270%;
  text-align: center;
  margin: 0 120px;
}

.progress {
  margin: 10px 128px;
}

.progress-label,
#errors-description {
  text-align: center;
  margin: 0 10px;
}

#checking-heading,
#update-heading,
#errors-heading {
  margin-top: 90px;
}

#select-heading,
#confirm-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#select-description,
#confirm-description {
  margin: 10px;
}

#select-list {
  border: 1px solid WindowFrame;
  background-color: Window;
  margin: 10px;
}

#select-grid column {
  -moz-box-align: center;
}

#select-grid row {
  -moz-box-align: stretch;
}

#select-grid row:nth-of-type(odd) {
  background-color: -moz-oddtreerow;
}

#select-grid label,
#select-grid checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.select-cell {
  -moz-box-align: center;
  -moz-box-pack: start;
  box-sizing: border-box;
}

#select-header {
  background-color: Window !important;
}

#select-header .select-cell {
  -moz-appearance: treeheadercell;
  border: 2px solid;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

.select-keep {
  -moz-box-pack: center;
}

.select-icon {
  width: 20px;
}

#select-grid separator {
  display: none;
}

.addon-name,
.addon-action-message,
.addon-action-update {
  box-sizing: border-box;
  margin: 0;
  padding: 2px 6px;
}

.addon:not([active]) .addon-name,
.addon:not([active]) .addon-action-message,
.addon:not([active]) .addon-action-update {
  color: GrayText;
}

.addon-icon {
  height: 16px;
  width: 16px;
  margin: 2px;
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.png");
}

.addon-icon[type="theme"] {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric-16.png");
}

.addon-icon[type="plugin"] {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
}

.addon-icon[type="dictionary"] {
  list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric-16.png");
}

.action-list {
  margin-top: 10px;
  -moz-margin-start: 5em;
}

.action-header {
  margin-bottom: 10px;
}

#confirm .addon {
  -moz-margin-start: 3em;
  -moz-box-align: center;
}

.addon:not([active]) .addon-icon,
#disable-list .addon-icon,
#incompatible-list .addon-icon {
  filter: grayscale(1);
}

#footer {
  padding: 15px 12px;
  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
  -moz-appearance: statusbar;
}

button {
  -moz-appearance: toolbarbutton;
  min-height: 22px;
  margin: 0 6px;
  padding: 0;
  text-shadow: @loweredShadow@;
}
