<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.geckoview">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- READ_EXTERNAL_STORAGE was added in API 16, and is only enforced in API
         19+.  We declare it so that the bouncer APK and the main APK have the
         same set of permissions. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen"/>

    <!--#ifdef MOZ_WEBRTC-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
    <!--<uses-feature android:name="android.hardware.audio.low_latency" android:required="false"/>-->
    <!--<uses-feature android:name="android.hardware.camera.any" android:required="false"/>-->
    <!--<uses-feature android:name="android.hardware.microphone" android:required="false"/>-->
    <!--#endif-->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- App requires OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!-- New child services must also be added to the Fennec AndroidManifest.xml.in -->
    <service
        android:name="org.mozilla.gecko.process.GeckoServiceChildProcess$geckomediaplugin"
        android:enabled="true"
        android:exported="false"
        android:process=":geckomediaplugin"
        android:isolatedProcess="false">
    </service>

    <service
        android:name="org.mozilla.gecko.process.GeckoServiceChildProcess$tab"
        android:enabled="true"
        android:exported="false"
        android:process=":tab"
        android:isolatedProcess="false">
    </service>

</manifest>
