(
	{
		identifier = general; 
		panes = (
            org.mozilla.chimera.preference.navigation,
            org.mozilla.chimera.preference.appearance,
            org.mozilla.chimera.preference.webfeatures
		); 
	},
  {
    identifier = security;
    panes = (
            org.mozilla.chimera.preference.privacy,
            org.mozilla.chimera.preference.security,
    );
  }
)
