<!doctype HTML>
<html>
  <head>
    <title>background-clip: text</title>
    <style>
      div.out {
        width: 500px;
        height: 300px;
        margin: 0px;
        background: linear-gradient(green, green) padding-box text;
        color: transparent;
        font-size: 100px;
        font-family: serif;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </head>
  <body style="margin: 0px;">
    <div class="out">
      TEXT clip
      <div style="display:inline-block; width:0px; height:200px;"/>
    </div>
  </body>
</html>
