#filter substitution
VersionLanguage           = @AB_CD@
NameCompany               = Mozilla
NameProduct               = Minefield
NameProductInternal       = Minefield
ShortNameProduct          = Minefield
VersionProduct            = @MOZ_APP_VERSION@
FileInstallerEXE          = @PKG_BASENAME@.installer
FileMainEXE               = @MOZ_APP_NAME@
FileUninstall             = UninstallFirefox
FileUninstallZIP          = UninstallFirefox.zip
FileInstallerNETRoot      = @PKG_BASENAME@.net-installer
ComponentList             = xpcom,browser,talkback,@AB_CD@,adt
LicenseFile               = browser/EULA
