<!DOCTYPE html>
<html>
  <head>
    <title>CSS 2.1 Test Suite: @charset, modified for CSS3</title>
    <link rel="author" title="Boris Zbarsky" href="mailto:bzbarsky@mit.edu" />
    <link rel="author" title="Henri Sivonen" href="mailto:hsivonen@iki.fi" />
    <link rel="author" title="Mozilla Corporation" href="http://mozilla.com/" />
    <link rel="help" href="http://www.w3.org/TR/CSS21/syndata.html#charset"/>
    <meta name="flags" content="" />
    <style type="text/css">
      body { color: green; }
    </style>
    <link rel="stylesheet" type="text/css" charset="us-ascii"
          href="test-charset-utf-16-be-no-bom.css" />
  </head>
  <body>
    This should be green
  </body>
</html>
  
