recursive-include docs *
recursive-include tests *.py *.sh *.expected
recursive-include virtualenv_support *.whl
recursive-include virtualenv_embedded *
recursive-exclude docs/_templates *
recursive-exclude docs/_build *
include virtualenv_support/__init__.py
include bin/*
include scripts/*
include *.py
include AUTHORS.txt
include LICENSE.txt
