@font-face {
  font-family: Ahem;
  src: url(../fonts/Ahem.ttf);
}
rbc {
  display: ruby-base-container;
  unicode-bidi: -moz-isolate;
}
[pseudo] {
  font-size: inherit;
  line-height: inherit;
}
[pseudo] > rt {
  font-size: 50%;
}
[pseudo] > rt[pseudo] {
  font-size: inherit;
}

.large {
  font-size: 200%;
}
