<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bug 1055658 - Relative positioning for ruby</title>
  <link rel="stylesheet" href="common.css">
  <style>
    body {
      font-family: monospace;
      line-height: 80px;
    }
    rtc, rt {
      font-size: 100% !important;
      line-height: 1 !important;
    }
  </style>
</head>
<body>
  before
  <ruby style="position: relative; top: 20px;">
    <rb>base1</rb>
    <rtc>text1</rtc>
    <rb style="position: relative; left: 10px;">base2</rb>
    <rtc style="position: relative; top: -20px;">text2</rtc>
    <rbc style="position: relative; bottom: -20px;"><rb>base3</rb></rbc>
    <rtc><rt style="position: relative; right: 10px;">text3</rt></rtc>
  </ruby>
  after
</body>
</html>
