<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bug 1055665 - Test for ruby-position</title>
  <link rel="stylesheet" href="common.css">
  <style>
    body {
      font-family: monospace;
      line-height: normal;
    }
    .annotation, .annotation > div {
      position: absolute;
    }
  </style>
</head>
<body>
  <div style="height: 8em; line-height: 8em;">
    <div style="display: inline-block; line-height: normal;">
      <div class="annotation">
        <div style="top: -100%;">over##</div>
        <div style="top: 100%;">under#</div>
        <div style="top: -200%;">over2#</div>
        <div style="top: 200%;">under2</div>
        &nbsp; <!-- to give container a nonzero size for
                    percent values to resolve against -->
      </div>
      base##
    </div>
  </div>
</body>
</html>
