
#include "resource.h"
#include "newres.h"

IDD_SPLASHSCREEN DIALOG DISCARDABLE  0, 0, 31, 27
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "System"
BEGIN
    CONTROL         104,IDC_SPLASHBMP,"Static",SS_BITMAP,7,7,15,13
END


IDB_BITMAP1             BITMAP  DISCARDABLE     "splashscreen.bmp"

IDI_APPLICATION ICON    "minimo.ico"

HI_RES_AWARE CEUX {1} // To turn off the emulation layer
