input::placeholder {
  color: green;
  opacity: 1.0;
}

input:placeholder-shown {
  -moz-appearance: none;
  color: -moz-FieldText;
  background-color: red;
}

input:placeholder-shown.shown,
input.shown-ref {
  -moz-appearance: none;
  color: green;
  background-color: #c7c7c7;
  font-style: italic;
  border: 2px solid green;
  height: 200px;
  width: 200px;
}
