<!DOCTYPE html>
<html>
  <head><title>Test dir=rtl</title></head>
  <body>

    <p>
      mtable:
      <math>
        <mtable>
          <mtr>
            <mtd>
              <mtext>c</mtext>
            </mtd>
            <mtd>
              <mtext>b</mtext>
            </mtd>
            <mtd>
              <mtext>a</mtext>
            </mtd>
          </mtr>
          <mtr>
            <mtd>
              <mtext>f</mtext>
            </mtd>
            <mtd>
              <mtext>e</mtext>
            </mtd>
            <mtd>
              <mtext>d</mtext>
            </mtd>
          </mtr>
        </mtable>
      </math>
    </p>

    <p>
      mtable:
      <math>
        <mtable frame="solid">
          <mtr>
            <mtd>
              <mtext>c</mtext>
            </mtd>
            <mtd>
              <mtext>b</mtext>
            </mtd>
            <mtd>
              <mtext>a</mtext>
            </mtd>
          </mtr>
          <mtr>
            <mtd>
              <mtext>f</mtext>
            </mtd>
            <mtd>
              <mtext>e</mtext>
            </mtd>
            <mtd>
              <mtext>d</mtext>
            </mtd>
          </mtr>
        </mtable>
      </math>
    </p>

  </body>
</html>
