<!DOCTYPE html>
<html>
  <head><title>Test dir=rtl</title></head>
  <body>
    <p>
      mfrac (numalign=left):
      <math dir="rtl">
        <mfrac numalign="left">
          <mspace width="25px" height="25px" mathbackground="red"/>
          <mspace width="75px" height="25px" mathbackground="green"/>
        </mfrac>
      </math>
    </p>

    <p>
      mfrac (numalign=right):
      <math dir="rtl">
        <mfrac numalign="right">
          <mspace width="25px" height="25px" mathbackground="red"/>
          <mspace width="75px" height="25px" mathbackground="green"/>
        </mfrac>
      </math>
    </p>

    <p>
      menclose:
      <math dir="rtl">
        <menclose>
          <mspace width="25px" height="25px" mathbackground="red"/>
          <mspace width="25px" height="25px" mathbackground="green"/>
          <mspace width="25px" height="25px" mathbackground="blue"/>
        </menclose>
      </math>
    </p>

    <p>
      menclose notation="left":
      <math dir="rtl">
        <menclose notation="left">
          <mspace width="25px" height="25px" mathbackground="red"/>
          <mspace width="25px" height="25px" mathbackground="green"/>
          <mspace width="25px" height="25px" mathbackground="blue"/>
        </menclose>
      </math>
    </p>

    <p>
      menclose notation="right":
      <math dir="rtl">
        <menclose notation="right">
          <mspace width="25px" height="25px" mathbackground="red"/>
          <mspace width="25px" height="25px" mathbackground="green"/>
          <mspace width="25px" height="25px" mathbackground="blue"/>
        </menclose>
      </math>
    </p>

    <p>
      menclose notation="updiagonalstrike":
      <math dir="rtl">
        <menclose notation="updiagonalstrike">
          <mspace width="25px" height="25px" mathbackground="red"/>
          <mspace width="25px" height="25px" mathbackground="green"/>
          <mspace width="25px" height="25px" mathbackground="blue"/>
        </menclose>
      </math>
    </p>

    <p>
      menclose notation="downdiagonalstrike":
      <math dir="rtl">
        <menclose notation="downdiagonalstrike">
          <mspace width="25px" height="25px" mathbackground="red"/>
          <mspace width="25px" height="25px" mathbackground="green"/>
          <mspace width="25px" height="25px" mathbackground="blue"/>
        </menclose>
      </math>
    </p>

  </body>
</html>
