<!DOCTYPE html>
<html>
  <head><title>Test dir=rtl</title></head>
  <body>

    <p>
      mo (lspace=1em rspace=2em):
      <math>
        <mtext>_</mtext><mo lspace="2em" rspace="1em">+</mo><mtext>_</mtext>
      </math>
    </p>

    <p>
      embellished mrow (lspace=1em rspace=2em):
      <math>
        <mtext>_</mtext>
        <mrow><mo lspace="2em" rspace="1em">+</mo></mrow>
        <mtext>_</mtext>
      </math>
    </p>

    <p>
      embellished munderover (lspace=1em rspace=2em):
      <math>
        <mtext>_</mtext>
        <munderover>
          <mo lspace="2em" rspace="1em">+</mo>
          <mtext>|</mtext>
          <mtext>|</mtext>
        </munderover>
        <mtext>_</mtext>
      </math>
    </p>

  </body>
</html>
