<!DOCTYPE html>
<html>
  <head><title>Test dir=rtl</title></head>
  <body style="background: white;">

    <div style="position: absolute;
                top: 5px; left: 5px; width: 100px; height: 100px;
                text-align: center; background: black;">
      <div style="position: absolute;
                  width: 35px; height: 100px; background: red;"></div>
      <div style="position: absolute; left: 40px;
                  width: 20px; height: 100px; background: blue;"></div>
      <div style="position: absolute; left: 60px; width: 40px; height: 100px;
                  background: green;"></div>
    </div>

  </body>
</html>
