<!doctype html>
<html class="reftest-wait">
  <head>
    <title>displaystyle</title>
    <meta charset="utf-8"/>
    <script type="text/javascript">
      function doTest() {
        document.getElementById('mathOperator').
                 setAttribute('mathbackground', 'red');
        document.documentElement.removeAttribute("class");
      }
      window.addEventListener("MozReftestInvalidate", doTest, false);
    </script>
  </head>
  <body>

    <!-- Test dynamic change (see bug 832800) -->
    <math>
      <mstyle displaystyle="true">
        <mfrac>
          <mrow>
            <mi>X</mi>
            <mo id="mathOperator">+</mo>
            <mfrac>
              <mrow><mi>X</mi></mrow>
              <mrow><mi>X</mi></mrow>
            </mfrac>
          </mrow>
          <mrow>
            <mi>X</mi>
          </mrow>
        </mfrac>
      </mstyle>
    </math>

  </body>
</html>
