<html>

<head>
<title>dynamic maction and embellished op</title>
</head>

<body>

  <p>'<math><maction id="m1" selection="2"><mi>a</mi><mo>b</mo></maction></math>'</p>
  <p>'<math><maction id="m2" selection="2"><mo>b</mo><mi>a</mi></maction></math>'</p>
 
  <p>"<math><maction id="m3"><mo>b</mo></maction></math>"</p>
  <p>"<math><maction id="m3bis"><mi>a</mi><mo>b</mo></maction></math>"</p>

  <p>{<math><maction id="m4"><mi>a</mi></maction></math>}</p>
  <p>{<math><maction id="m4bis"><mo>b</mo><mi>a</mi></maction></math>}</p>

 
  <p>[<math>
    <mstyle id="m5" selection="2"><maction><mi>a</mi><mo>b</mo></maction></mstyle>
  </math>]</p>
  <p>[<math>
    <mstyle id="m6" selection="2"><maction><mo>b</mo><mi>a</mi></maction></mstyle>
  </math>]</p>

  <p>(<math id="m7" selection="2"><maction><mi>a</mi><mo>b</mo></maction></math>)</p>
  <p>(<math id="m8" selection="2"><maction><mo>b</mo><mi>a</mi></maction></math>)</p>

</body>
</html>
