<!DOCTYPE html>
<html class="reftest-wait">
  <head>
    <title>Dynamic OpenType 'math' script tests</title>
    <!-- See mathscript-1-ref.html for an explanation of this font -->
    <style type="text/css" media="screen, print">
    @font-face {
      font-family: "mathssty";
      src: url("mathssty.woff");
    }
  </style>
  </head>
  <body>

  <!-- Demonstrate that it has no effect outside MathML -->
  <div style="font-family: 'mathssty';
              font-feature-settings: 'ssty' " id="div0">A</div>

  <!-- Demonstrate that it works within MathML -->
  <math>
    <mstyle style="font-family: 'mathssty'; font-feature-settings: 'ssty' 2">
      <mo id="mo0">A</mo>
    </mstyle>
  </math>

  <script>
    function doTest()
    {
      // Does nothing to non-MathML
      document.getElementById("div0").appendChild(document.createTextNode("A"));
      // Does something to MathML
      document.getElementById("mo0").appendChild(document.createTextNode("A"));
      document.documentElement.removeAttribute("class");
    }
    window.addEventListener("MozReftestInvalidate", doTest, false);
  </script>

  </body>
</html>
