<!doctype html>
<html>
  <head>
    <title>More mathvariant tests</title>
  </head>
  <body>
    <math>
      <mrow>
        <mtext mathvariant="fraktur">&#x1d49c;</mtext>
        <mtext mathvariant="fraktur">&#x212c;</mtext>
        <mtext mathvariant="fraktur">&#x00e1;</mtext>
      </mrow>
    </math>

    <p>

    <math>
      <mrow>
        <mtext mathvariant="monospace">AAA</mtext>
      </mrow>
    </math>

    <p>

    <math>
      <mstyle mathvariant="sans-serif">
        <mrow>
          <mtext>cos</mtext>
          <mo>&#x2061;</mo>
          <mi>x</mi>
        </mrow>
      </mstyle>
    </math>

    <p>

    <math mathvariant="sans-serif">
      <mrow>
        <mtext>cos</mtext>
        <mo>&#x2061;</mo>
        <mi>x</mi>
      </mrow>
    </math>

  </body>
</html>
