<!doctype html>
<html>

  <head>
    <title>Test mathvariant character mappings</title>
  </head>
  <body>
    <math>
      <mrow>
        <mtext mathvariant="normal">0123456789</mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="bold">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="italic">0123456789</mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="bold-italic">0123456789</mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="script">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="bold-script">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="fraktur">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="double-struck">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="bold-fraktur">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="sans-serif">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="bold-sans-serif">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="sans-serif-italic">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="sans-serif-bold-italic">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
    <math>
      <mrow>
        <mtext mathvariant="monospace">
          012345
          6789
        </mtext>
      </mrow>
    </math>
    <br>
  </body>
</html>
