<!DOCTYPE html>
<html>	
  <head></head>
  <body>
    <p>
      <math>
	<mrow>
	  <mi>x</mi> <mspace width="negativeveryverythinmathspace"></mspace> <mi>y</mi> 
	</mrow>
      </math>
    </p>
    <p>
      <math>
	<mrow>
	  <mi>x</mi> <mspace width="negativeverythinmathspace"></mspace> <mi>y</mi> 
	</mrow>
      </math>
    </p>
    <p>
      <math>
	<mrow>
	  <mi>x</mi> <mspace width="negativethinmathspace"></mspace> <mi>y</mi> 
	</mrow>
      </math>
    </p>
    <p>
      <math>
	<mrow>
	  <mi>x</mi> <mspace width="negativemediummathspace"></mspace> <mi>y</mi> 
	</mrow>
      </math>
    </p>
    <p>
      <math>
	<mrow>
	  <mi>x</mi> <mspace width="negativethickmathspace"></mspace> <mi>y</mi> 
	</mrow>
      </math>
    </p>
    <p>
      <math>
	<mrow>
	  <mi>x</mi> <mspace width="negativeverythickmathspace"></mspace> <mi>y</mi> 
	</mrow>
      </math>
    </p>
    <p>
      <math>
	<mrow>
	  <mi>x</mi> <mspace width="negativeveryverythickmathspace"></mspace> <mi>y</mi> 
	</mrow>
      </math>
    </p>
  </body>	    
</html>
