<!doctype html>
<html class="reftest-wait">
  <head>
    <title>menclose phasorangle</title>
    <meta charset="utf-8"/>
    <script type="text/javascript">
      function doTest()
      {
        var box = document.getElementById("box").getBoundingClientRect();
        var w = 8 * 2; // kPhasorangleWidth * rulethickness
        var H = 2 * w; // slope 2

        document.getElementById("path").setAttribute("d",
          "M" + (box.right + "," + box.bottom) +
          "L" + (box.left + "," + box.bottom ) +
          "l" + ((w) + "," + (-H)));
        document.documentElement.removeAttribute("class");
      }
      window.addEventListener("MozReftestInvalidate", doTest, false);
    </script>
  </head>
  <body>

    <div style="position: absolute; left: 20px; top: 20px;">
      <math>
        <menclose id="box" notation="phasorangle">
          <mspace width="200px" height="100px"></mspace>
        </menclose>
      </math>
    </div>

    <div style="position: absolute; left: 0px; top: 0px;">
      <svg width="500px" height="500px">
        <path id="path" style="fill: none; stroke-width: 5px; stroke: green; stroke-linecap: round; shape-rendering: crispEdges;"></path>
      </svg>
    </div>
    
  </body>
</html>
