<!DOCTYPE html>
<html class="reftest-wait">
  <head>
    <title>mfrac linethickness</title>
    <script type="text/javascript">
      function doTest() {
        document.getElementById("testMfrac").removeAttribute("linethickness");
        document.documentElement.removeAttribute("class");
      }
      window.addEventListener("MozReftestInvalidate",doTest);
    </script>
  </head>
  <body>
    <math>
      <mfrac id="testMfrac" style="font-size: 300%" linethickness="200%">
        <mi>a</mi>
        <mi>b</mi>
      </mfrac>
    </math>
  </body>
</html>
