<!DOCTYPE html>
<html class="reftest-wait">
  <head>
    <title>mfrac childnode update</title>
    <script type="text/javascript">
      function doTest() {
        var x = document.getElementById("innerMfrac");
        var y = document.createElementNS("http://www.w3.org/1998/Math/MathML","mi");
        var z = document.createElementNS("http://www.w3.org/1998/Math/MathML","mi");
        y.innerHTML = "c";
        z.innerHTML = "d";
        x.appendChild(y);
        x.appendChild(z);
        document.documentElement.removeAttribute("class");
      }
      window.addEventListener("MozReftestInvalidate",doTest, false);
    </script>
  </head>
  <body>
    <math>
      <mfrac style="font-size: 300%">  
        <mfrac>
          <mi> a </mi>
          <mi> b </mi>
        </mfrac>
        <mfrac id="innerMfrac">
        </mfrac>
      </mfrac>
    </math>
  </body>
</html>
