<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"><title>Comparison of script elements</title></head>
  <body>
    msubsup:
    <math>
      <mmultiscripts style="background: red;">
	<mtext style="background-color: rgba(0, 0, 255, 0.4);">AAA</mtext>
	<mtext style="background-color: rgba(0, 255, 0, 0.4);">bbb</mtext>
	<mtext style="background-color: rgba(0, 255, 0, 0.4);">ccc</mtext>
      </mmultiscripts>
    </math>

    <br><br>

    msubsup:
    <math>
      <mmultiscripts style="background: red;">
	<mtext style="background-color: rgba(0, 0, 255, 0.4);">AAA</mtext>
	<mtext style="background-color: rgba(0, 255, 0, 0.4);">bbb</mtext>
        <none/>
      </mmultiscripts>
    </math>

    <br><br>

    msup / msubsup:
    <math>
      <mmultiscripts style="background: red;">
	<mtext style="background-color: rgba(0, 0, 255, 0.4);">AAA</mtext>
        <none/>
	<mtext style="background-color: rgba(0, 255, 0, 0.4);">bbb</mtext>
      </mmultiscripts>
    </math>

    <math>
      <mmultiscripts style="background: red;">
	<mtext style="background-color: rgba(0, 0, 255, 0.4);">AAA</mtext>
        <none/>
	<mtext style="background-color: rgba(0, 255, 0, 0.4);">bbb</mtext>
      </mmultiscripts>
    </math>

    <br><br>


    mrow / msub:
    <math>
      <mrow style="background: red;">
        <mtext style="background-color: rgba(0, 0, 255, 0.4);">AAA</mtext>
      </mrow>
    </math>

    <math>
      <mrow style="background: red;">
        <mtext style="background-color: rgba(0, 0, 255, 0.4);">AAA</mtext>
      </mrow>
    </math>

    <br><br>

    msupsub:
    <math>
      <mmultiscripts style="background: red;">
        <mtext style="background-color: rgba(0, 0, 255, 0.4);">AAA</mtext>
        <none />
        <none />
      </mmultiscripts>
    </math>

</body></html>
