<!DOCTYPE html>
<head>
  <!-- See ssty-1-ref.html for an explanation of this font -->
  <style type="text/css" media="screen, print">
    @font-face {
      font-family: "sstyfont";
      src: url("ssty.woff");
    }
  </style>
</head>
<body>
  <math>
    <mstyle style="font-family: 'sstyfont';">
      <mroot>
        <mo>A</mo>
        <mo>A</mo>
      </mroot>

      <mfrac>
        <mo>A</mo>
        <mo>A</mo>
      </mfrac>

      <mfrac>
        <mfrac>
          <mo>A</mo>
          <mo>A</mo>
        </mfrac>
        <mfrac>
          <mo>A</mo>
          <mo>A</mo>
        </mfrac>
      </mfrac>

    <mfrac>
      <mroot>
        <mo>A</mo>
        <mo>A</mo>
      </mroot>
      <mo>A</mo>
    </mfrac>

    <mover>
      <mo>A</mo>
      <mover>
        <mo>A</mo>
        <mo>A</mo>
      </mover>
    </mover>

    <munder>
      <mo>A</mo>
      <munder>
        <mo>A</mo>
        <mo>A</mo>
      </munder>
    </munder>

    <munderover>
      <mo>A</mo>
      <munderover>
        <mo>A</mo>
        <mo>A</mo>
        <mo>A</mo>
      </munderover>
      <munderover>
        <mo>A</mo>
        <mo>A</mo>
        <mo>A</mo>
      </munderover>
    </munderover>

    </mstyle>
  </math>

  <p>

  <math>
    <mstyle style="font-family: 'sstyfont';" displaystyle="true">
      <mroot>
        <mo>A</mo>
        <mo>A</mo>
      </mroot>

      <mfrac>
        <mo>A</mo>
        <mo>A</mo>
      </mfrac>

      <mfrac>
        <mfrac>
          <mo>A</mo>
          <mo>A</mo>
        </mfrac>
        <mfrac>
          <mo>A</mo>
          <mo>A</mo>
        </mfrac>
      </mfrac>

    <mfrac>
      <mroot>
        <mo>A</mo>
        <mo>A</mo>
      </mroot>
      <mo>A</mo>
    </mfrac>

    <mover>
      <mo>A</mo>
      <mover>
        <mo>A</mo>
        <mo>A</mo>
      </mover>
    </mover>

    <munder>
      <mo>A</mo>
      <munder>
        <mo>A</mo>
        <mo>A</mo>
      </munder>
    </munder>

    <munderover>
      <mo>A</mo>
      <munderover>
        <mo>A</mo>
        <mo>A</mo>
        <mo>A</mo>
      </munderover>
      <munderover>
        <mo>A</mo>
        <mo>A</mo>
        <mo>A</mo>
      </munderover>
    </munderover>
    </mstyle>
  </math>

  <p>

  <math>
    <mstyle style="font-family: 'sstyfont';">

      <mover accent="true">
        <mo>A</mo>
        <mover accent="true">
          <mo>A</mo>
          <mo>A</mo>
        </mover>
      </mover>

      <munder accentunder="true">
        <mo>A</mo>
        <munder accentunder="true">
          <mo>A</mo>
          <mo>A</mo>
        </munder>
      </munder>

      <munderover accentunder="true" accent="true">
        <mo>A</mo>
        <munderover accentunder="true" accent="true">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
        <munderover accentunder="true" accent="true">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
      </munderover>

      <mover accentunder="true" accent="true">
        <mo>A</mo>
        <mover accentunder="false" accent="false">
          <mo>A</mo>
          <mo>A</mo>
        </mover>
      </mover>

      <munder accentunder="true" accent="true">
        <mo>A</mo>
        <munder accentunder="false" accent="false">
          <mo>A</mo>
          <mo>A</mo>
        </munder>
      </munder>

      <munderover accentunder="true" accent="true">
        <mo>A</mo>
        <munderover accentunder="false" accent="false">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
        <munderover accentunder="false" accent="false">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
      </munderover>

      <mover accent="false">
        <mo>A</mo>
        <mover accent="true">
          <mo>A</mo>
          <mo>A</mo>
        </mover>
      </mover>

      <munder accentunder="false">
        <mo>A</mo>
        <munder accentunder="true">
          <mo>A</mo>
          <mo>A</mo>
        </munder>
      </munder>

      <munderover accentunder="false" accent="false">
        <mo>A</mo>
        <munderover accentunder="true" accent="true">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
        <munderover accentunder="true" accent="true">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
      </munderover>

      <munderover accentunder="false" accent="true">
        <mo>A</mo>
        <munderover accentunder="false" accent="true">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
        <munderover accentunder="false" accent="true">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
      </munderover>

      <munderover accentunder="true" accent="false">
        <mo>A</mo>
        <munderover accentunder="true" accent="false">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
        <munderover accentunder="true" accent="false">
          <mo>A</mo>
          <mo>A</mo>
          <mo>A</mo>
        </munderover>
      </munderover>

    </mstyle>
  </math>

</body>
