.stp_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 12px;
  font-weight: 600;

  .stp_header_logo {
    background: url(../img/pocketlogo.svg) bottom center no-repeat;
    background-size: contain;
    height: 32px;
    width: 121px;

    @include theme_dark {
      background-image: url(../img/pocketlogo-dark.svg);
    }
  }

  .stp_button {
    margin: 0;
  }
}
