<style type="text/css">
    #container {
        height: 300px;
        width: 300px;
    }
    #box {
        height: 100px;
        width: 100px;
        background: red;
        animation: 2s anim;
    }
    @keyframes anim {
        from {
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10%, 10%, 0, 1);
        }
        to {
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 40%, 40%, 0, 1);
        }
    }

</style>
<div id=container>
    <div id=box></div>
</div>
