#!/usr/bin/perl

sub InitVars {

#initialize variables
#$binary_name = '/netscape-export';
$BinaryName = '/mozilla-export';
$BuildDepend = 1;	#depend or clobber
$BuildTree = '';
$BuildTag = '';
$BuildName = '';
#$BuildContinue = 0;
$TopLevel = 'mozilla/';
$BuildObjName = '';
$BuildSleep = 10;
$BuildUnixclasses = 0;
$EarlyExit = 1;
$BuildStartDir = 'ns/';
$BuildConfigDir = 'mozilla/config';

} #EndSub-InitVars

sub SetupEnv {

	umask(0);
	$ENV{'MOZILLA_CLIENT'} = 1;
	$ENV{'NETSCAPE_HIERARCHY'} = 1;
	$ENV{'BUILD_OFFICIAL'} = 1;
	$ENV{'NSPR20'} = 1;
	$ENV{'AWT_11'} = 1;
	$ENV{'MOZ_SECURITY'} = 1;
	$ENV{"CVSROOT"} = '/m/src';
	$ENV{"MAKE"} = 'gmake -e';
	$ENV{'MOZ_MEDIUM'} = 1;
	$ENV{'NO_MDUPDATE'} = 1;
	$ENV{'EDITOR'} = 1;

} #EndSub-SetupEnv

sub SetupPath {

    my($Path);
    $Path = $ENV{PATH};
    print "Path before: $Path\n";
    $ENV{'PATH'} = '/tools/ns/bin:/tools/contrib/bin:/usr/local/bin:/usr/sbin:/usr/bsd:/sbin:/usr/bin:/bin:/usr/bin/X11:/usr/etc:/usr/hosts:/usr/ucb:';

    # This won't work on x86 or sunos4 systems....
    if ( $OS eq 'SunOS' ) {
	$ENV{'PATH'} = '/usr/ccs/bin:/tools/ns/soft/gcc-2.6.3/run/default/sparc_sun_solaris2.4/bin:' . $ENV{'PATH'};
	$ENV{'NO_MDUPDATE'} = 1;
    }

    if ( $OS eq 'AIX' ) {
	$ENV{'PATH'} = $ENV{'PATH'} . '/usr/lpp/xlC/bin:/usr/local-aix/bin:';
    }

    $Path = $ENV{PATH};
    print "Path After: $Path\n";

} #EndSub-SetupPath


1;
