<!DOCTYPE html>
<html class="reftest-paged">
<head>
  <title>CSS Test: fieldset fragmentation</title>
  <link rel="author" title="Mats Palmgren" href="https://bugzilla.mozilla.org/show_bug.cgi?id=471015">
  <meta name="flags" content="paged">
  <style>
@page { size:5in 3in; margin:0.5in; }
html,body {
    color:black; background-color:white; font:0.5in/1 monospace; padding:0; margin:0;
}
fieldset {
  display: grid;
  grid-template-rows: repeat(3,auto);
  padding: 0;
  margin: 0;
  border: 0;
  border: 0.1in solid black;
  break-inside: avoid;
}
</style>
</head>
<body>
  X
  <fieldset><x>A</x>B<x>C</x></fieldset>
</body>
</html>
