<!DOCTYPE html>
<html class="reftest-paged">
  <meta charset="utf-8">
  <title>CSS Fragmentation Test Reference: breaking of a table-cell</title>
  <link rel="author" title="Ting-Yu Lin" href="mailto:tlin@mozilla.com">
  <link rel="author" title="Mozilla" href="https://www.mozilla.org/">

  <style>
  @page { size:5in 3in; margin:0.5in; }

  html, body {
    font-size: 12pt; margin: 0;
  }

  .td {
    width: 1in;
    background: green;
    padding: 0.25in;
    border: 0.25in solid gray;
    padding-bottom: 0;
    border-bottom: 0;
  }
  </style>

  <!-- table-cell-breaking-3a.html currently matches this reference file, but
       ideally it should match table-cell-breaking-3-ref.html  -->
  <div class="td">
    <div style="height: 1.5in; background: yellow;"></div>
  </div>
</html>
