<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US" class="reftest-paged">
<head>
<style type="text/css">
div.filler {height: 0.5in; width: 0.5in; border:thin solid blue;}
div.spacer { height: 0px; width: 0px; padding: 0.2in;border:thin solid green;}
</style>
</head>
<body>
<div class=filler></div>
<table cellspacing="0" cellpadding="0">
<caption><div class="spacer"></div></caption>
<tbody>
<tr><td><div class="spacer"></div></td></tr>
<tr><td><div class="spacer"></div></td></tr>
</tbody>
<tfoot><tr><td><div class="spacer"></div></td></tr></tfoot>
</table>
</body>
</html>
