<!DOCTYPE HTML>
<html class="reftest-paged">
<!--
This reference matches our current rendering, which isn't necessarily
correct, but I'd at least like to know about it if it changes, given how
little test coverage of this we currently have.
-->
<style>
@page { size: 5in 3in; margin: 0.5in; }
html, body { margin: 0; padding: 0; }
</style>
<div id="page1" style="border: 2px solid black; border-bottom: 0; height: 2in; box-sizing: border-box; background: yellow; padding: 3px; padding-bottom: 0; width: min-content">
  <div id="or" style="background: orange; height: calc(2in - 5px - 6px); padding: 3px;">
    <div style="background: brown; color: black;padding: 1px;">A</div>
  </div>
</div>
<div id="page2" style="border: solid black; border-width: 0 2px; background: yellow; height: 2in; box-sizing: border-box; padding: 0 3px; width: min-content">
  <div style="background: orange; height: 2in; padding: 0 3px">
    <div style="border: 1px solid fuchsia; background: aqua; height: calc(2in - 1px); border-bottom: none; color: transparent">A</div>
  </div>
</div>
