[rstcheck]
# Suppress some rstcheck messages. Unfortunately there isn't a better way to do
# this. See: https://github.com/myint/rstcheck#ignore-specific-errors
#
# Duplicate explicit target name: "[0-9]+"
#   => Allow duplicate out-of-line definitions of links to bugs, like:
#      .. _1689365: https://bugzilla.mozilla.org/show_bug.cgi?id=1689365
#      That way if a bug is referenced in more than one section, you can define
#      it in every section it's used, which might be saner than making sure it's
#      defined in only one place.
# Enumerated list start value not ordinal-1: "0"
#   => Allow numbered lists to start at 0.
ignore_messages=(Duplicate explicit target name: "[0-9]+"|Enumerated list start value not ordinal-1: "0")
