<!DOCTYPE html>
<html><head>
<style>
    .first {
        transform: translateZ(10px);
        background-color: red;
        opacity: 0.5;
    }
    .second {
        transform: translateZ(5px);
        background-color: yellow;
        top: 28px;
    }
    .third {
        background-color: green;
        top: 48px;
        opacity: 0.5;
    }
    .fourth {
        background-color: blue;
        top: 68px;
    }
    .leaf {
        width: 100px;
        height: 100px;
        position:absolute;
    }
</style>
</head><body>

<div class="leaf first"></div>
<div class="leaf second"></div>
<div class="leaf third"></div>
<div class="leaf fourth"></div>

</body>
</html>

