<html>
<head>
  <style type="text/css">
    #container {
      position: relative;
      height: 300px;
      width: 300px;
      margin: 50px 100px;
      border: 2px solid blue;
      
      -moz-perspective: 500px;
      opacity: 0.9999;
  }

  #parent {
      margin: 10px;
      width: 280px;
      height: 280px;
      background-color: #844BCA;
      
      -moz-transform: rotateY(40deg);
  }
    
  </style>
</head>
<body>

  <div id="container">
    <div id="parent">
    </div>
  </div>

</body>
</html>
