---
---

@import "minima";

@font-face {
    font-display: swap;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/ZillaSlab-Bold.woff2") format("woff2");
}

.wrapper {
    max-width: -webkit-calc(1024px - (30px * 2));
    max-width: calc(1024px - (30px * 2));
}

.site-title {
    font-weight: 700;
    font-family: 'Zilla Slab', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Zilla Slab', sans-serif;
}
