#include <os2.h>
#include "setuprsc.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLGTEMPLATE DLG_WELCOME DISCARDABLE  
BEGIN
  DIALOG "", DLG_WELCOME, 0, 0, 600, 336,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    CONTROL            108,     IDC_MOZILLA,    12,   64,   1,   1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    LTEXT               "",     IDC_STATIC0,    145,  66, 445, 260, DT_WORDBREAK | DT_TOP
    CONTROL             "",     IDC_STATIC3,     10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL             "",     IDC_STATIC,      10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    DEFPUSHBUTTON       "",     IDWIZNEXT,      380,  10, 100,  30
    PUSHBUTTON          "",     DID_CANCEL,     490,  10, 100,  30
  END
END

DLGTEMPLATE DLG_LICENSE DISCARDABLE  
BEGIN
  DIALOG "", DLG_LICENSE, 0, 0, 600, 336,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST 
  BEGIN
    LTEXT         "", IDC_MESSAGE0,      10, 294, 580,  32, DT_WORDBREAK
    MLE           "", IDC_EDIT_LICENSE,  10, 104, 580, 180, WS_GROUP | MLS_READONLY | MLS_VSCROLL | MLS_WORDWRAP
    LTEXT         "", IDC_MESSAGE1,      10,  62, 580,  32, DT_WORDBREAK
    CONTROL       "", IDC_STATIC,        10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON    "", IDWIZBACK,        270,  10, 100,  30, WS_GROUP
    DEFPUSHBUTTON "", IDWIZNEXT,        380,  10, 100,  30
    PUSHBUTTON    "", DID_CANCEL,       490,  10, 100,  30
  END
END


DLGTEMPLATE DLG_SETUP_TYPE DISCARDABLE  
BEGIN
  DIALOG "", DLG_SETUP_TYPE, 0, 0, 600, 336
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST 
  BEGIN
    LTEXT           "", IDC_STATIC_MSG0, 145, 294, 445,  32, SS_TEXT | DT_WORDBREAK
    AUTORADIOBUTTON "", IDC_RADIO_ST0, 145, 260,  150,  32, WS_VISIBLE
    AUTORADIOBUTTON "", IDC_RADIO_ST1, 145, 218,  150,  32, WS_VISIBLE
    AUTORADIOBUTTON "", IDC_RADIO_ST2, 145, 176,  150,  32, WS_VISIBLE
    AUTORADIOBUTTON "", IDC_RADIO_ST3, 145, 120,  150,  32, WS_VISIBLE
    LTEXT           "", IDC_STATIC_ST0_DESCRIPTION, 305, 252, 285,  32, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT           "", IDC_STATIC_ST1_DESCRIPTION, 305, 210, 285,  32, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT           "", IDC_STATIC_ST2_DESCRIPTION, 305, 168, 285,  32, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT           "", IDC_STATIC_ST3_DESCRIPTION, 305,  66, 285,  48, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX        "", IDC_DESTINATION, 145,  62, 445,  60, DT_MNEMONIC
    LTEXT           "", IDC_EDIT_DESTINATION, 155,  72, 300,   30, DT_VCENTER
    PUSHBUTTON      "", IDC_BUTTON_BROWSE, 480,  72,  100,  30
    CONTROL         108,            IDC_MOZILLA,  12,  64, 1, 1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL             "",     IDC_STATIC3,     10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL         "", IDC_STATIC,        10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON      "", IDC_README,  10,   10, 100,  30
    PUSHBUTTON      "", IDWIZBACK,        270,  10, 100,  30, WS_GROUP
    DEFPUSHBUTTON   "", IDWIZNEXT,        380,  10, 100,  30
    PUSHBUTTON      "", DID_CANCEL,       490,  10, 100,  30
  END
END

DLGTEMPLATE DLG_SELECT_COMPONENTS DISCARDABLE  
BEGIN
  DIALOG "", DLG_SELECT_COMPONENTS, 0, 0, 600, 336
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    CONTROL       108,            IDC_STATIC,  12,  64, 1, 1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    LTEXT         "", IDC_MESSAGE0, 145, 294, 445,  32, DT_WORDBREAK
    LTEXT         "", IDC_STATIC1, 145, 268, 445, 16, DT_MNEMONIC | WS_GROUP
    LISTBOX           IDC_LIST_COMPONENTS, 145, 180, 445,  80, LS_OWNERDRAW | LS_NOADJUSTPOS | WS_GROUP | WS_TABSTOP
    GROUPBOX      "", IDC_STATIC2, 145,  120, 445,  50
    LTEXT         "", IDC_STATIC_DESCRIPTION, 155,  124, 295, 32, DT_VCENTER
    GROUPBOX      "", IDC_STATIC, 145,  62, 445,  56
    LTEXT         "", IDC_STATIC3, 155,  88, 250,   16
    LTEXT         "", IDC_STATIC4, 430,  88, 118,   16
    LTEXT         "", IDC_DOWNLOAD_SIZE, 155,  66, 118,   16
    LTEXT         "", IDC_SPACE_AVAILABLE, 430,  66, 118,  16
    CONTROL       "", IDC_STATIC3,     10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL       "", IDC_STATIC,        10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON    "", IDWIZBACK,        270,  10, 100,  30, WS_GROUP
    DEFPUSHBUTTON "", IDWIZNEXT,        380,  10, 100,  30
    PUSHBUTTON    "", DID_CANCEL,       490,  10, 100,  30
  END
END

DLGTEMPLATE DLG_SELECT_ADDITIONAL_COMPONENTS DISCARDABLE  
BEGIN
  DIALOG "", DLG_SELECT_ADDITIONAL_COMPONENTS, 0, 0, 600, 336
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    CONTROL       108,            IDC_STATIC,  12,  64, 1, 1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    LTEXT         "", IDC_MESSAGE0, 145, 294, 445,  32, DT_WORDBREAK
    LTEXT         "", IDC_STATIC1, 145, 268, 445, 16, DT_MNEMONIC | WS_GROUP
    LISTBOX           IDC_LIST_COMPONENTS, 145, 180, 445,  80, LS_OWNERDRAW | LS_NOADJUSTPOS | WS_GROUP | WS_TABSTOP
    GROUPBOX      "", IDC_STATIC2, 145,  120, 445,  50
    LTEXT         "", IDC_STATIC_DESCRIPTION, 155,  124, 295, 32, DT_VCENTER
    GROUPBOX      "", IDC_STATIC, 145,  62, 445,  56
    LTEXT         "", IDC_STATIC3, 155,  88, 250,   16
    LTEXT         "", IDC_STATIC4, 430,  88, 118,   16
    LTEXT         "", IDC_DOWNLOAD_SIZE, 155,  66, 118,   16
    LTEXT         "", IDC_SPACE_AVAILABLE, 430,  66, 118,  16
    CONTROL       "", IDC_STATIC3,     10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL       "", IDC_STATIC,        10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON    "", IDWIZBACK,        270,  10, 100,  30, WS_GROUP
    DEFPUSHBUTTON "", IDWIZNEXT,        380,  10, 100,  30
    PUSHBUTTON    "", DID_CANCEL,       490,  10, 100,  30
  END
END

DLGTEMPLATE DLG_OS2_INTEGRATION DISCARDABLE  
BEGIN
  DIALOG "", DLG_OS2_INTEGRATION, 0, 0, 600, 336
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
//    LTEXT       "",         IDC_MESSAGE1, 127,  34, 257,  54, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
//    LTEXT         "",       IDC_MESSAGE0, 127, 177, 255,  17, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    AUTOCHECKBOX  "", IDC_CHECK0,           145, 294, 445,  32, WS_TABSTOP
    AUTOCHECKBOX  "", IDC_CHECK1,           145, 252, 445,  32, WS_TABSTOP
#ifdef OLDCODE
    AUTOCHECKBOX  "", IDC_CHECK2,           145, 210, 445,  32, WS_TABSTOP
    GROUPBOX      "", IDC_DESTINATION,      145,  62, 445,  60, DT_MNEMONIC
    LTEXT         "", IDC_EDIT_DESTINATION, 155,  72, 200,  30, DT_VCENTER
    PUSHBUTTON    "", IDC_BUTTON_BROWSE,    370,  72,  80,  30
#endif
    CONTROL      108, IDC_MOZILLA,           12,  64,   1,   1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "", IDC_STATIC3,           10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL       "", IDC_STATIC,            10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON    "", IDWIZBACK,            270,  10, 100,  30, WS_GROUP
    DEFPUSHBUTTON "", IDWIZNEXT,            380,  10, 100,  30
    PUSHBUTTON    "", DID_CANCEL,           490,  10, 100,  30
  END
END

#if 0 /* Not used right now */
DLGTEMPLATE DLG_QUICK_LAUNCH DISCARDABLE  
BEGIN
  DIALOG "", DLG_QUICK_LAUNCH, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    CONTROL       "",   IDC_CHECK_TURBO_MODE, 127,  39, 255,   9, WC_BUTTON, BS_AUTOCHECKBOX | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE0, 127, 173, 255,  18, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE1, 127, 135, 255,  20, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE2, 127,  60, 255,  18, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       115,            IDC_STATIC, 128, 109,  25,  20, WC_STATIC, SS_BITMAP | WS_VISIBLE
  END
END
#endif

DLGTEMPLATE DLG_ADDITIONAL_OPTIONS DISCARDABLE  
BEGIN
  DIALOG "", DLG_ADDITIONAL_OPTIONS, 0, 0, 600, 336,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
#ifdef OLDCODE
    LTEXT         "",                   IDC_MESSAGE0, 125,  96, 255,  33, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CHECKBOX      "",   IDC_CHECK_RECAPTURE_HOMEPAGE,125,141,253, 8, WS_TABSTOP
#endif
    LTEXT         "",                   IDC_MESSAGE1, 145, 246, 445,  80, SS_TEXT | DT_WORDBREAK
    AUTOCHECKBOX  "", IDC_CHECK_SAVE_INSTALLER_FILES, 145, 220, 445,  18, WS_GROUP
    ENTRYFIELD    "",  IDC_EDIT_LOCAL_INSTALLER_PATH, 145, 188, 445,  22, WS_GROUP | NOT WS_TABSTOP | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY
    PUSHBUTTON    "",      IDC_BUTTON_PROXY_SETTINGS, 340,  62, 120,  30, WS_GROUP
    CONTROL      108,                    IDC_MOZILLA,  12,  64,   1,   1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",                     IDC_STATIC,  10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL       "",                     IDC_STATIC,  10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON    "",                      IDWIZBACK, 270,  10, 100,  30, WS_GROUP
    DEFPUSHBUTTON "",                      IDWIZNEXT, 380,  10, 100,  30
    PUSHBUTTON    "",                     DID_CANCEL, 490,  10, 100,  30
  END
END

DLGTEMPLATE DLG_ADVANCED_SETTINGS DISCARDABLE  
BEGIN
  DIALOG "", DLG_ADVANCED_SETTINGS, 0, 0, 600, 336,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    LTEXT           "",          IDC_MESSAGE0, 145, 262, 315,  64, DT_WORDBREAK
    GROUPBOX        "",            IDC_STATIC, 145, 124, 315, 134
    RTEXT           "",           IDC_STATIC1, 150, 220,  96,  22, DT_MNEMONIC | DT_VCENTER
    ENTRYFIELD      "", IDC_EDIT_PROXY_SERVER, 260, 220, 192,  22, ES_AUTOSCROLL | ES_MARGIN
    RTEXT           "",           IDC_STATIC2, 150, 194,  96,  22, DT_MNEMONIC | DT_VCENTER
    ENTRYFIELD      "",   IDC_EDIT_PROXY_PORT, 260, 194, 192,  22, ES_AUTOSCROLL | ES_MARGIN
    RTEXT           "",           IDC_STATIC3, 150, 158, 100,  22, DT_MNEMONIC | DT_VCENTER
    ENTRYFIELD      "",   IDC_EDIT_PROXY_USER, 260, 158, 192,  22, ES_AUTOSCROLL | ES_MARGIN
    RTEXT           "",           IDC_STATIC4, 150, 132, 100,  22, DT_MNEMONIC | DT_VCENTER
    ENTRYFIELD      "", IDC_EDIT_PROXY_PASSWD, 260, 132, 192,  22, ES_AUTOSCROLL | ES_UNREADABLE | ES_MARGIN
    AUTORADIOBUTTON "",           IDC_USE_FTP, 145, 90,  315,  18, WS_TABSTOP | WS_GROUP | WS_VISIBLE
    AUTORADIOBUTTON "",          IDC_USE_HTTP, 145, 62,  315,  18, WS_VISIBLE

    CONTROL            108,     IDC_MOZILLA,    12,   64,    1,   1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL             "",     IDC_STATIC3,     10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL       "", IDC_STATIC,       270,  50, 450,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    DEFPUSHBUTTON "", IDWIZNEXT,        380,  10, 100,  30, WS_GROUP
    PUSHBUTTON    "", DID_CANCEL,       490,  10, 100,  30
  END
END

DLGTEMPLATE DLG_RESTART FIXED
BEGIN
  DIALOG "", DLG_RESTART, 167, 12, 319, 111,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    LTEXT         "",                    202,  13,  65, 295,  36, SS_TEXT | DT_WORDBREAK
    CONTROL       "",          IDC_RADIO_YES,  33,  47, 275,  12, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",           IDC_RADIO_NO,  33,  31, 279,  12, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    DEFPUSHBUTTON "",                 DID_OK, 237,   9,  63,  14, WS_GROUP
  END
END

DLGTEMPLATE DLG_MESSAGE DISCARDABLE  
BEGIN
  DIALOG "", DLG_MESSAGE, 0, 0, 100, 32,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    CTEXT         "",            IDC_MESSAGE,   0,   0, 90,  32, SS_TEXT | DT_VCENTER
  END
END

DLGTEMPLATE DLG_EXTRACTING DISCARDABLE  
BEGIN
  DIALOG "", DLG_EXTRACTING, 0, 0, 488, 166,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    CONTROL      114,       IDC_STATIC,   10, 102,   1,  1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    LTEXT       "",            IDC_STATUS0,  10,  76, 468,   16
    LTEXT       "",            IDC_STATUS3,  10,  50, 468,   16
    SLIDER        IDC_GAUGE_ARCHIVE, 10, 10, 468, 20, SLS_RIBBONSTRIP | SLS_READONLY
                  CTLDATA 12, 0, 100, 0, 0, 0
  END
END

DLGTEMPLATE DLG_UPGRADE DISCARDABLE  
BEGIN
  DIALOG "", DLG_UPGRADE, 64, -30, 388, 166,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    LTEXT         "",           IDC_MESSAGE0,  22, 122, 345,  31, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE1,  22,  97, 345,  21, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE2,  22,  72, 345,  21, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",             IDC_STATIC,  20,  39, 345,  25, DT_MNEMONIC
    LTEXT         "",        IDC_DELETE_PATH,  28,  42, 330,  13, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    PUSHBUTTON    "",              ID_DELETE, 119,  13,  67,  14
    DEFPUSHBUTTON "",              IDWIZBACK, 203,  13,  67,  14
  END
END



DLGTEMPLATE DLG_DOWNLOADING DISCARDABLE  
BEGIN
  DIALOG "", DLG_DOWNLOADING, 0, 0, 488, 306,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST | FCF_MINBUTTON
  BEGIN
    CONTROL      114,       IDC_STATIC,   10, 242,   1,  1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    LTEXT         "",      IDC_MESSAGE0,  10, 184, 468,  48, DT_WORDBREAK
    LTEXT         "",       IDC_STATIC1,  10, 158, 100,  16
    LTEXT         "",   IDC_STATUS_FILE, 110, 158, 368,  16
    LTEXT         "",       IDC_STATIC2,  10, 132, 100,  16
    LTEXT         "",    IDC_STATUS_URL, 110, 132, 368,  16
    LTEXT         "",       IDC_STATIC3,  10, 106, 100,  16
    LTEXT         "",     IDC_STATUS_TO, 110, 106, 368,  16
    LTEXT         "",       IDC_STATIC4,  10,  80, 100,  16
    LTEXT         "", IDC_STATUS_STATUS, 110,  80, 368,  16
    SLIDER               IDC_GAUGE_FILE,  10,  50, 438,  20, SLS_RIBBONSTRIP | SLS_READONLY
                                        CTLDATA 12, 0, 100, 0, 0, 0
    LTEXT         "",    IDC_PERCENTAGE, 448,  50,  30,  20, DT_VCENTER
    DEFPUSHBUTTON "",           IDPAUSE, 208,  10,  80,  30, WS_GROUP
    PUSHBUTTON    "",          IDRESUME, 298,  10,  80,  30
    PUSHBUTTON    "",        DID_CANCEL, 398,  10,  80,  30
  END
END

DLGTEMPLATE DLG_START_INSTALL DISCARDABLE  
BEGIN
  DIALOG "", DLG_START_INSTALL, 0, 0, 600, 336,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    LTEXT         "",         IDC_MESSAGE0, 145, 230, 445,  96, SS_TEXT | DT_WORDBREAK
    MLE           "", IDC_CURRENT_SETTINGS, 145,  62, 445, 158, MLS_WORDWRAP | MLS_READONLY | MLS_VSCROLL | MLS_HSCROLL
    CONTROL      108,           IDC_STATIC,  12,  64,   1,   1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",          IDC_STATIC3,  10,  62, 125, 264, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    CONTROL       "",           IDC_STATIC,  10,  50, 580,   2, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON    "",            IDWIZBACK, 250,  10, 100,  30, WS_GROUP
    DEFPUSHBUTTON "",            IDWIZNEXT, 360,  10, 120,  30
    PUSHBUTTON    "",           DID_CANCEL, 490,  10, 100,  30
  END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ICON IDI_SETUP DISCARDABLE "setup.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

BITMAP        IDB_BOX_UNCHECKED  DISCARDABLE "box_unch.bmp"
BITMAP          IDB_BOX_CHECKED  DISCARDABLE "box_chec.bmp"
BITMAP       IDB_BITMAP_WELCOME  DISCARDABLE "bitmap1.bmp"
BITMAP IDB_BOX_CHECKED_DISABLED  DISCARDABLE "box_ch_d.bmp"
BITMAP IDB_BITMAP_DOWNLOAD_LOGO  DISCARDABLE "downloadLogo.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_FILE_NOT_FOUND "File not found: %s"
    IDS_ERROR_NO_LONG_FILENAMES "You must have at least one drive that supports long filenames to install this product."
    IDS_MSG_RETRIEVE_INSTALLINI "Please wait while Setup is attempting to retrieve install.ini, required by Setup, from the Web..."
END

/////////////////////////////////////////////////////////////////////////////

