#include "setuprsc.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLGTEMPLATE DLG_WELCOME DISCARDABLE  
BEGIN
  DIALOG "", DLG_WELCOME,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LTEXT         "",            IDC_STATIC0,  95, 129, 190,  30, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC1,  96,  94, 189,  30, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC2,  96,  59, 189,  30, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_SETUP_TYPE DISCARDABLE 
BEGIN
  DIALOG "", DLG_SETUP_TYPE,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    CONTROL       "",          IDC_RADIO_ST0,  96, 135,  62,  10, WC_BUTTON, BS_AUTORADIOBUTTON | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",          IDC_RADIO_ST1,  96, 112,  62,  10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",          IDC_RADIO_ST2,  96,  90,  60,  10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",          IDC_RADIO_ST3,  96,  67,  60,  10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    LTEXT         "",IDC_STATIC_ST0_DESCRIPTION, 164, 123, 119,  20, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",IDC_STATIC_ST1_DESCRIPTION, 164, 100, 119,  20, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",IDC_STATIC_ST2_DESCRIPTION, 164,  78, 119,  20, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",IDC_STATIC_ST3_DESCRIPTION, 164,  54, 119,  21, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",        IDC_DESTINATION,  95,  25, 191,  22, DT_MNEMONIC
    CONTROL       "",   IDC_EDIT_DESTINATION, 101,  30, 134,   7, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | DT_MNEMONIC | WS_VISIBLE
    PUSHBUTTON    "",      IDC_BUTTON_BROWSE, 239,  29,  44,  12,
    PUSHBUTTON    "",             IDC_README,  11,   4,  78,  12,
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LTEXT         "",        IDC_STATIC_MSG0,  95, 145, 191,  14, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_SELECT_COMPONENTS DISCARDABLE  
BEGIN
  DIALOG "", DLG_SELECT_COMPONENTS,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LISTBOX              IDC_LIST_COMPONENTS, 127,  96, 255,  67, LS_OWNERDRAW | LS_NOADJUSTPOS | WS_GROUP | WS_TABSTOP
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    LTEXT         "",           IDC_MESSAGE0,  95, 145, 191,  16, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC1,  95, 136,  97,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",            IDC_STATIC2,  95,  56, 191,  18, DT_MNEMONIC
    LTEXT         "", IDC_STATIC_DESCRIPTION, 100,  60, 183,   7, SS_TEXT | DT_WORDBREAK
    GROUPBOX      "",             IDC_STATIC,  95,  26, 191,  27, DT_MNEMONIC
    LTEXT         "",      IDC_DOWNLOAD_SIZE,  99,  30,  86,   7, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",    IDC_SPACE_AVAILABLE, 194,  30,  89,   7, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    LTEXT         "",             IDC_STATIC, 189, 136,  97,   7, 0 | WS_EX_RIGHT | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC3,  99,  39,  86,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC4, 194,  39,  89,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    END
  END
END

DLGTEMPLATE DLG_WINDOWS_INTEGRATION DISCARDABLE  
BEGIN
  DIALOG "", DLG_WINDOWS_INTEGRATION,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    CONTROL       "",             IDC_CHECK0,  95, 128, 193,  14, WC_BUTTON, BS_AUTOCHECKBOX | BS_TOP | 
                    BS_MULTILINE | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",             IDC_CHECK1,  95, 111, 193,  14, WC_BUTTON, BS_AUTOCHECKBOX | BS_TOP | 
                    BS_MULTILINE | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",             IDC_CHECK2,  95,  94, 193,  14, WC_BUTTON, BS_AUTOCHECKBOX | BS_TOP | 
                    BS_MULTILINE | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",             IDC_CHECK3,  95,  77, 193,  14, WC_BUTTON, BS_AUTOCHECKBOX | BS_TOP | 
                    BS_MULTILINE | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    LTEXT         "",           IDC_MESSAGE1,  95,  28, 193,  44, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LTEXT         "",           IDC_MESSAGE0,  95, 145, 191,  14, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,             IDC_PICT0,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",            IDC_STATIC0,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_PROGRAM_FOLDER DISCARDABLE  
BEGIN
  DIALOG "", DLG_PROGRAM_FOLDER,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    ENTRYFIELD    "",IDC_EDIT_PROGRAM_FOLDER,  97, 107, 188,   7, ES_AUTOSCROLL | ES_MARGIN
    LISTBOX                         IDC_LIST, 127,  32, 255,  79, LS_NOADJUSTPOS | WS_TABSTOP
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LTEXT         "",           IDC_MESSAGE0,  95, 132, 191,  27, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC1,  95, 117,  99,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC2,  95,  93, 153,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_LICENSE DISCARDABLE  
BEGIN
  DIALOG "", DLG_LICENSE,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    MLE           "",       IDC_EDIT_LICENSE,  11,  47, 277,  98, WS_GROUP | MLS_WORDWRAP | MLS_READONLY | MLS_VSCROLL
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    LTEXT         "",           IDC_MESSAGE0,  11, 148, 277,  14, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE1,  11,  28, 277,  16, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       "",                     -1,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_START_INSTALL DISCARDABLE  
BEGIN
  DIALOG "", DLG_START_INSTALL,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    MLE           "",   IDC_CURRENT_SETTINGS,  95,  26, 191,  87, MLS_WORDWRAP | MLS_READONLY | MLS_VSCROLL | MLS_HSCROLL
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LTEXT         "",           IDC_MESSAGE0,  95, 117, 191,  43, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_BROWSE_DIR DISCARDABLE  
BEGIN
  DIALOG "", DLG_BROWSE_DIR, 138, 116, 179, 117,
  FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    ENTRYFIELD    "",   IDC_EDIT_DESTINATION,   8,  94, 167,  10, WS_EX_CLIENTEDGE | ES_AUTOSCROLL
    LISTBOX                             1121,  10,  38, 150,  68, LS_OWNERDRAW | WS_TABSTOP
    COMBOBOX      "",                   1137,   8, -35, 114,  56, CBS_DROPDOWNLIST | WS_TABSTOP
    DEFPUSHBUTTON "",                      1, 127,  71,  47,  12, WS_GROUP
    PUSHBUTTON    "",             DID_CANCEL, 127,  54,  47,  12, WS_GROUP
    LTEXT         "",                   1092,   8, 105,  86,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",                   1091,   8,  21,  86,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
  END
END

DLGTEMPLATE DLG_RESTART FIXED IMPURE  
BEGIN
  DIALOG "", DLG_RESTART, 125, 104, 239,  91,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    LTEXT         "",                    202,  10,  53, 221,  30, SS_TEXT | DT_WORDBREAK
    CONTROL       "",          IDC_RADIO_YES,  25,  39, 206,  10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",           IDC_RADIO_NO,  25,  25, 209,  10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    DEFPUSHBUTTON "",                 DID_OK, 178,   7,  47,  12, WS_GROUP
    END
  END
END

DLGTEMPLATE DLG_MESSAGE DISCARDABLE  
BEGIN
  DIALOG "", DLG_MESSAGE,   0, 224, 221,  28,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    CTEXT         "",            IDC_MESSAGE,   0,   0, 221,  28, SS_CENTERIMAGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    END
  END
END

DLGTEMPLATE DLG_EXTRACTING DISCARDABLE  
BEGIN
  DIALOG "", DLG_EXTRACTING,   0, 126, 293, 127,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    CONTROL       "",         IDC_GAUGE_FILE,  11,  27, 269,   9, "GaugeFile", 0x0 | WS_VISIBLE
    CONTROL       "",            IDC_STATUS0,  11,  67, 269,   7, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    CONTROL       "",            IDC_STATUS3,  11,  39, 269,   7, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    CONTROL       "",      IDC_GAUGE_ARCHIVE,  11,  54, 269,   9, "GaugeArchive", 0x0 | WS_VISIBLE
    CONTROL       114,            IDC_STATIC,   0, 120, 390,  34, WC_STATIC, SS_BITMAP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_ADVANCED_SETTINGS DISCARDABLE  
BEGIN
  DIALOG "", DLG_ADVANCED_SETTINGS,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    ENTRYFIELD    "",  IDC_EDIT_PROXY_SERVER, 157, 113, 123,   7, ES_AUTOSCROLL | ES_MARGIN
    ENTRYFIELD    "",    IDC_EDIT_PROXY_PORT, 157,  99, 123,   7, ES_AUTOSCROLL | ES_MARGIN
    ENTRYFIELD    "",    IDC_EDIT_PROXY_USER, 157,  76, 123,   7, ES_AUTOSCROLL | ES_MARGIN
    ENTRYFIELD    "",  IDC_EDIT_PROXY_PASSWD, 157,  62, 123,   7, ES_AUTOSCROLL | ES_UNREADABLE | ES_MARGIN
    CONTROL       "",            IDC_USE_FTP,  95,  39, 193,   7, WC_BUTTON, BS_AUTORADIOBUTTON | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",           IDC_USE_HTTP,  95,  29, 193,   7, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    RTEXT         "",            IDC_STATIC1, 101, 113,  49,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    RTEXT         "",            IDC_STATIC2, 101,  99,  49,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",             IDC_STATIC,  95,  55, 194,  77, DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE0,  95, 136, 191,  24, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    RTEXT         "",            IDC_STATIC3, 101,  77,  49,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    RTEXT         "",            IDC_STATIC4, 101,  62,  49,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    END
  END
END

DLGTEMPLATE DLG_SELECT_ADDITIONAL_COMPONENTS DISCARDABLE  
BEGIN
  DIALOG "", DLG_SELECT_ADDITIONAL_COMPONENTS,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LTEXT         "",           IDC_MESSAGE0,  95, 145, 191,  16, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC1,  95, 136, 118,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",            IDC_STATIC2,  95,  56, 191,  18, DT_MNEMONIC
    LTEXT         "", IDC_STATIC_DESCRIPTION, 100,  60, 183,   7, SS_TEXT | DT_WORDBREAK
    GROUPBOX      "",             IDC_STATIC,  95,  26, 191,  27, DT_MNEMONIC
    LTEXT         "",      IDC_DOWNLOAD_SIZE,  99,  30,  86,   7, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",    IDC_SPACE_AVAILABLE, 194,  30,  89,   7, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    LISTBOX              IDC_LIST_COMPONENTS, 127,  96, 255,  67, LS_OWNERDRAW | LS_NOADJUSTPOS | WS_GROUP | WS_TABSTOP
    LTEXT         "",             IDC_STATIC, 227, 136,  59,   7, 0 | WS_EX_RIGHT | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC3,  99,  39,  86,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC4, 194,  39,  89,   7, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    END
  END
END

DLGTEMPLATE DLG_UPGRADE DISCARDABLE  
BEGIN
  DIALOG "", DLG_UPGRADE,  48,  70, 291, 136,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_NOMOVEWITHOWNER
  BEGIN
    LTEXT         "",           IDC_MESSAGE0,  17, 100, 259,  25, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE1,  17,  80, 259,  17, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE2,  17,  59, 259,  17, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",             IDC_STATIC,  15,  32, 259,  21, DT_MNEMONIC
    LTEXT         "",        IDC_DELETE_PATH,  21,  35, 248,  11, SS_CENTERIMAGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    PUSHBUTTON    "",              ID_DELETE,  89,  11,  50,  12,
    DEFPUSHBUTTON "",              IDWIZBACK, 152,  11,  50,  12,
  END
END

DLGTEMPLATE DLG_DOWNLOAD_OPTIONS DISCARDABLE  
BEGIN
  DIALOG "", DLG_DOWNLOAD_OPTIONS,  48,  38, 296, 168,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    CONTROL       "",IDC_CHECK_SAVE_INSTALLER_FILES,  95, 122, 191,   7,WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    ENTRYFIELD    "",IDC_EDIT_LOCAL_INSTALLER_PATH,  97, 109, 188,   7, ES_AUTOSCROLL | ES_READONLY | ES_MARGIN
    LTEXT         "",           IDC_MESSAGE0,  95,  78, 191,  21, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    COMBOBOX      "", IDC_LIST_SITE_SELECTOR,  95, -26, 191, 102, CBS_DROPDOWNLIST | WS_TABSTOP
    PUSHBUTTON    "",IDC_BUTTON_PROXY_SETTINGS, 208,  26,  79,  12,
    PUSHBUTTON    "",              IDWIZBACK, 126,   4,  50,  12,
    DEFPUSHBUTTON "",              IDWIZNEXT, 176,   4,  50,  12,
    PUSHBUTTON    "",             DID_CANCEL, 236,   4,  50,  12,
    LTEXT         "",           IDC_MESSAGE1,  95, 132, 191,  27, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,                    -1,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_EX_CLIENTEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",                     -1,  11,  21, 277,   1, WC_STATIC, SS_ETCHEDHORZ | WS_EX_STATICEDGE | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    END
  END
END

DLGTEMPLATE DLG_DOWNLOADING DISCARDABLE  
BEGIN
  DIALOG "", DLG_DOWNLOADING,   0, 126, 293, 127,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_NOMOVEWITHOWNER
  BEGIN
    WINDOW "", FID_CLIENT, 0, 0, 0, 0, "MozillaSetupDlg", WS_VISIBLE
    BEGIN
    DEFPUSHBUTTON "",                IDPAUSE, 128,   5,  47,  12, WS_GROUP
    PUSHBUTTON    "",               IDRESUME, 176,   5,  47,  12, WS_GROUP
    PUSHBUTTON    "",             DID_CANCEL, 236,   5,  47,  12, WS_GROUP
    LTEXT         "",           IDC_MESSAGE0,   9,  76, 275,  19, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC3,   9,  53,  35,   7, SS_TEXT | DT_WORDBREAK
    CONTROL       "",         IDC_STATUS_URL,  47,  53, 238,   7, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    LTEXT         "",            IDC_STATIC1,   9,  37,  35,   7, SS_TEXT | DT_WORDBREAK
    CONTROL       "",      IDC_STATUS_STATUS,  47,  37, 238,   7, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    LTEXT         "",            IDC_STATIC2,   9,  61,  35,   7, SS_TEXT | DT_WORDBREAK
    CONTROL       "",        IDC_STATUS_FILE,  47,  61, 238,   7, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    CONTROL       "",         IDC_GAUGE_FILE,   9,  24, 254,   9, "GaugeFile", 0x0 | WS_VISIBLE
    LTEXT         "",         IDC_PERCENTAGE, 266,  25,  19,   7, SS_TEXT | DT_WORDBREAK
    CONTROL       114,            IDC_STATIC,   0, 120, 390,  34, WC_STATIC, SS_BITMAP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    LTEXT         "",            IDC_STATIC4,   9,  45,  35,   7, SS_TEXT | DT_WORDBREAK
    CONTROL       "",          IDC_STATUS_TO,  47,  45, 238,   7, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    END
  END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ICON               IDI_SETUP    DISCARDABLE     "setup.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

BITMAP       IDB_BOX_UNCHECKED  FIXED IMPURE    "box_unch.bmp"
BITMAP         IDB_BOX_CHECKED  FIXED IMPURE    "box_chec.bmp"
BITMAP      IDB_BITMAP_WELCOME  DISCARDABLE     "bitmap1.bmp"
BITMAP IDB_BOX_CHECKED_DISABLED  FIXED IMPURE    "box_ch_d.bmp"
BITMAP IDB_BITMAP_DOWNLOAD_LOGO  DISCARDABLE     "downloadLogo.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_FILE_NOT_FOUND "File not found: %s"
    IDS_MSG_RETRIEVE_INSTALLINI 
                            "Please wait while Setup is attempting to retrieve Installer.ini, required by Setup, from the Web..."
END

