#include <os2.h>
#include "setuprsc.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLGTEMPLATE DLG_WELCOME DISCARDABLE  
BEGIN
  DIALOG "", DLG_WELCOME, 0, 0, 313, 167,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST
  BEGIN
    CONTROL             "",     IDC_STATIC,     5,   24,  303,   1, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    CONTROL            108,     IDC_MOZILLA,    7,   32,    1,   1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    LTEXT               "",     IDC_STATIC0,    96,  139, 212,  24, DT_WORDBREAK
    LTEXT               "",     IDC_STATIC1,    96,  109, 212,  24, DT_WORDBREAK
    LTEXT               "",     IDC_STATIC2,    96,   79, 212,  24, DT_WORDBREAK
    CONTROL             "",     IDC_STATIC3,    5,    31,  83, 132, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    DEFPUSHBUTTON       "",     IDWIZNEXT,      200,   4,  50,  14
    PUSHBUTTON          "",     DID_CANCEL,     258,   4,  50,  14
  END
END

DLGTEMPLATE DLG_LICENSE DISCARDABLE  
BEGIN
  DIALOG "", DLG_LICENSE, 0, 0, 313, 167,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST 
  BEGIN
    LTEXT               "",     IDC_MESSAGE0,     5, 147, 303,  16, DT_WORDBREAK
    MLE                 "",     IDC_EDIT_LICENSE, 5,  61, 303,  80, WS_GROUP | MLS_READONLY | MLS_VSCROLL | MLS_HSCROLL
    LTEXT               "",     IDC_MESSAGE1,     5,  31, 303,  24, DT_WORDBREAK
    CONTROL             "",     IDC_STATIC,       5,  24, 303,   1, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    PUSHBUTTON          "",     IDWIZBACK,      142,   4,  50,  14, WS_GROUP
    DEFPUSHBUTTON       "",     IDWIZNEXT,      200,   4,  50,  14
    PUSHBUTTON          "",     DID_CANCEL,     258,   4,  50,  14
  END
END


DLGTEMPLATE DLG_SETUP_TYPE DISCARDABLE  
BEGIN
  DIALOG "", DLG_SETUP_TYPE, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
//  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER | FCF_TASKLIST 
  FCF_NOMOVEWITHOWNER | FCF_TASKLIST 
  BEGIN
    AUTORADIOBUTTON "",          IDC_RADIO_ST0, 128, 164,  82,  12, WS_VISIBLE
    AUTORADIOBUTTON "",          IDC_RADIO_ST1, 128, 136,  82,  12, WS_VISIBLE
    AUTORADIOBUTTON "",          IDC_RADIO_ST2, 128, 109,  82,  12, WS_VISIBLE
    AUTORADIOBUTTON "",          IDC_RADIO_ST3, 128,  81,  82,  12, WS_VISIBLE
    LTEXT         "",IDC_STATIC_ST0_DESCRIPTION,219,150,158,  24, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",IDC_STATIC_ST1_DESCRIPTION,219,122,158,  24, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",IDC_STATIC_ST2_DESCRIPTION,219,95, 158,  24, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",IDC_STATIC_ST3_DESCRIPTION,219,66, 158,  25, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",        IDC_DESTINATION, 127,  31, 255,  27, DT_MNEMONIC
    CONTROL       "",   IDC_EDIT_DESTINATION, 134,  36, 179,   9, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | DT_MNEMONIC | WS_VISIBLE
    PUSHBUTTON    "",      IDC_BUTTON_BROWSE, 319,  35,  58,  14
    PUSHBUTTON    "",             IDC_README,  14,   5, 104,  14
    PUSHBUTTON    "",              IDWIZBACK, 142,   4,  50,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 200,   4,  50,  14
    PUSHBUTTON    "",             DID_CANCEL, 258,   4,  50,  14
    LTEXT         "",        IDC_STATIC_MSG0, 127, 177, 255,  17, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       "",            IDC_STATIC3,  5,  31, 83, 132, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    CONTROL       108,            IDC_MOZILLA,  7,  32, 1, 1, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  5,  24, 303,   1, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
  END
END

DLGTEMPLATE DLG_SELECT_COMPONENTS DISCARDABLE  
BEGIN
  DIALOG "", DLG_SELECT_COMPONENTS, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    LTEXT         "",            IDC_STATIC1, 127, 165, 129,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LISTBOX              IDC_LIST_COMPONENTS, 127,  96, 255,  67, LS_OWNERDRAW | LS_NOADJUSTPOS | WS_GROUP | WS_TABSTOP
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE0, 127, 176, 255,  19, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",            IDC_STATIC2, 127,  68, 255,  22, DT_MNEMONIC
    LTEXT         "", IDC_STATIC_DESCRIPTION, 133,  73, 244,   8, SS_TEXT | DT_WORDBREAK
    GROUPBOX      "",             IDC_STATIC, 127,  32, 255,  33, DT_MNEMONIC
    LTEXT         "",      IDC_DOWNLOAD_SIZE, 132,  37, 115,   8, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",    IDC_SPACE_AVAILABLE, 258,  37, 118,   8, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    LTEXT         "",             IDC_STATIC, 252, 165, 129,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC3, 132,  48, 115,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC4, 258,  48, 118,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
  END
END

DLGTEMPLATE DLG_WINDOWS_INTEGRATION DISCARDABLE  
BEGIN
  DIALOG "", DLG_WINDOWS_INTEGRATION, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    CONTROL       "",             IDC_CHECK0, 127, 156, 257,  17, WC_BUTTON, BS_AUTOCHECKBOX | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",             IDC_CHECK1, 127, 135, 257,  17, WC_BUTTON, BS_AUTOCHECKBOX | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",             IDC_CHECK2, 127, 115, 257,  17, WC_BUTTON, BS_AUTOCHECKBOX | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",             IDC_CHECK3, 127,  94, 257,  17, WC_BUTTON, BS_AUTOCHECKBOX | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    LTEXT         "",           IDC_MESSAGE1, 127,  34, 257,  54, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE0, 127, 177, 255,  17, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,             IDC_PICT0,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",            IDC_STATIC0,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
  END
END

DLGTEMPLATE DLG_PROGRAM_FOLDER DISCARDABLE  
BEGIN
  DIALOG "", DLG_PROGRAM_FOLDER, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    LTEXT         "",            IDC_STATIC1, 127, 143, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",IDC_EDIT_PROGRAM_FOLDER, 129, 130, 251,   9, ES_AUTOSCROLL | ES_MARGIN
    LTEXT         "",            IDC_STATIC2, 127, 113, 204,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LISTBOX                         IDC_LIST, 127,  32, 255,  79, LS_NOADJUSTPOS | WS_TABSTOP
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE0, 127, 161, 255,  33, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
  END
END

DLGTEMPLATE DLG_QUICK_LAUNCH DISCARDABLE  
BEGIN
  DIALOG "", DLG_QUICK_LAUNCH, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    CONTROL       "",   IDC_CHECK_TURBO_MODE, 127,  39, 255,   9, WC_BUTTON, BS_AUTOCHECKBOX | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE0, 127, 173, 255,  18, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE1, 127, 135, 255,  20, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE2, 127,  60, 255,  18, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       115,            IDC_STATIC, 128, 109,  25,  20, WC_STATIC, SS_BITMAP | WS_VISIBLE
  END
END

DLGTEMPLATE DLG_BROWSE_DIR DISCARDABLE  
BEGIN
  DIALOG "", DLG_BROWSE_DIR, 184, 26, 238, 143,
  FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    LTEXT         "",                   1092,  10, 128, 115,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",   IDC_EDIT_DESTINATION,  10, 115, 222,  12, ES_AUTOSCROLL
    LISTBOX                             1121,  10,  38, 150,  68, LS_OWNERDRAW | WS_TABSTOP
    LTEXT         "",                   1091,  10,  26, 115,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    COMBOBOX      "",                   1137,  10, -43, 152,  68, CBS_DROPDOWNLIST | WS_TABSTOP
    DEFPUSHBUTTON "",                      1, 169,  86,  63,  14, WS_GROUP
    PUSHBUTTON    "",             DID_CANCEL, 169,  66,  63,  14, WS_GROUP
  END
END

DLGTEMPLATE DLG_RESTART FIXED IMPURE  
BEGIN
  DIALOG "", DLG_RESTART, 167, 12, 319, 111,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    LTEXT         "",                    202,  13,  65, 295,  36, SS_TEXT | DT_WORDBREAK
    CONTROL       "",          IDC_RADIO_YES,  33,  47, 275,  12, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "",           IDC_RADIO_NO,  33,  31, 279,  12, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    DEFPUSHBUTTON "",                 DID_OK, 237,   9,  63,  14, WS_GROUP
  END
END

DLGTEMPLATE DLG_MESSAGE DISCARDABLE  
BEGIN
  DIALOG "", DLG_MESSAGE, 0, 158, 295, 34,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_NOMOVEWITHOWNER
  BEGIN
    CTEXT         "",            IDC_MESSAGE,   0,   0, 295,  34, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
  END
END

DLGTEMPLATE DLG_EXTRACTING DISCARDABLE  
BEGIN
  DIALOG "", DLG_EXTRACTING, 0, 38, 390, 154,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    CONTROL       "",            IDC_STATUS0,  15,  82, 358,   8, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    SLIDER        IDC_GAUGE_ARCHIVE, 15, 47, 358, 30, SLS_RIBBONSTRIP | SLS_READONLY
                  CTLDATA 12, 0, 100, 0, 0, 0
    CONTROL       "",            IDC_STATUS3,  15,  48, 358,   8, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
//    SLIDER        IDC_GAUGE_FILE, 15, 33, 358, 11, SLS_RIBBONSTRIP | SLS_READONLY
//                  CTLDATA 12, 0, 100, 0, 0, 0
    CONTROL       114,            IDC_STATIC,   0, 120, 390,  34, WC_STATIC, SS_BITMAP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
  END
END

DLGTEMPLATE DLG_ADVANCED_SETTINGS DISCARDABLE  
BEGIN
  DIALOG "", DLG_ADVANCED_SETTINGS, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    ENTRYFIELD    "",  IDC_EDIT_PROXY_SERVER, 209, 137, 164,   9, ES_AUTOSCROLL | ES_MARGIN
    ENTRYFIELD    "",    IDC_EDIT_PROXY_PORT, 209, 120, 164,   9, ES_AUTOSCROLL | ES_MARGIN
    ENTRYFIELD    "",    IDC_EDIT_PROXY_USER, 209,  93, 164,   9, ES_AUTOSCROLL | ES_MARGIN
    ENTRYFIELD    "",  IDC_EDIT_PROXY_PASSWD, 209,  76, 164,   9, ES_AUTOSCROLL | ES_UNREADABLE | ES_MARGIN
    AUTORADIOBUTTON "",  IDC_USE_FTP, 127,  48, 257,   9, WS_TABSTOP | WS_GROUP | WS_VISIBLE
    AUTORADIOBUTTON "",  IDC_USE_HTTP, 127,  35, 257,   9, WS_VISIBLE
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    RTEXT         "",            IDC_STATIC1, 135, 137,  65,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    RTEXT         "",            IDC_STATIC2, 135, 121,  65,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",             IDC_STATIC, 127,  67, 258,  94, DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE0, 127, 165, 255,  29, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    RTEXT         "",            IDC_STATIC3, 135,  94,  65,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    RTEXT         "",            IDC_STATIC4, 135,  76,  65,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
  END
END

DLGTEMPLATE DLG_SELECT_ADDITIONAL_COMPONENTS DISCARDABLE  
BEGIN
  DIALOG "", DLG_SELECT_ADDITIONAL_COMPONENTS, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    LTEXT         "",            IDC_STATIC1, 127, 165, 157,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LISTBOX              IDC_LIST_COMPONENTS, 127,  96, 255,  67, LS_OWNERDRAW | LS_NOADJUSTPOS | WS_GROUP | WS_TABSTOP
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE0, 127, 176, 255,  19, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",            IDC_STATIC2, 127,  68, 255,  22, DT_MNEMONIC
    LTEXT         "", IDC_STATIC_DESCRIPTION, 133,  73, 244,   8, SS_TEXT | DT_WORDBREAK
    GROUPBOX      "",             IDC_STATIC, 127,  32, 255,  33, DT_MNEMONIC
    LTEXT         "",      IDC_DOWNLOAD_SIZE, 132,  37, 115,   8, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",    IDC_SPACE_AVAILABLE, 258,  37, 118,   8, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    LTEXT         "",             IDC_STATIC, 302, 165,  79,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC3, 132,  48, 115,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC4, 258,  48, 118,   9, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
  END
END

DLGTEMPLATE DLG_UPGRADE DISCARDABLE  
BEGIN
  DIALOG "", DLG_UPGRADE, 64, -30, 388, 166,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_NOMOVEWITHOWNER
  BEGIN
    LTEXT         "",           IDC_MESSAGE0,  22, 122, 345,  31, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE1,  22,  97, 345,  21, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",           IDC_MESSAGE2,  22,  72, 345,  21, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    GROUPBOX      "",             IDC_STATIC,  20,  39, 345,  25, DT_MNEMONIC
    LTEXT         "",        IDC_DELETE_PATH,  28,  42, 330,  13, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    PUSHBUTTON    "",              ID_DELETE, 119,  13,  67,  14
    DEFPUSHBUTTON "",              IDWIZBACK, 203,  13,  67,  14
  END
END

DLGTEMPLATE DLG_ADDITIONAL_OPTIONS DISCARDABLE  
BEGIN
  DIALOG "", DLG_ADDITIONAL_OPTIONS, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    CONTROL       "",IDC_CHECK_SAVE_INSTALLER_FILES,125,84,255,9, WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    ENTRYFIELD    "",IDC_EDIT_LOCAL_INSTALLER_PATH,127,70,251, 9, ES_AUTOSCROLL | ES_READONLY | ES_MARGIN
    LTEXT         "",           IDC_MESSAGE0, 125, 152, 255,  33, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    PUSHBUTTON    "",IDC_BUTTON_PROXY_SETTINGS,277, 32, 105,  14
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE1, 125,  96, 255,  33, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,                    -1,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",                     -1,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    CONTROL       "",IDC_CHECK_RECAPTURE_HOMEPAGE,125,141,253, 8, WC_BUTTON, BS_AUTOCHECKBOX | 
                    WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
  END
END

DLGTEMPLATE DLG_DOWNLOADING DISCARDABLE  
BEGIN
  DIALOG "", DLG_DOWNLOADING, 0, 38, 390, 154,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    DEFPUSHBUTTON "",                IDPAUSE, 170,   6,  63,  14, WS_GROUP
    PUSHBUTTON    "",               IDRESUME, 234,   6,  63,  14, WS_GROUP
    PUSHBUTTON    "",             DID_CANCEL, 315,   6,  63,  14, WS_GROUP
    LTEXT         "",           IDC_MESSAGE0,  12,  92, 367,  23, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "",            IDC_STATIC3,  12,  65,  47,   8, SS_TEXT | DT_WORDBREAK
    CONTROL       "",         IDC_STATUS_URL,  62,  65, 317,   8, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    LTEXT         "",            IDC_STATIC1,  12,  45,  47,   8, SS_TEXT | DT_WORDBREAK
    CONTROL       "",      IDC_STATUS_STATUS,  62,  45, 317,   8, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    LTEXT         "",            IDC_STATIC2,  12,  74,  47,   8, SS_TEXT | DT_WORDBREAK
    CONTROL       "",        IDC_STATUS_FILE,  62,  74, 317,   8, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
    CONTROL       "",         IDC_GAUGE_FILE,  12,  29, 339,  11, "GaugeFile", WS_VISIBLE
    LTEXT         "",         IDC_PERCENTAGE, 354,  31,  25,   8, SS_TEXT | DT_WORDBREAK
    CONTROL       114,            IDC_STATIC,   0, 120, 390,  34, WC_STATIC, SS_BITMAP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
    LTEXT         "",            IDC_STATIC4,  12,  55,  47,   8, SS_TEXT | DT_WORDBREAK
    CONTROL       "",          IDC_STATUS_TO,  62,  55, 317,   8, WC_STATIC, DT_LEFT | WS_GROUP | SS_TEXT | WS_VISIBLE
  END
END

DLGTEMPLATE DLG_START_INSTALL DISCARDABLE  
BEGIN
  DIALOG "", DLG_START_INSTALL, 64, -69, 394, 205,
  WS_VISIBLE | FS_DLGBORDER | FS_SCREENALIGN,
  FCF_TITLEBAR | FCF_SYSMENU | FCF_NOMOVEWITHOWNER
  BEGIN
    MLE           "",   IDC_CURRENT_SETTINGS, 127,  36, 255, 102, MLS_WORDWRAP | MLS_READONLY | MLS_VSCROLL | MLS_HSCROLL
    PUSHBUTTON    "",              IDWIZBACK, 168,   5,  67,  14
    DEFPUSHBUTTON "",              IDWIZNEXT, 235,   5,  67,  14
    PUSHBUTTON    "",             DID_CANCEL, 315,   5,  67,  14
    LTEXT         "",           IDC_MESSAGE0, 127, 142, 255,  52, NOT WS_GROUP | SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       108,            IDC_STATIC,  14,  32, 104, 162, WC_STATIC, SS_BITMAP | WS_VISIBLE
    CONTROL       "",             IDC_STATIC,  14,  25, 369,   1, WC_STATIC, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE
  END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ICON               IDI_SETUP    DISCARDABLE     "setup.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

BITMAP       IDB_BOX_UNCHECKED  FIXED IMPURE    "box_unch.bmp"
BITMAP         IDB_BOX_CHECKED  FIXED IMPURE    "box_chec.bmp"
BITMAP      IDB_BITMAP_WELCOME  DISCARDABLE     "bitmap1.bmp"
BITMAP  IDB_BOX_CHECKED_DISABLED  FIXED IMPURE    "box_ch_d.bmp"
BITMAP IDB_BITMAP_DOWNLOAD_LOGO  DISCARDABLE     "downloadLogo.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERROR_FILE_NOT_FOUND "File not found: %s"
    IDS_MSG_RETRIEVE_INSTALLINI 
                            "Please wait while Setup is attempting to retrieve install.ini, required by Setup, from the Web..."
END

/////////////////////////////////////////////////////////////////////////////

