<html>
<head>
<style type="text/css">
  table { width: 200px;   }
  td.a  { background: lightgreen; }
  td.b  { background: orange;     }
  td.c  { background: yellow;     }
  td.d  { background: lightblue;  }
  td.e  { background: teal;     }

  /* cellspacing=0 cellpadding=0 */
  table  { border-spacing: 0 }
  td, th { padding: 0 }
</style>
</head>
<body>
<table>
  <tr>
    <td class="a" colspan="2" style="width: 100%;">x</td>
    <td class="b">x</td>
  </tr>
  <tr>
    <td class="c">x</td>
    <td class="d">x</td>
    <td class="e">x</td>
  </tr>
</table>
</body>
</html>
