<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="ahem.css" />
  <title>Text that overlaps a background image should be backplated.</title>
  <style>
    body {
      font: 20px Ahem;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAABGdBTUEAALGPC%2FxhBQAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjAxHK4kRQAAABpJREFUOMtjZBCu%2F89AAWAcNWDUgFEDhosBAObLGSGp9PphAAAAAElFTkSuQmCC");
    }
    </style>
</head>
<body>XXXXX XXXXX</body>
</html>
