<!DOCTYPE html>
<html>
<head>
  <title>Reference: Non-URL background images should be ignored high-contrast.</title>
  <style>
    .outer {
      background-image: url("blue.png");
    }
    .size {
      height: 100px;
      width: 100px;
    }
    .url {
      background-image: url("green.png");
    }
  </style>
</head>
<body>
  <div class="outer">
    <div class="size url"></div><br>
    <div class="size"></div></br>
    <div class="size"></div><br>
    <div class="size"></div><br>
    <div class="size url"></div><br>
    <div class="size"></div>
  </div>
</body>
</html>
