/* Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../../components/contextualidentity/content/usercontext.css

.container-header-links {
  margin-block-end: 15px;
}

[data-identity-icon] {
  margin: 0;
  margin-inline-end: 16px;
}

#containersView {
  border: 0 none;
  background: transparent;
}

#containersView richlistitem {
  margin: 0px;
  margin-inline-end: 8px;
  padding: 0;
  padding-block-end: 8px;
  border-block-end: 1px solid var(--in-content-header-border-color);
}

#containersView richlistitem:last-of-type {
  border-block-end: 0 none;
  margin-block-end: 8px;
}
