<html> 
<head> 
<style> 
#absolute1 {position:absolute; border:solid 2px red; left:10%; right:10%; height:50px} 
#absolute2 {position:absolute; border:solid 2px blue; left:10%; width:auto; height:50px} 
#absolute3 {position:absolute; border:solid 2px blue; left:10%; width:50%; height:50px} 
#absolute4 {position:absolute; direction:rtl; border:solid 2px blue; right:10%; width:50%; height:50px} 
</style> 
</head> 
<body> 
<h3>Absolute non-replaced, 'ltr', 'left' 10%, 'right' 10%, 'height' 50px</h1> 
<div id=absolute1><table border=1><tr><td>Some text in a div tag</td></tr></table></div> 
<br><br><br><h3>Absolute non-replaced, 'ltr', 'left' 10%, 'width' auto, 'height' 50px</h1> 
<div id=absolute2>Some text in a div tag</div> 
<br><br><br><h3>Absolute non-replaced, 'ltr', 'left' 10%, 'width' 50%, 'height' 50px</h1> 
<div id=absolute3>Some text in a div tag</div> 
<br><br><br><h3>Absolute non-replaced, 'rtl', 'right' 10%, 'width' 50%, 'height' 50px</h1> 
<div id=absolute4>Some text in a div tag</div> 
</body> 
</html> 

