/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/ */

#layout-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--theme-splitter-color);
}

#layout-container {
  /* The view will grow bigger as the window gets resized, until 400px */
  max-width: 400px;
  margin: 0px auto;
  padding: 0;
}

/* Header */

#layout-header,
#layout-info {
  display: flex;
  align-items: center;
  padding: 4px 17px;
}

#layout-geometry-editor {
  visibility: hidden;
}

#layout-geometry-editor::before {
  background: url(images/geometry-editor.svg) no-repeat center center / 16px 16px;
}

/* Main: contains the box-model regions */

#layout-main {
  position: relative;
  box-sizing: border-box;
  /* The regions are semi-transparent, so the white background is partly
     visible */
  background-color: white;
  color: var(--theme-selection-color);
  /* Make sure there is some space between the window's edges and the regions */
  margin: 0 14px 4px 14px;
  width: calc(100% - 2 * 14px);
}

.layout-margin,
.layout-size {
  color: var(--theme-highlight-blue);
}

/* Regions are 3 nested elements with wide borders and outlines */

#layout-content {
  height: 18px;
}

#layout-margins,
#layout-borders,
#layout-padding {
  border-color: hsla(210,100%,85%,0.2);
  border-width: 18px;
  border-style: solid;
  outline: dotted 1px hsl(210,100%,85%);
}

#layout-margins {
  /* This opacity applies to all of the regions, since they are nested */
  opacity: .8;
}

/* Regions colors */

#layout-margins {
  border-color: #edff64;
}

#layout-borders {
  border-color: #444444;
}

#layout-padding {
  border-color: #6a5acd;
}

#layout-content {
  background-color: #87ceeb;
}

.theme-firebug #layout-main,
.theme-firebug #layout-borders,
.theme-firebug #layout-content {
  border-style: solid;
}

.theme-firebug #layout-main,
.theme-firebug #layout-header {
  font-family: var(--proportional-font-family);
}

.theme-firebug #layout-main {
  color: var(--theme-body-color);
  font-size: var(--theme-toolbar-font-size);
}

.theme-firebug #layout-header {
  font-size: var(--theme-toolbar-font-size);
}

/* Editable region sizes are contained in absolutely positioned <p> */

#layout-main > p {
  position: absolute;
  pointer-events: none;
  margin: 0;
  text-align: center;
}

#layout-main > p > span,
#layout-main > p > input {
  vertical-align: middle;
  pointer-events: auto;
}

/* Coordinates for the region sizes */

.layout-top,
.layout-bottom {
  width: calc(100% - 2px);
  text-align: center;
}

.layout-padding.layout-top {
  top: 37px;
}

.layout-padding.layout-bottom {
  bottom: 38px;
}

.layout-border.layout-top {
  top: 19px;
}

.layout-border.layout-bottom {
  bottom: 20px;
}

.layout-margin.layout-top {
  top: 1px;
}

.layout-margin.layout-bottom {
  bottom: 2px;
}

.layout-size,
.layout-margin.layout-left,
.layout-margin.layout-right,
.layout-border.layout-left,
.layout-border.layout-right,
.layout-padding.layout-left,
.layout-padding.layout-right {
  top: 22px;
  line-height: 80px;
}

.layout-size {
  width: calc(100% - 2px);
}

.layout-margin.layout-right,
.layout-margin.layout-left,
.layout-border.layout-left,
.layout-border.layout-right,
.layout-padding.layout-right,
.layout-padding.layout-left {
  width: 21px;
}

.layout-padding.layout-left {
  left: 35px;
}

.layout-padding.layout-right {
  right: 35px;
}

.layout-border.layout-left {
  left: 16px;
}

.layout-border.layout-right {
  right: 17px;
}

.layout-margin.layout-right {
  right: 0;
}

.layout-margin.layout-left {
  left: 0;
}

.layout-rotate.layout-left:not(.layout-editing) {
  transform: rotate(-90deg);
}

.layout-rotate.layout-right:not(.layout-editing) {
  transform: rotate(90deg);
}

/* Legend: displayed inside regions */

.layout-legend {
  position: absolute;
  margin: 2px 6px;
  z-index: 1;
}

.layout-legend[data-box="margin"] {
  color: var(--theme-highlight-blue);
}

/* Editable fields */

.layout-editable {
  border: 1px dashed transparent;
  -moz-user-select: text;
}

.layout-editable:hover {
  border-bottom-color: hsl(0, 0%, 50%);
}

.styleinspector-propertyeditor {
  border: 1px solid #ccc;
  padding: 0;
}

/* Make sure the content size doesn't appear as editable like the other sizes */

.layout-size > span {
  cursor: default;
}

/* Layout info: contains the position and size of the element */

#layout-element-size {
  flex: 1;
}

#layout-position-group {
  display: flex;
  align-items: center;
}
