#placesView {
  -moz-appearance: tabpanels;
  margin: -10px;
  padding: 8px 6px 6px 8px;
}

.placesTree {
  margin: 0px;
  border: none;
}

#placesList {
  margin: 7px 0px 7px 6px;
}

#placeContent {
  margin: 0px 6px 7px 0px;
}

#showAdvancedSearch {
  font-size: smaller;
}

#splitter {
  border: 0px;
  width: 10px;
  background-color: transparent;
}

#placesContentChildren::-moz-tree-image(title) {
  padding-right: 2px;
  margin: 0px 2px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#placesContentChildren::-moz-tree-image(title, container) {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#placesContentChildren::-moz-tree-image(title, open) {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#placesContentChildren::-moz-tree-image(title, separator) {
  list-style-image: none;
  width: 0px !important;
  height: 0px !important;
  margin: 0px;
}

#placesContentChildren::-moz-tree-cell-text(title, separator) {
  color: ThreeDShadow;
  margin: 0px 5px;
}

#placesContentChildren::-moz-tree-cell-text(title, separator, selected, focus) {
  color: HighlightText;
}

.commands {
  padding-bottom: 5px;  
}

#searchFilter {
  -moz-binding: url("chrome://browser/content/places/places.xml#textbox-timed-arbitrary");
}

#filterCollection {
  -moz-appearance: none;
  background-color: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  min-width: 0px;
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://browser/skin/Search-bar.png");
  -moz-user-focus: ignore;
}

/* Calendar */

#historyCalendar {
  margin: 0px 0px 7px 6px;
}

.calendar-box {
  border:1px solid black;
  background-color:white;
}
.calendar-header {
  background-color:#EEE;
}
.calendar-month-jump {
  cursor:pointer;
  padding-left:6px;
  padding-right:6px;
}
.calendar-month-jump:hover {
  background-color:#DDD;
}
.calendar-grid {
  padding-left:8px;
  padding-right:8px;
  padding-bottom:4px;
}
.calendar-grid label { /* everything in the calendar grid */
  padding:4px;
  margin:0px;
  text-align:center;
  font-size:80%;
}
.calendar-month-title {
  text-align:center;
}
.calendar-day-header {
  border-bottom:1px solid #888;
}
.calendar-day { /* just days (excluding the day headers) */
  cursor:w-resize;
  color:white;
  background-color:white;
}
.calendar-day:hover {
  background-color:#DDD;
}
.calendar-day[selected="true"] {
  cursor:w-resize;
  background-color:#8C8;
}
.calendar-day[selected="true"]:hover {
  background-color:#6A6;
}
.calendar-day[month="this"] {
  color:black;
}
.calendar-day[month="other"] {
  color:#888;
}
