{
  "presets": [
    "react",

    [
      "env",
      {
        "targets": {
          "browsers": ["last 1 Chrome version", "last 1 Firefox version"]
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    "syntax-trailing-function-commas",
    "syntax-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "devtools/client/shared/vendor/react": "react",
          "devtools/client/shared/vendor/react-dom": "react-dom"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 7
            },
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
