# Keep in sync with top-level .eslintignore

assets/*
src/test/examples/**
src/test/integration/**
src/test/unit-sources/**
src/**/fixtures/**
src/test/mochitest/**
bin/
packages/**/fixtures/**
node_modules
out