productTag      = FIREFOX_1_5_0_11
branchTag       = MOZILLA_1_8_0_BRANCH
pullDate        = 2007-03-10 00:00 PST
l10n_pullDate   = 2007-03-10 00:00 PST
rc              = 1
oldRc           = 1
version         = 1.5.0.11
oldVersion      = 1.5.0.10
milestone       = 1.8.0.11
appName         = browser
product         = firefox
linux_buildDir  = /builds/tinderbox/Fx-Mozilla1.8.0-Release
linux_l10n_buildDir  = /builds/tinderbox/Fx-Mozilla1.8.0-l10n-Release
logDir          = /home/rhelmer/src/full/build/logs
mozillaCvsroot  = /builds/cvsmirror/cvsroot
l10nCvsroot     = /builds/cvsmirror/l10n
mofoCvsroot     = /builds/cvsmirror/mofo
stageHome       = /data/cltbld
updateDir       = /builds/updates
verifyDir       = /builds/verify
patcherConfig   = moz180-branch-patcher2.cfg
tagDir          = /builds/tags
l10nDir         = staging-linux-tbox-firefox1.5.0.12
linux_buildPlatform   = Linux_2.4.21-37.EL_Depend
macosx_buildPlatform  = Darwin_8.7.0_Depend
win32_buildPlatform   = WINNT_5.2_Depend
from            = bootstrap@example.com
to              = engineer@example.com
cc              = qa@example.com, build@example.com
patcherConfig   = moz180-branch-patcher2.cfg
patcherToolsRev = MOZILLA_1_9a2_RELEASE
verifyConfig    = moz180-firefox-linux.cfg
blat            = /cygdrive/d/moztools/bin/blat.exe
sendmail        = /usr/lib/sendmail
