{
  "ecmaFeatures": {
    // Turn off top-level items needed for the jsm files, but not wanted
    // for shared code as we can't support them.
    "blockBindings": false,
    "arrowFunctions": false,
    "destructuring": false,
    "forOf": true,
    "generators": false,
    "spread": false,
    "restParams": false,
    "objectLiteralShorthandMethods": false
  }
}
