window {
 display: block;
 width: 100%;
 background-color: white;
}

tree {
 display: table;
 background-color: white;
 border: none;
 border-spacing: 0px;
 //border-collapse: collapse;
 width: 100%;
}

treeitem { 
 display: table-row; 
} 

treehead { 
 display: table-header-group; 
} 

treebody { 
 display: table-row-group; 
} 

treecell { 
 display: table-cell; 
 color: black;
 font-family: Verdana;
 font-size: 10pt;
} 

treecell[selectedcell] { 
 background-color: blue; 
} 

treehead treeitem treecell { 
 font-size: 8pt;
 background-color: #a0a0a0; 
 border: thin black solid; 
 color: black;
} 

icon {
 display: list-item;
 list-style-image: url(http://www.shadowland.org/client/images/ClosedRead.gif);
}

