<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <title>Tests :nth-child(An+B) matching</title>
    <style type="text/css">

    x { background-color:black; }
    x { font-size:12px; }
    x { text-decoration: underline; }
    x { border-left-width: 1px; }
    x { border-right-width: 1px; }
    x { border-top-width: 1px; }
    x { border-bottom-width: 1px; }
    x { border-style: solid; border-color: blue;}

    </style>
</head>
<body>

<div><x>x</x><y>x</y><y>x</y><x>x</x><y>x</y><y>x</y><x>x</x><y>x</y><y>x</y><x>x</x><y>x</y></div>

</body>
</html>
