/* The following are used by both syncSetup.xul and syncGenericChange.xul */
.status {
  color: -moz-dialogtext;
}

.statusIcon {
  -moz-margin-start: 4px;
  max-height: 16px;
  max-width: 16px;
}

.statusIcon[status="active"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

.statusIcon[status="error"] {
  list-style-image: url("moz-icon://stock/gtk-dialog-error?size=menu");
}

.statusIcon[status="success"] {
  list-style-image: url("moz-icon://stock/gtk-dialog-info?size=menu");
}

/* .data is only used by syncGenericChange.xul, but it seems unnecessary to have
   a separate stylesheet for it. */
.data {
  font-size: 90%;
  font-weight: bold;
}

dialog#change-dialog {
  width: 40em;
}

image#syncIcon {
  list-style-image: url("chrome://browser/skin/sync-32.png");
}

#introText {
  margin-top: 2px;
}

#feedback,
#passphraseFeedback {
  height: 4em;
}

#passphraseStrength {
  -moz-appearance: none;
  height: 10px;
  margin: 4px 0;
}

#passphraseStrength > .progress-bar {
  background-color: #ff0000;
}

#passphraseStrength.medium > .progress-bar {
  background-color: #ffcc33;
}

#passphraseStrength.strong > .progress-bar {
  background-color: #00ff00;
}
