<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bug 1048899</title>
<style>
@font-face { font-family: lohit; src: url(../fonts/ttf-indic/Lohit-Telugu.ttf); }
body { font-family: lohit; }
.test::first-letter { color: red; font-weight: bold; }
</style>
</head>
<body>
<div class='test'>అమ్మ</div>
<div class='test'>కడలి</div>
<div class='test'>జోరు</div>
<div class='test'>అందం</div>
<div class='test'>వాఁడు</div>
<div class='test'>కాండం</div>
<div class='test'>కృతి</div>
<div class='test'>ప్రజలు</div>
<div class='test'>క్రాంతి</div>
<div class='test'>స్త్రీలు</div>
</body>
</html>
