<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>libnptest.dylib</string>
	<key>CFBundleIdentifier</key>
	<string>org.mozilla.TestPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0.0</string>
	<key>CFBundleSignature</key>
	<string>TEST</string>
	<key>CFBundleVersion</key>
	<string>1.0.0.0</string>
	<key>WebPluginName</key>
	<string>Test Plug-in</string>
	<key>WebPluginDescription</key>
	<string>Plug-in for testing purposes.™ (हिन्दी 中文 العربية)</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-test</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>tst</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Test ™ mimetype</string>
		</dict>
	</dict>
</dict>
</plist>
