/* *** pinstripe *** */

.searchbar-textbox {
  background: url("chrome://browser/skin/search-bar-background-mid.png") repeat-x;
  margin-left: 15px;
  margin-right: 15px;
  -moz-appearance: none;
  font: icon;
  height: 22px;
  width: 5em;
  min-width: 5em;
  border: none;
}

.searchbar-engine-image {
  width: 16px;
  height: 16px;
  -moz-margin-start: 3px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

.searchbar-engine-button {
  background: url("chrome://browser/skin/search-bar-background-left.png") no-repeat;
  height: 22px;
  -moz-appearance: none;
  min-width: 0;
  margin: 0 3px 0 -11px;
  padding: 2px 0 2px 4px;
  border: 0;
  -moz-box-align: center;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  padding-right: 3px;
  border: 0;
}

.searchbar-engine-button[addengines="true"] > .button-box {
  background: transparent url(chrome://browser/skin/Search-addengines.png) no-repeat right center;
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
  -moz-margin-start: 3px;
}

.search-go-container {
  -moz-box-align: center;
  background: url("chrome://browser/skin/search-bar-background-right.png") no-repeat right top;
  height: 22px;
  margin-right: -11px;
  padding-right: 4px;
}

.search-go-button {
  padding: 1px;
  list-style-image: url("chrome://browser/skin/Search.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.search-go-button:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.search-go-button[disabled="true"] {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
