.searchbar-engine-image {
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
  -moz-margin-start: 3px;
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  -moz-padding-end: 3px;
  border: 0;
}

.searchbar-engine-button[addengines="true"] > .button-box {
  background: transparent url(chrome://browser/skin/Search-addengines.png) no-repeat right center;
}

.searchbar-textbox[chromedir="rtl"] .searchbar-engine-button[addengines="true"] > .button-box {
  background-position: left center;
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
  -moz-margin-start: 2px;
  margin-top: 1px;
}

.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  list-style-image: url("chrome://browser/skin/Search.png");
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
