/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

dialog::part(button-spacer) {
  display: none;
}

#info {
  list-style-image: url("chrome://mozapps/skin/profile/information.svg");
  width: 32px;
  height: 32px;
}
