[submodule "resources"]
	path = resources
	url = https://github.com/w3c/testharness.js.git
  ignore = dirty
[submodule "tools/wptserve"]
	path = tools/wptserve
	url = https://github.com/w3c/wptserve.git
	ignore = dirty
[submodule "tools/pywebsocket"]
	path = tools/pywebsocket
	url = https://github.com/w3c/pywebsocket.git
	ignore = dirty
