{
  "globals": {
    "XMLHttpRequest": true,
    "window": true,
    "define": true,
    "addEventListener": true,
    "document": true,
    "dispatchEvent": true,
    "MessageEvent": true
  },
  "rules": {
    "indent": 0,
    "padded-blocks": 0,
  }
}
