<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:icon="@drawable/logo"
            android:name="androidx.multidex.MultiDexApplication">
        <uses-library android:name="android.test.runner"
                      android:required="false"/>

        <activity
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:name=".GeckoViewActivity"
                android:label="GeckoView Example"
                android:launchMode="singleTop"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                android:exported="true"
                android:windowSoftInputMode="stateUnspecified|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.APP_BROWSER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="about"/>
                <data android:scheme="javascript"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SessionActivity"
                android:label="GeckoView Example"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                android:exported="false"
                android:windowSoftInputMode="stateUnspecified|adjustResize">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="Settings"
                android:exported="false"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <service
            android:name=".ExampleCrashHandler"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":crash">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="This foreground service allows users to report crashes" />
        </service>
    </application>

</manifest>
