DirectoryIndex despot.cgi
# there's a bunch of stuff in this directory people shouldn't mess with
# easier to just whitelist the stuff they should then block everything else.
<FilesMatch ^.+$>
  # block anything else
  deny from all
</FilesMatch>
<FilesMatch ^.*\.(cgi|html|gif|png|jpg|css|js)$>
  Order deny,allow
  allow from all
</FilesMatch>
