#!/usr/bin/perl
#
# Despot configuration file
#
# Copy this file to config.pl, then make changes to it.
#

$::sitename = 'mozilla.org';				# site name
$::ownersurl = 'http://www.mozilla.org/owners.html';	# owners page URL
$::adminname = 'sysadmins';				# owner name
$::adminmail = 'sysadmins@mozilla.org';			# owner e-mail address

$::db_host = 'localhost';				# database host
$::db_name = 'mozusers';				# database name
$::db_user = 'despot';					# database username
$::db_pass = '';					# database password

$::anonymous_sysuser = 'nobody';			# the system user the "anonymous" account will use for pserver

1;
