<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>Mozilla Module Owners</title>
  </head>
  <body>

    <h1>Module Owners</h1>

    <p>
      This page lists mozilla.org Module Owners and their Peers.
    </p>

    <p>
      A <dfn>Module</dfn> is a collection of source files that form a coherent
      bundle. An <dfn>Owner</dfn> is the person in charge of a Module. A
      <dfn>Peer</dfn> is a person whom the Owner has designated to help
      maintain the Module. If a Module has an Owner, the Owner or a Peer should
      in general review all code changes that go into that module.
    </p>

    <p>
      The <a href="https://despot.mozilla.org/despot.cgi">database</a> from
      which this document is generated sometimes gets out of date. In order to
      identify the people to talk to about a particular source tree directory,
      it may be better to consult <a
      href="http://bonsai.mozilla.org/cvsqueryform.cgi">Bonsai</a>, to see who
      is regularly checking in changes.
    </p>

    <p>
      Questions about module ownership should be directed to <a
      href="mailto:staff&#x40;mozilla.org">staff@mozilla.org</a>.
    </p>

    <form method="get" action="https://despot.mozilla.org/despot.cgi">
    <p>
      <input type="hidden" name="command" value="FindPartition" >
      <input type="hidden" name="repid" value="3" >
      <input type="hidden" name="view" value="1" >

      Don't know who owns the file you're hacking?  Enter its path and name to
      jump to the module it belongs to:

      <input type="text" name="file" >
      <input type="submit" value="Find Module" >
    </p>
    </form>

    <p>
      (FE = Front End, BE = Back End, XP = Cross Platform)
    </p>

%%DATA%%

  </body>
</html>
