body {
  background: white;
}

#controls {
  position: fixed;
  top: 10px;
  right: 10px;
}

#controls > a {
  color: #4C9ED9;
  font-size: small;
  cursor: pointer;
  border-bottom: 1px dotted;
}

#close {
  margin-left: 10px;
}

table {
  font-family: monospace;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: 1px solid #EEE;
}

th {
  min-width: 130px;
}

.permissionstable td {
  text-align: center;
}

th:first-of-type, td:first-of-type {
  text-align: left;
}

.permallow {
  color: rgb(152,207,57);
}

.permprompt {
  color: rgb(0,158,237);
}

.permdeny {
  color: rgb(204,73,8);
}
