<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>

<html width="800" height="600">
<head>
<link rel="stylesheet" href="chrome://global/skin/global.css">
<link rel="stylesheet" href="ssb.css">
<title id="title"></title>
</head>
<body>
  <div id="browser-container"></div>
  <script type="text/javascript" src="ssb.js"></script>
</body>
</html>
