/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.w3.org/1999/xhtml");


.autofill-item-box > .profile-item-col > .profile-label {
  font-size: 1.09em;
}

.autofill-item-box > .profile-item-col > .profile-comment {
  font-size: .9em;
}

.autofill-footer > .autofill-warning {
  font-size: .9em;
}
