<!DOCTYPE html>
<meta charset=utf-8>
<title>Test for logical margins on blockquote elements in the UA style sheet</title>
<style>
.v-rl { writing-mode: vertical-rl; }
.ltr, .rtl, .v-rl { border: 1px solid blue; padding: 16px; }
.ltr blockquote { margin: 1em 0; padding: 0 0 0 1em; border: none; border-left: thin solid blue; }
.rtl blockquote { margin: 1em 0; padding: 0 1em 0 0; border: none; border-right: thin solid blue; }
.v-rl blockquote { margin: 0 1em; padding: 1em 0 0 0; border: none; border-top: thin solid blue; }
</style>
<div class=ltr>
  <blockquote type=cite>Block quote</blockquote>
</div>
<div class=rtl dir=rtl>
  <blockquote type=cite>Block quote</blockquote>
</div>
<div class=v-rl>
  <blockquote type=cite>Block quote</blockquote>
</div>
