<!DOCTYPE html>
<meta charset=utf-8>
<title>Test for logical properties of textarea in the UA stylesheet</title>
<style>
.v-rl { writing-mode: vertical-rl; }
.ltr, .rtl, .v-rl { border: 1px solid blue; }

/* Vista or later wants 2px padding on textareas by default,
   see nsNativeThemeWin::GetWidgetPadding(). */
textarea {
  padding: 2px;
}
.ltr textarea, .rtl textarea {
  margin: 1px 0;
}
.v-rl textarea {
  margin: 0 1px;
}
</style>
<div class=ltr>
  <textarea>hello</textarea>
</div>

<div class=rtl dir=rtl>
  <textarea>hello</textarea>
</div>

<div class=v-rl>
  <textarea>hello</textarea>
</div>
