<!DOCTYPE html>
<meta charset=utf-8>
<title>Test for logical margins on blockquote elements in the UA style sheet</title>
<style>
.v-rl { writing-mode: vertical-rl; }
.ltr, .rtl, .v-rl { border: 1px solid blue; }
.ltr blockquote { margin: 1em 40px; }
.rtl blockquote { margin: 1em 40px; }
.v-rl blockquote { margin: 40px 1em; }
</style>
<div class=ltr>
  <blockquote>Block quote</blockquote>
</div>
<div class=rtl dir=rtl>
  <blockquote>Block quote</blockquote>
</div>
<div class=v-rl>
  <blockquote>Block quote</blockquote>
</div>
