html {
  background: #f0f0f0;
  padding: 0 1em;
  font-family: "Nokia Sans", Tahoma, sans-serif !important;
  font-size: 100% !important;
}

body {
  color: black;
  position: relative;
  min-width: 330px;
  max-width: 50em;
  margin: 1em auto;
  border: 1px solid gray;
  -moz-border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: white;
}

.aboutPageWideContainer {
  max-width: 80%;
}

#aboutLogoContainer {
  border: 1px solid lightgray;
  width: 300px;
  margin-bottom: 2em;
}

img {
  border: 0;
}

#version {
  font-weight: bold;
  color: #909090;
  margin: -24px 0 9px 17px;
}

ul {
  margin: 0;
  -moz-margin-start: 1.5em;
  padding: 0;
  list-style: square;
}
