<div class="pkt_ext_detail pkt_ext_saved_sendtomobile">
    <button id="pkt_ext_sendtomobile_button" class="pkt_ext_button">
        <span class="pkt_ext_save_title_wrapper pkt_ext_mobile_icon">
            <span class="pkt_ext_logo_action_copy">Get the Pocket Mobile App</span>
        </span>
    </button>
</div>
