<div class="pkt_ext_detail pkt_ext_saved_sendcollectemail">
    <h3 class="pkt_ext_heading">Check your inbox</h3>
    <p class="pkt_ext_description">We’ve sent an email to <span class="pkt_ext_bold">{{email}}</span> with a link to install the Pocket app, where your article will be waiting for you.</p>

    <div class="pkt_ext_download_section">
        <p class="pkt_ext_description">You can also get it on the App Store here:</p>

        <div class="pkt_ext_download_button_wrapper">
            <a href="https://getpocket.com/apps/link/pocket-iphone/?s=fx_save_hanger" target="_blank" ><div class="pkt_ext_apple_download"></div></a>
            <a href="https://getpocket.com/apps/link/pocket-android/?s=fx_save_hanger" target="_blank" ><img class="pkt_ext_google_download" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
    </div>
</div>
