<!DOCTYPE HTML>
<html>
<head>
<title>Localized fullnames</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
<style type="text/css">

@font-face {
  font-family: testbackup;
  src: url(../fonts/markA.ttf);
}

body {
  margin: 50px;
  font-size: 18px;
  font-family: Futura, Helvetica, Calibri, Verdana, sans-serif;
}

table {
  font-family: testbackup, serif;
  border-collapse: collapse; 
  margin-left: 1em;
}

td + td {
  padding-left: 1em;
}

</style>


</head>
<body>

<h4>The letter A should not appear below independent of locale:</h4>

<p>(Mouse over to see local name used)</p>

<table>
<tr>
<td class="test0">AA</td>
<td class="test1">AA</td>
<td class="test2">AA</td>
<td class="test3">AA</td>
<td class="test4">AA</td>
<td class="test5">AA</td>
<td class="test6">AA</td>
<td class="test7">AA</td>
<td class="test8">AA</td>
<td class="test9">AA</td>
</tr>
<tr>
<td class="test10">AA</td>
<td class="test11">AA</td>
<td class="test12">AA</td>
<td class="test13">AA</td>
<td class="test14">AA</td>
<td class="test15">AA</td>
<td class="test16">AA</td>
<td class="test17">AA</td>
<td class="test18">AA</td>
<td class="test19">AA</td>
</tr>
<tr>
<td class="test20">AA</td>
<td class="test21">AA</td>
<td class="test22">AA</td>
<td class="test23">AA</td>
<td class="test24">AA</td>
<td class="test25">AA</td>
<td class="test26">AA</td>
<td class="test27">AA</td>
<td class="test28">AA</td>
<td class="test29">AA</td>
</tr>
<tr>
<td class="test30">AA</td>
<td class="test31">AA</td>
<td class="test32">AA</td>
<td class="test33">AA</td>
<td class="test34">AA</td>
<td class="test35">AA</td>
<td class="test36">AA</td>
<td class="test37">AA</td>
<td class="test38">AA</td>
<td class="test39">AA</td>
</tr>
<tr>
<td class="test40">AA</td>
<td class="test41">AA</td>
<td class="test42">AA</td>
<td class="test43">AA</td>
<td class="test44">AA</td>
<td class="test45">AA</td>
<td class="test46">AA</td>
<td class="test47">AA</td>
<td class="test48">AA</td>
<td class="test49">AA</td>
</tr>
<tr>
<td class="test50">AA</td>
<td class="test51">AA</td>
<td class="test52">AA</td>
<td class="test53">AA</td>
<td class="test54">AA</td>
<td class="test55">AA</td>
<td class="test56">AA</td>
<td class="test57">AA</td>
<td class="test58">AA</td>
<td class="test59">AA</td>
</tr>
<tr>
<td class="test60">AA</td>
<td class="test61">AA</td>
<td class="test62">AA</td>
<td class="test63">AA</td>
<td class="test64">AA</td>
<td class="test65">AA</td>
<td class="test66">AA</td>
<td class="test67">AA</td>
<td class="test68">AA</td>
<td class="test69">AA</td>
</tr>
<tr>
<td class="test70">AA</td>
<td class="test71">AA</td>
<td class="test72">AA</td>
<td class="test73">AA</td>
<td class="test74">AA</td>
<td class="test75">AA</td>
<td class="test76">AA</td>
<td class="test77">AA</td>
<td class="test78">AA</td>
<td class="test79">AA</td>
</tr>
<tr>
<td class="test80">AA</td>
<td class="test81">AA</td>
<td class="test82">AA</td>
<td class="test83">AA</td>
<td class="test84">AA</td>
<td class="test85">AA</td>
<td class="test86">AA</td>
<td class="test87">AA</td>
<td class="test88">AA</td>
<td class="test89">AA</td>
</tr>
<tr>
<td class="test90">AA</td>
<td class="test91">AA</td>
<td class="test92">AA</td>
<td class="test93">AA</td>
<td class="test94">AA</td>
<td class="test95">AA</td>
<td class="test96">AA</td>
<td class="test97">AA</td>
<td class="test98">AA</td>
<td class="test99">AA</td>
</tr>
<tr>
<td class="test100">AA</td>
<td class="test101">AA</td>
<td class="test102">AA</td>
<td class="test103">AA</td>
<td class="test104">AA</td>
<td class="test105">AA</td>
<td class="test106">AA</td>
<td class="test107">AA</td>
<td class="test108">AA</td>
<td class="test109">AA</td>
</tr>
<tr>
<td class="test110">AA</td>
<td class="test111">AA</td>
<td class="test112">AA</td>
<td class="test113">AA</td>
<td class="test114">AA</td>
<td class="test115">AA</td>
<td class="test116">AA</td>
<td class="test117">AA</td>
<td class="test118">AA</td>
<td class="test119">AA</td>
</tr>
<tr>
<td class="test120">AA</td>
<td class="test121">AA</td>
<td class="test122">AA</td>
<td class="test123">AA</td>
<td class="test124">AA</td>
<td class="test125">AA</td>
<td class="test126">AA</td>
<td class="test127">AA</td>
<td class="test128">AA</td>
<td class="test129">AA</td>
</tr>
<tr>
<td class="test130">AA</td>
<td class="test131">AA</td>
<td class="test132">AA</td>
<td class="test133">AA</td>
<td class="test134">AA</td>
<td class="test135">AA</td>
<td class="test136">AA</td>
<td class="test137">AA</td>
<td class="test138">AA</td>
<td class="test139">AA</td>
</tr>
<tr>
<td class="test140">AA</td>
<td class="test141">AA</td>
<td class="test142">AA</td>
<td class="test143">AA</td>
<td class="test144">AA</td>
<td class="test145">AA</td>
<td class="test146">AA</td>
<td class="test147">AA</td>
<td class="test148">AA</td>
<td class="test149">AA</td>
</tr>
<tr>
<td class="test150">AA</td>
<td class="test151">AA</td>
<td class="test152">AA</td>
<td class="test153">AA</td>
<td class="test154">AA</td>
<td class="test155">AA</td>
<td class="test156">AA</td>
<td class="test157">AA</td>
<td class="test158">AA</td>
<td class="test159">AA</td>
</tr>
<tr>
<td class="test160">AA</td>
<td class="test161">AA</td>
<td class="test162">AA</td>
<td class="test163">AA</td>
<td class="test164">AA</td>
<td class="test165">AA</td>
<td class="test166">AA</td>
<td class="test167">AA</td>
<td class="test168">AA</td>
<td class="test169">AA</td>
</tr>
<tr>
<td class="test170">AA</td>
<td class="test171">AA</td>
<td class="test172">AA</td>
<td class="test173">AA</td>
<td class="test174">AA</td>
<td class="test175">AA</td>
<td class="test176">AA</td>
<td class="test177">AA</td>
<td class="test178">AA</td>
<td class="test179">AA</td>
</tr>
<tr>
<td class="test180">AA</td>
<td class="test181">AA</td>
<td class="test182">AA</td>
<td class="test183">AA</td>
<td class="test184">AA</td>
<td class="test185">AA</td>
<td class="test186">AA</td>
<td class="test187">AA</td>
<td class="test188">AA</td>
<td class="test189">AA</td>
</tr>
<tr>
<td class="test190">AA</td>
<td class="test191">AA</td>
<td class="test192">AA</td>
<td class="test193">AA</td>
<td class="test194">AA</td>
<td class="test195">AA</td>
<td class="test196">AA</td>
<td class="test197">AA</td>
<td class="test198">AA</td>
<td class="test199">AA</td>
</tr>
<tr>
<td class="test200">AA</td>
<td class="test201">AA</td>
<td class="test202">AA</td>
<td class="test203">AA</td>
<td class="test204">AA</td>
<td class="test205">AA</td>
<td class="test206">AA</td>
<td class="test207">AA</td>
<td class="test208">AA</td>
<td class="test209">AA</td>
</tr>
<tr>
<td class="test210">AA</td>
<td class="test211">AA</td>
<td class="test212">AA</td>
<td class="test213">AA</td>
<td class="test214">AA</td>
<td class="test215">AA</td>
<td class="test216">AA</td>
<td class="test217">AA</td>
<td class="test218">AA</td>
<td class="test219">AA</td>
</tr>
<tr>
<td class="test220">AA</td>
<td class="test221">AA</td>
<td class="test222">AA</td>
<td class="test223">AA</td>
<td class="test224">AA</td>
<td class="test225">AA</td>
<td class="test226">AA</td>
<td class="test227">AA</td>
<td class="test228">AA</td>
<td class="test229">AA</td>
</tr>
<tr>
<td class="test230">AA</td>
<td class="test231">AA</td>
<td class="test232">AA</td>
<td class="test233">AA</td>
<td class="test234">AA</td>
<td class="test235">AA</td>
<td class="test236">AA</td>
<td class="test237">AA</td>
<td class="test238">AA</td>
<td class="test239">AA</td>
</tr>
<tr>
<td class="test240">AA</td>
<td class="test241">AA</td>
<td class="test242">AA</td>
<td class="test243">AA</td>
<td class="test244">AA</td>
<td class="test245">AA</td>
<td class="test246">AA</td>
<td class="test247">AA</td>
<td class="test248">AA</td>
<td class="test249">AA</td>
</tr>
<tr>
<td class="test250">AA</td>
<td class="test251">AA</td>
<td class="test252">AA</td>
<td class="test253">AA</td>
<td class="test254">AA</td>
<td class="test255">AA</td>
<td class="test256">AA</td>
<td class="test257">AA</td>
<td class="test258">AA</td>
<td class="test259">AA</td>
</tr>
<tr>
<td class="test260">AA</td>
<td class="test261">AA</td>
<td class="test262">AA</td>
<td class="test263">AA</td>
<td class="test264">AA</td>
<td class="test265">AA</td>
<td class="test266">AA</td>
<td class="test267">AA</td>
<td class="test268">AA</td>
<td class="test269">AA</td>
</tr>
<tr>
<td class="test270">AA</td>
<td class="test271">AA</td>
<td class="test272">AA</td>
<td class="test273">AA</td>
<td class="test274">AA</td>
<td class="test275">AA</td>
<td class="test276">AA</td>
<td class="test277">AA</td>
<td class="test278">AA</td>
</tr>
</table>
</body>
</html>