<!DOCTYPE HTML>
<html>
<head>
<title>Test page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- text taken from http://www.unicode.org/standard/translations/arabic.html -->

<style type="text/css">

body {
  margin: 50px;
  font-size: 24pt;
  width: 400px;
}

@font-face {
  font-family: Scheherazade-OpenType;
  src: url(../fonts/sil/ScheherazadeRegOT.ttf);
}  

p { font-family: Scheherazade-OpenType, serif; }

</style>
  
<script type="text/javascript">

</script>
  
</head>
<body dir="rtl">

<p>أساسًا، تتعامل الحواسيب مع الأرقام فقط، وتخزّن الأحرف والمحارف الأخرى بإعطاء رقم لكل واحد منها.</p>

</body>
</html>