<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Mozilla</title>
    <link rel="shortcut icon" type="image/ico" href="../images/mozilla_favicon.ico" />
</head>

<body>
    <a href="mozilla.html">
        <img id="mozilla_logo" src="../images/mozilla_logo.jpg" />
    </a>

    <a href="#community">Community</a> |
    <a href="#project">Project</a> |
    <a href="#organization">Organization</a>

    <div id="content">
        <h1 id="page-title">
            <strong>We believe</strong> that the internet should be public,
            open and accessible.
        </h1>

        <h2><a name="community">Community</a></h2>
        <p id="community">
            We're a global community of thousands who believe in the power
            of technology to enrich people's lives.
            <a href="mozilla_community.html">More</a>
        </p>

        <h2><a name="project">Project</a></h2>
        <p id="project">
            We're an open source project whose code is used for some of the
            Internet's most innovative applications.
            <a href="mozilla_projects.html">More</a>
        </p>

        <h2><a name="organization">Organization</a></h2>
        <p id="organization">
            We're a public benefit organization dedicated to making the
            Internet better for everyone.
            <a href="mozilla_mission.html">More</a>
        </p>
    </div>
</body>
</html>
