<!DOCTYPE html>
<html class="reftest-wait">
<head>
<style>
  div {
    width: 200px;
    height: 200px;
  }
  .sort-marker {
    position: fixed;
    background-color: green;
  }
  .inner {
    position: absolute;
    background-color: blue;
  }
</style>
</head>
<body>

<div class="sort-marker"></div>
<div style="perspective: 200px">
  <div class="inner" style="left: 5px; top: 5px;"></div>
  <div class="inner" id="move" style="left: 220px;"></div>
</div>
<div class="sort-marker" style="left: 20px; top: 20px;"></div>

<script>
  function doTest() {
    document.getElementById("move").style.left = "221px";
    document.documentElement.removeAttribute('class');
  }
  window.addEventListener("MozReftestInvalidate", doTest);
</script>
</body>
</html>
