<?xml version="1.0"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<!-- TODO: Clean up code & add checks:
       - WhitespaceAround
       - EmptyLineSeparator
       - NeedBraces
       - LeftCurly // placement of "{" in new scope or literal
       - RightCurly // placement of "}" in close scope or literal
       - Indentation
       - OneStatementPerLine
       - OperatorWrap
       - SeparatorWrap
       - MultipleVariableDeclarations
       - FallThrough
       (I spent too much time already)

     Maybe add:
       - OverloadMethodsDeclarationOrder
       - Empty*Block // better to catch errors!
       (I spent too much time already)

     See http://checkstyle.sourceforge.net/google_style.html
     for a good set of defaults.
-->

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!-- TODO: <property name="fileExtensions" value="java, properties, xml"/> -->

    <module name="FileTabCharacter"> <!-- No tabs! -->
        <property name="eachLine" value="true"/>
    </module>
    <module name="RegexpSingleline"> <!-- excess whitespace -->
        <property name="format" value="\s+$"/>
        <property name="message" value="Trailing whitespace"/>
    </module>

    <module name="TreeWalker">
        <module name="GenericWhitespace"/> <!-- whitespace for generics -->
        <module name="NoLineWrap">
            <property name="tokens" value="IMPORT,PACKAGE_DEF"/>
        </module>
        <module name="OuterTypeFilename"/> <!-- `class Lol` only in Lol.java -->
        <module name="WhitespaceAfter">
            <!-- TODO: (bug 1263059) Remove specific tokens to enable CAST check. -->
            <property name="tokens" value="COMMA, SEMI"/>
        </module>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
        </module>
        <module name="OneTopLevelClass"/>
    </module>

</module>
