/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.manifest-page {
	height: 100vh;
  padding: 0 2rem;
  display: grid;
  -moz-user-select: none;

  /* slipt up in components in https://bugzilla.mozilla.org/show_bug.cgi?id=1566011 */
  align-items: center;
  justify-content: center;
  font-size: var(--title-10-font-size);
  color: var(--theme-toolbar-color);
}
