# This is a sample configuration file to show how to run the Windows
# performance tests.

# The title of the html report
title: Windows 2000, 1Ghz Celeron, 256MB Ram

# Text to append to the filename (should only contain letters, numbers,
# and underscores)
filename: win2k_lowmem

# Profiles to test. Each of these can have different extensions installed,
# different prefs set, and different paths to firefox.

Firefox 1.5:
  # Path to Firefox executable to test:
  firefox: "C:\\Program Files\\Mozilla Firefox\\firefox.exe"
  
  # No preferences beyond the defaults
  preferences: {}
  
  # No extensions installed
  extensions: {}

Firefox 2.0 beta 1:
  # Path to Firefox executable to test:
  firefox: "C:\\Program Files\Mozilla Firefox 2 Beta 1\\firefox.exe"
  
  # Turn on prefs to enable safe browsing with no remote lookups
  # As an example of a string pref, make the selected search eBay
  preferences:
    browser.safebrowsing.enabled: true
    browser.safebrowsing.remoteLookups: false
    browser.search.selectedEngine: "eBay"
   
  # No extensions
  extensions: {}
