/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/*
 * The contents of this file are subject to the Netscape Public License
 * Version 1.1 (the "NPL"); you may not use this file except in
 * compliance with the NPL.  You may obtain a copy of the NPL at
 * http://www.mozilla.org/NPL/
 * 
 * Software distributed under the NPL is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the NPL
 * for the specific language governing rights and limitations under the
 * NPL.
 * 
 * The Initial Developer of this code under the NPL is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation.  All Rights
 * Reserved.
 */

/*---------------------------
   POPPAD.RC resource script
  ---------------------------*/

#include <windows.h>
#include "poppad.h"

PopPad ICON "poppad.ico"

PopPad MENU
     {
     POPUP "&File"
          {
          MENUITEM "&New",              IDM_NEW
          MENUITEM "&Open...",          IDM_OPEN
          MENUITEM "&Save",             IDM_SAVE
          MENUITEM "Save &As...",       IDM_SAVEAS
          MENUITEM SEPARATOR
          MENUITEM "&Print...",         IDM_PRINT
          MENUITEM SEPARATOR
          MENUITEM "E&xit",             IDM_EXIT
          }
     POPUP "&Edit"
          {
          MENUITEM "&Undo\tCtrl+Z",     IDM_UNDO
          MENUITEM SEPARATOR
          MENUITEM "Cu&t\tCtrl+X",      IDM_CUT
          MENUITEM "&Copy\tCtrl+C",     IDM_COPY
          MENUITEM "&Paste\tCtrl+V",    IDM_PASTE
          MENUITEM "De&lete\tDel",      IDM_DEL
          MENUITEM SEPARATOR
          MENUITEM "&Select All",       IDM_SELALL
          }
     POPUP "&Search"
          {
          MENUITEM "&Find...",          IDM_FIND
          MENUITEM "Find &Next\tF3",    IDM_NEXT
          MENUITEM "&Replace...",       IDM_REPLACE
          }
     POPUP "&Character"
          {
          MENUITEM "&Font...",          IDM_FONT
          }
     POPUP "&Help"
          {
          MENUITEM "&Help",             IDM_HELP
          MENUITEM "&About PopPad...",  IDM_ABOUT
          }
     }

PopPad ACCELERATORS
     {
     "^Z",      IDM_UNDO
     VK_BACK,   IDM_UNDO,  VIRTKEY, ALT
     "^X",      IDM_CUT
     VK_DELETE, IDM_CUT,   VIRTKEY, SHIFT
     "^C",      IDM_COPY
     VK_INSERT, IDM_COPY,  VIRTKEY, CONTROL
     "^V",      IDM_PASTE
     VK_INSERT, IDM_PASTE, VIRTKEY, SHIFT
     VK_DELETE, IDM_DEL,   VIRTKEY
     VK_F3,     IDM_NEXT,  VIRTKEY
     VK_F1,     IDM_HELP,  VIRTKEY
     }

AboutBox DIALOG  20, 20, 160, 80
     STYLE WS_POPUP | WS_DLGFRAME
     {
     CTEXT "PopPad"                              -1,   0, 12, 160,  8
     ICON  "PopPad"                              -1,   8,  8,   0,  0
     CTEXT "Popup Editor for Microsoft Windows"  -1,   0, 36, 160,  8
     CTEXT "Copyright (c) Charles Petzold, 1992" -1,   0, 48, 160,  8
     DEFPUSHBUTTON "OK"                        IDOK,  64, 60,  32, 14, WS_GROUP
     } 

PrintDlgBox DIALOG 20, 20, 100, 76
     STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
     CAPTION "PopPad"
     {
     CTEXT "Sending",                  -1,  0, 10, 100,  8
     CTEXT "",                  IDD_FNAME,  0, 20, 100,  8
     CTEXT "to print spooler.",        -1,  0, 30, 100,  8
     DEFPUSHBUTTON  "Cancel",    IDCANCEL, 34, 50,  32, 14, WS_GROUP
     }
