<!DOCTYPE HTML>
<!--
Our body is 2000px wide, but the effective container size for font inflation will be clamped to the
viewport width of 1000px (this test uses a custom value for browser.viewport.desktopWidth).
The minimum font size at 20em per line in an 1000px container is 50px. This means we map 0px-75px
into 50px-75px, so 12px gets mapped to 54px.
-->
<html>
<head>
  <style>
    body {
      width: 2000px;
      line-height: 1.1;
      font-size: 12px;
      overflow: hidden;
    }
  </style>
</head>
  <body>
    PERSONS attempting to find a motive in this narrative will be prosecuted;
    persons attempting to find a moral in it will be banished;
    persons attempting to find a plot in it will be shot.<br>
    BY ORDER OF THE AUTHOR,<br>
    Per G.G., Chief of Ordnance.
  </body>
</html>
