<!DOCTYPE HTML>
<!--
The minimum font size at 15em per line in a 450px container is 30px. This means we map 0px-45px
into 30px-45px, so 12px gets mapped to 34px.
-->
<html>
  <head>
    <style>
      body {
        height: 100%;
        /*
         * We need overflow:hidden because we can't show a scrollbar due
         * to https://bugzilla.mozilla.org/show_bug.cgi?id=743805 .
         */
        overflow: hidden;
      }

      div {
        width: 450px;
      }

      p {
        line-height: 1.1;
        font-size: 12px;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div>
      <p>Dorothy lived in the midst of the great Kansas prairies, with Uncle Henry, who was a farmer, and Aunt Em, who was the farmer's wife. Their house was small, for the lumber to build it had to be carried by wagon many miles. There were four walls, a floor and a roof, which made one room; and this room contained a rusty looking cookstove, a cupboard for the dishes, a table, three or four chairs, and the beds. Uncle Henry and Aunt Em had a big bed in one corner, and Dorothy a little bed in another corner. There was no garret at all, and no cellar--except a small hole dug in the ground, called a cyclone cellar, where the family could go in case one of those great whirlwinds arose, mighty enough to crush any building in its path. It was reached by a trap door in the middle of the floor, from which a ladder led down into the small, dark hole.</p>
    </div>
  </body>
</html>
