/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * The default namespace for this file is XUL. Be sure to prefix rules that
 * are applicable to both XUL and HTML with '*|'.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


/* Page background */
*|*:root {
  -moz-appearance: none;
  padding: 18px;
  background-color: Window;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 160px),
                    linear-gradient(-moz-dialog, Window 160px);
  color: WindowText;
}

html|html {
  font: message-box;
}

/* Content */
*|*.main-content {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  overflow: hidden;
  background-color: -moz-Field;
  color: -moz-FieldText;
  border: 1px solid ThreeDShadow;
  border-radius: 5px;
}
