/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: menupopup ::::: */

menupopup,
panel {
  min-width: 1px;
  --panel-padding-block: max(env(-moz-gtk-csd-menu-radius) - 1px, 0px);
  --panel-padding: var(--panel-padding-block) 0;
  --panel-color: MenuText;
  --panel-background: Menu;
  --panel-border-radius: env(-moz-gtk-csd-menu-radius);
  --panel-border-color: ThreeDShadow;
  --panel-width: initial;
  /* To account for the box-shadow below */
  margin: -4px;
  -moz-window-input-region-margin: 4px;
}

menupopup > menu > menupopup {
  /* Vertically align nested menupopups: 4px from the shadow plus the top
   * padding */
  margin-top: calc(-4px - var(--panel-padding-block));
}

/* ::::: arrow panel ::::: */

panel[type="arrow"] {
  border: none;
  background-color: transparent;
}

:is(panel, menupopup)::part(content) {
  display: -moz-box;
  -moz-box-flex: 1;
  padding: var(--panel-padding);
  color: var(--panel-color);
  background: var(--panel-background);
  border-radius: var(--panel-border-radius);
  border: 1px solid var(--panel-border-color);
  width: var(--panel-width);

  box-shadow: 0 0 4px hsla(0,0%,0%,.2);
  margin: 4px;
}

:is(panel, menupopup)[orient=vertical]::part(content) {
  -moz-box-orient: vertical;
}

panel[type="arrow"].panel-no-padding::part(content) {
  padding: 0;
  overflow: hidden; /* Don't let panel content overflow the border */
}

/* rules for popups associated with menulists */

menulist > menupopup {
  padding: 0;
  min-width: 0;
}

menupopup[customoptionstyling="true"] {
  appearance: none;
}
