body,td, form {
    font-family: Sans-Serif;
    background-color: #bbbbbb;
  }

#find { width: 80px; left: 350px; top:7px; font-style: normal; position: absolute; visibility:  height: 32px; visible; z-index: auto}
#cancel { width: 80px; left: 350px; top: 40px; font-style: normal; position: absolute; visibility:  height: 32px; visible; z-index: auto}


body,td {
    font-size: 8pt;
}

body {
    margin: 0px 0px 0px 0px;
	height: 200px;
	background-color: #bbbbbb;
}
