<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

<script type="text/javascript">
  // Enables or disables a requestee field depending on whether
  // the user is requesting that flag type.
  function toggleRequesteeField(selectField)
  {
    var flagID = selectField.name.replace(/flag_type-(\d+)/, "$1");
    var requesteeField = document.getElementById("requestee-" + flagID);
    if (!requesteeField) return;
    if   (selectField.value == "?") requesteeField.disabled = false;
    else                            requesteeField.disabled = true;
  }
  
  // Disables requestee fields when the window is loaded since they
  // shouldn't be enabled until the user requests that flag type.
  function disableRequesteeFields()
  {
    var inputElements = document.getElementsByTagName("input");
    var inputElement;
    for ( var i=0 ; i<inputElements.length ; i++ )
    {
      inputElement = inputElements.item(i);
      if (inputElement.name.search(/^requestee-(\d+)$/) != -1)
        inputElement.disabled = true;
    }
  }
  window.onload = disableRequesteeFields;
</script>

<table id="flags">

  [% FOREACH type = flag_types %]
    [% FOREACH flag = type.flags %]
      <tr>
        <td>
          [% flag.setter.nick FILTER html %]:
        </td>
        <td>
          [% type.name FILTER html %]
        </td>
        <td>
          <select name="flag-[% flag.id %]" onchange="toggleRequesteeField(this);">
            <option value="X"></option>
            [% IF type.is_active %]
              <option value="+" [% "selected" IF flag.status == "+" %]>+</option>
              <option value="-" [% "selected" IF flag.status == "-" %]>-</option>
              [% IF type.is_requestable %]
                <option value="?" [% "selected" IF flag.status == "?" %]>?</option>
              [% END %]
            [% ELSE %]
              <option value="[% flag.status %]" selected>[% flag.status %]</option>
            [% END %]
          </select>
        </td>
        <td>
          [% IF flag.status == "?" %]
            [% IF flag.requestee %]([% flag.requestee.nick FILTER html %])[% END %]
          [% ELSIF type.is_requestable && type.is_active %]
            <span style="white-space: nowrap;">
              (<input type="text" id="requestee-[% type.id %]" 
                      name="requestee-[% type.id %]" size="8" maxlength="255">)
            </span>
          [% END %]
        </td>
      </tr>
    [% END %]
    [% IF (!type.flags || type.flags.size == 0) && type.is_active %]
      <tr>
        <td>&nbsp;</td>
        <td>[% type.name %]</td>
        <td>
          <select name="flag_type-[% type.id %]" onchange="toggleRequesteeField(this);">
            <option value="X"></option>
            <option value="+">+</option>
            <option value="-">-</option>
            [% IF type.is_requestable %]
              <option value="?">?</option>
            [% END %]
          </select>
        </td>
        <td>
            <span style="white-space: nowrap;">
              (<input type="text" id="requestee-[% type.id %]" 
                      name="requestee-[% type.id %]" size="8" maxlength="255">)
            </span>
        </td>
      </tr>
    [% END %]
  [% END %]

  [% FOREACH type = flag_types %]
    [% NEXT UNLESS type.flags.size > 0 && type.is_multiplicable && type.is_active %]
    [% IF !separator_displayed %]
        <tr><td colspan="3"><hr></td></tr>
        [% separator_displayed = 1 %]
    [% END %]
    <tr>
      <td colspan="2">addl. [% type.name %]</td>
      <td>
        <select name="flag_type-[% type.id %]" onchange="toggleRequesteeField(this);">
          <option value="X"></option>
          <option value="+">+</option>
          <option value="-">-</option>
          [% IF type.is_requestable %]
            <option value="?">?</option>
          [% END %]
        </select>
      </td>
      <td>
        [% IF type.is_requestable && type.is_requesteeble %]
            <span style="white-space: nowrap;">
              (<input type="text" id="requestee-[% type.id %]" 
                      name="requestee-[% type.id %]" size="8" maxlength="255">)
            </span>
        [% END %]
      </td>
    </tr>
  [% END %]

</table>
