/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/design-system/tokens-shared.css");

@media not (prefers-contrast) {
  :root,
  :host(.anonymous-content-host) {
    /* Base */
    /* Do not use base tokens directly as they don't carry any meaning and are used to set our base. Refer to Application tokens below. */
    /* Typography */
    /** Font size **/
    --font-size-root: unset;
    --font-size-small: unset;
    --font-size-large: unset;
    --font-size-xlarge: unset;
    --font-size-xxlarge: unset;

    /* Application */
    /* Border */
    --border-interactive-color: color-mix(in srgb, currentColor 15%, var(--color-gray-60));

    /* Button */
    --button-background-color: var(--button-bgcolor);
    --button-background-color-hover: var(--button-hover-bgcolor);
    --button-background-color-active: var(--button-active-bgcolor);

    /* Color */
    --color-accent-primary: var(--platform-color-accent);
    --color-accent-primary-hover: var(--platform-color-accent-hover);
    --color-accent-primary-active: var(--platform-color-accent-active);
    --platform-color-accent: var(--button-primary-bgcolor, AccentColor);
    --platform-color-accent-hover: var(--button-primary-hover-bgcolor);
    --platform-color-accent-active: var(--button-primary-active-bgcolor);
    --color-canvas: Canvas;

    /** Font weight **/
    --font-weight-light: unset;

    /** Line height **/
    --line-height-small: unset;
    --line-height-default: normal;

    /** Link **/
    --link-color: LinkText;
    --link-color-hover: LinkText;
    --link-color-active: ActiveText;
    --link-color-visited: var(--link-color);

    /* Text */
    --text-color: currentColor;
  }
}
