@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#ProfileDir {
  padding-left                : 1em;
  margin-top                  : 0.4em;
  width                       : 10em !important;
}

#deffoldername {
  margin-left                 : 2px;
} 
