recursive-include marionette/touch *.js
recursive-include marionette/www *
recursive-include marionette/chrome *
recursive-include marionette/runner/mixins/resources *
exclude MANIFEST.in
include requirements.txt
