browsermob-proxy >= 0.6.0
manifestparser >= 1.1
marionette-driver >= 2.7.0
mozcrash >= 0.5
mozdevice >= 1.0.0
mozinfo >= 0.8
mozlog >= 3.0
moznetwork >= 0.21
mozprocess >= 0.9
mozprofile >= 0.7
mozrunner >= 7.0.1
moztest >= 0.8
mozversion >= 1.1
six
wptserve >= 1.3.0
