
#from {
  margin-top: 1px; 
}

#location {
  font-weight: bold;
}

#contentTypeImage {
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 5px;
}

.small-indent {
  margin-left: 15px; 
  margin-right: 15px;
}

