/* 
 * The contents of this file are subject to the Mozilla Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/MPL/
 * 
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is The Waterfall Java Plugin Module
 *  
 * The Initial Developer of the Original Code is Sun Microsystems Inc
 * Portions created by Sun Microsystems Inc are Copyright (C) 2001
 * All Rights Reserved.
 * 
 * $Id: plugin.policy,v 1.2 2001/07/12 19:57:51 edburns%acm.org Exp $
 * 
 * Contributor(s):
 * 
 *     Nikolay N. Igotti <nikolay.igotti@Sun.Com>
 */

grant codeBase "file:${jvmp.home}/classes/*" {
        permission java.security.AllPermission;
};
grant codeBase "file:${jvmp.home}/wf.jar" {
        permission java.security.AllPermission;
};

grant {
       permission java.lang.RuntimePermission "accessClassInPackage.sun.jvmp";
       permission java.lang.RuntimePermission "accessClassInPackage.sun.jvmp.applet";
       permission java.lang.RuntimePermission "accessClassInPackage.sun.security.action";
       permission java.lang.RuntimePermission "accessClassInPackage.sun.awt.image";
       permission java.lang.RuntimePermission "accessClassInPackage.sun.audio";
       permission java.lang.RuntimePermission "accessClassInPackage.sun.applet";
       permission java.lang.RuntimePermission "modifyThread";
};
