/* -*- Mode: C; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 *
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */



/////////////////////////////////////////////////////////////////////////////

// Version stamp for this .DLL

#include <windows.h>

#include <ver.h>



VS_VERSION_INFO     VERSIONINFO

  FILEVERSION       4 // major, minor, release (alpha 1), build #

  PRODUCTVERSION    4

  FILEFLAGSMASK     0

  FILEFLAGS         0 // final version

  FILEOS            VOS_DOS_WINDOWS16

  FILETYPE          VFT_DLL

  FILESUBTYPE       0   // not used

BEGIN

    BLOCK "StringFileInfo"

    BEGIN

        BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual

        BEGIN

            VALUE "CompanyName",     "Netscape Communications Corporation\0"

            VALUE "FileDescription", "Netscape 16-bit JavaScript Debugger Module\0"

            VALUE "FileVersion",     "4.0\0"

            VALUE "InternalName",    "JSD1640\0"

            VALUE "LegalCopyright",  "Copyright Netscape Communications. 1994-96\0"

            VALUE "LegalTrademarks", "Netscape, Mozilla\0"

            VALUE "OriginalFilename","JSD1640.DLL\0"

            VALUE "ProductName",     "NETSCAPE\0"

            VALUE "ProductVersion",  "4.0\0"

        END

    END

END

