<html>
  <head>
    <style type="text/css">
      .pad {
        display: block;
        height: 20px;
      }
      .out {
        display: block;
        position: absolute;
        transform-origin: 0 0;
        width: 100px;
        height: 50px;
        overflow: hidden;
        left: 108px;
      }
      .rect {
        width: 100px;
        height: 50px;
        background-color: grey;
      }
    </style>
  </head>
  <body>
    <div class="pad"></div>
    <div class="out">
      <div class="rect"></div>
    </div>
  </body>
</html>
