/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is
 * Netscape Communications Corporation
 *
 * Portions created by the Initial Developer are Copyright (C) 2002
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *       Rajiv Dayal <rdayal@netscape.com>
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#include "resource.h"
//
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APP_TITLE           "Mozilla PalmSync Install"
    IDC_PALMSYNCINSTALL     "PALMSYNCINSTALL"
    IDS_ERR_GENERAL         "Error in installing the Mozilla Address Book Palm Sync Conduit"
    IDS_ERR_LOADING_CONDMGR "Error in loading the Conduit Manager while installing the Mozilla  Address Book Palm Sync Conduit"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ERR_HSAPI_NOT_FOUND "Could not find the HSAPI.dll while installing the Mozilla Address Book Palm Sync Conduit"
    IDS_ERR_CONDUIT_NOT_FOUND 
                            "Could not find the Mozilla Address Book Palm Sync Conduit to install"
    IDS_ERR_HOTSYNC_IN_PROGRESS 
                            "A Palm HotSync operation is in progress, let it complete first then install the Mozilla Address Book Palm Sync Conduit"
    IDS_ERR_FINDING_INSTALL_DIR 
                            "Could not find the directory to install the Mozilla Address Book Palm Sync Conduit."
    IDS_SUCCESS_INSTALL     "Mozilla Address Book Palm Sync Conduit has been successfully installed. Now when you do an HotSync operation from your Palm handheld device, the Address Book on the handheld will sync with Mozilla's Address Book."
    IDS_SUCCESS_UNINSTALL   "Mozilla Address Book Palm Sync Conduit has been successfully Uninstalled. The Palm Desktop configuration has been restored for you to enable synchronization of your Address Book on the handheld with Palm Desktop."
    IDS_CONFIRM_INSTALL     "Click Yes to Install the Mozilla Address Book PalmSync Conduit, which will enable address book synchronization between Mozilla Address Book and Palm handheld Address Book. Note this will replace the synchronization with Palm Desktop."
    IDS_CONFIRM_UNINSTALL   "Click Yes to Un-Install the Mozilla Address Book PalmSync Conduit. Note this will restore the synchronization with Palm Desktop."
    IDS_ERR_REGISTERING_MOZ_DLL 
                            "Failed to register the Mozilla's Palm Sync Support Proxy Dll while installing the Mozilla Address Book Palm Sync Conduit."
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
