<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen, projection" type="text/css"
          href="chrome://global/skin/in-content/common.css">
    <link rel="stylesheet" media="screen, projection" type="text/css"
          href="chrome://global/skin/in-content/info-pages.css" title="infop">
    <link rel="stylesheet" type="text/css"
          href="chrome://browser/content/aboutconfig/aboutconfig.css">
    <link rel="localization" href="browser/aboutConfig.ftl">
    <script src="chrome://browser/content/aboutconfig/aboutconfig.js"></script>
    <title data-l10n-id="about-config2-title"></title>
  </head>
  <body>
    <div class="container" role="alertdialog" aria-labelledby="warningTitle"
         aria-describedby="warningDescription">

      <div class="title">
        <h1 id="warningTitle" class="title-text"
            data-l10n-id="about-config-warning-title"></h1>
      </div>

      <div class="description">
        <p id="warningDescription" data-l10n-id="about-config-warning-text"></p>
      </div>

      <div class="toggle-container-with-text">
        <input type="checkbox" id="showWarningNextTime" checked>
        <label for="showWarningNextTime"
               data-l10n-id="about-config-warning-checkbox"></label>
      </div>

      <div class="button-container">
        <button autofocus onclick="onWarningButtonClick();"
                data-l10n-id="about-config-warning-button"></button>
      </div>
    </div>

    <template id="main">
      <div id="search-container">
        <!-- Use a unique ID to prevent showing autocomplete results from other
             browser pages with similarly named fields. -->
        <input type="text" id="about-config-search"
               data-l10n-id="about-config-search-input">
      </div>

      <table id="prefs"></table>

      <button id="show-all" data-l10n-id="about-config-show-all"></button>
    </template>
  </body>
</html>
