/* Override default style */
select:invalid {
  box-shadow: none;
}

select.notinvalid {
  background-color: green;
}
select.notinvalid:invalid {
  background-color: red;
}

select.invalid {
  background-color: red;
}
select.invalid:invalid {
  background-color: green;
}
