[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Zach Lipton <zach@zachlipton.com>
#%]
  
[%# INTERFACE:
  # none
#%]

[% # Create js enabled select boxen for sysconfig and
   # product/group/subgroup categories. %]

[% # platform dropdown box
   # defaultplatform - the object for the default platform selection 
   #                   (can be either a single object or a list)
   # test (optional) - if present, the selection name will be platform_testid
%]
[% BLOCK platformbox %]
    [% IF test %] [% testidflag = "_$test.testid" %] 
    [% ELSE %] [% testidflag = "" %][% END %]
    
    [% IF defaultplatform %]
    [% valuelist = defaultplatform.list.join(',') %]
    <input name="platform[%testidflag FILTER html %]_default" 
        id="platform[%testidflag FILTER html %]_default" 
        type="hidden" 
        value="[%valuelist FILTER html%]">
    [% END %]
    <select name="platform[%testidflag%]" id="platform[%testidflag FILTER html%]" 
        onchange="changePlatform([%test.testid FILTER js%])"
        class="select_platform">
    </select>
[% END %]

[% # opsys dropdown box
   # test (optional) - if given, the select name will be opsys_testid
   # defaultopsys - the default opsys to select
   #                (can be either a single object or a list)
%]
[% BLOCK opsysbox %]
    [% IF test %] [% testidflag = "_$test.testid" %] 
    [% ELSE %] [% testidflag = "" %][% END %]
    [% IF defaultopsys %]
    [% valuelist = defaultopsys.list.join(',') %]
    <input name="opsys[%testidflag FILTER html %]_default" 
        id="opsys[%testidflag FILTER html %]_default" 
        type="hidden" 
        value="[%valuelist FILTER html%]">
    [% END %]
    <select name="opsys[%testidflag FILTER html%]" id="opsys[%testidflag FILTER html%]" 
        class="select_opsys">
    </select>
[% END %]

[% # branch dropdown box
   # defaultbranch - default branch selection
   #                  (can be either a single object or a list)
   # test (optional) - if given, the select name will be branch_branchid
%]
[% BLOCK branchbox %]
    [% IF test %] [% testidflag = "_$test.testid" %] 
    [% ELSE %] [% testidflag = "" %][% END %]
    [% IF defaultbranch %]
    [% valuelist = defaultbranch.list.join(',') %]
    <input name="branch[%testidflag FILTER html %]_default" 
        id="branch[%testidflag FILTER html %]_default" 
        type="hidden" 
        value="[%valuelist FILTER html%]">
    [% END %]
    <select name="branch[%testidflag FILTER html%]" id="branch[%testidflag FILTER html%]" 
        class="select_branch">
    </select>
[% END %]

[% # testgroup drowndown box
   # default (optional) - the default selection
   #                     (can be either a single object or a list)
   # testid (optional) - the current testid. If given, 
   #    the selname will be testgroup_testid
%]
[% BLOCK testgroupbox %]
    [% IF test %] [% testidflag = "_$test.testid" %] 
    [% ELSE %] [% testidflag = "" %][% END %]
    [% IF default %]
    [% valuelist = default.list.join(',') %]
    <input name="testgroup[%testidflag FILTER html %]_default" 
        id="testgroup[%testidflag FILTER html %]_default" 
        type="hidden" 
        value="[%default FILTER html%]">
    [% END %]
    <select name="testgroup[%testidflag FILTER html%]" id="testgroup[%testidflag FILTER html%]" 
        onchange="changeTestgroup([%test.testid FILTER js%])"
        class="select_testgroup">
    </select>
[% END %]

[% # subgroup drowndown box
   # default (optional) - the default selection
   #                     (can be either a single object or a list)
   # testid (optional) - the current testid. If given, 
   #    the selname will be subgroup_testid
%]
[% BLOCK subgroupbox %]
    [% IF test %] [% testidflag = "_$test.testid" %] 
    [% ELSE %] [% testidflag = "" %][% END %]
    [% IF default %]
    [% valuelist = default.list.join(',') %]
    <input name="subgroup[%testidflag FILTER html %]_default" 
        id="subgroup[%testidflag FILTER html %]_default" 
        type="hidden" 
        value="[%valuelist FILTER html%]">
    [% END %]
    <select name="subgroup[%testidflag FILTER html%]" id="subgroup[%testidflag FILTER html%]" 
        class="select_subgroup">
    </select>
[% END %]


[% # product dropdown box 
   # selected (optional) - product for the default selection
   #                     (can be either a single object or a list)
   # test (optional) - the current test object. If given, 
   #    the selname will be product_testid
%]
[% BLOCK productbox %]
    [% IF test %] [% testidflag = "_$test.testid" %] 
    [% ELSE %] [% testidflag = "" %][% END %]
    [% IF selected %]
    [% valuelist = selected.list.join(',') %]
    <input name="product[%testidflag FILTER html %]_default" 
        id="product[%testidflag FILTER html %]_default" 
        type="hidden" 
        value="[%valuelist FILTER html%]">
    [% END %]
    <select name="product[%testidflag FILTER html%]" id="product[%testidflag FILTER html%]" 
        onchange="changeProduct([%test.testid FILTER js%])"
        class="select_product">
    </select>
[% END %]