{
  // Extend from the devtools eslintrc.
  "extends": "../../../.eslintrc",

  "rules": {
    // All code in this directory must be content-clean.
    "mozilla/reject-some-requires": [2, "^(chrome|chrome:.*|resource:.*|devtools/server/.*|.*\\.jsm|devtools/shared/platform/(chome|content)/.*)$"],
  },
}
