// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.onboardingContainer.shopping {
  height: auto;

  .outer-wrapper {
    height: auto;
  }
}

.onboardingContainer.shopping .screen[pos='split'] {
  height: auto;
  margin: 0 auto;
  min-height: fit-content;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(58, 57, 68, 20%);

  @media (prefers-contrast: no-preference) and (prefers-color-scheme: dark) {
    box-shadow: 0 2px 6px rgba(21, 20, 26, 100%);
  }

  &::before {
    display: none;
  }

  .section-main {
    width: auto;
    height: auto;
    margin: 0 auto;

    .main-content {
      border-radius: 4px;
      color: inherit;
      font: menu;

      @media (prefers-contrast: no-preference) and (prefers-color-scheme: dark) {
        background-color: #52525E;
      }

      &.no-steps {
        padding: 16px 0 36px;
      }

      .welcome-text {
        text-align: start;
        margin-block: 10px 20px;

        h1 {
          width: auto;
          font-weight: 400;
          line-height: 1.5;
          font-size: 1.7em;
        }

        h2 {
          color: inherit;
          font-size: 1em;
        }
      }

      .action-buttons {
        .primary,
        .secondary {
          min-width: auto;
        }

        .primary {
          font-weight: 400;
          padding: 4px 16px;
        }

        &.additional-cta-container {
          align-items: center;
        }
      }

      .legal-paragraph {
        font-size: 0.85em;
        line-height: 1.5;
        margin-block: 0 20px;
        padding-inline: 30px;
        text-align: start;

        a {
          text-decoration: underline;
        }
      }
    }

    .dismiss-button {
      top: 0;
      margin: 14px 10px;
    }
  }

  .section-secondary {
    display: none;
  }

  .info-text, .link-paragraph {
    font-size: 1em;
    margin: 10px auto;
    line-height: 1.5;
  }

  .link-paragraph {
    margin-block: 0 10px;
    padding-inline: 30px;
    text-align: start;

    a {
      text-decoration: underline;
    }
  }
}

.onboardingContainer.shopping .screen[pos='split'][layout='survey'] {
  .main-content {
    padding: 8px 12px 24px;

    .main-content-inner {
      min-height: auto;

      .welcome-text {
        align-items: initial;
        padding: 0;
        margin-top: 12px;

        h1 {
          font-size: 1em;
          font-weight: 590;
          margin: 0;
        }

        h2 {
          color: inherit;
          margin-block: 12px 0;
        }
      }

      .multi-select-container {
        color: inherit;
        padding: 0;
        margin-block: 12px;
        align-items: center;
        overflow: visible;
        font-size: 1em;
        gap: 8px;
      }

      .steps {
        height: 24px;
      }
    }
  }
}
