[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
  # $sysconfig - the user's system configuration
  # $istrusted - is the user trusted?
  # $group     - selected group to test
  # $subgroup  - selected subgroup to test
  # @tests       - an array of test objects to run
#%]

[% INCLUDE global/html_header.tmpl js_files=['js/prototype.lite.js','js/moo.fx.js','js/moo.fx.pack.js','js/RunTests.js'] %] 
[% INCLUDE global/litmus_header.tmpl %]

<div id="page">

[% INCLUDE sidebar/runtests_sidebar.tmpl %]

  <div id="content">

    <h1 class="firstHeading">[% title | html %]</h1>

[% INCLUDE runtests/testing_config.tmpl sysconfig=sysconfig %]

<form action="process_test.cgi" method="post" name="form" id="form">
<input name="isTestResult" type="hidden" value="true" />
<input name="editingTestcases" id="editingTestcases" type="hidden" value="" />
<input name="testgroup" type="hidden" value="[% group.testgroup_id FILTER html %]" />

<div class="section-full">
<div class="sec_head">
  <table cellspacing="0" cellpadding="0">
  <tr>
  <td class="l">Testcases - <a href="run_tests.cgi?product=[% sysconfig.product.productid %]&amp;defaulttestgroup=[% group.testgroup_id %]&amp;continuetesting=1" title="Click here to return to the Test Group selection page">[% group.name | html %]</a>: [% subgroup.name | html %]</td>
  <td class="r">
<div class="nav"><a id="top_all" href="#" onclick="allStretch.showAll('height'); return false;">Show All</a>&nbsp;/&nbsp;<a id="top_all" href="#" onclick="allStretch.hideAll('height'); return false;">Hide All</a></div>
  </td>
  </tr>
  </table>
</div> <!--END sec_head-->

<br/>

[% first_testcase_id=0 %]
[% num_testcases=0 %]
[% separators=[] %]
[% testcase_ids=[] %]
[% i=1 %]
[% FOREACH curtest=tests %]
  [% IF first_testcase_id==0 %]
    [% first_testcase_id=curtest.testcase_id %]
  [% END %]

  [% IF num_testcases!=0 %]
    [% sep_id="p$num_testcases" %]
    <div class="head_s" id="[% sep_id | none %]" style="display:none;"></div>
    [% separators.push(sep_id) %]
  [% END %]

  [% num_testcases=num_testcases+1 %]
  [% testcase_ids.push(curtest.testcase_id) %]

  <!-- Test [% i %] Start -->

[% results=curtest.is_completed(sysconfig.platform,sysconfig.build_id,sysconfig.locale,defaultemail) %]
[% IF results %][% testcase_class="testcase-completed" %][% ELSE %][% testcase_class="testcase" %][% END %]
  <div class="[% testcase_class %]" id="t[% i %]">
  <div class="testcase-head">
    <table cellpadding="0" cellspacing="0">
    <tr>
    <td class="l"><a name="test_[% i %]" onclick="allStretch.toggle(document.getElementById('t[% i %]-content'), 'height');">[% loop.count %]: [% curtest.summary | html %]&nbsp;&raquo;</a></td>
    <td class="r">[% IF results %]<a title="You have already submitted a result for this testcase." target="test_results" href="single_result.cgi?id=[% results.0.testresult_id %]"><img align="absmiddle" src="images/confirm.png" border="0" /></a>&nbsp;[% END %]
    <a title="Testcase ID#: [% curtest.testcase_id | html %]" href="show_test.cgi?id=[% curtest.testcase_id | uri | html %]">View&nbsp;/&nbsp;Edit</a></td>
    </tr>
    </table>
  </div> <!--END testcase-head-->

  <div id="t[% i %]-content" class="testcase-content">

  [% INCLUDE test/test.html.tmpl testcase=curtest showedit=0 %]

  </div>

</div>

<!-- Test [% i %] End -->

[% i=i+1 %]
[% END %]
<script language="JavaScript" type="text/JavaScript">
var tmp_pagepos=1;
var tmp_pagetotal=[% num_testcases | js | html %];
var tmp_tests=new Array([% i=1 %][% FOREACH testcase_id=testcase_ids %][% IF i>1 %],[% END %]"t[% i %]"[% i=i+1 %][% END %]);
var tmp_separ=new Array([% i=1 %][% FOREACH separator=separators %][% IF i>1 %],[% END %]"[% separator | none %]"[% i=i+1 %][% END %]);
var tmp_menua=new Array([% i=1 %][% FOREACH testcase_id=testcase_ids %]"ma[% i %]",[% i=i+1 %][% END %]"mf");
var tmp_menub=new Array([% i=1 %][% FOREACH testcase_id=testcase_ids %]"mb[% i %]",[% i=i+1 %][% END %]"ml");
</script>

<div class="sec_head">
  <table cellspacing="0" cellpadding="0">
  <tr>
  <td class="submitall"><div class="v3"><input class="button" type="submit" id="Submit" name="Submit" value="Submit All Results" onclick="findEdited()" /></div></td>
  <td class="r">
<div class="nav"><a id="bottom_all" href="#" onclick="allStretch.showAll('height'); return false;">Show All</a></div>
  </td>
  </tr>
  </table>
</div>

</div> <!--END section-full-->

</form>

  <script type="text/javascript">
    Element.cleanWhitespace('testconfig');
    showAll=0;
    tc_init();
  </script>

</div> <!--END content-->

</div> <!--END page-->

[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]
