[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #%]

[%# INTERFACE:
  # ...
  #%]
  
[%############################################################################%]
[%# Template Initialization                                                  #%]
[%############################################################################%]

[% PROCESS global/variables.none.tmpl %]

[% IF attachment.case_id %]
    [% SET item = "Test Case $attachment.case_id" %]
[% ELSE %]
    [% SET item = "Test Plan $attachment.plan_id" %]
[% END %]
[% title = "Delete Attachment $attachment.description for $item" %]

[%############################################################################%]
[%# Page Header                                                              #%]
[%############################################################################%]

[% PROCESS global/header.html.tmpl %]

[% IF environment.get_run_count %]
<b>This environment is being used by [% environment.get_run_count FILTER none %]
test runs. Please reassign these runs to a different Environment before deleting.

[% ELSE %]
You are about to permanantly delete this environment.
<br>
<form method="POST" action="tr_environment.cgi">
  <input type="hidden" name="action" value="do_delete" />
  <input type="hidden" name="env_id" value="[% environment.id FILTER none %]" />
  <input type="submit" value="Continue" />
</form>  
[% END %]  
[% PROCESS global/footer.html.tmpl %]
