<select class="testgroup" id="[% name %]" name="[% name %]"[% IF size %] size="[% size %]"[% END %][% IF onchange %] onChange="[% onchange %]"[% END %][% IF disabled %] disabled[% END %]>
    [% IF placeholder %]<option value="">-Testgroup Name (Testgroup ID#)-</option>[% END %]
[% IF testgroups %]
[% FOREACH testgroup=testgroups %]
    <option[% IF defaults.testgroup_id==testgroup.testgroup_id %] selected[% END %] 
        value="[% testgroup.testgroup_id | html %]">[% testgroup.name %] ([% testgroup.testgroup_id | html%])</option>
[% END %]
[% END %]
</select>
