<select name="product">
    <option value="">-Product-</option>
[% IF products %]
[% FOREACH product=products %]
    <option[% IF defaults.product==product.name %] selected[% END %] 
        value="[% product.name | html %]">[% product.name | html %]</option>
[% END %]
[% END %]
</select>