<select name="platform">
    <option value="">-Platform-</option>
[% IF platforms %]
[% FOREACH platform=platforms %]
    <option[% IF defaults.platform==platform.name | html %] selected[% END %] 
       value="[% platform.name %]">[% platform.name | html %]</option>
[% END %]
[% END %]
</select>