<!DOCTYPE HTML>
<title>width rounding (bug 590417)</title>
<style>

p { margin: 0; background: blue }
p:after { display:block; clear: left; content: "" }
span { float: left; width: 30%; height: 1px }
span:first-child, span:first-child + span { width: 35% }

</style>
<p style="width: 200.00px"><span></span><span></span><span></span></p>
<p style="width: 200.01px"><span></span><span></span><span></span></p>
<p style="width: 200.02px"><span></span><span></span><span></span></p>
<p style="width: 200.03px"><span></span><span></span><span></span></p>
<p style="width: 200.04px"><span></span><span></span><span></span></p>
<p style="width: 200.05px"><span></span><span></span><span></span></p>
<p style="width: 200.06px"><span></span><span></span><span></span></p>
<p style="width: 200.07px"><span></span><span></span><span></span></p>
<p style="width: 200.08px"><span></span><span></span><span></span></p>
<p style="width: 200.09px"><span></span><span></span><span></span></p>
<p style="width: 200.10px"><span></span><span></span><span></span></p>
<p style="width: 200.11px"><span></span><span></span><span></span></p>
<p style="width: 200.12px"><span></span><span></span><span></span></p>
<p style="width: 200.13px"><span></span><span></span><span></span></p>
<p style="width: 200.14px"><span></span><span></span><span></span></p>
<p style="width: 200.15px"><span></span><span></span><span></span></p>
<p style="width: 200.16px"><span></span><span></span><span></span></p>
<p style="width: 200.17px"><span></span><span></span><span></span></p>
<p style="width: 200.18px"><span></span><span></span><span></span></p>
<p style="width: 200.19px"><span></span><span></span><span></span></p>
<p style="width: 200.20px"><span></span><span></span><span></span></p>
<p style="width: 200.21px"><span></span><span></span><span></span></p>
<p style="width: 200.22px"><span></span><span></span><span></span></p>
<p style="width: 200.23px"><span></span><span></span><span></span></p>
<p style="width: 200.24px"><span></span><span></span><span></span></p>
<p style="width: 200.25px"><span></span><span></span><span></span></p>
<p style="width: 200.26px"><span></span><span></span><span></span></p>
<p style="width: 200.27px"><span></span><span></span><span></span></p>
<p style="width: 200.28px"><span></span><span></span><span></span></p>
<p style="width: 200.29px"><span></span><span></span><span></span></p>
<p style="width: 200.30px"><span></span><span></span><span></span></p>
<p style="width: 200.31px"><span></span><span></span><span></span></p>
<p style="width: 200.32px"><span></span><span></span><span></span></p>
<p style="width: 200.33px"><span></span><span></span><span></span></p>
<p style="width: 200.34px"><span></span><span></span><span></span></p>
<p style="width: 200.35px"><span></span><span></span><span></span></p>
<p style="width: 200.36px"><span></span><span></span><span></span></p>
<p style="width: 200.37px"><span></span><span></span><span></span></p>
<p style="width: 200.38px"><span></span><span></span><span></span></p>
<p style="width: 200.39px"><span></span><span></span><span></span></p>
<p style="width: 200.40px"><span></span><span></span><span></span></p>
<p style="width: 200.41px"><span></span><span></span><span></span></p>
<p style="width: 200.42px"><span></span><span></span><span></span></p>
<p style="width: 200.43px"><span></span><span></span><span></span></p>
<p style="width: 200.44px"><span></span><span></span><span></span></p>
<p style="width: 200.45px"><span></span><span></span><span></span></p>
<p style="width: 200.46px"><span></span><span></span><span></span></p>
<p style="width: 200.47px"><span></span><span></span><span></span></p>
<p style="width: 200.48px"><span></span><span></span><span></span></p>
<p style="width: 200.49px"><span></span><span></span><span></span></p>
<p style="width: 200.50px"><span></span><span></span><span></span></p>
<p style="width: 200.51px"><span></span><span></span><span></span></p>
<p style="width: 200.52px"><span></span><span></span><span></span></p>
<p style="width: 200.53px"><span></span><span></span><span></span></p>
<p style="width: 200.54px"><span></span><span></span><span></span></p>
<p style="width: 200.55px"><span></span><span></span><span></span></p>
<p style="width: 200.56px"><span></span><span></span><span></span></p>
<p style="width: 200.57px"><span></span><span></span><span></span></p>
<p style="width: 200.58px"><span></span><span></span><span></span></p>
<p style="width: 200.59px"><span></span><span></span><span></span></p>
<p style="width: 200.60px"><span></span><span></span><span></span></p>
<p style="width: 200.61px"><span></span><span></span><span></span></p>
<p style="width: 200.62px"><span></span><span></span><span></span></p>
<p style="width: 200.63px"><span></span><span></span><span></span></p>
<p style="width: 200.64px"><span></span><span></span><span></span></p>
<p style="width: 200.65px"><span></span><span></span><span></span></p>
<p style="width: 200.66px"><span></span><span></span><span></span></p>
<p style="width: 200.67px"><span></span><span></span><span></span></p>
<p style="width: 200.68px"><span></span><span></span><span></span></p>
<p style="width: 200.69px"><span></span><span></span><span></span></p>
<p style="width: 200.70px"><span></span><span></span><span></span></p>
<p style="width: 200.71px"><span></span><span></span><span></span></p>
<p style="width: 200.72px"><span></span><span></span><span></span></p>
<p style="width: 200.73px"><span></span><span></span><span></span></p>
<p style="width: 200.74px"><span></span><span></span><span></span></p>
<p style="width: 200.75px"><span></span><span></span><span></span></p>
<p style="width: 200.76px"><span></span><span></span><span></span></p>
<p style="width: 200.77px"><span></span><span></span><span></span></p>
<p style="width: 200.78px"><span></span><span></span><span></span></p>
<p style="width: 200.79px"><span></span><span></span><span></span></p>
<p style="width: 200.80px"><span></span><span></span><span></span></p>
<p style="width: 200.81px"><span></span><span></span><span></span></p>
<p style="width: 200.82px"><span></span><span></span><span></span></p>
<p style="width: 200.83px"><span></span><span></span><span></span></p>
<p style="width: 200.84px"><span></span><span></span><span></span></p>
<p style="width: 200.85px"><span></span><span></span><span></span></p>
<p style="width: 200.86px"><span></span><span></span><span></span></p>
<p style="width: 200.87px"><span></span><span></span><span></span></p>
<p style="width: 200.88px"><span></span><span></span><span></span></p>
<p style="width: 200.89px"><span></span><span></span><span></span></p>
<p style="width: 200.90px"><span></span><span></span><span></span></p>
<p style="width: 200.91px"><span></span><span></span><span></span></p>
<p style="width: 200.92px"><span></span><span></span><span></span></p>
<p style="width: 200.93px"><span></span><span></span><span></span></p>
<p style="width: 200.94px"><span></span><span></span><span></span></p>
<p style="width: 200.95px"><span></span><span></span><span></span></p>
<p style="width: 200.96px"><span></span><span></span><span></span></p>
<p style="width: 200.97px"><span></span><span></span><span></span></p>
<p style="width: 200.98px"><span></span><span></span><span></span></p>
<p style="width: 200.99px"><span></span><span></span><span></span></p>
<p style="width: 201.00px"><span></span><span></span><span></span></p>
<p style="width: 201.01px"><span></span><span></span><span></span></p>
<p style="width: 201.02px"><span></span><span></span><span></span></p>
<p style="width: 201.03px"><span></span><span></span><span></span></p>
<p style="width: 201.04px"><span></span><span></span><span></span></p>
<p style="width: 201.05px"><span></span><span></span><span></span></p>
<p style="width: 201.06px"><span></span><span></span><span></span></p>
<p style="width: 201.07px"><span></span><span></span><span></span></p>
<p style="width: 201.08px"><span></span><span></span><span></span></p>
<p style="width: 201.09px"><span></span><span></span><span></span></p>
<p style="width: 201.10px"><span></span><span></span><span></span></p>
<p style="width: 201.11px"><span></span><span></span><span></span></p>
<p style="width: 201.12px"><span></span><span></span><span></span></p>
<p style="width: 201.13px"><span></span><span></span><span></span></p>
<p style="width: 201.14px"><span></span><span></span><span></span></p>
<p style="width: 201.15px"><span></span><span></span><span></span></p>
<p style="width: 201.16px"><span></span><span></span><span></span></p>
<p style="width: 201.17px"><span></span><span></span><span></span></p>
<p style="width: 201.18px"><span></span><span></span><span></span></p>
<p style="width: 201.19px"><span></span><span></span><span></span></p>
<p style="width: 201.20px"><span></span><span></span><span></span></p>
<p style="width: 201.21px"><span></span><span></span><span></span></p>
<p style="width: 201.22px"><span></span><span></span><span></span></p>
<p style="width: 201.23px"><span></span><span></span><span></span></p>
<p style="width: 201.24px"><span></span><span></span><span></span></p>
<p style="width: 201.25px"><span></span><span></span><span></span></p>
<p style="width: 201.26px"><span></span><span></span><span></span></p>
<p style="width: 201.27px"><span></span><span></span><span></span></p>
<p style="width: 201.28px"><span></span><span></span><span></span></p>
<p style="width: 201.29px"><span></span><span></span><span></span></p>
<p style="width: 201.30px"><span></span><span></span><span></span></p>
<p style="width: 201.31px"><span></span><span></span><span></span></p>
<p style="width: 201.32px"><span></span><span></span><span></span></p>
<p style="width: 201.33px"><span></span><span></span><span></span></p>
<p style="width: 201.34px"><span></span><span></span><span></span></p>
<p style="width: 201.35px"><span></span><span></span><span></span></p>
<p style="width: 201.36px"><span></span><span></span><span></span></p>
<p style="width: 201.37px"><span></span><span></span><span></span></p>
<p style="width: 201.38px"><span></span><span></span><span></span></p>
<p style="width: 201.39px"><span></span><span></span><span></span></p>
<p style="width: 201.40px"><span></span><span></span><span></span></p>
<p style="width: 201.41px"><span></span><span></span><span></span></p>
<p style="width: 201.42px"><span></span><span></span><span></span></p>
<p style="width: 201.43px"><span></span><span></span><span></span></p>
<p style="width: 201.44px"><span></span><span></span><span></span></p>
<p style="width: 201.45px"><span></span><span></span><span></span></p>
<p style="width: 201.46px"><span></span><span></span><span></span></p>
<p style="width: 201.47px"><span></span><span></span><span></span></p>
<p style="width: 201.48px"><span></span><span></span><span></span></p>
<p style="width: 201.49px"><span></span><span></span><span></span></p>
<p style="width: 201.50px"><span></span><span></span><span></span></p>
<p style="width: 201.51px"><span></span><span></span><span></span></p>
<p style="width: 201.52px"><span></span><span></span><span></span></p>
<p style="width: 201.53px"><span></span><span></span><span></span></p>
<p style="width: 201.54px"><span></span><span></span><span></span></p>
<p style="width: 201.55px"><span></span><span></span><span></span></p>
<p style="width: 201.56px"><span></span><span></span><span></span></p>
<p style="width: 201.57px"><span></span><span></span><span></span></p>
<p style="width: 201.58px"><span></span><span></span><span></span></p>
<p style="width: 201.59px"><span></span><span></span><span></span></p>
<p style="width: 201.60px"><span></span><span></span><span></span></p>
<p style="width: 201.61px"><span></span><span></span><span></span></p>
<p style="width: 201.62px"><span></span><span></span><span></span></p>
<p style="width: 201.63px"><span></span><span></span><span></span></p>
<p style="width: 201.64px"><span></span><span></span><span></span></p>
<p style="width: 201.65px"><span></span><span></span><span></span></p>
<p style="width: 201.66px"><span></span><span></span><span></span></p>
<p style="width: 201.67px"><span></span><span></span><span></span></p>
<p style="width: 201.68px"><span></span><span></span><span></span></p>
<p style="width: 201.69px"><span></span><span></span><span></span></p>
<p style="width: 201.70px"><span></span><span></span><span></span></p>
<p style="width: 201.71px"><span></span><span></span><span></span></p>
<p style="width: 201.72px"><span></span><span></span><span></span></p>
<p style="width: 201.73px"><span></span><span></span><span></span></p>
<p style="width: 201.74px"><span></span><span></span><span></span></p>
<p style="width: 201.75px"><span></span><span></span><span></span></p>
<p style="width: 201.76px"><span></span><span></span><span></span></p>
<p style="width: 201.77px"><span></span><span></span><span></span></p>
<p style="width: 201.78px"><span></span><span></span><span></span></p>
<p style="width: 201.79px"><span></span><span></span><span></span></p>
<p style="width: 201.80px"><span></span><span></span><span></span></p>
<p style="width: 201.81px"><span></span><span></span><span></span></p>
<p style="width: 201.82px"><span></span><span></span><span></span></p>
<p style="width: 201.83px"><span></span><span></span><span></span></p>
<p style="width: 201.84px"><span></span><span></span><span></span></p>
<p style="width: 201.85px"><span></span><span></span><span></span></p>
<p style="width: 201.86px"><span></span><span></span><span></span></p>
<p style="width: 201.87px"><span></span><span></span><span></span></p>
<p style="width: 201.88px"><span></span><span></span><span></span></p>
<p style="width: 201.89px"><span></span><span></span><span></span></p>
<p style="width: 201.90px"><span></span><span></span><span></span></p>
<p style="width: 201.91px"><span></span><span></span><span></span></p>
<p style="width: 201.92px"><span></span><span></span><span></span></p>
<p style="width: 201.93px"><span></span><span></span><span></span></p>
<p style="width: 201.94px"><span></span><span></span><span></span></p>
<p style="width: 201.95px"><span></span><span></span><span></span></p>
<p style="width: 201.96px"><span></span><span></span><span></span></p>
<p style="width: 201.97px"><span></span><span></span><span></span></p>
<p style="width: 201.98px"><span></span><span></span><span></span></p>
<p style="width: 201.99px"><span></span><span></span><span></span></p>
