<!DOCTYPE HTML>
<title>width rounding (bug 590417)</title>
<style>

p { margin: 0; height: 1px; background: blue; }

</style>
<p style="width: 200.00px"></p>
<p style="width: 200.01px"></p>
<p style="width: 200.02px"></p>
<p style="width: 200.03px"></p>
<p style="width: 200.04px"></p>
<p style="width: 200.05px"></p>
<p style="width: 200.06px"></p>
<p style="width: 200.07px"></p>
<p style="width: 200.08px"></p>
<p style="width: 200.09px"></p>
<p style="width: 200.10px"></p>
<p style="width: 200.11px"></p>
<p style="width: 200.12px"></p>
<p style="width: 200.13px"></p>
<p style="width: 200.14px"></p>
<p style="width: 200.15px"></p>
<p style="width: 200.16px"></p>
<p style="width: 200.17px"></p>
<p style="width: 200.18px"></p>
<p style="width: 200.19px"></p>
<p style="width: 200.20px"></p>
<p style="width: 200.21px"></p>
<p style="width: 200.22px"></p>
<p style="width: 200.23px"></p>
<p style="width: 200.24px"></p>
<p style="width: 200.25px"></p>
<p style="width: 200.26px"></p>
<p style="width: 200.27px"></p>
<p style="width: 200.28px"></p>
<p style="width: 200.29px"></p>
<p style="width: 200.30px"></p>
<p style="width: 200.31px"></p>
<p style="width: 200.32px"></p>
<p style="width: 200.33px"></p>
<p style="width: 200.34px"></p>
<p style="width: 200.35px"></p>
<p style="width: 200.36px"></p>
<p style="width: 200.37px"></p>
<p style="width: 200.38px"></p>
<p style="width: 200.39px"></p>
<p style="width: 200.40px"></p>
<p style="width: 200.41px"></p>
<p style="width: 200.42px"></p>
<p style="width: 200.43px"></p>
<p style="width: 200.44px"></p>
<p style="width: 200.45px"></p>
<p style="width: 200.46px"></p>
<p style="width: 200.47px"></p>
<p style="width: 200.48px"></p>
<p style="width: 200.49px"></p>
<p style="width: 200.50px"></p>
<p style="width: 200.51px"></p>
<p style="width: 200.52px"></p>
<p style="width: 200.53px"></p>
<p style="width: 200.54px"></p>
<p style="width: 200.55px"></p>
<p style="width: 200.56px"></p>
<p style="width: 200.57px"></p>
<p style="width: 200.58px"></p>
<p style="width: 200.59px"></p>
<p style="width: 200.60px"></p>
<p style="width: 200.61px"></p>
<p style="width: 200.62px"></p>
<p style="width: 200.63px"></p>
<p style="width: 200.64px"></p>
<p style="width: 200.65px"></p>
<p style="width: 200.66px"></p>
<p style="width: 200.67px"></p>
<p style="width: 200.68px"></p>
<p style="width: 200.69px"></p>
<p style="width: 200.70px"></p>
<p style="width: 200.71px"></p>
<p style="width: 200.72px"></p>
<p style="width: 200.73px"></p>
<p style="width: 200.74px"></p>
<p style="width: 200.75px"></p>
<p style="width: 200.76px"></p>
<p style="width: 200.77px"></p>
<p style="width: 200.78px"></p>
<p style="width: 200.79px"></p>
<p style="width: 200.80px"></p>
<p style="width: 200.81px"></p>
<p style="width: 200.82px"></p>
<p style="width: 200.83px"></p>
<p style="width: 200.84px"></p>
<p style="width: 200.85px"></p>
<p style="width: 200.86px"></p>
<p style="width: 200.87px"></p>
<p style="width: 200.88px"></p>
<p style="width: 200.89px"></p>
<p style="width: 200.90px"></p>
<p style="width: 200.91px"></p>
<p style="width: 200.92px"></p>
<p style="width: 200.93px"></p>
<p style="width: 200.94px"></p>
<p style="width: 200.95px"></p>
<p style="width: 200.96px"></p>
<p style="width: 200.97px"></p>
<p style="width: 200.98px"></p>
<p style="width: 200.99px"></p>
<p style="width: 201.00px"></p>
<p style="width: 201.01px"></p>
<p style="width: 201.02px"></p>
<p style="width: 201.03px"></p>
<p style="width: 201.04px"></p>
<p style="width: 201.05px"></p>
<p style="width: 201.06px"></p>
<p style="width: 201.07px"></p>
<p style="width: 201.08px"></p>
<p style="width: 201.09px"></p>
<p style="width: 201.10px"></p>
<p style="width: 201.11px"></p>
<p style="width: 201.12px"></p>
<p style="width: 201.13px"></p>
<p style="width: 201.14px"></p>
<p style="width: 201.15px"></p>
<p style="width: 201.16px"></p>
<p style="width: 201.17px"></p>
<p style="width: 201.18px"></p>
<p style="width: 201.19px"></p>
<p style="width: 201.20px"></p>
<p style="width: 201.21px"></p>
<p style="width: 201.22px"></p>
<p style="width: 201.23px"></p>
<p style="width: 201.24px"></p>
<p style="width: 201.25px"></p>
<p style="width: 201.26px"></p>
<p style="width: 201.27px"></p>
<p style="width: 201.28px"></p>
<p style="width: 201.29px"></p>
<p style="width: 201.30px"></p>
<p style="width: 201.31px"></p>
<p style="width: 201.32px"></p>
<p style="width: 201.33px"></p>
<p style="width: 201.34px"></p>
<p style="width: 201.35px"></p>
<p style="width: 201.36px"></p>
<p style="width: 201.37px"></p>
<p style="width: 201.38px"></p>
<p style="width: 201.39px"></p>
<p style="width: 201.40px"></p>
<p style="width: 201.41px"></p>
<p style="width: 201.42px"></p>
<p style="width: 201.43px"></p>
<p style="width: 201.44px"></p>
<p style="width: 201.45px"></p>
<p style="width: 201.46px"></p>
<p style="width: 201.47px"></p>
<p style="width: 201.48px"></p>
<p style="width: 201.49px"></p>
<p style="width: 201.50px"></p>
<p style="width: 201.51px"></p>
<p style="width: 201.52px"></p>
<p style="width: 201.53px"></p>
<p style="width: 201.54px"></p>
<p style="width: 201.55px"></p>
<p style="width: 201.56px"></p>
<p style="width: 201.57px"></p>
<p style="width: 201.58px"></p>
<p style="width: 201.59px"></p>
<p style="width: 201.60px"></p>
<p style="width: 201.61px"></p>
<p style="width: 201.62px"></p>
<p style="width: 201.63px"></p>
<p style="width: 201.64px"></p>
<p style="width: 201.65px"></p>
<p style="width: 201.66px"></p>
<p style="width: 201.67px"></p>
<p style="width: 201.68px"></p>
<p style="width: 201.69px"></p>
<p style="width: 201.70px"></p>
<p style="width: 201.71px"></p>
<p style="width: 201.72px"></p>
<p style="width: 201.73px"></p>
<p style="width: 201.74px"></p>
<p style="width: 201.75px"></p>
<p style="width: 201.76px"></p>
<p style="width: 201.77px"></p>
<p style="width: 201.78px"></p>
<p style="width: 201.79px"></p>
<p style="width: 201.80px"></p>
<p style="width: 201.81px"></p>
<p style="width: 201.82px"></p>
<p style="width: 201.83px"></p>
<p style="width: 201.84px"></p>
<p style="width: 201.85px"></p>
<p style="width: 201.86px"></p>
<p style="width: 201.87px"></p>
<p style="width: 201.88px"></p>
<p style="width: 201.89px"></p>
<p style="width: 201.90px"></p>
<p style="width: 201.91px"></p>
<p style="width: 201.92px"></p>
<p style="width: 201.93px"></p>
<p style="width: 201.94px"></p>
<p style="width: 201.95px"></p>
<p style="width: 201.96px"></p>
<p style="width: 201.97px"></p>
<p style="width: 201.98px"></p>
<p style="width: 201.99px"></p>
