globals:
    # TODO: Maybe this should be by file
    BrowserApp: false
    Cc: false
    Ci: false
    Cu: false
    NativeWindow: false
    PageActions: false
    ReaderMode: false
    SimpleServiceDiscovery: false
    TabMirror: false
    MediaPlayerApp: false
    RokuApp: false
    SearchEngines: false
    ConsoleAPI: true
    Point: false
    Rect: false

rules:
    # Disabled stuff
    no-console: 0 # TODO: Can we use console?
    no-cond-assign: 0
    no-fallthrough: 0
