<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>MRJPluginCarbon</string>
	<key>CFBundleGetInfoString</key>
	<string>MRJPluginCarbon 1.0, Copyright Netscape Communications 2002</string>
	<key>CFBundleIdentifier</key>
	<string>com.netscape.MRJPluginCarbon.plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>MRJPluginCarbon.plugin</string>
	<key>CFBundlePackageType</key>
	<string>NSPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>MOSS</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<false/>
</dict>
</plist>
