# Ignore d3
browser/devtools/shared/d3.js
browser/devtools/webaudioeditor/lib/dagre-d3.js

# Ignore codemirror
browser/devtools/sourceeditor/codemirror/*.js
browser/devtools/sourceeditor/codemirror/**/*.js

# Ignore jquery test libs
browser/devtools/markupview/test/lib_*

# Ignore pre-processed files
browser/devtools/framework/toolbox-process-window.js
browser/devtools/performance/system.js
browser/devtools/webide/webide-prefs.js
