body {
    background: #F9F1D1;
}

.api-entry {
    background: white;
}

.entry-heading {
    background: lightgrey;
}

.entry-title {
    font-weight: bold;
}

.entry-type {
    background: black;
    color: white;
    font-weight: bold;
}

.entry-deprecated {
    font-weight: bold;
    background: red;
    color: white;
}

.entry-summary {
}

.entry-syntax {
    background: #EEEEEE;
}

.param-list-head {
    background: lightgrey;
}

.param-row-even {
    background: white;
}

.entry-description {
}

.entry-example {
}

.entry-notes {
}

.entry-seealso {
    background: #EEEEEE;
}
