STRINGTABLE DISCARDABLE
BEGIN
IDS_ABOUT_0	"!<!--    -*- Mode: HTML; tab-width: 8; indent-tabs-mode: nil -*-\r\n  \r\n   The contents of this file are subject to the Netscape Public License\r\n   Version 1.0 (the ""NPL""); you may not use this f"
IDS_ABOUT_1	"!ile except in\r\n   compliance with the NPL.  You may obtain a copy of the NPL at\r\n   http://www.mozilla.org/NPL/\r\n  \r\n   Software distributed under the NPL is distributed on an ""AS IS"" basis,\r\n  "
IDS_ABOUT_2	"! WITHOUT WARRANTY OF ANY KIND, either express or implied. See the NPL\r\n   for the specific language governing rights and limitations under the\r\n   NPL.\r\n  \r\n   The Initial Developer of this code "
IDS_ABOUT_3	"!under the NPL is Netscape\r\n   Communications Corporation.  Portions created by Netscape are\r\n   Copyright (C) 1998 Netscape Communications Corporation.  All Rights\r\n   Reserved.\r\n -->\r\n<HTML>\r\n<HEA"
IDS_ABOUT_4	"!D>\r\n<TITLE>Version %s-5009808600</TITLE>\r\n</HEAD>\r\n<BODY TEXT=""#000000"" BGCOLOR=""#C0C0C0"" LINK=""#0000EE"" VLINK=""#551A8B"" ALINK=""#FF0000"">\r\n\r\n<H1 ALIGN=CENTER>Mozilla Navigator</H1>\r\n<HR>\r\n"
IDS_ABOUT_5	"!\r\n<!-- Version %s -->\r\n<!-- No security level %s -->\r\n\r\n<P>\r\n<CENTER>\r\n<A HREF=""http://www.mozilla.org""><IMG SRC=""about:flamer"" BORDER=1></A>\r\n</CENTER>\r\n<P>\r\n\r\n<HR>\r\n\r\n<UL>\r\n<LI>The Initial Developer"
IDS_ABOUT_6	"! of this code under the Netscape Public License Version 1.0\r\n(the ``<A HREF=""http://www.mozilla.org/NPL/"">NPL</A>'') is Netscape Communications\r\nCorporation.\r\nPortions created by Netscape are "
IDS_ABOUT_7	"!copyright &copy; 1998 <A HREF=""http://www.netscape.com"">Netscape Communications Corporation</A>.  All Rights Reserved.\r\n<LI>The WASTE Text Engine is copyright &copy; 1993-1996 <A HREF=""http"
IDS_ABOUT_8	"!://www.cs.dartmouth.edu/~ngm/waste/license.html"">Marco Piovanelli</A>.\r\n<LI>CWASTEEdit is copyright &copy; 1993-1996 <A HREF=""http://www.bact.wisc.edu/CWASTEEdit/CWASTEEdit.html"">Timothy Pa"
IDS_ABOUT_9	"!ustian</A>.\r\n<LI>Portions of this software are copyright &copy; 1994 The Regents of the University of California.  All Rights Reserved.\r\n<LI>Portions of this software are copyright &copy; 1994-"
IDS_ABOUT_A	"!1996 Microline Software, Inc.  All Rights Reserved.\r\n<LI>Portions of this software are copyright &copy; 1997-1998 <A HREF=""http://www.fullsoft.com"">FullCircle Software</A>.\r\n</UL>\r\n\r\n<P><FONT S"
IDS_ABOUT_B	"!IZE=-1>U.S. GOVERNMENT END USERS. The Software is a ``commercial\r\nitem,'' as that term is defined in 48 C.F.R. 2.101 (Oct. 1995), consisting\r\nof ``commercial computer software'' and ``commercia"
IDS_ABOUT_C	"!l computer software \r\ndocumentation,'' as such terms are used in 48 C.F.R. 12.212 (Sept. 1995). \r\nConsistent with 48 C.F.R. 12.212 and 48 C.F.R. 227.7202-1 through 227.7202-4\r\n(June 1995), all U"
IDS_ABOUT_D	".S. Government End Users acquire the Software with only \r\nthose rights set forth herein.\r\n</FONT>\r\n</BODY>\r\n</HTML>\r\n\r\n"
END
