aboutplg RCDATA
BEGIN
"<!--    -*- Mode: HTML; tab-width: 8; indent-tabs-mode: nil -*-\r\n",
"  \r\n",
"   The contents of this file are subject to the Netscape Public License\r\n",
"   Version 1.0 (the ""NPL""); you may not use this file except in\r\n",
"   compliance with the NPL.  You may obtain a copy of the NPL at\r\n",
"   http://www.mozilla.org/NPL/\r\n",
"  \r\n",
"   Software distributed under the NPL is distributed on an ""AS IS"" basis,\r\n",
"   WITHOUT WARRANTY OF ANY KIND, either express or implied. See the NPL\r\n",
"   for the specific language governing rights and limitations under the\r\n",
"   NPL.\r\n",
"  \r\n",
"   The Initial Developer of this code under the NPL is Netscape\r\n",
"   Communications Corporation.  Portions created by Netscape are\r\n",
"   Copyright (C) 1998 Netscape Communications Corporation.  All Rights\r\n",
"   Reserved.\r\n",
" -->\r\n",
"<HTML>\r\n",
"<HEAD>\r\n",
"<TITLE>About Plug-ins</TITLE>\r\n",
"</HEAD>\r\n",
"<BODY>\r\n",
"<SCRIPT language=""javascript"">\r\n",
"\r\n",
"<!-- JavaScript to enumerate and display all installed plug-ins -->\r\n",
"\r\n",
"<!-- First, refresh plugins in case anything has been changed recently in prefs:			-->\r\n",
"<!-- (The ""false"" argument tells refresh not to reload or activate any plugins that would	-->\r\n",
"<!-- be active otherwise.  In contrast, one would use ""true"" in the case of ASD instead of	-->\r\n",
"<!-- restarting)																			-->\r\n",
"navigator.plugins.refresh(false);\r\n",
"\r\n",
"\r\n",
"numPlugins = navigator.plugins.length;\r\n",
"\r\n",
"if (numPlugins > 0)\r\n",
"	document.writeln(""<b><font size=+3>Installed plug-ins</font></b><br>"");\r\n",
"else\r\n",
"	document.writeln(""<b><font size=+2>No plug-ins are installed.</font></b><br>"");\r\n",
"\r\n",
"document.writeln(""For more information on Netscape plug-ins, <A HREF=http://home.netscape.com/comprod/products/navigator/version_2.0/plugins/index.html>click here</A>.<p><hr>"");\r\n",
"\r\n",
"for (i = 0; i < numPlugins; i++)\r\n",
"{\r\n",
"	plugin = navigator.plugins[i];\r\n",
"	\r\n",
"	document.write(""<center><font size=+1><b>"");\r\n",
"	document.write(plugin.name);\r\n",
"	document.writeln(""</b></font></center><br>"");\r\n",
"	\r\n",
"	document.writeln(""<dl><dd>File name:"");\r\n",
"	document.write(plugin.filename);\r\n",
"	document.write(""<dd><br>"");\r\n",
"	document.write(plugin.description);\r\n",
"	document.writeln(""</dl><p>"");\r\n",
"\r\n",
"	document.writeln(""<table width=100% border=2 cellpadding=5>"");\r\n",
"	document.writeln(""<tr><th width=20%><font size=-1>Mime Type</font></th>"");\r\n",
"	document.writeln(""<th width=50%><font size=-1>Description</font></th>"");\r\n",
"	document.writeln(""<th width=20%><font size=-1>Suffixes</font></th>"");\r\n",
"	document.writeln(""<th><font size=-1>Enabled</th></tr>"");\r\n",
"	numTypes = plugin.length;\r\n",
"	for (j = 0; j < numTypes; j++)\r\n",
"	{\r\n",
"		mimetype = plugin[j];\r\n",
"		\r\n",
"		if (mimetype)\r\n",
"		{\r\n",
"			enabled = ""No"";\r\n",
"			enabledPlugin = mimetype.enabledPlugin;\r\n",
"			if (enabledPlugin && (enabledPlugin.name == plugin.name))\r\n",
"				enabled = ""Yes"";\r\n",
"\r\n",
"			document.writeln(""<tr align=center>"");\r\n",
"			document.writeln(""<td>"" + mimetype.type + ""</td>"");\r\n",
"			document.writeln(""<td>"" + mimetype.description + ""</td>"");\r\n",
"			document.writeln(""<td>"" + mimetype.suffixes + ""</td>"");\r\n",
"			document.writeln(""<td>"" + enabled + ""</td>"");\r\n",
"			document.writeln(""</tr>"");\r\n",
"		}\r\n",
"	}\r\n",
"	\r\n",
"	document.write(""</table><p><hr><p>"");\r\n",
"}\r\n",
"\r\n",
"</SCRIPT>\r\n",
"</BODY>\r\n",
"</HTML>\r\n",
"\0"
END
