/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 *
 * The contents of this file are subject to the Netscape Public License
 * Version 1.0 (the "NPL"); you may not use this file except in
 * compliance with the NPL.  You may obtain a copy of the NPL at
 * http://www.mozilla.org/NPL/
 *
 * Software distributed under the NPL is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the NPL
 * for the specific language governing rights and limitations under the
 * NPL.
 *
 * The Initial Developer of this code under the NPL is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation.  All Rights
 * Reserved.
 */

STRINGTABLE DISCARDABLE
BEGIN
IDS_MAIL_0 "!From: Mozilla <info@netscape.com>\r\nDate: Wed, 13 Dec 1995 20:47:45 -0800 (PST)\r\nMIME-Version: 1.0\r\nContent-Type: text/html; charset=us-ascii\r\nSubject: Welcome!\r\nMessage-ID: <30208242nsintro@netscape.com>\r\n\r\n"
IDS_MAIL_1 "!<HEAD>\r\n<BASE HREF=""http://home.netscape.com/"">\r\n<TITLE>Welcome to Netscape</TITLE>\r\n</HEAD>\r\n<BODY>\r\n\r\n<HR SIZE=4 WIDTH=""50%"">\r\n<CENTER>\r\n<FONT SIZE=""+1"">Welcome to<BR></FONT>\r\n<FONT SIZE=""+2""><"
IDS_MAIL_2 "!B>Netscape Mail</B><SUP><FONT SIZE=""-1"">TM</FONT></SUP></FONT>\r\n</CENTER>\r\n<HR SIZE=4 WIDTH=""50%"">\r\n\r\n<P>\r\n<FONT SIZE=""+1"">As you see here, this mail message bears remarkable\r\nsimilarity to Netscape's ho"
IDS_MAIL_3 "!me page. That's because Netscape's integrated email\r\npresents messages with the familiar formatting, images, and links of World Wide Web pages.\r\n</FONT><P>\r\n\r\n<CENTER>\r\n <A HREF=""/misc/home.map"">\r\n   <IMG SR"
IDS_MAIL_4 "!C=""/images/home_igloo.gif"" ISMAP WIDTH=468 HEIGHT=197\r\n        BORDER=0 ALT=""WELCOME TO NETSCAPE""></A>\r\n <P>\r\n</CENTER>\r\n\r\n<P>\r\n<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0>\r\n<TR>\r\n <TD>\r\n  <DL>\r\n  "
IDS_MAIL_5 "!  <DT>\r\n    <FONT SIZE=""+2"">Features in Brief</FONT>\r\n    <UL>\r\n      <LI>Use the toolbar to quickly browse and reply to messages.\r\n      <LI>Use menu items for the complete range of mail features.\r\n      <LI>"
IDS_MAIL_6 "!Create all messages in <B>Message Composition</B> windows,\r\n          which are created with the various <B>Reply</B> commands.\r\n      <LI>From the Message Composition window, use the <B>Options</B>\r\n          menu "
IDS_MAIL_7 "!to choose <I>immediate</I> or <I>deferred</I> delivery.\r\n      <LI>Drag and drop messages into folders to organize your mail.\r\n      <LI>Click on column headings to sort messages.\r\n      <LI>Drag column headings to "
IDS_MAIL_8 "!reorder their presentation.\r\n      <LI>Click-and-drag on the space between column headings to change\r\n          the relative sizes of the columns.\r\n      <LI>Click the Mail icon in the lower right of any Netscape wi"
IDS_MAIL_9 "!ndow\r\n          to check for new messages.\r\n      <LI>Choose <B>Address Book</B> from the <B>Window</B> menu to\r\n          store and access your addresses.\r\n      <LI>Choose <B>Mail and News</B> from the <B>Optio"
IDS_MAIL_A "!ns</B> menu to \r\n          set your preferences.\r\n    </UL>\r\n  </DL>\r\n </TD>\r\n <TD VALIGN=TOP>\r\n  <CENTER>\r\n  <P>\r\n  <IMG SRC=""about:logo"" ALT=""N E T S C A P E"">\r\n  </CENTER>\r\n </TD>\r\n</TR>\r\n<T"
IDS_MAIL_B "!R>\r\n <TD COLSPAN=2>\r\n <DL>\r\n  <DT>\r\n    <FONT SIZE=""+2"">Learn More about Netscape Mail</FONT>\r\n    <DD>\r\n    The <A HREF=""/eng/mozilla/2.0/handbook/"">Netscape Navigator Handbook</A>\r\n    offers tutorial "
IDS_MAIL_C "!and reference information on \r\n    <A HREF=""/eng/mozilla/2.0/handbook/docs/mnb.html#C0"">mail features</A>. \r\n    Take advantage of the Handbook's \r\n    <A HREF=""/eng/mozilla/2.0/handbook/docs/atoz.html#M"">index<"
IDS_MAIL_D "!/A>\r\n    for quick access to the topics that interest you.\r\n\r\n    <P>Unix users, especially those who use <B>procmail</B>, should \r\n    be sure to read \r\n    <A HREF=""/eng/mozilla/2.0/relnotes/demo/movemail.htm"
IDS_MAIL_E "!l"">this document</A>,\r\n    which explains some important Unix-<WBR>system-<WBR>dependent issues about\r\n    file locking, which are important to understand to avoid losing mail.\r\n\r\n  <P>\r\n  <DT>\r\n    <FONT SIZ"
IDS_MAIL_F "!E=""+2"">Supplemental Resources</FONT>\r\n    <DD>\r\n    [<A HREF=""/eng/mozilla/2.0/faq.html"">FAQs</A> \r\n    | <A HREF=""/assist/support/index.html"">Support Pages</A>\r\n    | <A HREF=""/assist/support/client/tn/ind"
IDS_MAIL_G "!ex.html"">Navigator Technical Notes</A> \r\n    | <A HREF=""snews://secnews.netscape.com/netscape.navigator"">Navigator User Group</A>]\r\n  </DL>\r\n </TD>\r\n</TR>\r\n</TABLE>\r\n\r\n<HR SIZE=4 WIDTH=""80%"">\r\n<P>\r\n"
IDS_MAIL_H "</BODY>\r\n"
END
