
polygon {
  color: black;
}

polygon[id="grid"] {
  color: black;
}

polygon[id="bar1"] {
  color: green;
}

polygon[id="rect"] {
  color: blue;
}

polygon[id="bg"] {
  color: #DDDDDD;
}

polygon[id="bar21"], polygon[id="bar22"], polygon[id="bar23"] {
  color: #6F00DD;
}

polygon[id="bargrid21"], polygon[id="bargrid22"], polygon[id="bargrid23"] {
  color: black;
}

polygon[id="poly"] {
  color: #c0d0f0;
}

