<head>
  <meta charset="utf-8">
  <title>Bug 1699892 - SVG context properties for allowed domains</title>
  <script src="/tests/SimpleTest/SimpleTest.js"></script>
  <script src="/tests/SimpleTest/WindowSnapshot.js"></script>
  <link rel="stylesheet" href="/tests/SimpleTest/test.css"/>
  <script>

    /**
     * Returns a Promise that resolves when target fires a load event.
     */
    function waitForLoad(target) {
      return new Promise(resolve => {
        target.addEventListener("load", () => {
          if (event.target == target) {
            resolve();
          }}, { once: true });
      });
    }

    /**
     * Creates an iframe, loads src in it, and waits for the load event
     * for the iframe to fire. Then it snapshots the iframe and returns
     * the snapshot (and removes the iframe from the document, to clean up).
     *
     * src can be a URL starting with http, or is otherwise assumed to be
     * a srcdoc string.
     */
    async function loadSrcImageAndSnapshot(src) {
      let frame = document.createElement("iframe");
      document.body.appendChild(frame);

      if (!src.startsWith("http")) {
        frame.srcdoc = src;
      } else {
        frame.src = src;
      }
      await waitForLoad(frame);

      let snapshot = await snapshotWindow(frame, false);
      document.body.removeChild(frame);
      return snapshot;
    }

    add_task(async () => {
      const ALLOWED_DOMAIN = "example.org";
      const DISALLOWED_DOMAIN = "example.com";

      const CONTEXT_FILL_SVG = "tests/layout/svg/tests/file_context_fill_fallback_red.html";
      const ALLOWED = `http://${ALLOWED_DOMAIN}/${CONTEXT_FILL_SVG}`;
      const DISALLOWED = `http://${DISALLOWED_DOMAIN}/${CONTEXT_FILL_SVG}`;

      await SpecialPowers.pushPrefEnv({
        set: [["svg.context-properties.content.allowed-domains", ALLOWED_DOMAIN]]
      });

      // When the context properties are allowed, we expect a green
      // square. When they are not allowed, we expected a red square.

      let redReference = await loadSrcImageAndSnapshot(
        `<div style="width: 100px; height: 100px; background: red"></div>`
      );

      let greenReference = await loadSrcImageAndSnapshot(
        `<div style="width: 100px; height: 100px; background: green"></div>`
      );

      let allowedSnapshot = await loadSrcImageAndSnapshot(ALLOWED);

      let disallowedSnapshot = await loadSrcImageAndSnapshot(DISALLOWED);

      const kNoFuzz = null;
      info("Reference snapshots should look different from each other");
      assertSnapshots(redReference, greenReference, false, kNoFuzz, "red", "green");

      info("Allowed domain should be green");
      assertSnapshots(allowedSnapshot, greenReference, true, kNoFuzz, ALLOWED, "green");

      info("Disallowed domain should be red");
      assertSnapshots(disallowedSnapshot, redReference, true, kNoFuzz, DISALLOWED, "red");
    });
  </script>
</head>
<body>
</body>
</html>
