/** The largest type of toolbar buttons. In the Seamonkey implementation, 
 *  these are only used in the navigation toolbar in the navigator package.
 **/
 
  /* Large vertically orientated toolbar buttons, 
     e.g. back, print 
   */
  .button-toolbar-1, .button-toolbar-2
    {
      background-color    : none;
      behavior            : url("chrome://global/skin/classicBindings.xml#toolbarbutton-top");
      min-width           : 47px;
      margin              : 0px;
      border              : 1px solid transparent;
      user-focus          : none;
      padding             : 2px 3px 2px 3px;
      text-align          : center;
    }
    
  .button-toolbar-1:hover, .button-toolbar-2:hover
    {
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
      color               : #0000FF;
    } 
  
  .button-toolbar-1:hover:active, .button-toolbar-2:hover:active
    {
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-bottom       : 1px solid threedhighlight;
      border-right        : 1px solid threedhighlight;
      padding             : 3px 2px 1px 4px;
    }
    
  .button-toolbar-1[disabled="true"],
  .button-toolbar-1[disabled="true"]:hover,
  .button-toolbar-1[disabled="true"]:hover:active,
  .button-toolbar-2[disabled="true"],
  .button-toolbar-2[disabled="true"]:hover,
  .button-toolbar-2[disabled="true"]:hover:active
    {
      border              : 1px solid transparent;
      color               : graytext;
      padding             : 2px 3px 2px 3px;
    }    

/* Smaller, horizontally orientated (icon left)
   toolbar buttons, e.g. bold
 */    
  .button-toolbar
    {
      background-color    : none;
      behavior            : url("chrome://global/skin/classicBindings.xml#toolbarbutton-left");
      min-width           : 0px;
      margin              : 1px; /* 0px 1px 0px 1px; */
      border              : 1px solid transparent;
      user-focus          : ignore;
      max-width           : 14em;
      vertical-align      : middle;
      padding             : 1px 4px 1px 3px;
    }

  .button-toolbar:hover:active
    {
      padding             : 2px 3px 0px 4px;
    }    

  .button-toolbar[disabled="true"],
  .button-toolbar[disabled="true"]:hover,
  .button-toolbar[disabled="true"]:hover:active    
    {
      color               : graytext;
      border              : 1px solid transparent;
      padding             : 1px 4px 1px 3px;
    }

  .toolbarbutton-left-text
    {
      padding-left        : 4px;
    }    

  /* drag and drop feedback */
  .button-toolbar[dragover-left="true"]
    {
      margin-left         : 0px;
      border-left         : 2px solid threeddarkshadow;
    }

  .button-toolbar[dragover-right="true"]
    {
      margin-right        : 0px;
      border-right        : 2px solid threeddarkshadow;
    }
    
  .menubutton-toolbar-single-text[dragover-top="true"]
    {
      background-color    : threeddarkshadow;
      color               : threedhighlight;
    }
    
  /* taskbar buttons */    
  .button-toolbar-4    
    {
      background-color    : none;
      behavior            : url("chrome://global/skin/classicBindings.xml#toolbarbutton-left");
      min-width           : 0px;
      margin              : 0px;
      border              : 1px solid transparent;
      user-focus          : ignore;
      padding             : 0px;
      vertical-align      : middle;
    }
  
  .button-toolbar-4:hover
    {
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
      color               : #0000FF;
    } 

  .button-toolbar-4[disabled="true"],
  .button-toolbar-4[disabled="true"]:hover,
  .button-toolbar-4[disabled="true"]:hover:active
    {
      border              : 1px solid transparent;
      color               : graytext;
    }
    
    
  /* Personal Toolbar items */    
  .bookmarkitem.button-toolbar
    {
      border              : none;
      margin              : 0px; 
      padding             : 1px 0px 1px 0px;
    }

  .bookmarkitem.button-toolbar:hover
    {
      color               : #0000FF;
      text-decoration     : underline;
      cursor              : pointer;
    }
    
  .bookmarkitem.button-toolbar:hover:active
    {
      padding             : 1px 0px 1px 0px;
      color               : #FF0000;
      text-decoration     : underline;
      border              : none;
    }
  
  .bookmarkitem > .toolbarbutton-left-text
    {
      margin-left         : 1px;
    }

/** Low profile rollover buttons, e.g. "search"
 **/  
  .button-toolbar-3,
  .button-toolbar-3[disabled="true"],
  .button-toolbar-3[disabled="true"]:hover,
  .button-toolbar-3[disabled="true"]:hover:active
    {
      behavior              : url("chrome://global/content/xulBindings.xml#buttonleft");
      margin                : 1px 1px 2px 4px !important;
      border                : 0px;
      background-color      : threedface;
      min-width             : 0px;
      user-focus            : ignore;
    }  
    
  .button-toolbar-3:hover, .button-toolbar-3:hover:active
    {
      margin                : 0px 0px 1px 3px !important;
      border                : 1px solid threeddarkshadow;
    }
    
  .button-toolbar-3 > .button-internal-box,
  .button-toolbar-3 > .button-internal-box[disabled="true"],
  .button-toolbar-3:hover > .button-internal-box[disabled="true"],
  .button-toolbar-3:hover:active > .button-internal-box[disabled="true"]
    {
      border-left           : 1px solid threedhighlight !important;
      border-top            : 1px solid threedhighlight !important;
      border-right          : 1px solid threedshadow !important;
      border-bottom         : 1px solid threedshadow !important;
      padding               : 1px 4px 1px 4px;
    }
    
  .button-toolbar-3:hover:active > .button-internal-box 
    {
      border-left           : 1px solid threedshadow !important;
      border-top            : 1px solid threedshadow !important;
      border-bottom         : 1px solid threedhighlight !important;
      border-right          : 1px solid threedhighlight !important;
      padding               : 2px 3px 0px 5px;
    } 

  .button-toolbar-3 > .button-internal-box > .button-icon
    {
      margin-right          : 5px;
    }  
    
/** Expanding Region Button **/

/* outer frame */
  button.expander
    {
      border              : none;
      padding             : none;
      margin              : 1px 5px 3px 1px;
      background-color    : inherit;
      list-style-image    : url("chrome://global/skin/closedtwisty.gif");
    }
    
  button[open="true"].expander 
    {
      list-style-image    : url("chrome://global/skin/opentwisty.gif");
    }
    
/* internal frame */
  button.expander > .button-internal-box
    {
      border              : none;
      background-color    : inherit;
      padding             : none;
      margin              : none;
    }

/* text frame */
  button.expander > .button-internal-box > .button-text-container > .button-text
    {
      color               : #0000FF;
      text-decoration     : underline;
    }
    
  button.expander:hover > .button-internal-box > .button-text-container > .button-text
    {
      color               : #FF0000;
    }

menubutton.button-toolbar-4
  {
    behavior              : url("chrome://global/content/menulistBindings.xml#menubutton-single-right");
  }
