build.win32.classes=true

objdir=C:\\Projects\\mozilla\\MOZILLA_NIH\\XULRUNNER_1_8_0_4\\mozilla\\win32_d.obj
build.home=${objdir}/dist/classes

compile.debug=true

#native.waitForDebugger=true

#debug.jvm.args=-Xdebug -Xrunjdwp:transport=dt_shmem,address=jdbconn,server=y,suspend=y

nbide.home=C:\\PROGRA~1\\netbeans-5.5
junit.jar=${nbide.home}/ide7/modules/ext/junit-3.8.1.jar

moz.install.dir=

# source level for compilation
compile.source=1.5
