var err = initInstall("Talkback", "/FullCircle/TalkBack", "$Version$"); 
logComment("initInstall: " + err);

if (err==SUCCESS)
{
    err = performInstall(); 
    logComment("performInstall() returned: " + err);
}
else
{
    cancelInstall(err);
    logComment("cancelInstall() returned: " + err);
}
