<!DOCTYPE html>
<html>
<head>
</head>
<body onload="doTest()">
<table>
  <tr>
    <td>
      <div style="display: table">
        <div id="data" style="display: table-row-group">
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell">
              More Data
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
