/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  height: 100%;
  --body-columns: 1fr;
  --body-rows: auto 2fr 1fr 40px;
  --colorway-name-font-size: 1.5em;
  --colorway-selector-align: center;
  --figure-height: 200px;
  --figure-width: 200px;
}

@media (min-width: 50em) {
  :root {
    --body-columns: 24px repeat(2, 1fr);
    --body-rows: auto 1fr 64px;
    --colorway-name-font-size: 2.5em;
    --colorway-selector-align: start;
    --customization-panel-column: 3;
    --customization-panel-padding-inline: 24px;
    --figure-column: 2;
    --figure-height: 288px;
    --figure-row: 2;
    --figure-width: 288px;
    --header-column: 2/4;
  }

  #colorway-name,
  #modal-buttons {
    margin-block: 4rem 0;
  }
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: var(--body-columns);
  grid-template-rows: var(--body-rows);
  padding: 0 24px;
}

fieldset {
  border: unset;
  margin: 0;
  padding: 0;
}

body > header {
  grid-row: 1;
  margin-top: 1em;
  grid-column: var(--header-column);
}

figure {
  margin: 0;
  display: flex;
  justify-content: center;
  grid-column: var(--figure-column);
  grid-row: var(--figure-row);
}

figure > img {
  margin-block-start: 2rem;
  max-width: var(--figure-height);
  max-height: var(--figure-width);
  object-fit: scale-down;
}

#colorway-customization-panel {
  padding-inline: var(--customization-panel-padding-inline);
  grid-column: var(--customization-panel-column);
}

#collection-title {
  display: inline-block;
  margin-inline: 0 .7em;
  margin-block: 0 .2em;
  padding: 0;
  font-size: 1.7em;
  font-weight: bold;
}

#collection-expiry-date {
  display: inline-block;
  background: linear-gradient(to right, purple, pink, orange);
  background-origin: border-box;
  border-radius: 1.5em;
  padding: 1px;
  font-size: 1.1em;
}

#collection-expiry-date > span {
  display: inline-block;
  color: var(--in-content-page-color);
  background: var(--in-content-page-background);
  border-radius: 1.5em;
  padding: .3em 1em;
}

#homepage-reset-container:not([hidden]) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2em;
}

#homepage-reset-container:not(.success) > .success-prompt,
#homepage-reset-container.success > .reset-prompt {
  display: none;
}

#homepage-reset-container > .success-prompt::before {
  display: inline-block;
  content: "";
  background: var(--green-50) url('chrome://global/skin/icons/check.svg') center center no-repeat;
  -moz-context-properties: fill;
  fill: white;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  vertical-align: middle;
  margin-inline-end: 0.5em;
}

#colorway-selector {
  margin-block-start: 2rem;
  text-align: var(--colorway-selector-align);
}

#colorway-selector > input[type="radio"],
#colorway-selector > input[type="radio"]:checked {
  box-sizing: content-box;
  padding: 2px;
  border: 2px solid transparent;
  height: 24px;
  width: 24px;
  --colorway-icon: none;
  appearance: none;
  background-color: unset;
  background-image: var(--colorway-icon);
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  /* The icon may not be a perfect circle, so we render it bigger and clipped using background-clip and border-radius: */
  background-clip: content-box;
  background-size: 105%;
  border-radius: 50%;
}

#colorway-selector > input[type="radio"]:enabled:checked,
#colorway-selector > input[type="radio"]:enabled:checked:hover {
  border-color: var(--in-content-accent-color);
}

/* override common-shared.css */
#colorway-selector > input[type="radio"]:is(:enabled:hover, :enabled:hover:active, :checked, :enabled:checked:hover, :enabled:checked:hover:active) {
  background-color: unset;
}

#colorway-description,
#colorway-intensities {
  margin-block: 2rem;
}

#colorway-name {
  font-size: var(--colorway-name-font-size);
}

#colorway-description {
  font-size: 1.1em;
  line-height: 1.5;
}

/* Intensity Picker */

#colorway-intensities > legend {
  font-size: 1.1em;
  padding-inline-start: 0;
  margin-bottom: .5em;
}

#colorway-intensity-radios {
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

#colorway-intensity-radios > label {
  background-color: var(--in-content-box-background-color);
  border-radius: 4px;
  border: 1px solid var(--in-content-box-border-color);
  color: var(--in-content-text-color);
  display: flex;
  overflow: clip;
  padding: .5em;
  width: 100%;
}

.colorway-intensity-radio {
  margin-block: 0 !important;
}

#set-colorway {
  margin-inline-start: 0;
}
