<!DOCTYPE html>
<html>
<head>
<title>Bug 1114329 testcase</title>
</head>
<body>
<div style="width:0px;height:0px;overflow:visible">
  <div style="width:100px;height:120px;background:rgba(0,255,0,0.8);display:inline-block;"></div>
</div>
<div style="width:0px;height:0px;overflow:visible">
  <div style="width:100px;height:150px;background:rgba(255,0,0,0.8);display:inline-block;margin-left:100px;"></div>
</div>
<div style="background:silver;">
  <div style="margin-left:200px;">This text should appear to the RIGHT of the green and red blocks.</div>
</div>
</body>
</html>
