<!DOCTYPE html>
<html class="vlr">
<head>
<title>Bug 1114329 testcase</title>
<style>
 .vlr {
   writing-mode: vertical-lr;
   -webkit-writing-mode: vertical-lr;
   writing-mode: tb-lr;
}
</style>
</head>
<body>
  <div style="height:0px;width:0px;overflow:visible">
    <div style="height:100px;width:120px;background:rgba(0,255,0,0.8);display:inline-block;position:relative;top:200px;"></div>
  </div>
  <div style="height:0px;width:0px;overflow:visible">
    <div style="height:100px;width:150px;background:rgba(255,0,0,0.8);display:inline-block;position:relative;top:100px;"></div>
  </div>
  <div style="background:silver;padding-bottom:calc(100% - 100px);">
This text should appear ABOVE the red and green blocks.
  </div>
</body>
</html>
