<!DOCTYPE html>
<!-- Any copyright is dedicated to the Public Domain.
   - http://creativecommons.org/publicdomain/zero/1.0/ -->
<html>
  <head>
    <style>
      #a {
        float: left;
        position: relative;
        top: 20px;
        left: 20px;
        height: 100px;
        width: 100px;
        background: blue
      }
    </style>
  </head>
  <body>
    <div id="a"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <br>Duis odio est, cursus non adipiscing at, fringilla quis eros.
    <br>Sed volutpat nibh sit amet ante molestie a vehicula nulla gravida.
    <br>Mauris elementum cursus urna id vestibulum.
    <br>Etiam volutpat odio tincidunt libero ullamcorper elementum.
    <br>Suspendisse potenti.
    <br>Ut ut arcu lorem.
    <br>Integer mi sapien, porta a pharetra et, varius laoreet eros.
    <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    <br>Sed ut mi at elit consequat aliquam id eu lectus.
    <br>Etiam tincidunt diam et ante ullamcorper a convallis erat lobortis.
    <br>Sed blandit ultrices dui et bibendum.
    <br>Sed condimentum velit eget nibh rutrum cursus.
    <br>Quisque pretium iaculis gravida.
    <br>Proin risus eros, iaculis quis fermentum a, adipiscing id mauris.
    </p>
  </body>
</html>
