<div class="los_variant_wrapper">
  <div class="los_variant_top">
    <h1>Get Pocket to save anything to your personal corner of the internet.</h1>
    <a href="#TODO">Learn more ›</a>
  </div>

  <div class="los_variant_bottom">
    <a class="los_variant_button" href="#TODO">Sign up for free</a>
    <p class="los_variant_sub">Already a Pocket user? <a href="#TODO">Log in.</a></p>
  </div>
</div>


