<div class="los_variant_wrapper">
  <div class="los_variant_top">
    <h1>Get Pocket to save anything to your personal corner of the internet.</h1>
    <a class="pkt_ext_learnmore" href="https://getpocket.com/pocket-and-firefox?utm_campaign=logged_out_save_test&utm_source=variant_c">Learn more ›</a>
  </div>

  <div class="los_variant_bottom">
    <a class="los_variant_button signup-btn-email" href="https://getpocket.com/signup?utm_campaign=logged_out_save_test&utm_source=variant_c">Sign up for free</a>
    <p class="los_variant_sub">Already a Pocket user? <a class="pkt_ext_login" href="https://getpocket.com/login?utm_campaign=logged_out_save_test&utm_source=variant_c">Log in.</a></p>
  </div>
</div>
