<div class="los_variant_wrapper">
  <div class="los_variant_top">
    <h1>Click this [v] button to save articles, videos, and links to Pocket.</h1>
    <p>Enjoy everything you save, on any device.</p>
    <a href="#TODO">Learn more ›</a>
  </div>

  <div class="los_variant_bottom">
    <a class="los_variant_button" href="#TODO">Get Pocket for free</a>
    <p class="los_variant_sub">Already a Pocket user? <a href="#TODO">Log in.</a></p>
  </div>
</div>
