aiohttp==3.3.2
arrow==0.12.1
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
awscli==1.15.36
backports.lzma==0.0.11
botocore==1.10.36
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
construct==2.9.45
cryptography==2.2.2
datadog==0.21.0
decorator==4.3.0
defusedxml==0.5.0
dictdiffer==0.7.1
docutils==0.14
frozendict==1.2
idna==2.7
idna-ssl==1.0.1
jmespath==0.9.3
json-e==2.5.0
jsonschema==2.6.0
mar==2.2.3
mohawk==0.3.4
multidict==4.3.1
pexpect==4.6.0
ptyprocess==0.5.2
pyasn1==0.4.3
pycparser==2.18
python-dateutil==2.7.3
python-gnupg==0.4.2
PyYAML==3.12
redo==1.6
requests==2.19.0
rsa==3.4.2
s3transfer==0.1.13
scriptworker==12.1.0
simplejson==3.15.0
six==1.11.0
slugid==1.0.7
taskcluster==3.0.1
urllib3==1.23
virtualenv==16.0.0
yarl==1.2.5
