/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

# 2.0.0.12 win32, only locales available for both
release="2.0.0.12" product="Firefox" platform="WINNT_x86-msvc" build_id="2008020121" locales="ar be ca cs da de el en-GB es-AR es-ES eu fi fr fy-NL ga-IE gu-IN he hu it ja ka ko lt mk nb-NO nl pa-IN pl pt-BR pt-PT ro ru sk sv-SE tr uk zh-CN zh-TW" channel="majortest" from="/firefox/releases/2.0.0.12/win32/%locale%/Firefox Setup 2.0.0.12.exe" to="/firefox/releases/3.0b4/win32/%locale%/Firefox Setup 3.0 Beta 4.exe"
