# 2.0.0.2 mac
release="2.0.0.2" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2007021917" locales="af ar bg be ca cs da de el en-GB es-AR es-ES eu fi fr fy-NL ga-IE he hu it ja-JP-mac ka ko ku lt mk mn nb-NO nl nn-NO pa-IN pl pt-BR pt-PT ru sk sl sv-SE tr zh-CN zh-TW" channel="betatest" from="/firefox/releases/2.0.0.2/mac/%locale%/Firefox 2.0.0.2.dmg" to="/firefox/nightly/2.0.0.3-candidates/rc1/firefox-2.0.0.3.%locale%.mac.dmg"
# 2.0.0.1 mac
release="2.0.0.1" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006120417" locales="ar bg ca cs da de el en-US en-GB es-AR es-ES eu fi fr fy-NL ga-IE hu it ja-JP-mac ko lt mk mn nb-NO nl nn-NO pl pt-BR pt-PT ru sk sl sv-SE tr zh-CN zh-TW" channel="betatest"
# 2.0 mac
release="2.0" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006101022" locales="ar bg ca cs da de el en-US en-GB es-AR es-ES eu fi fr fy-NL ga-IE hu it ja-JP-mac ko lt mk mn nb-NO nl nn-NO pl pt-BR pt-PT ru sk sl sv-SE tr zh-CN zh-TW" channel="betatest" 
# 2.0rc2 mac
release="2.0" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006100316" locales="ar bg ca cs da de el en-US en-GB es-AR es-ES eu fi fr fy-NL ga-IE hu it ja-JP-mac ko lt mk mn nb-NO nl nn-NO pl pt-BR pt-PT ru sk sl sv-SE tr zh-CN zh-TW" channel="betatest"
# 2.0rc1 mac
release="2.0" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006091817" locales="ar bg ca cs da de el en-GB en-US es-AR es-ES eu fi fr fy-NL hu it ja-JP-mac ko lt mk mn nb-NO nl nn-NO pl pt-BR pt-PT ru sk sl sv-SE tr zh-CN zh-TW" channel="betatest"
# 2.0b2 mac
release="2.0b2" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006082115" locales="af ar bg ca cs da de el en-GB en-US es-AR es-ES eu fi fr fy-NL hu it ja-JP-mac ko lt mk mn nb-NO nl nn-NO nso pl pt-PT ru sk sl sv-SE tr xh zh-CN zh-TW zu" channel="betatest"
# 2.0b1 mac
release="2.0b1" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006071020" locales="ca cs da de el en-GB en-US es-AR es-ES fi fr ga-IE hu it ja-JP-mac lt mn nb-NO nl nn-NO pl pt-PT ru sk sl sv-SE tr zh-CN zh-TW" channel="betatest"
# 2.0a3 mac
release="2.0a3" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006052616" locales="en-US" channel="betatest"
# 2.0a2 mac
release="2.0a2" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006051203" locales="en-US" channel="betatest"
# 2.0a1 mac
release="2.0a1" product="Firefox" platform="Darwin_Universal-gcc3" build_id="2006032717" locales="en-US" channel="betatest"
# 2.0a1 macppc
release="2.0a1" product="Firefox" platform="Darwin_ppc-gcc3" build_id="2006032113" locales="en-US" channel="betatest"
