<!DOCTYPE HTML><html class="reftest-wait"><head>
  <script src="/tests/SimpleTest/EventUtils.js"></script>
</head>
<body>
x
<div contenteditable="true">
<p id="p">A B CD EFG<br>
  1234567890</p>
</div>
<script>
  // Position the caret after "A"
  var sel = window.getSelection();
  sel.removeAllRanges();
  var range = document.createRange();
  var p = document.getElementById('p');
  var t = p.firstChild;
  range.setStart(t, 1);
  range.setEnd(t, 1);
  sel.addRange(range);
  p.parentNode.focus();

  SpecialPowers.Cu.import(
    "resource://testing-common/AsyncSpellCheckTestHelper.jsm", window);
  onSpellCheck(p.parentNode, function () {
    sendKey('DOWN');  // now after "1"
    sendKey('DOWN');  // now below the P element
    sendKey('UP');    // now before the "1"
    sendKey('UP');    // now before the "A"
    sendKey('UP');    // now before the "A"
    sendKey('UP');    // now before the "A"
    document.documentElement.classList.remove("reftest-wait");
  });
</script>
</body>
</html>
