<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/tests/SimpleTest/EventUtils.js"></script>
  </head>
  <body onload="setupCaret()" spellcheck="false">
    <div contenteditable>a<span>b</span>c </div>
    <script>
      function setupCaret() {
        var div = document.querySelector("div");
        div.focus();
        var sel = window.getSelection();
        sel.collapse(div, 3);
        synthesizeKey("VK_BACK_SPACE", {});
        synthesizeKey("VK_BACK_SPACE", {});
      }
    </script>
  </body>
</html>
