<html class="reftest-wait">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="/tests/SimpleTest/EventUtils.js"></script>
  </head>
  <body onload="start()">
    <textarea rows="3" onfocus="done()" spellcheck="false" style="-moz-appearance: none">אב
ג</textarea>
    <script>
      var textarea = document.querySelector("textarea");
      function start() {
        textarea.focus();
      }
      function done() {
        synthesizeKey("VK_LEFT", {});
        synthesizeKey("VK_LEFT", {});
        document.documentElement.removeAttribute("class");
      }
    </script>
  </body>
</html>
