<html class="reftest-wait">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="/tests/SimpleTest/EventUtils.js"></script>
  </head>
  <body onload="start()">
    <textarea onfocus="typeIntoMe()" style="-moz-appearance: none"></textarea>
    <script>
      function start() {
        document.querySelector("textarea").focus();
      }
      function typeIntoMe() {
        setTimeout(function() {
          synthesizeKey("س", {});
          synthesizeKey("VK_DOWN", {});
          synthesizeKey("VK_DOWN", {});
          document.documentElement.removeAttribute("class");
        }, 0);
      }
    </script>
  </body>
</html>
