<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <title>Testcases for overflow-clip-box:content-box</title>
    <style type="text/css">
        html,body {
            color:black; background-color:white; font:16px monospace; padding:0; margin:7px;
        }
.block {
  border:1px solid grey; height:50px; width:200px; padding:20px;
  overflow:auto; overflow-clip-box:content-box;
  line-height:1px;
}
.rel { position:relative; }
mask {
  display:block;
  position:absolute;
  left: -1px;
  bottom: -1px;
  height: 25px;
  width: 80%;
  background:black;
}
    </style>
</head>
<body>

<div style="position:relative;">
<div contenteditable=true spellcheck=false tabindex=0 id=x class="block">&nbsp;&nbsp;&nbsp;&nbsp;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
<mask></mask>
</div>
<script>
var x = document.getElementById('x');
x.focus();
window.getSelection().collapse(x,0);
</script>
</body>
</html>
