<!DOCTYPE HTML>
<html class="reftest-wait">
<head>
<script src="/tests/SimpleTest/SimpleTest.js"></script>
</head>
<body>
<input type="password" value="abcdef">
<script>
  function runTest() {
    let input = document.getElementsByTagName("input")[0];
    input.focus();
    input.setSelectionRange(3, 4);
    let editor = SpecialPowers.wrap(input).editor;
    editor.unmask(0, 6);
    editor.mask();
    document.documentElement.removeAttribute("class");
  }

  SimpleTest.waitForFocus(runTest);
</script>

</body>
</html>
