<!DOCTYPE HTML>
<html>
  <!-- Test: input with minlength is -moz-ui-invalid if the user edits and it's too short -->
  <head>
    <style>
      :-moz-ui-valid { background-color:green; }
      :-moz-ui-invalid { background-color:red; }
      * { box-shadow:none; background-color:white; }
    </style>
    <script type="text/javascript" src="/tests/SimpleTest/EventUtils.js"></script>
    <script>
      function runTest() {
        var input = document.getElementById('input');
        input.focus();
        synthesizeKey('o', {});
        input.blur(); // to hide the caret
        document.documentElement.className='';
      }
    </script>
  </head>
  <body onload="runTest()">
    <input id="input" minlength="4" value="fo">
  </body>
</html>

