<html>
<!--
https://bugzilla.mozilla.org/show_bug.cgi?id=467672
-->
<head>
  <title>Test for Bug 467672</title>
  <script type="text/javascript" src="/tests/SimpleTest/SimpleTest.js"></script>
  <script type="text/javascript" src="/tests/SimpleTest/WindowSnapshot.js"></script>
  <link rel="stylesheet" type="text/css" href="/tests/SimpleTest/test.css" />
</head>
<body>
<a target="_blank" href="https://bugzilla.mozilla.org/show_bug.cgi?id=467672">Mozilla Bug 467672</a>

<pre id="test">
<script type="text/javascript">

/** Test for Bug 467672 **/

var passes = [
  // bug 467672 tests (Arabic and Persian)
  {prefix: "bug467672", file: 2, bidiNumeralValue: 4, op: "=="},
];

</script>
<script type="text/javascript" src="bidi_numeral_test.js"></script>        
</pre>
</body>
</html>
