order-details {
  display: grid;
  grid-template-columns: 20% auto 10rem;
  grid-gap: 1em;
  margin: 1px 4vw;
}

order-details > ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  display: contents;
}

order-details payment-details-item {
  margin: 1px 0;
  display: contents;
}
payment-details-item .label {
  grid-column-start: 1;
  grid-column-end: 3;
}
payment-details-item currency-amount {
  grid-column-start: 3;
  grid-column-end: 4;
}

order-details .footer-items-list:not(:empty):before {
  border: 1px solid GrayText;
  display: block;
  content: "";
  grid-column-start: 1;
  grid-column-end: 4;
}

order-details > .details-total {
  margin: 1px 0;
  display: contents;
}

.details-total > .label {
  margin: 0;
  font-size: large;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: end;
}
.details-total > currency-amount {
  font-size: large;
  text-align: end;
}
