
*[hidden] {
  display: none;
}

html {
  background: -moz-Dialog;
  font: 3mm tahoma,arial,helvetica,sans-serif;
}

#feedBody, #feedError {
  border: 1px solid THreeDShadow;
  -moz-border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  margin: 2em auto;
  background: -moz-Field;
}

#feedHeader {
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 10px;
  padding-top: 4em;
  padding-bottom: .3em;
  -moz-padding-start: .3em;
  -moz-padding-end: .3em;
  margin: -4em auto 0 auto;
  font-size: 110%;
  background-color: rgb(255,255,225);
}

#feedHeader[firstrun="true"] {
  background: url("chrome://browser/skin/feeds/feedIcon.png") 1.4em 5.9em no-repeat rgb(255,255,225);
  padding: 5em 3em 3em 3em;
}

#feedIntroText {
  display: none;
  -moz-margin-start: 2em;
}

#feedHeader[firstrun="true"] #feedIntroText {
  display: block;
}

#feedSubscribeLine {
  padding: 1em;
  -moz-border-radius: 3px;
}

#feedHeader[firstrun="true"] #feedSubscribeLine {
  -moz-margin-start: 1.7em;
  background: -moz-Field;
}

#feedSubscribeHandler {
  border: 1px solid ThreeDLightShadow;
  -moz-border-radius: 3px;
  padding: 3px;
}

#feedSubscribeHandleText {
  -moz-padding-start: 20px;
  background: url("chrome://browser/skin/feeds/feedIcon16.png") left 0 no-repeat;
}

.feedSubscribeLink {
  font-weight: bold;
  -moz-margin-end: .4em;
  padding: .2em .1em .2em .1em;
}

.feedSubscribeLinkBox {
  background: url("chrome://browser/skin/feeds/feedIcon16.png") left 0 no-repeat;
  -moz-padding-start: 19px;
  -moz-margin-end: 0px;
}

#feedSubscribeOptionsGroup {
  -moz-border-radius: 4px;
  border: 2px solid ThreeDLightShadow;
  margin-bottom: .3em;
}

#feedSubscribeOptionsGroupTitle {
  -moz-padding-start: .3em;
  -moz-padding-end: .3em;
}

.field {
  -moz-appearance: textbox;
}

.styleLessBorderLess {
  -moz-appearance: none;
  border: none;
}

#feedSubscribeOptions {
  -moz-margin-start: 5em;
  -moz-margin-end: 5em;
  margin-top: 2em;
}

#feedChangeSubscribeOptions {
  -moz-margin-start: .4em;
}

#feedSubscribeDoneChangingOptions {
  font-weight: bold;
}


body {
  margin: 0;
  padding: 0 3em;
  color: -moz-fieldText;
  font: message-box;
}

h1 {
  font-size: 160%;
  border-bottom: 2px solid ThreeDLightShadow;
  margin: 0 0 .2em 0;
}

h2 {
  color: #C0C0C0;
  font-size: 110%;
  font-weight: normal;
  margin: 0 0 .6em 0;
}

#feedTitleLink {
  float: right;
  -moz-margin-start: .6em;
  -moz-margin-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a[href] img {
  border: none;
}

#feedTitleContainer {
  -moz-margin-start: 0;
  -moz-margin-end: .6em;
  margin-top: 0;
  margin-bottom: 0;
}

#feedTitleImage {
  -moz-margin-start: .6em;
  -moz-margin-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feedEntryContent {
  font-size: 110%;
}

.link {
  color: #0000FF;
  text-decoration: underline;
  cursor: pointer;
  margin-top: -2px;
}

.link:hover:active {
  color: #FF0000;
}

.plain {
  -moz-appearance: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: none;
}

.plain > .button-box {
  border: 1px solid transparent;
  margin: 0px;
  padding: 0px;
  background: none;
}

.plain:focus > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

#readerContainer {
  -moz-appearance: listbox;
}

#readers {
  -moz-appearance: none;
  border: none;
  margin: 0px;
}

#readers > listitem {
  -moz-padding-start: 4px;
}

#application {
  border-bottom: 1px solid ThreeDShadow;
}

#readerGroup {
  -moz-padding-end: 14px;
}

.feedSubscribeButton {
  font-weight: bold;
  list-style-image: url("chrome://browser/skin/feeds/feedIcon16.png");
}
.feedSubscribeButton .button-icon {
  -moz-margin-end: 3px;
}
