/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host([native]) {
  appearance: auto;
  -moz-default-appearance: menulist;
  text-shadow: none;
}

:host([native][disabled="true"]) {
  color: GrayText;
}

:host(:not([native])) {
  appearance: none;
  background-color: var(--button-bgcolor, ButtonFace);
  color: var(--button-color, ButtonText);
  border-radius: 4px;
  padding-block: 4px;
  padding-inline: 12px 8px;
  margin: 5px 2px 3px;
}

:host(:not([native])[size="medium"]) {
  padding-block: 6px;
  padding-inline: 16px 10px;
}

:host(:not([native])[size="large"]) {
  padding-block: 8px;
  padding-inline: 16px 12px;
}

:host(:not([native]):hover) {
  background-color: var(--button-hover-bgcolor, color-mix(in srgb, currentColor 10%, ButtonFace));
}

:host(:not([native]):hover:active) {
  background-color: var(--button-active-bgcolor, color-mix(in srgb, currentColor 20%, ButtonFace));
}

:host(:not([native]):focus-visible) {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

#label-box {
  min-width: 0;
  pointer-events: none;
  align-items: center;
  justify-content: center;

  :host(:not([native])) & {
    font-weight: 600;
  }
}

dropmarker {
  pointer-events: none;
  flex: 0;

  :host(:not([native])) & {
    display: flex;
    appearance: none;
    content: url(chrome://global/skin/icons/arrow-down-12.svg);
    -moz-context-properties: fill;
    fill: currentColor;
  }
}

:host(:not([highlightable])) #highlightable-label,
:host([highlightable]) #label {
  display: none;
}

label {
  margin: 0 3px;
}
