(
  {
    code 		= "x-western";
  },
  {
    code 		= "x-central-euro";
  },
  {
    code 		= "x-cyrillic";
  },
  {
    code 		= "x-baltic";
  },
  {
    code 		= "el";
  },
  {
    code 		= "tr";
  },
  {
    code 		= "he";
  },
  {
    code 		= "ar";
  },
  {
    code 		= "ko";
  },
  {
    code 		= "th";
  },
  {
    code 		= "zh-TW";
  },
  {
    code 		= "zh-CN";
  },
  {
    code 		= "ja";
  },
  {
    code 		= "x-unicode";
  },
  {
    code 		= "x-user-def";
  }
)
