<!DOCTYPE HTML>
<!--
     Any copyright is dedicated to the Public Domain.
     http://creativecommons.org/publicdomain/zero/1.0/
-->
<html><head>
  <meta charset="utf-8">
  <title>Reference: Testcase #2 for bug 1330962</title>
  <style type="text/css">
html,body {
  color:black; background-color:white; font:16px/1 monospace; padding:0; margin:0;
}
* { font:16px/1 monospace; }

.block { display: block; }
.grid { display: grid; }

.no-theme {
     -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  padding: 20px 0;
  border: none;
  background: white;
  color: black;
  text-align: start;
}

.scroll {
  overflow-y: scroll;
}

.no-scroll {
  overflow: visible;
}

  </style>
</head>
<body>

<div>
  <div style="display:inline-block">
    A<div>
    <div style="display:inline-block"><input type="button" value="button"></div></div>
  </div>
  B
</div>

<div>
  <div style="display:inline-block">
    A<br>
    <div style="display:inline-block"><button>button</button></div>
  </div>
  B
</div>

<div>
  <div style="display:inline-block">
    A<br>
    <div style="display:inline-block"><input class="no-theme" type="button" value="button"></div>
  </div>
  B
</div>

<div>
  <div style="display:inline-block">
    A<br>
    <button class="no-theme">button-first<div style="font-size:10px">button-last</div></button>
  </div>
  B
  <div class="no-theme" style="display:inline-block">button-first<div style="font-size:10px">button-last</div></div>
</div>

<div>
  <div style="display:inline-block">
    A<br>
    <button class="no-theme" style="display:inline-grid">button-first<x style="font-size:10px">button-last</x></button>
  </div>
  B
  <div class="no-theme" style="display:inline-grid">button-first<x style="font-size:10px">button-last</x></div>
</div>

<div>
  <div style="display:inline-grid">
    A
    <input type="checkbox" class="block" checked>
  </div>
  B
</div>

<div>
  <div style="display:inline-grid">
    A
    <input type="radio" class="block" checked>
  </div>
  B
</div>

</body>
</html>
