{
  "extends": [
    "../../../../testing/mochitest/mochitest.eslintrc",
    "../../../../testing/mochitest/chrome.eslintrc"
  ],
  "rules": {
    "brace-style": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
  },
}
