# This file is the websocketprocess requirements.txt used with python 3.

six
vcversioner==2.16.0.0
twisted>=18.7.0

# websocket adapter for twisted, might be built into twisted someday
autobahn

psutil>=5.6.3

# Needed by iceserver
ipaddr>=2.2.0
passlib==1.6.5
