# This file is the websocketprocess requirements.txt used with python 3.

six
vcversioner==2.16.0.0
twisted==21.2.0

# websocket adapter for twisted, might be built into twisted someday
autobahn==21.2.1

psutil>=5.9.0

# Needed by iceserver
ipaddr>=2.2.0
passlib==1.7.4

pyOpenSSL
service_identity
