# needed by txws, and we'd like pip to get it from the local server before setuptools tries pypi
six==1.10.0

twisted==10.2.0

# websocket adapter for twisted, might be built into twisted someday
txws==0.9.1

psutil==5.4.3

# Needed by iceserver
ipaddr==2.1.11
passlib==1.6.5
