{
  "globals": {
    // General xpcshell-test functions
    "HttpServer": false,
    "add_task": false,
    "add_test": false,
    "Ci": true,
    "Cu": true,
    "do_check_true": false,
    "do_check_false": false,
    "do_check_eq": false,
    "do_get_profile": false,
    "do_print": false,
    "do_register_cleanup": false,
    "do_throw": false,
    "do_timeout": false,
    "run_next_test": false,
    // head.js items.
    "FileUtils": false,
    "MockWebSocketChannel": false,
    "extend": true,
    "getLoopString": false,
    "kServerPushUrl": true,
    "kEndPointUrl": true,
    "loopCrypto": true,
    "loopServer": true,
    "mockPushHandler": true,
    "setupFakeFxAUserProfile": false,
    "setupFakeLoopServer": false,
    "timerHandlers": false,
    "updateAppInfo": false,
    "waitForCondition": true,
    // Loop specific items
    "MozLoopServiceInternal": true,
    "LoopRoomsInternal": true,
  }
}
