/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Do not change this without also changing the appropriate line in
 * browser-plugins.js (near where this file is mentioned). */
:host(:not([width])), :host([width=""]) {
  width: 240px;
}

/* Do not change this without also changing the appropriate line in
 * browser-plugins.js (near where this file is mentioned). */
:host(:not([width])), :host([width=""]) {
  height: 200px;
}

.mainBox {
  width: inherit;
  height: inherit;
  overflow: hidden;
  cursor: inherit;
  visibility: hidden;
}
