<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.mozilla.geckoview.test">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name="androidx.multidex.MultiDexApplication">
        <activity android:name=".GeckoViewTestActivity" android:exported="true"/>
        <!-- This is used for crash handling in GeckoSessionTestRule -->
        <service
                android:name=".TestCrashHandler"
                android:enabled="true"
                android:exported="false"
                android:process=":crash">
        </service>

        <!-- This is needed for ParentCrashTest -->
        <service
                android:name=".crash.RuntimeCrashTestService"
                android:enabled="true"
                android:exported="false"
                android:process=":crashtest">
        </service>

        <!-- Used to run multiple runtimes during tests -->
        <service android:name=".TestRuntimeService$instance0" android:enabled="true" android:exported="false" android:process=":runtime0" />
        <service android:name=".TestRuntimeService$instance1" android:enabled="true" android:exported="false" android:process=":runtime1" />

        <service android:name=".TrackingPermissionService" android:enabled="true" android:exported="false" android:process=":tp" />
    </application>
</manifest>
