<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>test of border-image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <style type="text/css">

  div {
    border-width: 10px;
    border-style: solid;
    border-image: url('3x3green-1DD813.png') 1 1 1 1 repeat;
    -khtml-border-image: url('3x3green-1DD813.png') 1 1 1 1 repeat;
    border-image: url('3x3green-1DD813.png') 1 1 1 1 repeat;
    margin: 1px;
  }

  </style>
</head>
<body>
<div style="width: 50px; height: 5px"></div>
<div style="width: 51px; height: 5px"></div>
<div style="width: 52px; height: 5px"></div>
<div style="width: 53px; height: 5px"></div>
<div style="width: 54px; height: 5px"></div>
<div style="width: 55px; height: 5px"></div>
<div style="width: 56px; height: 5px"></div>
<div style="width: 57px; height: 5px"></div>
<div style="width: 58px; height: 5px"></div>
<div style="width: 59px; height: 5px"></div>
<div style="width: 550px; height: 5px"></div>
<div style="width: 551px; height: 5px"></div>
<div style="width: 552px; height: 5px"></div>
<div style="width: 553px; height: 5px"></div>
<div style="width: 554px; height: 5px"></div>
<div style="width: 555px; height: 5px"></div>
<div style="width: 556px; height: 5px"></div>
<div style="width: 557px; height: 5px"></div>
<div style="width: 558px; height: 5px"></div>
<div style="width: 559px; height: 5px"></div>
</body>
</html>
