<!--
     Any copyright is dedicated to the Public Domain.
     http://creativecommons.org/publicdomain/zero/1.0/
-->
<html>
<style>
.reftest {
  width: 100px;
  height: 100px;
  float:left;
}

.first {
  background-color: rgb(255, 0, 255);
}
.second {
  background-color: rgb(0, 0, 255);
}

.third {
  background-color: rgb(0, 255, 255);
}

.fourth {
  background-color: rgb(0, 255, 0);
}

</style>
<div class="reftest first"></div>
<div class="reftest second"></div>
<div class="reftest third"></div>
<div class="reftest fourth"></div>
</html>
