extraPrefs:
  extensions.autoDisableScopes:
  extensions.enabledScopes:

test_overrides:
  tp5r:
    tpcycles: 10
    win_counters : ['Main_RSS', 'Private Bytes', '% Processor Time']
    w7_counters : ['Main_RSS', 'Private Bytes', '% Processor Time', 'Modified Page List Bytes']
    linux_counters : ['Private Bytes', 'XRes', 'Main_RSS']
    mac_counters : ['Private Bytes', 'Main_RSS']
