/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 40px auto;
  max-width: 664px;
  font-family: 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
}

@media (max-width: 830px) {
  body {
    margin-inline-start: 16px;
    margin-inline-end: 16px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 24px;
}

@media (max-width: 600px) {
  header {
    display: block;
  }
}

#locale-notification {
  display: none;
  text-align: center;
}

#summary, #details, #data {
  margin-block-end: 24px;
}

#summary, #summary, #details p, #data p {
  font-size: 15px;
  line-height: 22px;
}

#data ul {
  padding-inline-start: 15px;
}

#data ul li {
  margin-block-end: 8px;
}

#data a, #data strong {
  font-weight: 600;
}

h2 {
  font-size: 17px;
  font-weight: 600;
}

details > summary {
  user-select: none;
  padding: 2px 6px;
  width: 18em;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 600;
}

#report-title, #title {
  font-size: 1.46em;
  font-weight: 300;
  line-height: 1.3em;
  margin-block-end: 0;
}

@media (max-width: 600px) {
  #title {
    margin-block-end: 8px;
  }
  #enrollment-button {
    margin-inline-start: 0;
  }
}

#available-studies {
  font-weight: 600;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.card-body {
  flex-grow: 1;
  margin-inline-start: 16px;
}

.card-name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.card-author {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.card-actions {
  align-self: center;
  flex-shrink: 0;
  min-width: 120px;
}

.join-button {
  max-width: 200px;
  margin: 0;
  margin-inline-end: 16px;
}

.card-description {
  font-size: 14px;
  font-weight: normal;
  width: 100%;
}

.card-data-collected {
  font-size: 14px;
  font-weight: normal;
}

*[hidden] {
  display: none !important;
}

#ion-icon {
  -moz-context-properties: fill;
  fill: currentColor;
}

.modal {
  max-height: 90%;
  max-width: min(700px, 80%);
  overflow: auto;
  background: var(--in-content-page-background);
  color: var(--in-content-page-color);
  border: 1px solid transparent;
  border-radius: 3.5px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
  padding: 8px 16px 0;
}

.modal > footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.modal::backdrop {
  background-color: rgba(0,0,0,.5);
}

h1 > p { margin-bottom: 0}

.consent-list {
  padding: 16px;
  padding-inline-start: 32px;
  margin-block-end: 16px;
  border: 1px solid var(--in-content-box-border-color);
  background: var(--in-content-box-background);
}
