{
  "globals": {
    "add_task": false,
    "Assert": false,
    "BrowserTestUtils": false,
    "content": false,
    "ContentTask": false,
    "ContentTaskUtils": false,
    "EventUtils": false,
    "executeSoon": false,
    "expectUncaughtException": false,
    "export_assertions": false,
    "extractJarToTmp": false,
    "finish": false,
    "getJar": false,
    "getRootDirectory": false,
    "getTestFilePath": false,
    "gBrowser": false,
    "gTestPath": false,
    "info": false,
    "is": false,
    "isnot": false,
    "ok": false,
    "once": false,
    "registerCleanupFunction": false,
    "requestLongerTimeout": false,
    "SimpleTest": false,
    "SpecialPowers": false,
    "TestUtils": false,
    "todo": false,
    "todo_is": false,
    "todo_isnot": false,
    "waitForClipboard": false,
    "waitForExplicitFinish": false,
    "waitForFocus": false,
    "waitUntil": false,
    "selectSource": false,
    "prettyPrint": false,
    "closeTab": false,
    "pushPref": false,
    "waitFor": false,

    // Globals introduced in debugger-specific head.js
    "getContext": false,
    "getEditorLineGutter": false,
    "getCM": false,
    "getDebuggerSplitConsole": false,
    "hasConsoleMessage": false,
    "findConsoleMessage": false,
    "promise": false,
    "BrowserToolboxProcess": false,
    "OS": false,
    "selectors": false,
    "waitForNextDispatch": false,
    "waitForDispatch": false,
    "waitForState": false,
    "waitForElement": false,
    "waitForAllElements": false,
    "waitForElementWithSelector": false,
    "waitForPaused": false,
    "waitForSources": false,
    "waitForSource": false,
    "waitForLoadedSource": false,
    "waitForSelectedSource": false,
    "waitForBreakpoint": false,
    "waitForBreakpointCount": false,
    "waitForCondition": false,
    "waitForLog": false,
    "waitForPausedThread": false,
    "assertClass": false,
    "assertNotPaused": false,
    "assertSourceCount": false,
    "assertPausedAtSourceAndLine": false,
    "assertPreviews": false,
    "assertPreviewTextValue": false,
    "assertEditorBreakpoint": false,
    "assertBreakpointSnippet": false,
    "assertEmptyLines": false,
    "assertPaused": false,
    "assertPausedLocation": false,
    "assertHighlightLocation": false,
    "assertScopes": false,
    "createDebuggerContext": false,
    "initDebugger": false,
    "invokeInTab": false,
    "invokeWithBreakpoint": false,
    "findBreakpoint": false,
    "findSource": false,
    "findSourceContent": false,
    "findElement": false,
    "findElementWithSelector": false,
    "findAllElements": false,
    "getIsPaused": false,
    "getThreadContext": false,
    "getWorkers": false,
    "openNewTabAndToolbox": false,
    "selectLocation": false,
    "stepOver": false,
    "stepIn": false,
    "stepOut": false,
    "resume": false,
    "reload": false,
    "navigate": false,
    "removeBreakpoint": false,
    "addBreakpoint": false,
    "addExpression": false,
    "toggleCallStack": false,
    "toggleScopes": false,
    "isVisibleWithin": false,
    "isPaused": false,
    "hoverAtPos": false,
    "clickElement": false,
    "clickElementWithSelector": false,
    "clickDOMElement": false,
    "dblClickElement": false,
    "altClickElement": false,
    "rightClickElement": false,
    "rightClickEl": false,
    "clickGutter": false,
    "typeInPanel": false,
    "selectMenuItem": false,
    "selectContextMenuItem": false,
    "togglePauseOnExceptions": false,
    "type": false,
    "tryHovering": false,
    "pressKey": false,
    "synthesizeContextMenuEvent": false,
    "EXAMPLE_URL": false
  }
}
