/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host,
:root {
  --content-area-padding: 16px;
  --sidebar-width: var(--in-content-sidebar-width);
  --header-spacing: 40px;
  --footer-spacing: 80px;

  --card-border-zap-gradient: linear-gradient(90deg, #9059FF 0%, #FF4AA2 52.08%, #FFBD4F 100%);
}

body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-block: var(--header-spacing) var(--footer-spacing);
  padding-inline: var(--content-area-padding);
  max-width: 90rem;
}

h1 {
  font-weight: 500;
  font-size: 1.5em;
}

.content-container {
  padding-inline: var(--content-area-padding);
}

body > nav {
  border-inline-end-width: 1px;
  flex: 0 1 content;
  min-width: calc(var(--content-area-padding) * 2 + var(--sidebar-width));
}

body > main {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 16px;
}

body > main > section {
  grid-column: 1 / 5;
}

body > main > aside {
  grid-column: 5 / -1;
}

@media (max-width: 76rem) {
  :host,
  :root {
    --sidebar-width: 40px;
  }
  .brand-logo > .brand-feature-name {
    display: none;
  }
}

@media (max-width: 65rem) {
  body > main > section,
  body > main > aside {
    grid-column: 1 / -1;
  }
}

@media (max-width: 45rem) {
  :host,
  :root {
    --header-spacing: 16px;
    --footer-spacing: 16px;
    --content-area-padding: 8px;
  }
}

@media (max-width: 28rem) {
  body {
    flex-wrap: wrap;
  }
}

.brand-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.brand-logo > .brand-icon {
  display: inline-block;
  background: url("chrome://branding/content/about-logo.png") no-repeat center;
  background-size: 32px;
  min-width: 40px;
  height: 32px;
}

.brand-logo > .brand-feature-name {
  margin-inline-start: 8px;
  flex: 1 1 auto;
}

#colorways {
  position: relative;
}

#colorways.no-collection {
  display: block;
  background: linear-gradient(51.95deg, #7542E5 -8.36%, #C953F2 98.73%);
  border-radius: 8px;
}

#colorways,
#colorways.no-collection > div {
  display: flex;
  flex-direction: column;
}

#colorways.no-collection > div {
  height: 100%;
  justify-content: flex-end;
  background: url("chrome://browser/content/colorway-background.svg");
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

#try-colorways-description {
  color: #FFF;
  font-size: 2em;
  text-align: center;
  margin: 0 1em 1em;
}

#colorways-collection-description,
#colorways-button {
  margin: 0.4em 0;
  align-self: flex-start;
}

#colorways-collection-title {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: bold;
}

#colorways-collection-expiry-date {
  display: inline-block;
  background: linear-gradient(to right, purple, pink, orange);
  background-origin: border-box;
  border-radius: 1.5em;
  padding: 1px;
  margin: 0.8em 0;
  align-self: flex-start;
}

#colorways-collection-expiry-date > span {
  display: inline-block;
  color: var(--in-content-page-color);
  background: var(--in-content-page-background);
  border-radius: 1.5em;
  padding: .2em 1em;
}

[hidden] {
  display: none !important;
}

.empty-container {
  background-color: rgba(240, 240, 244, 0.4);
}

.placeholder-content {
  text-align: center;
  padding: 10px 0;
}

.page-section-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr auto;
  column-gap: 16px;

  grid-template-areas:
      "head head head head head head head twisty"
      "desc desc desc desc desc desc desc desc";
}

.page-section-header > h1 {
  color: var(--in-content-deemphasized-text);
  grid-area: head;
  margin: 0;
  padding-block: 4px;
}

.page-section-header > .twisty {
  color: var(--in-content-deemphasized-text);
  grid-area: twisty;
  justify-self: end;
  margin-block: 0;
  min-width: 32px;
  padding-inline: 7px;
}

.page-section-header > .section-description {
  grid-area: desc;
  color: var(--in-content-deemphasized-text)
}

.setup-step {
  padding: var(--card-padding);
  margin: 0 0 8px;
}

/* Bug 1770534 - Only use the zap-gradient for built-in, color-neutral themes */
.setup-step {
  border: none;
  position: relative;
  z-index: 0;
}
.setup-step::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px; /* the "border" thickness */
  border-radius: 4px;
  background-image: var(--card-border-zap-gradient);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.setup-step > h2 {
  margin-block: 0 8px;
}

.setup-step > .step-body {
  display: flex;
  align-content: space-between;
  align-items: center;
  margin-block: 8px;
  padding-block: 8px;
}

.setup-step > .step-body > .step-content {
  flex: 1 1 auto;
}

.setup-step > .step-body > button.primary {
  white-space: nowrap;
}

.setup-step > footer {
  display: flex;
  flex-direction: column;
  margin-block: 0 8px;
}

.setup-step > footer > progress {
  margin-block: 0 8px;
}

#recently-closed-tabs-container {
  padding-top: 30px;
}

#recently-closed-tabs-container > p {
  margin-top: 0;
}

.closed-tabs-list {
  padding-inline-start: 0;
}

.closed-tab-li {
  display: grid;
  grid-template-columns: min-content repeat(8, 1fr);
  column-gap: 16px;
  padding: 8px;
  cursor: pointer;
}

.closed-tab-li:hover {
  background-color: var(--in-content-button-background-hover);
  color: var(--in-content-button-text-color-hover);
}

.closed-tab-li:hover:active {
  background-color: var(--in-content-button-background-active);
}

.closed-tab-li-title {
  grid-column: span 5;
  padding-inline-start: 2px;
  font-weight: 500;
}

.closed-tab-li-url {
  grid-column: span 2;
  text-decoration-line: underline;
}

.closed-tab-li-time {
  text-align: end;
}

.closed-tab-li-url, .closed-tab-li-time {
  color: var(--in-content-deemphasized-text);
  font-weight: 400;
}

.closed-tab-li-title, .closed-tab-li-url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  -moz-context-properties: fill;
  fill: currentColor;
  margin-top: 10px;
}

.icon.arrow-down {
  background-image: url("chrome://global/skin/icons/arrow-down.svg");
}

.icon.arrow-up {
  background-image: url("chrome://global/skin/icons/arrow-up.svg");
}

.icon.history {
  background-image: url('chrome://browser/skin/history.svg');
}

.favicon {
  background-size: cover;
  margin: 2px;
}

.favicon, .icon {
  width: 16px;
  height: 16px;
}
