<div class="pkt_ext_experiment_saved_tile pkt_ext_cf {{#if has_image }}pkt_ext_has_image{{/if}}">
    {{#if has_image}}
        <div class="pkt_ext_save_image" style="background-image:url('{{image_src}}'); background-size:cover; background-position:center center;" data-imgsrc="{{image_src}}"></div>
    {{/if}}
    <div class="pkt_ext_save_title">
        <div class="pkt_ext_save_open">{{title}}</div>
        <div class="pkt_ext_save_source">{{domain}}</div>
    </div>
</div>
