<div class="pkt_ext_detail pkt_ext_saved_sendtomobile pkt_ext_ho2_v1">
    <div id="pkt_ext_articleinfo">
        <div id="pkt_ext_swap" class="pkt_ext_experiment_saved_tile pkt_ext_has_image pkt_ext_cf">
            <div class="pkt_ext_save_image pkt_ext_save_image_placeholder"></div>

            <div class="pkt_ext_save_title pkt_ext_title_image_placeholder">
                <div class="pkt_ext_save_open"> </div>
                <div class="pkt_ext_save_source"> </div>
            </div>
        </div>
    </div>

    <button id="pkt_ext_sendtomobile_button" class="pkt_ext_button">
        <span class="pkt_ext_save_title_wrapper pkt_ext_mobile_icon">
            <span class="pkt_ext_logo_action_copy">Send to your phone</span>
        </span>
    </button>
</div>
