/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* all localizable skin settings shall live here */
@import url("chrome://global/locale/intl.css");
@import url("chrome://global/content/widgets.css");

%include shared.inc
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

%include ../../shared/global.inc.css

:root {
  /* ::::: Variables ::::: */
  --arrowpanel-padding: 16px;
  --default-arrowpanel-background: #fff;
  --default-arrowpanel-color: hsl(0,0%,10%);
  --default-arrowpanel-border-color: hsla(210,4%,10%,.05);
  --arrowpanel-background: var(--default-arrowpanel-background);
  --arrowpanel-color: var(--default-arrowpanel-color);
  --arrowpanel-border-color: var(--default-arrowpanel-border-color);
  --arrowpanel-border-radius: 3.5px;
  --panel-disabled-color: GrayText;

  --focus-ring-box-shadow: @focusRingShadow@;
  /* ::::: Styles ::::: */
  -moz-appearance: dialog;
  background-color: #FFFFFF;
  color: -moz-DialogText;
  font: message-box;
}

/* ::::: alert icons :::::*/

.message-icon,
.alert-icon,
.error-icon,
.question-icon {
  width: 32px;
  height: 32px;
  margin: 6px;
  margin-inline-end: 20px;
}

.message-icon {
  list-style-image: url("chrome://global/skin/icons/info.svg");
}

.alert-dialog #infoIcon,
.alert-icon {
  list-style-image: url("chrome://global/skin/icons/warning-64.png");
}

.error-icon {
  list-style-image: url("chrome://global/skin/icons/error-64.png");
}

.question-icon {
  list-style-image: url("chrome://global/skin/icons/question-64.png");
}

/* ::::: iframe ::::: */

xul|iframe {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 10px;
  min-height: 10px;
}

@supports -moz-bool-pref("layout.css.emulate-moz-box-with-flex") {
  /* In emulation, <iframe> is block instead of inline, so reset the width/height */
  xul|iframe {
    width: auto;
    height: auto;
  }
}

/* ::::: miscellaneous formatting ::::: */

:root:-moz-lwtheme {
  -moz-appearance: none;
}

:root[lwtheme-image]:-moz-lwtheme-darktext {
  text-shadow: 0 -0.5px 1.5px white;
}

:root[lwtheme-image]:-moz-lwtheme-brighttext {
  text-shadow: 1px 1px 1.5px black;
}

xul|separator:not([orient="vertical"]) {
  height: 1.5em;
}
xul|separator[orient="vertical"] {
  width: 1.5em;
}

xul|separator.thin:not([orient="vertical"]) {
  height: 0.5em;
}
xul|separator.thin[orient="vertical"] {
  width: 0.5em;
}

xul|separator.groove:not([orient="vertical"]) {
  border-top: 1px solid #A3A3A3;
  height: 0;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
xul|separator.groove[orient="vertical"] {
  border-left: 1px solid #A3A3A3;
  width: 0;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

xul|description,
xul|label {
  cursor: default;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-inline-start: 6px;
  margin-inline-end: 5px;
}

xul|description {
  margin-bottom: 4px;
}

xul|label[disabled="true"] {
  color: GrayText;
}

.tooltip-label {
  margin: 0;
}

.header {
  font-weight: bold;
}

.indent {
  margin-inline-start: 23px;
}

.box-padded {
  padding: 5px;
}

.text-link {
  color: -moz-nativehyperlinktext;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:-moz-focusring {
  box-shadow: var(--focus-ring-box-shadow);
}

html|input {
  margin: 4px;
}

xul|notification > xul|hbox > xul|button {
  margin: 0 3px;
  padding: 1px 10px;
  min-width: 60px;
  min-height: 16px;
  -moz-appearance: none;
  border-radius: 10000px;
  border: @roundButtonBorderWidth@ @roundButtonBorderStyle@ @roundButtonBorderColor@;
  text-shadow: @loweredShadow@;
  color: @roundButtonColor@;
  background: @roundButtonBackgroundImage@;
  box-shadow: @roundButtonShadow@;
}

xul|notification > xul|hbox > xul|button:active:hover {
  color: @roundButtonColor@;
  background: @roundButtonPressedBackgroundImage@;
  box-shadow: @roundButtonPressedShadow@;
}

xul|notification > xul|hbox > xul|button:-moz-focusring {
  box-shadow: var(--focus-ring-box-shadow), @roundButtonShadow@;
}

xul|notification > xul|hbox > xul|button:active:hover:-moz-focusring {
  box-shadow: var(--focus-ring-box-shadow), @roundButtonPressedShadow@;
}

xul|notification > xul|hbox > xul|button > .button-box > .button-text {
  margin: 0 !important;
}

xul|popupnotificationcontent {
  margin-top: .5em;
}

%include ../../shared/notification-popup.inc.css

/* autorepeatbuttons in menus */

.menupopup-scrollbutton {
  height: 15px;
  position: relative;
  list-style-image: none;
  /* Here we're using a little magic.
   * The arrow button is supposed to overlay the scrollbox, blocking
   * everything under it from reaching the screen. However, the menu background
   * is slightly transparent, so how can we block something completely without
   * messing up the transparency? It's easy: The native theming of the
   * "menuitem" appearance uses CGContextClearRect before drawing, which
   * clears everything under it.
   * Without help from native theming this effect wouldn't be achievable.
   */
  -moz-appearance: menuitem;
}

.scrollbutton-up.menupopup-scrollbutton {
  padding-top: 1px; /* 4px padding-top from the .popup-internal-box. */
  margin-bottom: -15px;
}

.scrollbutton-up.menupopup-scrollbutton > .toolbarbutton-icon {
  -moz-appearance: button-arrow-up;
}

.scrollbutton-down.menupopup-scrollbutton {
  padding-top: 5px;
  margin-top: -15px;
}

.scrollbutton-down.menupopup-scrollbutton > .toolbarbutton-icon {
  -moz-appearance: button-arrow-down;
}

.menupopup-scrollbutton[disabled="true"] {
  visibility: collapse;
}
