/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Notification overrides for Heartbeat UI */

notification.heartbeat {
  background-image: linear-gradient(-179deg, #FBFBFB 0%, #EBEBEB 100%) !important;
  border-bottom: 1px solid #C1C1C1 !important;
  height: 40px;
}
