[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Ed Fuentetaja <efuentetaja@acm.org>
  #                 Greg Hendricks <ghendricks@novell.com>
  #%]
  
[%
   title = "Testopia"
   desc = "Set Testopia parameters"
%]

[% param_descs = {
   "private-cases-log" => "If this option is on, the tester cannot view other testers' cases",

   "allow-test-deletion" => "If this option is on, users can delete objects including plans and cases",

   "testopia-allow-group-member-deletes" => "If this option is on, members of the Testers group will be 
                                            allowed to delete test objects",

   "testopia-default-plan-testers-regexp" => "This is the default regular expression for granting 
                                              access to new test plans",

   "print-tag-in-case-log" => 'If this option is on, the entire tag text is printed in a test case ' _
                            'log entry. Otherwise, only an href to the tag is put there.',
   
   "new-case-action-template" => "This is the text to be put in a newly created test case \"action\" field",
   
   "new-case-results-template" => "This is the text to be put in a newly created test case \"expected results\" field",
   
   "bug-to-test-case-summary" => 'This is the default summary text used when generating a test case ' _
              'out of a bug. The special symbol %id% is replaced with the bug id and ' _
              "%summary% is replaced with the bug's summary",
   
   "bug-to-test-case-action" => 'This is the default action text used when generating a test case ' _
              'out of a bug. The special symbol %id% is replaced with a ' _
              "hyperlink to the bug's page. The special symbol \%description\% is " _
              "replaced with the bug's description",
   
   "bug-to-test-case-results" => 'This is the default results text used when generating a test case ' _
              'out of a bug. The special symbol %id% is replaced with a ' _
              "hyperlink to the bug's page",
   
   "default-test-case-status" => 'Default status for newly created test cases.',
   
   "new-testrun-email-notif" => 'E-mail message sent to assigned testers when a new test run is started. ' _
              'There are some special symbols replaced at run time:<br/>' _
              '%to%: list of assigned testers email addresses<br/>' _
              '%summary%: test run summary<br/>' _
              '%plan%: plan\'s name<br/>' _
              '%plan_id%: plan\'s id<br/>' _
              '%product%: product\'s name<br/>' _
              '%product_id%: product\'s id',

   "case-failed-email-notif" => 'E-mail message sent when a test case log is marked as \'failed\'. ' _
              'There are some special symbols replaced at run time:<br/>' _
              '%id%: test case log id<br/>' _
              '%manager%: test run\'s manager<br/>' _
              '%test_run%: test run\'s summary<br/>' _
              '%tester%: tester<br/>' _
              '%component%: component\'s name',
   
   "tester-completed-email-notif" => 'E-mail message sent when a tester has run every assigned test case.',
   
   "test-run-completed-email-notif" => 'E-mail message sent when every test case in a test run is completed.', }

%]