<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile backup debug tool</title>

    <link rel="stylesheet" href="chrome://global/skin/in-content/common.css" />
  </head>
  <body>
    <header>
      <h1>Profile backup debug tool</h1>
    </header>

    <main>
      <section>
        <h2>State</h2>
        <ol>
          <li>
            <input
              type="checkbox"
              preference="browser.backup.enabled"
            />BackupService component enabled
          </li>
          <li>
            <input
              type="checkbox"
              preference="browser.backup.log"
            />BackupService debug logging enabled
          </li>
          <li>
            <input id="encryption-enabled" type="checkbox" />Encryption enabled
          </li>
        </ol>
      </section>
      <section id="controls">
        <h2>Controls</h2>
        <button id="create-backup">Create backup</button>
        <p>
          Clicking "Create backup" will create a backup, and then attempt to
          show an OS notification with the total time it took to create it. This
          notification may not appear if your OS has not granted the browser to
          display notifications.
        </p>
        <p id="last-backup-status"></p>
        <button id="open-backup-folder">Open backups folder</button>
        <button id="recover-from-staging">
          Recover from staging folder and launch
        </button>
        <p>
          Clicking "Recover from staging folder and launch" will open a file
          picker to allow you to select a staging folder. Once selected, a new
          user profile will be created and the data stores from the staging
          folder will be copied into that new profile. The new profile will then
          be launched.
        </p>
        <p id="last-recovery-status"></p>
      </section>
    </main>

    <script src="chrome://global/content/preferencesBindings.js"></script>
    <script src="chrome://browser/content/backup/debug.js"></script>
  </body>
</html>
