<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>mozilla-bin</string>
	<key>CFBundleIdentifier</key>
	<string>org.mozilla.mozilla</string>
	<key>CFBundleVersion</key>
	<string>1.8a1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>Mozilla</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>MOZZ</string>
	<key>CFBundleIconFile</key>
	<string>mozilla.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8a1</string>
	<key>CFBundleGetInfoString</key>
	<string>Mozilla 1.8a1, © 1998-2004 The Mozilla Organization</string>
        <key>NSAppleScriptEnabled</key>
        <true/>
	<key>CFBundleDocumentTypes</key>
	<array>
	
	<!--Updated Metadata begins here-->
			
			<dict>
				<key>CFBundleTypeName</key>
				<string>Text Document</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>TEXT</string>
					<string>utxt</string>
				</array>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>text</string>
					<string>txt</string>
					<string>css</string>
					<string>xul</string>
					<string>js</string>
					<string>rdf</string>
					<string>log</string>
					</array>
				<key>CFBundleTypeIconFile</key>
				<string>text.icns</string>
			</dict>

			<dict>
				<key>CFBundleTypeName</key>
				<string>Mozilla Preferences File</string>
				<key>CFBundleTypeRole</key>
				<string>None</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>pref</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>pref.icns</string>
			</dict>
			
			<dict>
				<key>CFBundleTypeName</key>
				<string>Mozilla Plugin</string>
				<key>CFBundleTypeRole</key>
				<string>None</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>NSPL</string>
					<string>IEPL</string> 
					<string>BRPL</string>
				</array>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>plugin</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>plugin.icns</string>
			</dict>
			
			<dict>
				<key>CFBundleTypeName</key>
				<string>Mozilla Command Line File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>CMDL</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>command.icns</string>
			</dict>	
			
			<dict>
				<key>CFBundleTypeName</key>
				<string>Mozilla Shared Library</string>
				<key>CFBundleTypeRole</key>
				<string>None</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>shlb</string>
				</array>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>shlb</string>
					<string>dylib</string>
					</array>
				<key>CFBundleTypeIconFile</key>
				<string>component.icns</string>
			</dict>

			<dict>
				<key>CFBundleTypeName</key>
				<string>Mozilla Binary File</string>
				<key>CFBundleTypeRole</key>
				<string>None</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>BiNA</string>
				</array>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>mab</string>
					<string>bag</string>
					<string>na2</string>
					<string>msf</string>
					<string>sbd</string>
					<string>regs</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>component.icns</string>
			</dict>
			
			<dict>
				<key>CFBundleTypeName</key>
				<string>HTML Document</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>HTML</string>
				</array>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>html</string>
					<string>htm</string>
					<string>shtml</string>
					<string>xml</string>
					<string>xhtml</string>
					</array>
				<key>CFBundleTypeIconFile</key>
				<string>html.icns</string>
			</dict>
			
	<!--Image Icon img.icns does not yet exist, but associating Images with Mozilla here-->
			
			<dict>
				<key>CFBundleTypeName</key>
				<string>Image Document</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleTypeOSTypes</key>
				<array>
					<string>GIFf</string>
					<string>JPEG</string>
					<string>PNGf</string>
				</array>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>jpeg</string>
					<string>jpg</string>
					<string>jpe</string>
					<string>png</string>
					<string>gif</string>
					<string>mng</string>
					<string>bmp</string>
					<string>ico</string>
					<string>xbm</string>
					<string>jfif</string>
					<string>jng</string>
					<string>ppm</string>
					<string>ppm6</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>image.icns</string>
			</dict>
			
	<!--Updated Metadata ends here-->


	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>fileHtml.icns</string>
			<key>CFBundleURLName</key>
			<string>http URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>fileHtml.icns</string>
			<key>CFBundleURLName</key>
			<string>https URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ftp URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>gopher URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gopher</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>file URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
