/* 
 * Window behavior for scrolling and general header color
 * attributes
 */
window      { overflow: auto; }
mailheader  { display: block; background-color:  #E0E0E0; }

/**************************************************
 * These are all the headers that are displayed
 * for the normal header display. This is accomplished
 * by having a general header tag that turns off the
 * display of the field and then we selectively turn
 * on header displays. This will prevent unknown headers
 * from being displayed.
 **************************************************/

header                  { display: block; text-align: left; }

header[field=DATE]:before { content: "Date: "; font-weight: bold; }
header[field=DATE { display: block; text-align:left; }

header[field=TO]:before { content: "To: "; font-weight: bold; }
header[field=TO]        { display: block; text-align: left; }

header[field=FROM]:before { content: "From: "; font-weight: bold; }
header[field=FROM]        { display: block; text-align:left; }

header[field=SUBJECT]:before { content: "Subject: "; font-weight: bold; }
header[field=SUBJECT] { display: block; text-align: left; 
                       background-color: lightyellow; border: 1px solid #CCCCCC; }

header[field=CC]:before { content: "CC: "; font-weight: bold; }
header[field=CC] { display: block; text-align:left; }

header[field=BCC]:before { content: "BCC: "; font-weight: bold; }
header[field=BCC] { display: block; text-align:left; }

header[field=NEWSGROUPS]:before { content: "Newsgroups: "; font-weight: bold; }
header[field=NEWSGROUPS] { display: block; text-align:left; }

header[field=ORGANIZATION]:before { content: "Organization: "; font-weight: bold; }
header[field=ORGANIZATION] { display: block; text-align:left; }

/**************************************************
 * These are all the headers that are NOT displayed
 * for the normal header display
 **************************************************/
/* 
 * All misc headers (i.e. the ones that start with 
 * "X-" are turned off!
 */

header[field=RETURN-PATH]:before { content: "Return-Path: "; font-weight: bold; }
header[field=RETURN-PATH] { display: none; text-align:left; }

header[field=STATUS]:before { content: "Status: "; font-weight: bold; }
header[field=STATUS] { display: none; text-align:left; }

header[field=RECEIVED]:before { content: "Received: "; font-weight: bold; }
header[field=RECEIVED] { display: none; text-align:left; }

header[field=MIME-VERSION]:before { content: "MIME Version: "; font-weight: bold; }
header[field=MIME-VERSION] { display: none; text-align:left; }

header[field=PRECEDENCE]:before { content: "Precedence: "; font-weight: bold; }
header[field=PRECEDENCE] { display: none; text-align: left; }

header[field=CONTENT-BASE]:before { content: "Content-Base: "; font-weight: bold; }
header[field=CONTENT-BASE] { display: none; text-align:left; }

header[field=CONTENT-LOCATION]:before { content: "Content-Location: "; font-weight: bold; }
header[field=CONTENT-LOCATION] { display: none; text-align:left; }

header[field=CONTENT-ID]:before { content: "Content-ID: "; font-weight: bold; }
header[field=CONTENT-ID] { display: none; text-align:left; }

header[field=CONTENT-DESCRIPTION]:before { content: "Content-Description: "; font-weight: bold; }
header[field=CONTENT-DESCRIPTION] { display: none; text-align:left; }

header[field=CONTENT-DISPOSITION]:before { content: "Content-Disposition: "; font-weight: bold; }
header[field=CONTENT-DISPOSITION] { display: none; text-align:left; }

header[field=CONTENT-ENCODING]:before { content: "Content-Encoding: "; font-weight: bold; }
header[field=CONTENT-ENCODING] { display: none; text-align:left; }

header[field=CONTENT-LENGTH]:before { content: "Content-Length: "; font-weight: bold; }
header[field=CONTENT-LENGTH] { display: none; text-align:left; }

header[field=CONTENT-NAME]:before { content: "Content-Name: "; font-weight: bold; }
header[field=CONTENT-NAME] { display: none; text-align:left; }

header[field=CONTENT-TRANSFER-ENCODING]:before { content: "Content-Transfer-Encoding: "; font-weight: bold; }
header[field=CONTENT-TRANSFER-ENCODING] { display: none; text-align:left; }

header[field=CONTENT-TYPE]:before { content: "Content-Type: "; font-weight: bold; }
header[field=CONTENT-TYPE] { display: none; text-align:left; }

header[field=DISTRIBUTION]:before { content: "Distribution: "; font-weight: bold; }
header[field=DISTRIBUTION] { display: none; text-align:left; }

header[field=FCC]:before { content: "FCC: "; font-weight: bold; }
header[field=FCC] { display: none; text-align:left; }

header[field=FOLLOWUP-TO]:before { content: "Followup-To: "; font-weight: bold; }
header[field=FOLLOWUP-TO] { display: none; text-align:left; }

header[field=LINES]:before { content: "Lines: "; font-weight: bold; }
header[field=LINES] { display: none; text-align:left; }

header[field=MESSAGE-ID]:before { content: "Message-ID: "; font-weight: bold; }
header[field=MESSAGE-ID] { display: none; text-align:left; }

header[field=REFERENCES]:before { content: "References: "; font-weight: bold; }
header[field=REFERENCES] { display: none; text-align:left; }

header[field=REPLY-TO]:before { content: "Reply-To: "; font-weight: bold;}
header[field=REPLY-TO] { display: none; text-align:left; }

header[field=RESENT-COMMENTS]:before { content: "Resent-Comments: "; font-weight: bold; }
header[field=RESENT-COMMENTS] { display: none; text-align:left; }

header[field=RESENT-DATE]:before { content: "Resent-Date: "; font-weight: bold; }
header[field=RESENT-DATE] { display: none; text-align:left; }

header[field=RESENT-FROM]:before { content: "Resent-From "; font-weight: bold; }
header[field=RESENT-FROM] { display: none; text-align:left; }

header[field=RESENT-MESSAGE-ID]:before { content: "Resent-Message-ID: "; font-weight: bold; }
header[field=RESENT-MESSAGE-ID] { display: none; text-align:left; }

header[field=RESENT-SENDER]:before { content: "Resent-Sender: "; font-weight: bold; }
header[field=RESENT-SENDER] { display: none; text-align:left; }

header[field=RESENT-TO]:before { content: "Resent-To: "; font-weight: bold; }
header[field=RESENT-TO] { display: none; text-align:left; }

header[field=RESENT-CC]:before { content: "Resent-CC: "; font-weight: bold; }
header[field=RESENT-CC] { display: none; text-align:left; }

header[field=SENDER]:before { content: "Sender: "; font-weight: bold; }
header[field=SENDER] { display: none; text-align:left; }

header[field=XREF]:before { content: "XREF: "; font-weight: bold; }
header[field=XREF] { display: none; text-align:left; }

header[field=APPROVED-BY]:before { content: "Approved-By: "; font-weight: bold; }
header[field=APPROVED-BY] { display: none; text-align:left; }

/**************************************************
 * These are all of the header extensions. For now,
 * these will be turned off and only display on the 
 * all header display
 **************************************************/

header[field=X-SUN-CHARSET]:before { content: "X-Sun-Charset: "; font-weight: bold; }
header[field=X-SUN-CHARSET] { display: none; text-align:left; }

header[field=X-SUN-CONTENT-LENGTH]:before { content: "X-Sun-Content-Length: "; font-weight: bold; }
header[field=X-SUN-CONTENT-LENGTH] { display: none; text-align:left; }

header[field=X-SUN-DATA-DESCRIPTION]:before { content: "X-Sun-Data-Description: "; font-weight: bold; }
header[field=X-SUN-DATA-DESCRIPTION] { display: none; text-align:left; }

header[field=X-SUN-DATA-NAME]:before { content: "X-Sun-Data-Name: "; font-weight: bold; }
header[field=X-SUN-DATA-NAME] { display: none; text-align:left; }

header[field=X-SUN-DATA-TYPE]:before { content: "X-Sun-Data-Type: "; font-weight: bold; }
header[field=X-SUN-DATA-TYPE] { display: none; text-align:left; }

header[field=X-SUN-ENCODING-INFO]:before { content: "X-Sun-Encoding-Info: "; font-weight: bold; }
header[field=X-SUN-ENCODING-INFO] { display: none; text-align:left; }

header[field=X-PRIORITY]:before { content: "X-Priority: "; font-weight: bold; }
header[field=X-PRIORITY] { display: none; text-align:left; }

header[field=X-MOZILLA-PARTURL]:before { content: "X-Mozilla-PartURL: "; font-weight: bold; }
header[field=X-MOZILLA-PARTURL] { display: none; text-align:left; }

header[field=X-MOZILLA-DRAFT-INFO]:before { content: "X-Mozilla-Draft-Info: "; font-weight: bold; }
header[field=X-MOZILLA-DRAFT-INFO] { display: none; text-align:left; }

header[field=X-ACCEPT-LANGUAGE]:before { content: "X-Accept-Language: "; font-weight: bold; }
header[field=X-ACCEPT-LANGUAGE] { display: none; text-align:left; }

header[field=X-MAILING-LIST]:before { content: "X-Mailing-List: "; font-weight: bold; }
header[field=X-MAILING-LIST] { display: none; text-align:left; }

header[field=X-MAILING-LOOP]:before { content: "X-Mailing-Loop: "; font-weight: bold; }
header[field=X-MAILING-LOOP] { display: none; text-align:left; }

header[field=X-LOOP]:before { content: "X-Loop: "; font-weight: bold; }
header[field=X-LOOP] { display: none; text-align: left; }

header[field=X-MAILER]:before { content: "X-Mailer: "; font-weight: bold; }
header[field=X-MAILER] { display: none; text-align:left; }

header[field=X-MOZILLA-STATUS]:before { content: "X-Mozilla-Status: "; font-weight: bold; }
header[field=X-MOZILLA-STATUS] { display: none; text-align:left; }

header[field=X-MOZILLA-STATUS2]:before { content: "X-Mozilla-Status2: "; font-weight: bold; }
header[field=X-MOZILLA-STATUS2] { display: none; text-align: left; }

