<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div style="border: dashed green">
      <span style="color: green">should be green in a green border</span>
    </div>
    <div style="border: dashed green">
      <span style="color: green">should be green in a green border</span>
    </div>
    <div><div>Should be uncolored with no border</div></div>
    <div>true, true</div>
    <div><span>In a span</span><div>Should be uncolored with no border</div></div>
    <div>PASS</div>
    <div><span style="color: green">PASS</span></div>
    <div>PASS</div>
  </body>
</html>
