---
metadata:
    name: "Beet Mover L10N Changesets"
    description: "Maps artifact locations to s3 key names for L10N changesets"
    owner: "release@mozilla.com"

mapping:
  all:
    l10n_changesets:
      artifact: {{ artifact_base_url }}/l10n_changesets.txt
      s3_key: {{ s3_prefix }}l10n_changesets.txt
