---
metadata:
    name: "Beet Mover Manifest"
    description: "Maps artifact locations to s3 key names for source bundle checksums"
    owner: "release@mozilla.com"

mapping:
  all:
    source_checksum:
      artifact: {{ artifact_base_url }}/firefox-{{ app_version }}.source.checksums
      s3_key: {{ s3_prefix }}/{{ version }}-candidates/{{ build_num }}/source/firefox-{{ version }}.source.checksums
    source_checksum_asc:
      artifact: {{ artifact_base_url }}/firefox-{{ app_version }}.source.checksums.asc
      s3_key: {{ s3_prefix }}/{{ version }}-candidates/{{ build_num }}/source/firefox-{{ version }}.source.checksums.asc
