[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Zach Lipton <zach@zachlipton.com>
#%]
  
[%# INTERFACE:
  # $test - the newly created test object
#%]

[% PROCESS global/selects.none.tmpl %]

[% includeselects=1 %]
[% INCLUDE global/html_header.tmpl js_files=['js/SelectBoxes.js'] 
    title='Enter Testcase' %]
[% INCLUDE global/litmus_header.tmpl %]

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">
      <h1 class="firstHeading">Enter New Testcase</h1>
    
<div class="section-full">
<h1 class="firstHeading">
Test <a href="show_test.cgi?id=[%test.testid | html | uri%]">#[% test.testid | html %]</a> created
</h1>

<a href="enter_test.cgi">enter another test</a>

</div>


</div><!--END content-->

</div><!--END page-->


[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]