bookmarks-tree, bookmarks-tree[type="multi-column"] {
  -moz-binding: url("chrome://browser/content/bookmarks/bookmarksTree.xml#bookmarks-tree-full");
}
  
bookmarks-tree[type="single-column"] {
  -moz-binding: url("chrome://browser/content/bookmarks/bookmarksTree.xml#bookmarks-tree-name");
}

bookmarks-tree[type="folders"] {
  -moz-binding: url("chrome://browser/content/bookmarks/bookmarksTree.xml#bookmarks-tree-folders");
}

treechildren::-moz-tree-image(Name) {
  width:16px;
  height:16px;
}
