<!DOCTYPE HTML>
<html>
<body>
<p><div style="-moz-appearance:button; width:100px; height:20px;"></div>
<p><input>
<p><input type=submit value=submit>
<p><input type=text value=text >
<p><input type=password value=password>
<p><input type=reset value=reset>
<p><input type=button value=button>
<p><button> &lt;button> </button>
<p><button type=button> &lt;button type=button> </button>
<p><button type=submit> &lt;button type=submit> </button>
<p><button type=reset> &lt;button type=reset> </button>
<p><select size="3"><option>a</option><option>b</option></select>
<p><select size="1"><option>a</option><option>b</option></select>
</body>
</html>
