<!DOCTYPE HTML>
<!-- these should make the textarea non-native and hide resizers since we can't control
     their native vs. non-native appearance -->
<textarea style="border-width: 0; resize: none;">Textarea</textarea>
<textarea style="border-width: 1px; resize: none;">Textarea</textarea>
<textarea style="border-width: 2px; resize: none;">Textarea</textarea>
<textarea style="border-width: 3px; resize: none;">Textarea</textarea>
<textarea style="border-width: 4px; resize: none;">Textarea</textarea>
<textarea style="border-width: 5px; resize: none;">Textarea</textarea>
<textarea style="border-width: 6px; resize: none;">Textarea</textarea>
<textarea style="border-style: dotted; resize: none;">Textarea</textarea>
<textarea style="border-color: green; resize: none;">Textarea</textarea>
<textarea style="background-color: transparent; resize: none;">Textarea</textarea>
<textarea style="background-color: white; resize: none;">Textarea</textarea>

<!-- these should let it stay native -->
<textarea style="color: black"></textarea>
<textarea style="font-weight: normal"></textarea>
