
#define INCL_NOBASEAPI
#include <os2.h>

#include "resource.h"

RCDATA NP_INFO_ProductVersion { 1,5,0,0, }

RCDATA NP_INFO_MIMEType    { "application/npapi-test\0" }
RCDATA NP_INFO_FileExtents { "pts\0" }
RCDATA NP_INFO_FileOpenName{ "API (*.pts)\0" }

RCDATA NP_INFO_FileVersion       { 1,5,0,0, }
RCDATA NP_INFO_CompanyName       { "Netscape Communications Corp.\0" }
RCDATA NP_INFO_FileDescription   { "32-bit NPAPI test plugin\0" }
RCDATA NP_INFO_InternalName      { "npapi.dll\0" }
RCDATA NP_INFO_LegalCopyright    { "Copyright ÿ 1997-2001\0" }
RCDATA NP_INFO_OriginalFilename  { "npapi.dll\0" }
RCDATA NP_INFO_ProductName       { "Netscape NPAPI Tester Plugin\0" }


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLGTEMPLATE IDD_DIALOG_TESTER DISCARDABLE  
BEGIN
  DIALOG "", IDD_DIALOG_TESTER, 0, 0, 149, 363,
  WS_VISIBLE | NOT FS_BORDER | NOT FS_DLGBORDER,

  BEGIN
    LTEXT         "Mode:",   IDC_STATIC_MODE,   9, 348,  27,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    CONTROL       "Manual",IDC_RADIO_MODE_MANUAL,44,346, 49,  10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "Auto",IDC_RADIO_MODE_AUTO,  98, 346,  39,  10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_PUSHBUTTON | WS_VISIBLE
    GROUPBOX      "Log",          IDC_STATIC,   9, 273, 132,  70, DT_MNEMONIC
    CONTROL       "To file:",IDC_CHECK_LOG_TO_FILE,17,320,43, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    ENTRYFIELD    "", IDC_EDIT_LOG_FILE_NAME,  65, 319,  65,  11, ES_AUTOSCROLL | ES_MARGIN
    CONTROL       "To frame",IDC_CHECK_LOG_TO_FRAME,17,293,52,10, WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    PUSHBUTTON    "Flush",  IDC_BUTTON_FLUSH,  72, 292,  30,  12
    PUSHBUTTON    "Clear",  IDC_BUTTON_CLEAR, 102, 292,  30,  12
    CONTROL       "Flush immediately",IDC_CHECK_SHOW_LOG,33,278,89,10,WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
    CONTROL       "Remember last API call",IDC_CHECK_REMEMBER_LAST,9,258,112,10,WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | BS_PUSHBUTTON | WS_VISIBLE
  END
END

DLGTEMPLATE IDD_DIALOG_MANUAL DISCARDABLE  
BEGIN
  DIALOG "", IDD_DIALOG_MANUAL, 0, 0, 149, 228,
  WS_VISIBLE | NOT FS_BORDER | NOT FS_DLGBORDER,

  BEGIN
    LTEXT         "API call:",IDC_STATIC_APICALL,9,220,  34,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    COMBOBOX      "",     IDC_COMBO_API_CALL,   9, -17, 105, 236, CBS_DROPDOWNLIST | WS_TABSTOP
    PUSHBUTTON    "Go",        IDC_BUTTON_GO, 117, 206,  24,  12
    LTEXT         "Static",  IDC_STATIC_ARG1,   9, 194, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",          IDC_EDIT_ARG1,  11, 180, 128,  11, ES_AUTOSCROLL | ES_MARGIN
    LTEXT         "Static",  IDC_STATIC_ARG2,   9, 167, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",          IDC_EDIT_ARG2,  11, 153, 128,  11, ES_AUTOSCROLL | ES_MARGIN
    LTEXT         "Static",  IDC_STATIC_ARG3,   9, 140, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",          IDC_EDIT_ARG3,  11, 126, 128,  11, ES_AUTOSCROLL | ES_MARGIN
    LTEXT         "Static",  IDC_STATIC_ARG4,   9, 113, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",          IDC_EDIT_ARG4,  11,  99, 128,  11, ES_AUTOSCROLL | ES_MARGIN
    LTEXT         "Static",  IDC_STATIC_ARG5,   9,  86, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",          IDC_EDIT_ARG5,  11,  73, 128,  11, ES_AUTOSCROLL | ES_MARGIN
    LTEXT         "Static",  IDC_STATIC_ARG6,   9,  60, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",          IDC_EDIT_ARG6,  11,  46, 128,  11, ES_AUTOSCROLL | ES_MARGIN
    LTEXT         "Static",  IDC_STATIC_ARG7,   9,  33, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",          IDC_EDIT_ARG7,  11,  19, 128,  11, ES_AUTOSCROLL | ES_MARGIN
    PUSHBUTTON    "Paste...",IDC_BUTTON_PASTE,  9,   0, 132,  13
    LTEXT         "Static",  IDC_STATIC_INFO,   9, 169, 132,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    COMBOBOX      "",         IDC_COMBO_ARG1,   9, 151, 132,  42, CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX      "",         IDC_COMBO_ARG6,   9,   3, 132,  55, CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX      "",         IDC_COMBO_ARG2,  10,  82, 130,  83, CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX      "",         IDC_COMBO_ARG3,   9,  71, 132,  67, CBS_DROPDOWNLIST | WS_TABSTOP
  END
END

DLGTEMPLATE IDD_DIALOG_AUTO DISCARDABLE  
BEGIN
  DIALOG "", IDD_DIALOG_AUTO, 0, 0, 149, 228,
  NOT FS_BORDER | NOT FS_DLGBORDER,

  BEGIN
    LTEXT         "Script file name:",IDC_STATIC,9,220,  64,   8, SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    ENTRYFIELD    "",IDC_EDIT_SCRIPT_FILE_NAME,11, 206, 101,  11, ES_AUTOSCROLL | ES_MARGIN
    PUSHBUTTON    "Go",        IDC_BUTTON_GO, 117, 206,  24,  12
    RTEXT         "Static",IDC_STATIC_REPETITIONS_LEFT,77,189,23,8,SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
    LTEXT         "Repetitions left:",IDC_STATIC_REPETITIONS_LABEL,9,189,63,8,SS_TEXT | DT_WORDBREAK | DT_MNEMONIC
  END
END


