body {
  background-image: url("chrome://browser/skin/tab-crashed.svg");
  background-position: center, center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 1.6em;
}
