/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media not (prefers-contrast) {
  @supports -moz-bool-pref("browser.proton.enabled") {
  :root:not(:-moz-lwtheme) {
    --buttons-secondary-bgcolor: rgb(240,240,244);
    --buttons-secondary-hover-bgcolor: rgb(224,224,230);
    --buttons-secondary-active-bgcolor: rgb(207,207,216);
    --buttons-secondary-color: rgb(91,91,102);
  }
  } /** END Proton **/

  @supports -moz-bool-pref("browser.proton.urlbar.enabled") {
  :root:not(:-moz-lwtheme) {
    --toolbar-field-border-color: transparent;
    --arrowpanel-border-color: transparent;
    --autocomplete-popup-highlight-background: #e0e0e6;
    --autocomplete-popup-highlight-color: black;
  }
  } /** END Proton **/
}
