{
  "extends": "../../.eslintrc-gecko",
  "globals": {
    // General test items.
    "add_task": false,
    "BrowserTestUtils": true,
    "Cc": true,
    "Ci": true,
    "Cr": true,
    "Cu": true,
    "is": false,
    "info": false,
    "ok": false,
    "registerCleanupFunction": false,
    // head.js items
    "HAWK_TOKEN_LENGTH": true,
    "checkLoggedOutState": false,
    "checkFxAOAuthTokenData": false,
    "loadLoopPanel": false,
    "getLoopString": false,
    "gMozLoopAPI": true,
    "mockDb": true,
    "mockPushHandler": true,
    "OpenBrowserWindow": true,
    "promiseDeletedOAuthParams": false,
    "promiseOAuthGetRegistration": false,
    "promiseOAuthParamsSetup": false,
    "promiseObserverNotified": false,
    "promiseWaitForCondition": false,
    "resetFxA": true,
    // Loop specific items
    "MozLoopServiceInternal": true,
    "LoopRoomsInternal": true,
    "LoopUI": false,
    // Other items
    "Chat": true,
    "WebChannel": true
  }
}
