@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

html|canvas#screen {
  margin: 12px 11px 38px;
}

#monitor {
  list-style-image: url("chrome://browser/skin/monitor.png");
}

#monitor[aspectratio="16:10"] {
  list-style-image: url("chrome://browser/skin/monitor_16-10.png");
}
