/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.viewContainer {
  background: #cddae5; /* This will be seen as the continuation of the ruler */
  font-family: monospace;
  font-size: inherit; /* inherit browser's default monospace font size */
}

.view {
  color: black; /* Default text color */
  background: #f0f0ff; /* Background of the editor */
  padding-left: 0;
}

.readonly > .view {
  background: #f0f0ff;
}

/* One line */
.viewContent > div {
  padding-left: 4px; /* Margin between the ruler and the editor */
}

/* Styles for the line number ruler */
.rulerLines {
  border-right: 1px solid #b4c4d3;
  background: #cddae5;
  color: #7a8a99;
  padding-left: 4px;
  padding-right: 4px;
  text-align: end;
}

.token_singleline_comment {
  color: #45a946; /* green */
}

.token_multiline_comment {
  color: #45a946; /* green */
}

.token_doc_comment {
  color: #45a946; /* green */
}

.token_doc_html_markup {
  color: #dd0058; /* purple */
}

.token_doc_tag {
  color: #dd0058; /* purple */
}

.token_task_tag { /* "TODO" */
  color: black;
  background: yellow;
}

.token_string {
  color: #1e66b1; /* blue */
  font-style: italic;
}

.token_keyword {
  color: #dd0058; /* purple */
}

.token_space {
  /* images/white_space.png */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAABnRSTlMA/wAAAACkwsAdAAAAIUlEQVR4nGP4z8CAC+GUIEXuABhgkTuABEiRw2cmae4EAH05X7xDolNRAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center center;
}

.token_tab {
  /* images/white_tab.png */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAIAAACJ2loDAAAABnRSTlMA/wD/AP83WBt9AAAAMklEQVR4nGP4TwRgoK6i52c3bz5w6zMSA6tJn28d2Lx589nnCAYu63AaSLxJRLoJPwAAeNk0aG4opfMAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: left center;
}

.line_caret { /* Current line */
  background: #dae2ee; /* lighter than the background */
}

.readonly .line_caret {
  background: #cddae5; /* a bit darker than the background */
}

/* Styling for html syntax highlighting */
.entity-name-tag {
  color: #dd0058; /* purple */
}

.entity-other-attribute-name {
  color: #dd0058; /* purple */
}

.punctuation-definition-comment {
  color: #45a946; /* green */
}

.comment {
  color: #45a946; /* green */
}

.string-quoted {
  color: #1e66b1; /* blue */
  font-style: italic;
}

.invalid {
  color: red;
  font-weight: bold;
}

.annotationRange.matchingBracket {
  outline: 1px solid grey;
}
