/* -*- Mode: C++; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* ***** BEGIN LICENSE BLOCK *****
 * Version: NPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Netscape Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is 
 * Netscape Communications Corporation.
 * Portions created by the Initial Developer are Copyright (C) 1998
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or 
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the NPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the NPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */
#include "resources.h"
#include <os2.h>



MENU IDM_VIEWERBAR
{
  SUBMENU "~File", 0
  {
    MENUITEM "~New Window", VIEWER_WINDOW_OPEN
    MENUITEM "~Open...", VIEWER_FILE_OPEN
    MENUITEM "~ViewSource", VIEW_SOURCE
    SUBMENU  "~Samples", 0
    {
      MENUITEM "demo #0", VIEWER_DEMO0
      MENUITEM "demo #1", VIEWER_DEMO1
      MENUITEM "demo #2", VIEWER_DEMO2
      MENUITEM "demo #3", VIEWER_DEMO3
      MENUITEM "demo #4", VIEWER_DEMO4
      MENUITEM "demo #5", VIEWER_DEMO5
      MENUITEM "demo #6", VIEWER_DEMO6
      MENUITEM "demo #7", VIEWER_DEMO7
      MENUITEM "demo #8", VIEWER_DEMO8
      MENUITEM "demo #9", VIEWER_DEMO9
      MENUITEM "demo #10", VIEWER_DEMO10
      MENUITEM "demo #11", VIEWER_DEMO11
      MENUITEM "demo #12", VIEWER_DEMO12
      MENUITEM "demo #13", VIEWER_DEMO13
      MENUITEM "demo #14", VIEWER_DEMO14
      MENUITEM "demo #15", VIEWER_DEMO15
      MENUITEM "demo #16", VIEWER_DEMO16
      MENUITEM "demo #17", VIEWER_DEMO17
    }
    MENUITEM "~Test sites", VIEWER_TOP100
    SUBMENU "~XPToolkit tests", 0
    {
      MENUITEM "~Toolbar Test 1", VIEWER_XPTOOLKITTOOLBAR1
      MENUITEM "T~ree Test 1", VIEWER_XPTOOLKITTREE1
    }
    MENUITEM SEPARATOR
    MENUITEM "Print ~Preview", VIEWER_ONE_COLUMN
    MENUITEM "~Print", VIEWER_PRINT
    MENUITEM "Print Setup", VIEWER_PRINT_SETUP
    MENUITEM SEPARATOR
    MENUITEM "E~xit", VIEWER_EXIT
  }
  SUBMENU "~Edit", 0
  {
    MENUITEM "Cu~t",            VIEWER_EDIT_CUT, , MIA_DISABLED
    MENUITEM "~Copy",           VIEWER_EDIT_COPY
    MENUITEM "~Paste",          VIEWER_EDIT_PASTE, , MIA_DISABLED
    MENUITEM SEPARATOR
    MENUITEM "Select ~All",     VIEWER_EDIT_SELECTALL
    MENUITEM SEPARATOR
    MENUITEM "~Find in Page",   VIEWER_EDIT_FINDINPAGE
    MENUITEM SEPARATOR
    MENUITEM "P~refs",          VIEWER_PREFS
  }
  SUBMENU "~Debug", 0
  {
    MENUITEM "~Visual Debugging", VIEWER_VISUAL_DEBUGGING
    MENUITEM "Visual ~Event Debugging", VIEWER_VISUAL_EVENT_DEBUGGING
    MENUITEM "~Reflow Test", VIEWER_REFLOW_TEST
    MENUITEM SEPARATOR
    MENUITEM "Dump ~Content", VIEWER_DUMP_CONTENT
    MENUITEM "Dump ~Frames", VIEWER_DUMP_FRAMES
    MENUITEM "Dump ~Views", VIEWER_DUMP_VIEWS
    MENUITEM SEPARATOR
    MENUITEM "Dump ~Style Sheets", VIEWER_DUMP_STYLE_SHEETS
    MENUITEM "Dump ~Style Contexts", VIEWER_DUMP_STYLE_CONTEXTS
    MENUITEM SEPARATOR
    MENUITEM "Show Content Size", VIEWER_SHOW_CONTENT_SIZE
    MENUITEM "Show Frame Size", VIEWER_SHOW_FRAME_SIZE
    MENUITEM "Show Style Size", VIEWER_SHOW_STYLE_SIZE
    MENUITEM SEPARATOR
    MENUITEM "Debug Save", VIEWER_DEBUGSAVE
    MENUITEM "Debug Display Text", VIEWER_DISPLAYTEXT
    MENUITEM "Debug Display HTML", VIEWER_DISPLAYHTML
    MENUITEM "Debug Toggle Selection", VIEWER_TOGGLE_SELECTION
    MENUITEM SEPARATOR
    MENUITEM "Debu~g Robot", VIEWER_DEBUGROBOT
    MENUITEM SEPARATOR
    MENUITEM "Show Content Quality", VIEWER_SHOW_CONTENT_QUALITY
    MENUITEM SEPARATOR
  }

  SUBMENU "~Style", 0
  {
    SUBMENU "Select ~Style Sheet", 0
    {
      MENUITEM "List Availabe Sheets", VIEWER_SELECT_STYLE_LIST
      MENUITEM SEPARATOR
      MENUITEM "Select Default", VIEWER_SELECT_STYLE_DEFAULT
      MENUITEM SEPARATOR
      MENUITEM "Select Alternate 1", VIEWER_SELECT_STYLE_ONE
      MENUITEM "Select Alternate 2", VIEWER_SELECT_STYLE_TWO
      MENUITEM "Select Alternate 3", VIEWER_SELECT_STYLE_THREE
      MENUITEM "Select Alternate 4", VIEWER_SELECT_STYLE_FOUR
    }
    SUBMENU "~Compatibility Mode Pref", 0
    {
      MENUITEM "Use DTD", VIEWER_USE_DTD_MODE
      MENUITEM "Nav Quirks", VIEWER_NAV_QUIRKS_MODE
      MENUITEM "Standard", VIEWER_STANDARD_MODE
    }
  }
  SUBMENU "~Tools", 0
  {
    MENUITEM "~JavaScript Console", JS_CONSOLE
    MENUITEM "~Editor Mode", EDITOR_MODE
    MENUITEM SEPARATOR
    SUBMENU "~Privacy Tools", 0
    {
      MENUITEM "Safe Prefill from ~Wallet", PRVCY_PREFILL
      MENUITEM "~Quick Prefill from Wallet", PRVCY_QPREFILL
      MENUITEM SEPARATOR
      MENUITEM "Display Wa~llet", PRVCY_DISPLAY_WALLET
      MENUITEM "Display ~Cookies", PRVCY_DISPLAY_COOKIES
      MENUITEM "Display ~Signons", PRVCY_DISPLAY_SIGNONS
    }
    SUBMENU "Editor Tests", 0
    {
      MENUITEM  "Insert Table",   VIEWER_EDIT_INSERT_TABLE  
      MENUITEM  "Insert Cell",    VIEWER_EDIT_INSERT_CELL   
      MENUITEM  "Insert Column",  VIEWER_EDIT_INSERT_COLUMN 
      MENUITEM  "Insert Row",     VIEWER_EDIT_INSERT_ROW    
      MENUITEM SEPARATOR
      MENUITEM  "Delete Table",   VIEWER_EDIT_DELETE_TABLE
      MENUITEM  "Delete Cell",    VIEWER_EDIT_DELETE_CELL   
      MENUITEM  "Delete Column",  VIEWER_EDIT_DELETE_COLUMN 
      MENUITEM  "Delete Row",     VIEWER_EDIT_DELETE_ROW    
      MENUITEM SEPARATOR
      MENUITEM  "Join with cell to right",     VIEWER_EDIT_JOIN_CELL_RIGHT
    }
  }
}
