/* -*- Mode: C++; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 *
 * The contents of this file are subject to the Netscape Public License
 * Version 1.0 (the "NPL"); you may not use this file except in
 * compliance with the NPL.  You may obtain a copy of the NPL at
 * http://www.mozilla.org/NPL/
 *
 * Software distributed under the NPL is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the NPL
 * for the specific language governing rights and limitations under the
 * NPL.
 *
 * The Initial Developer of this code under the NPL is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation.  All Rights
 * Reserved.
 */
#include "resources.h"
#include "jsconsres.h"
#include <winres.h>


VIEWER MENU DISCARDABLE
{
  POPUP "&File"
  {
    MENUITEM "&New Window", VIEWER_WINDOW_OPEN
    MENUITEM "&Open...", VIEWER_FILE_OPEN
    MENUITEM "&ViewSource", VIEW_SOURCE
    POPUP "&Samples"
    {
      MENUITEM "demo #0", VIEWER_DEMO0
      MENUITEM "demo #1", VIEWER_DEMO1
      MENUITEM "demo #2", VIEWER_DEMO2
      MENUITEM "demo #3", VIEWER_DEMO3
      MENUITEM "demo #4", VIEWER_DEMO4
      MENUITEM "demo #5", VIEWER_DEMO5
      MENUITEM "demo #6", VIEWER_DEMO6
      MENUITEM "demo #7", VIEWER_DEMO7
      MENUITEM "demo #8", VIEWER_DEMO8
      MENUITEM "demo #9", VIEWER_DEMO9
      MENUITEM "demo #10", VIEWER_DEMO10
      MENUITEM "demo #11", VIEWER_DEMO11
      MENUITEM "demo #12", VIEWER_DEMO12
      MENUITEM "demo #13", VIEWER_DEMO13
      MENUITEM "demo #14", VIEWER_DEMO14
      MENUITEM "demo #15", VIEWER_DEMO15
    }
    MENUITEM "&Test Sites", VIEWER_TOP100
    POPUP "XPToolkit Tests"
    {
      MENUITEM "Toolbar Test 1", VIEWER_XPTOOLKITTOOLBAR1
      MENUITEM "Tree Test 1", VIEWER_XPTOOLKITTREE1
    }
    MENUITEM SEPARATOR
    MENUITEM "Print &Preview", VIEWER_ONE_COLUMN
    MENUITEM "Print", VIEWER_PRINT
    MENUITEM "Print Setup", VIEWER_PRINT_SETUP
    MENUITEM SEPARATOR
    MENUITEM "&Exit", VIEWER_EXIT
  }
  POPUP "&Edit"
  BEGIN
      MENUITEM "Cu&t",                        VIEWER_EDIT_CUT, GRAYED
      MENUITEM "&Copy",                       VIEWER_EDIT_COPY
      MENUITEM "&Paste",                      VIEWER_EDIT_PASTE, GRAYED
      MENUITEM SEPARATOR
      MENUITEM "Select &All",                 VIEWER_EDIT_SELECTALL, HELP
      MENUITEM SEPARATOR
      MENUITEM "&Find in Page",               VIEWER_EDIT_FINDINPAGE
      MENUITEM SEPARATOR
      MENUITEM "P&refs",                      VIEWER_PREFS
  END
/*#if defined(_DEBUG)*/
  POPUP "&Debug"
  {
    MENUITEM "&Visual Debugging", VIEWER_VISUAL_DEBUGGING
    MENUITEM "&Reflow Test", VIEWER_REFLOW_TEST
    MENUITEM SEPARATOR
    MENUITEM "Dump &Content", VIEWER_DUMP_CONTENT
    MENUITEM "Dump &Frames", VIEWER_DUMP_FRAMES
    MENUITEM "Dump &Views", VIEWER_DUMP_VIEWS
    MENUITEM SEPARATOR
    MENUITEM "Dump &Style Sheets", VIEWER_DUMP_STYLE_SHEETS
    MENUITEM "Dump &Style Contexts", VIEWER_DUMP_STYLE_CONTEXTS
    MENUITEM SEPARATOR
    MENUITEM "Show Content Size", VIEWER_SHOW_CONTENT_SIZE
    MENUITEM "Show Frame Size", VIEWER_SHOW_FRAME_SIZE
    MENUITEM "Show Style Size", VIEWER_SHOW_STYLE_SIZE
    MENUITEM SEPARATOR
    MENUITEM "Debug Save", VIEWER_DEBUGSAVE
    MENUITEM "Debug Display Text", VIEWER_DISPLAYTEXT
    MENUITEM "Debug Display HTML", VIEWER_DISPLAYHTML
    MENUITEM "Debug Toggle Selection", VIEWER_TOGGLE_SELECTION
    MENUITEM SEPARATOR
    MENUITEM "Debu&g Robot", VIEWER_DEBUGROBOT
    MENUITEM SEPARATOR
    MENUITEM "Show Content Quality", VIEWER_SHOW_CONTENT_QUALITY
 }
/*#endif*/
  POPUP "&Style"
  {
    POPUP "Select &Style Sheet"
    {
      MENUITEM "List Availabe Sheets", VIEWER_SELECT_STYLE_LIST
      MENUITEM SEPARATOR
      MENUITEM "Select Default", VIEWER_SELECT_STYLE_DEFAULT
      MENUITEM SEPARATOR
      MENUITEM "Select Alternate 1", VIEWER_SELECT_STYLE_ONE
      MENUITEM "Select Alternate 2", VIEWER_SELECT_STYLE_TWO
      MENUITEM "Select Alternate 3", VIEWER_SELECT_STYLE_THREE
      MENUITEM "Select Alternate 4", VIEWER_SELECT_STYLE_FOUR
    }
    POPUP "&Compatibility Mode Pref"
    {
      MENUITEM "Nav Quirks", VIEWER_NAV_QUIRKS_MODE
      MENUITEM "Standard", VIEWER_STANDARD_MODE
    }
    POPUP "&Widget Rendering Mode Pref"
    {
      MENUITEM "Native", VIEWER_NATIVE_WIDGET_MODE
      MENUITEM "Gfx",    VIEWER_GFX_WIDGET_MODE
    }
  }
  POPUP "&Tools"
  {
    MENUITEM "&JavaScript Console", JS_CONSOLE
    MENUITEM "&Editor Mode", EDITOR_MODE
    MENUITEM SEPARATOR
    POPUP "&Privacy Tools"
    {
      MENUITEM "Safe Prefill from &Wallet", PRVCY_PREFILL
      MENUITEM "&Quick Prefill from &Wallet", PRVCY_QPREFILL
      MENUITEM SEPARATOR
      MENUITEM "Display Wa&llet", PRVCY_DISPLAY_WALLET
      MENUITEM "Display &Cookies", PRVCY_DISPLAY_COOKIES
      MENUITEM "Display &Signons", PRVCY_DISPLAY_SIGNONS
    }
    POPUP    "Editor Tests"
    {
      MENUITEM  "Insert Table",   VIEWER_EDIT_INSERT_TABLE  
      MENUITEM  "Insert Cell",    VIEWER_EDIT_INSERT_CELL   
      MENUITEM  "Insert Column",  VIEWER_EDIT_INSERT_COLUMN 
      MENUITEM  "Insert Row",     VIEWER_EDIT_INSERT_ROW    
      MENUITEM SEPARATOR
      MENUITEM  "Delete Table",   VIEWER_EDIT_DELETE_TABLE
      MENUITEM  "Delete Cell",    VIEWER_EDIT_DELETE_CELL   
      MENUITEM  "Delete Column",  VIEWER_EDIT_DELETE_COLUMN 
      MENUITEM  "Delete Row",     VIEWER_EDIT_DELETE_ROW    
      MENUITEM SEPARATOR
      MENUITEM  "Join with cell to right",     VIEWER_EDIT_JOIN_CELL_RIGHT
      MENUITEM  "Join with cell below",        VIEWER_EDIT_JOIN_CELL_BELOW
    }
  }
}

PRINTPREVIEW MENU DISCARDABLE
{
  POPUP "&File"
  {
    MENUITEM "&Close", PREVIEW_CLOSE
  }
#if defined(_DEBUG)
  POPUP "&Debug"
  {
    MENUITEM "&Visual Debugging", VIEWER_VISUAL_DEBUGGING
    MENUITEM SEPARATOR
    MENUITEM "Dump &Content", VIEWER_DUMP_CONTENT
    MENUITEM "Dump &Frames", VIEWER_DUMP_FRAMES
    MENUITEM "Dump &Views", VIEWER_DUMP_VIEWS
    MENUITEM SEPARATOR
    MENUITEM "Dump &Style Sheets", VIEWER_DUMP_STYLE_SHEETS
    MENUITEM "Dump &Style Contexts", VIEWER_DUMP_STYLE_CONTEXTS
  }
#endif
}

JSCONSOLE_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",                        ID_FILENEW
        MENUITEM "&Open...",                    ID_FILEOPEN
        MENUITEM "&Save",                       ID_FILESAVE
        MENUITEM "Save &As...",                 ID_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_FILEEXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo",                       ID_EDITUNDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t",                        ID_EDITCUT
        MENUITEM "&Copy",                       ID_EDITCOPY
        MENUITEM "&Paste",                      ID_EDITPASTE
        MENUITEM "De&lete",                     ID_EDITDELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All",                 ID_EDITSELECTALL
    END
    POPUP "&Commands"
    BEGIN
        MENUITEM "&Evaluate All\tF5",           ID_COMMANDSEVALALL
        MENUITEM "Evaluate &Selection\tF10",    ID_COMMANDSEVALSEL
        MENUITEM SEPARATOR
        MENUITEM "&Inspector",                  ID_COMMANDSINSPECTOR
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "No Help Available",           ID_NOHELP
    END
END

ACCELERATOR_TABLE ACCELERATORS
BEGIN
    VK_F5,      ID_COMMANDSEVALALL,         VIRTKEY
    VK_F10,     ID_COMMANDSEVALSEL,         VIRTKEY
END

IDD_DEBUGROBOT DIALOG DISCARDABLE  0, 0, 246, 84
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Debug Robot Options"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&Start",IDOK,67,57,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,127,57,50,14
    CONTROL         "&Update Display (Visual)",IDC_UPDATE_DISPLAY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,7,98,10
    EDITTEXT        IDC_VERIFICATION_DIRECTORY,77,19,159,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_PAGE_LOADS,41,36,40,14,ES_AUTOHSCROLL
    LTEXT           "&Verification Directory",IDC_STATIC,7,21,70,8
    LTEXT           "&Stop after",IDC_STATIC,7,38,32,8
    LTEXT           "page loads",IDC_STATIC,84,38,36,8
END

IDD_SITEWALKER DIALOG DISCARDABLE  0, 0, 283, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Top 100 Site Walker"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON   "<< &Previous",ID_SITE_PREVIOUS,55,53,50,14
    DEFPUSHBUTTON      ">> &Next",ID_SITE_NEXT,116,53,50,14
    LTEXT           "Site:",IDC_STATIC,20,25,24,8
    LTEXT           "",IDC_SITE_NAME,50,25,209,8
    PUSHBUTTON      "&Exit",ID_EXIT,177,53,50,14
END


