# -*- python -*-
# ex: set syntax=python:
# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


def linux():
  return [
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'Linux64DBG',
      'hostname': 'webrtc-cb-linux-slave-1',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'Linux32Release',
      'hostname': 'webrtc-cb-linux-slave-2',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'ChromeOS',
      'hostname': 'webrtc-cb-linux-slave-3',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'Linux32DBG',
      'hostname': 'webrtc-cb-linux-slave-4',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'Linux64Release',
      'hostname': 'webrtc-cb-linux-slave-5',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'LinuxValgrind',
      'hostname': 'webrtc-cb-linux-slave-6',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'Android',
      'hostname': 'webrtc-cb-linux-slave-7',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'LinuxClang',
      'hostname': 'webrtc-cb-linux-slave-8',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'Linux64DBG-GCC4.6',
      'hostname': 'webrtc-cb-linux-slave-9',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'AndroidNDK',
      'hostname': 'webrtc-cb-linux-slave-10',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'LinuxVideoTest',
      'hostname': 'webrtc-build-bot-se',
    },
    {
      'master': 'WebRTC',
      'os': 'linux',
      'version': 'lucid',
      'bits': '64',
      'builder': 'Chrome',
      'hostname': 'webrtc-chrome',
    },
  ]

def mac():
  return [
    {
      'master': 'WebRTC',
      'os': 'mac',
      'version': '10.7',
      'bits': '64',
      'builder': 'MacOS32DBG',
      'hostname': 'dhcp-172-28-249-144',
    },
    {
      'master': 'WebRTC',
      'os': 'mac',
      'version': '10.7',
      'bits': '64',
      'builder': 'MacOS32Release',
      'hostname': 'dhcp-172-28-249-167',
    },
  ]

def windows():
  return [
    {
      'master': 'WebRTC',
      'os': 'win',
      'version': 'server2008',
      'bits': '64',
      'builder': 'Win32Debug',
      'hostname': 'webrtc-win2k8-1',
    },
    {
      'master': 'WebRTC',
      'os': 'win',
      'version': 'server2008',
      'bits': '64',
      'builder': 'Win32Release',
      'hostname': 'webrtc-win2k8-2',
    },
  ]

slaves = linux() + mac() + windows()
