# LeakCanary
-keep class org.eclipse.mat.** { *; }
-keep class com.squareup.leakcanary.** { *; }
-keep class com.squareup.haha.** { *; }

# With LeakCanary 1.4-beta1 this creates a pile of warnings
-dontwarn com.squareup.haha.**
