
spring.spacer {
    width: 5px;
    height: 5px;
}

box.cleanborder {
    margin: 10px;
    padding: 10px;
    border: 2px groove white;
    width: 100%;
}

box.padded {
    margin: 10px;
    width: 100%;
}

tree[class="attachment"] treeitem > treerow > treecell > titledbutton {
 vertical-align: bottom;
 min-height: 1px;
 min-width: 1px;
 height: 1em;
 width: 1em;
 margin:0px;
 padding:0px;
 border:2px groove black;
 list-style-image: url("chrome://addressbook/skin/myaddrbk.gif");
}

tree[class="addressingWidget"] treeitem > treerow  > treecell > titledbutton {
	 vertical-align: middle;
	 min-height: 1px;
	 min-width: 1px;
	 height: 1em;
	 width: 2em;
	 margin:0px;
	 padding:0px;
	 border:none;
	 list-style-image: url("chrome://addressbook/skin/person.gif");
	 color:inherit;
}

titledbutton#Throbber
{
        list-style-image:url(chrome://navigator/skin/animthrob_single.gif);
}
