<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Gesturefy - Welcome</title>
  <link rel="icon" type="image/png" href="/resources/img/iconx32.png" sizes="16x16">
  <link rel="stylesheet" href="layout.css">
  <script src="main.mjs" type="module"></script>

  <script src="/core/content.mjs" type="module"></script>
  <link rel="stylesheet" href="/core/views/mouse-gesture-view/mouse-gesture-view.css">
</head>

<body>
  <div class="block-outer">
    <div class="block-inner">
      <div class="head">
        <img src="/resources/img/iconx96.png" id="logo">
        <p><em data-i18n="welcomePageUpperSectionReference"></em></p>
        <p><em class="headline" data-i18n="welcomePageUpperSectionHeadline"></em></p>
      </div>
      <div class="content">
        <div class="row">
          <svg width="81.386mm" height="81.054mm" version="1.1" viewBox="0 0 81.386 81.054" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <animateTransform id="armWaveAnimation" href="#rightArm" attributeName="transform" attributeType="XML" type="rotate" values="-19, 40.324, 37.263; -11, 40.324, 37.263; -20, 40.324, 37.263; -10, 40.324, 37.263; -18, 40.324, 37.263;" dur="0.75s" begin="0s; armResetAnimation.end + 0" fill="freeze"/>

              <animate id="step01MarkAnimation" href="#stepCircle01" attributeName="fill" attributeType="CSS" to="#00aaa0" dur="0.3s" begin="armWaveAnimation.end + 0.5s" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animate id="step02MarkAnimation" href="#stepCircle02" attributeName="fill" attributeType="CSS" to="#00aaa0" dur="0.3s" begin="step01MarkAnimation.end + 1.5s" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animate id="step03MarkAnimation" href="#stepCircle03" attributeName="fill" attributeType="CSS" to="#00aaa0" dur="0.3s" begin="step02MarkAnimation.end + 1.5s" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />

              <animate id="step01UnmarkAnimation" href="#stepCircle01" attributeName="fill" attributeType="CSS" to="#555" dur="0.3s" begin="step03MarkAnimation.end + 1.5s" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animate id="step02UnmarkAnimation" href="#stepCircle02" attributeName="fill" attributeType="CSS" to="#555" dur="0.3s" begin="step03MarkAnimation.end + 1.5s" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animate id="step03UnmarkAnimation" href="#stepCircle03" attributeName="fill" attributeType="CSS" to="#555" dur="0.3s" begin="step03MarkAnimation.end + 1.5s" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />

              <animateTransform id="armStep2Animation" href="#rightArm" attributeName="transform" attributeType="XML" type="rotate" to="35, 40.324, 37.263" dur="0.5s" begin="step02MarkAnimation.begin" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animateTransform id="armStep3Animation" href="#rightArm" attributeName="transform" attributeType="XML" type="rotate" to="80, 40.324, 37.263" dur="0.5s" begin="step03MarkAnimation.begin" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animateTransform id="armStep1Animation" href="#rightArm" attributeName="transform" attributeType="XML" type="rotate" to="0, 40.324, 37.263" dur="0.5s" begin="step01MarkAnimation.begin" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />

              <animateTransform id="mouseMoveDownAnimation" href="#mouse01" attributeName="transform" attributeType="XML" type="translate" by="0 8" dur="0.5s" begin="step02MarkAnimation.begin" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animateTransform id="mouseMoveUpAnimation" href="#mouse01" attributeName="transform" attributeType="XML" type="translate" by="0 -8" to="0 0" dur="0.3s" begin="step01UnmarkAnimation.begin" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />

              <animate id="showOpenEyeAnimation" href="#rightEyeOpen" attributeName="visibility" attributeType="CSS" to="visible" dur="0.1s" begin="step03MarkAnimation.begin" fill="freeze"/>
              <animate id="showCloseEyAnimation" href="#rightEyeClose" attributeName="visibility" attributeType="CSS" to="visible" dur="0.1s"  begin="step01MarkAnimation.begin" fill="freeze"/>
              <animate id="hideOpenEyeAnimation" href="#rightEyeOpen" attributeName="visibility" attributeType="CSS" to="hidden" dur="0.1s" begin="showCloseEyAnimation.begin" fill="freeze"/>
              <animate id="hideCloseEyeAnimation" href="#rightEyeClose" attributeName="visibility" attributeType="CSS" to="hidden" dur="0.1s"  begin="showOpenEyeAnimation.begin" fill="freeze"/>

              <animate id="mouseButtonPressAnimation" href="#rightMouseButton" attributeName="opacity" attributeType="CSS" values="0; 1" keyTimes="0; 1" dur="0.5s" begin="step01MarkAnimation.begin" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />
              <animate id="mouseButtonReleaseAnimation" href="#rightMouseButton" attributeName="opacity" attributeType="CSS" values="1; 0" keyTimes="0; 1" dur="0.5s" begin="step03MarkAnimation.begin" fill="freeze" calcMode="spline" keySplines="0.25 0.1 0.25 1" />

              <animateTransform id="armResetAnimation" href="#rightArm" attributeName="transform" attributeType="XML" type="rotate" to="-19, 40.324, 37.263" dur="0.3s" begin="mouseMoveUpAnimation.begin" fill="freeze"/>
            </defs>
            <g>
              <circle id="stepCircle03" cx="76.14" cy="75.808" r="5.246" style="fill:#585858;paint-order:normal"/>
              <text x="74.041855" y="78.223625" style="fill:#fbfbfb;font-family:sans-serif;font-size:6.6357px;letter-spacing:0px;line-height:1.25;stroke-width:.26458;word-spacing:0px" xml:space="preserve"><tspan x="74.041855" y="78.223625" style="fill:#fbfbfb;stroke-width:.26458">3</tspan></text>
              <circle id="stepCircle01" cx="76.14" cy="5.246" r="5.246" style="fill:#585858;paint-order:normal"/>
              <text x="73.970566" y="7.6647258" style="fill:#fbfbfb;font-family:sans-serif;font-size:6.6357px;letter-spacing:0px;line-height:1.25;stroke-width:.26458;word-spacing:0px" xml:space="preserve"><tspan x="73.970566" y="7.6647258" style="fill:#fbfbfb;stroke-width:.26458">1</tspan></text>
              <circle id="stepCircle02" cx="76.14" cy="40.527" r="5.246" style="fill:#585858;paint-order:normal"/>
              <text x="74.118011" y="42.989552" style="fill:#fbfbfb;font-family:sans-serif;font-size:6.6357px;letter-spacing:0px;line-height:1.25;stroke-width:.26458;word-spacing:0px" xml:space="preserve"><tspan x="74.118011" y="42.989552" style="fill:#fbfbfb;stroke-width:.26458">2</tspan></text>
              <path d="m76.008 10.492v24.789" style="fill:none;stroke-opacity:.12549;stroke-width:1;stroke:#585858"/>
              <path d="m76.008 45.773v24.789" style="fill:none;stroke-opacity:.12549;stroke-width:1;stroke:#585858"/>
            </g>
            <ellipse cx="25.324" cy="67.557" rx="25.324" ry="4.8777" style="fill-opacity:.12549;fill:#585858;paint-order:normal"/>
            <g id="mouse01">
              <path d="m33.339 9.3744c4.9921 1.6884 7.1301 3.1886 7.1301 3.1886" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m17.874 9.5554c-5.0903 1.6486-7.2717 3.129-7.2717 3.129" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m9.2166 36.686c-4.8686 0.1345-9.4261 3.5139-4.8776 9.6506" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m19.344 15.779c-4.9973 0-9.0202 4.0229-9.0202 9.0202v19.281a15.001 15.001 0 0 0 14.773 15.213 15.001 15.001 0 0 0 15.226-15.213v-19.281c0-4.9973-4.0229-9.0202-9.0201-9.0202z" style="color-rendering:auto;color:#000000;dominant-baseline:auto;fill:#fbfbfb;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;image-rendering:auto;isolation:auto;mix-blend-mode:normal;shape-padding:0;shape-rendering:auto;solid-color:#000000;stroke-linecap:round;stroke-width:2;stroke:#555;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
              <path d="m10.324 32.337h30" style="fill:none;stroke-width:2;stroke:#555"/>
              <g id="rightArm" transform="rotate(0, 40.324, 37.263)">
                <path d="m40.324 37.263c4.443-2.785 10.378-6.4742 13.979-11.575" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
                <path d="m58.722 24.54a2.7134 3.6725 38.981 0 1-4.4196 1.148 2.7134 3.6725 38.981 0 1 0.201-4.5618 2.7134 3.6725 38.981 0 1 4.4194-1.148 2.7134 3.6725 38.981 0 1-0.2009 4.5618z" style="fill:none;paint-order:normal;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2.0074;stroke:#555"/>
              </g>
              <path d="m17.551 43.577001 c5.3292 5.28256 10.6522 5.26156 15.969201 0" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m19.136 20.676a3.4184 4.8483 0 0 0-3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184-4.8483 3.4184 4.8483 0 0 0-0.138-1.3523 1.8608 1.9081 0 0 1-1.2423 0.4904 1.8608 1.9081 0 0 1-1.8608-1.9079 1.8608 1.9081 0 0 1 1.0862-1.7327 3.4184 4.8483 0 0 0-1.2635-0.3458z" style="fill:#545454;paint-order:normal"/>
              <path id="rightMouseButton" d="m26.324 16.779v14.558h13v-6.5371c0-4.4606-3.559-8.0212-8.0196-8.0212z" style="opacity: 0; fill-rule:evenodd;fill:#00aaa0"/>
              <path id="rightEyeOpen" d="m34.268 20.911a3.4184 4.8483 0 0 0-3.4184 4.8488 3.4184 4.8483 0 0 0 3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184-4.8483 3.4184 4.8483 0 0 0-0.18397-1.556 1.8608 1.9081 0 0 1-1.2919 0.53692 1.8608 1.9081 0 0 1-1.8609-1.9084 1.8608 1.9081 0 0 1 0.97513-1.6774 3.4184 4.8483 0 0 0-1.0568-0.24391z" style="fill:#545454;paint-order:normal"/>
              <path d="m33.093 41.007c0.9964 2.0071 1.1324 2.1628 2.8671 3.122" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#545454"/>
              <path d="m17.979 41.007c-0.9964 2.0071-1.1324 2.1628-2.8671 3.122" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#545454"/>
              <path id="rightEyeClose" visibility="hidden" d="m29.424 25.367c3.4545-3.0061 7.666 0.011 7.7795 0.6962" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m8.8996 46.575a3.6725 2.7134 39.437 0 1 1.1127 4.4285 3.6725 2.7134 39.437 0 1-4.56-0.23725 3.6725 2.7134 39.437 0 1-1.1127-4.4285 3.6725 2.7134 39.437 0 1 4.56 0.23725z" style="fill:none;paint-order:normal;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2.0074;stroke:#555"/>
              <path d="m25.324 15.779v16.559" style="fill:none;stroke-width:2;stroke:#555"/>
            </g>
          </svg>
          <ol id="steps">
            <li data-i18n="welcomePageUpperSectionTutorialStep01"></li>
            <li data-i18n="welcomePageUpperSectionTutorialStep02"></li>
            <li data-i18n="welcomePageUpperSectionTutorialStep03"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block-outer">
  <div class="block-inner">
    <svg class="center" width="27.897mm" height="55.356mm" version="1.1" viewBox="0 0 27.897 55.356" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(-46.528 -86.004)">
       <path d="m62.183 121.95v16.885h5.3e-4a1 0.18991 0 0 0 0.99994 0.1891 1 0.18991 0 0 0 0.99994-0.1897 1 0.18991 0 0 0-5.3e-4 0v-16.882z" style="color-rendering:auto;color:#000000;dominant-baseline:auto;fill:#555;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;image-rendering:auto;isolation:auto;mix-blend-mode:normal;shape-padding:0;shape-rendering:auto;solid-color:#000000;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
       <ellipse cx="63.237" cy="139.39" rx="10.214" ry="1.9673" style="fill-opacity:.12549;fill:#585858;paint-order:normal"/>
       <path d="m56.876 87.004-9.3488 19.217 8.35-1.8363 4.0637 18.478 9.1971-2.0226-4.0637-18.478 8.35-1.8363z" style="fill-rule:evenodd;fill:#fff;stroke-linejoin:round;stroke-width:2;stroke:#555"/>
      </g>
     </svg>
  </div>
</div>

<div class="block-outer">
  <div class="block-inner">
      <div class="head">
        <img src="/resources/img/iconx96.png" id="logo">
        <p><em data-i18n="welcomePageLowerSectionReference"></em></p>
        <p><em class="headline" data-i18n="welcomePageLowerSectionHeadline"></em></p>
      </div>
      <div class="content">
        <div class="row">
          <svg width="59.714mm" height="64.825mm" version="1.1" viewBox="0 0 59.714 64.825" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <animateTransform href="#mouse02" attributeName="transform" attributeType="XML" type="translate" values="0 0; 0 2; 0 0" dur="3s" fill="freeze" repeatCount="indefinite"/>
            </defs>
            <ellipse cx="25.324" cy="59.947" rx="25.324" ry="4.8777" style="fill-opacity:.12549;fill:#585858;paint-order:normal"/>
            <g id="mouse02">
              <path d="m33.787 1.0075c4.4875 2.763 6.2355 4.7037 6.2355 4.7037" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m17.539 1.3268c-4.7178 2.524-6.6025 4.3674-6.6025 4.3674" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m9.2166 29.077c-4.8686 0.1345-9.4261 3.5139-4.8776 9.6506" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m19.344 8.1691c-4.9973 0-9.0201 4.0228-9.0201 9.0201v19.281a15.001 15.001 0 0 0 14.773 15.213 15.001 15.001 0 0 0 15.226-15.213v-19.281c0-4.9973-4.0229-9.0201-9.0201-9.0201z" style="color-rendering:auto;color:#000000;dominant-baseline:auto;fill:#fff;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;image-rendering:auto;isolation:auto;mix-blend-mode:normal;shape-padding:0;shape-rendering:auto;solid-color:#000000;stroke-linecap:round;stroke-width:2;stroke:#555;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
              <path d="m25.324 8.1691v16.559" style="fill:none;stroke-width:2;stroke:#555"/>
              <path d="m34.268 13.302a3.4184 4.8483 0 0 0-3.4184 4.8488 3.4184 4.8483 0 0 0 3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184-4.8483 3.4184 4.8483 0 0 0-0.18397-1.556 1.8608 1.9081 0 0 1-1.2919 0.53692 1.8608 1.9081 0 0 1-1.8609-1.9084 1.8608 1.9081 0 0 1 0.97514-1.6774 3.4184 4.8483 0 0 0-1.0568-0.24391z" style="fill:#545454;paint-order:normal"/>
              <path d="m19.136 13.067a3.4184 4.8483 0 0 0-3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184-4.8483 3.4184 4.8483 0 0 0-0.13798-1.3524 1.8608 1.9081 0 0 1-1.2423 0.49041 1.8608 1.9081 0 0 1-1.8609-1.9079 1.8608 1.9081 0 0 1 1.0862-1.7327 3.4184 4.8483 0 0 0-1.2635-0.34572z" style="fill:#545454;paint-order:normal"/>
              <path d="m16.51 35.358a9.0122 8.9297 0 0 0 8.8176 7.1298 9.0122 8.9297 0 0 0 8.8258-7.1298z" style="fill:none;paint-order:normal;stroke-linejoin:round;stroke-width:2;stroke:#555"/>
              <path d="m33.465 32.88s0.42887 1.7811 1.614 2.5071l1.1852 0.726" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#545454"/>
              <path d="m17.3 32.788s-0.43929 1.7198-1.6532 2.4209l-1.2139 0.7011" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#545454"/>
              <path d="m10.324 24.728h30" style="fill:none;stroke-width:2;stroke:#555"/>
              <path d="m40.324 29.654c2.7084 3.5211 3.6675 5.2464 11.093 7.7479" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m54.68 40.784a3.6725 2.7134 7.9222 0 1-3.2635-3.1937 3.6725 2.7134 7.9222 0 1 4.0115-2.1813 3.6725 2.7134 7.9222 0 1 3.2635 3.1936 3.6725 2.7134 7.9222 0 1-4.0115 2.1814z" style="fill:none;paint-order:normal;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2.0074;stroke:#555"/>
              <path d="m5.6936 43.969a3.6725 2.7134 27.984 0 1-1.9699-4.1194 3.6725 2.7134 27.984 0 1 4.5164-0.67286 3.6725 2.7134 27.984 0 1 1.9699 4.1193 3.6725 2.7134 27.984 0 1-4.5164 0.67296z" style="fill:none;paint-order:normal;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2.0074;stroke:#555"/>
            </g>
          </svg>
          <div class="center-vertically">
            <p class="text" data-i18n="welcomePageLowerSectionGetStartedText"></p>
            <a class="link" href="/views/options/index.html" data-i18n="welcomePageLowerSectionGetStartedLink"></a>
          </div>
        </div>

        <div class="row">
          <div class="center-vertically">
            <p class="text" data-i18n="welcomePageLowerSectionLearnMoreText"></p>
            <a class="link" href="https://github.com/Robbendebiene/Gesturefy/wiki" data-i18n="welcomePageLowerSectionLearnMoreLink"></a>
          </div>
          <svg width="50.648mm" height="65.044mm" version="1.1" viewBox="0 0 50.648 65.044" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <animateTransform href="#rightHand03" attributeName="transform" attributeType="XML" type="rotate" values="-5, 3.6754999, 14.309; 5, 3.6754999, 14.309;  -5, 3.6754999, 14.309;" dur="1s" fill="freeze" repeatCount="indefinite" />
            </defs>
            <ellipse cx="25.324" cy="60.166" rx="25.324" ry="4.8777" style="fill-opacity:.12549;fill:#585858;paint-order:normal"/>
            <g id="mouse03">
              <path d="m19.231 8.3864c-4.9973 0-9.0201 4.0229-9.0201 9.0201v19.281a15.001 15.001 0 0 0 14.773 15.213 15.001 15.001 0 0 0 15.226-15.213v-19.281c0-4.9973-4.0229-9.0201-9.0201-9.0201z" style="color-rendering:auto;color:#000000;dominant-baseline:auto;fill:#fff;font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;image-rendering:auto;isolation:auto;mix-blend-mode:normal;shape-padding:0;shape-rendering:auto;solid-color:#000000;stroke-linecap:round;stroke-width:2;stroke:#555;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
              <path d="m10.211 24.945h30" style="fill:none;stroke-width:2;stroke:#555"/>
              <path d="m25.211 8.3864v16.559" style="fill:none;stroke-width:2;stroke:#555"/>
              <path d="m34.017 1.006c4.7834 2.2115 6.7492 3.9313 6.7492 3.9313" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m19.151 3.3842c-5.0869 1.6588-7.2653 3.1437-7.2653 3.1437" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m33.663 36.63c-3.8418-3.8139-6.5874 1.1227-16.62-2.3218" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m16.457 13.284a3.4184 4.8483 0 0 0-1.264 0.34572 1.8608 1.9081 0 0 1 1.0868 1.7327 1.8608 1.9081 0 0 1-1.8609 1.9079 1.8608 1.9081 0 0 1-1.2423-0.48989 3.4184 4.8483 0 0 0-0.13798 1.3519 3.4184 4.8483 0 0 0 3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184-4.8483 3.4184 4.8483 0 0 0-3.4184-4.8483z" style="fill:#545454;paint-order:normal"/>
              <path d="m31.361 13.519a3.4184 4.8483 0 0 0-1.264 0.34572 1.8608 1.9081 0 0 1 1.0868 1.7327 1.8608 1.9081 0 0 1-1.8609 1.9084 1.8608 1.9081 0 0 1-1.2423-0.49041 3.4184 4.8483 0 0 0-0.13798 1.3524 3.4184 4.8483 0 0 0 3.4184 4.8483 3.4184 4.8483 0 0 0 3.4184-4.8483 3.4184 4.8483 0 0 0-3.4184-4.8488z" style="fill:#545454;paint-order:normal"/>
              <path d="m8.9719 28.783c-7.2491-0.19618-9.6303-11.85-5.2964-14.474" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m40.246 31.408c4.2335 0.13455 8.8938 2.8458 3.8637 10.352" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#555"/>
              <path d="m14.826 35.347s1.5958-0.89991 1.9698-2.2385l0.37402-1.3386" style="fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2;stroke:#545454"/>
              <path id="rightHand03" d="m7.7972 16.059a2.7134 3.6725 78.753 0 1-4.1312-1.9451 2.7134 3.6725 78.753 0 1 3.0729-3.3775 2.7134 3.6725 78.753 0 1 4.1312 1.945 2.7134 3.6725 78.753 0 1-3.0728 3.3776z" style="fill:none;paint-order:normal;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2.0074;stroke:#555"/>
              <path d="m39.697 42.934a2.7134 3.6725 38.641 0 1 4.4127-1.1742 2.7134 3.6725 38.641 0 1-0.17394 4.5629 2.7134 3.6725 38.641 0 1-4.4126 1.1742 2.7134 3.6725 38.641 0 1 0.17384-4.5629z" style="fill:none;paint-order:normal;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:2.0074;stroke:#555"/>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</body>
</html>