<!DOCTYPE html>
<html>
<head>
<style>
code {
  display: block;
  hyphens: manual;
  border: 1px solid black;
  /* Prefer Courier New if available, as otherwise Menlo may be used,
     and its HYPHEN and HYPHEN-MINUS glyphs don't match. */
  font-family: Courier New, Courier, monospace;
}
</style>
</head>
<body lang="en-us">
<code style="width:100ch;">
abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstu-<br />vwxyzsupercalifragilisticexpialidocious-<br />abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz
</code>
</body>
</html>
