<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <style type="text/css">
          body {
             text-rendering: optimizeLegibility;
             font-size: 13px;
          }
          div {
             border: none;
             padding: 0px;
          }
        </style>
</head>
<body>
  <div style="position:fixed; left:10.4px">
    <div style="font-family: DejaVu Sans, Tahoma, sans-serif">
      oxoxoxoxoxoxox
    </div>
    <div style="font-family: DejaVu Sans, sans-serif">
      rnrnrnrnrnrnrn
    </div>
    <div style="font-family: Tahoma, sans-serif">
      zezezezezezeze
    </div>
  </div>
</body>
