<!DOCTYPE HTML>
<html>
<head>
<!-- Reference -->
<style>
div { border:1px solid black; }
.container { float:left; width:20%; border-color:cyan; }
p { width:0; }
b { font-weight:normal; background-color:yellow; white-space:pre; }
</style>
</head>
<body>

<div>
<p><b>Hello
Kitty</b>
<p><b>Hello Kitty</b>
<p><b>Hello Kitty</b>
<p><b>Hello 
Kitty</b>
</div>

<div class="container">
<p><b>Hello
Kitty</b>
<p><b>Hello 
Kitty</b>
<p><b>Hello
Kitty</b>
<p><b>Hello 
Kitty</b>
</div>

<div class="container">
<p><b>Hello
 Kitty</b>
<p><b>Hello  Kitty</b>
<p><b>Hello  Kitty</b>
<p><b>Hello 
 Kitty</b>
</div>

<div class="container">
<p><b>Hello
Kitty</b>
<p><b>Hello  Kitty</b>
<p><b>Hello Kitty</b>
<p><b>Hello 
Kitty</b>
</div>

<div class="container">
<p><b>Hello  
Kitty</b>
<p><b>Hello  
Kitty</b>
<p><b>Hello  
Kitty</b>
<p><b>Hello  
Kitty</b>
</div>

</body>
</html>
