<!DOCTYPE HTML>
<html>
<head>
<!-- Reference -->
<style>
div { border:1px solid black; }
.container { float:left; width:20%; border-color:cyan; }
p { width:0; }
b { font-weight:normal; background-color:yellow; white-space:pre; }
.cell { display:table-cell; border:1px solid green; }
</style>
</head>
<body>

<div>
<p><span class="cell"><b>Hello
Kitty</b></span>
<p><span class="cell"><b>Hello Kitty</b></span>
<p><span class="cell"><b>Hello Kitty</b></span>
<p><span class="cell"><b>Hello 
Kitty</b></span>
</div>

<div class="container">
<p><span class="cell"><b>Hello
Kitty</b></span>
<p><span class="cell"><b>Hello 
Kitty</b></span>
<p><span class="cell"><b>Hello
Kitty</b></span>
<p><span class="cell"><b>Hello 
Kitty</b></span>
</div>

<div class="container">
<p><span class="cell"><b>Hello
 Kitty</b></span>
<p><span class="cell"><b>Hello  Kitty</b></span>
<p><span class="cell"><b>Hello  Kitty</b></span>
<p><span class="cell"><b>Hello 
 Kitty</b></span>
</div>

<div class="container">
<p><span class="cell"><b>Hello
Kitty</b></span>
<p><span class="cell"><b>Hello  Kitty</b></span>
<p><span class="cell"><b>Hello Kitty</b></span>
<p><span class="cell"><b>Hello 
Kitty</b></span>
</div>

<div class="container">
<p><span class="cell"><b>Hello  
Kitty</b></span>
<p><span class="cell"><b>Hello  
Kitty</b></span>
<p><span class="cell"><b>Hello  
Kitty</b></span>
<p><span class="cell"><b>Hello  
Kitty</b></span>
</div>

</body>
</html>
