<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    @font-face {
      font-family: latin;
      src: url("../fonts/sil/GenR102.ttf");
    }
    @font-face {
      font-family: arabic;
      src: url("../fonts/sil/Scheherazade-R 2012-07-03c.ttf");
    }
    body {
      font-family: latin, arabic, sans-serif;
      font-size: 24px;
      line-height: 2em;
    }
  </style>
  <title>Test - word-break:break-all across font fallback</title>
  </head>
  <body>
    <!-- the arabic diacritics here will fall back to font 'arabic', which
         is a graphite-enabled arabic font, and be shaped separately;
         nevertheless, they must remain clustered with the preceding letters,
         no additional line-breaks are allowed before them (bug 833297) -->
    <div>f<br>o&#x064c;<br>o&#x0650;<br>b<br>a&#x0654;<br>r</div>
  </body>
</html>
