<!DOCTYPE HTML>
<html>
<head>
<style>
span { display:inline-block; width:10ch; }
/* first tab-position will be at 2 * (space-width + word-spacing), i.e. 22ch,
   so to advance there after the 3-ch word "tab" we need 19ch of added space */
span.tab { width: 19ch; }
</style>
</head>
<body style="font-family: monospace; width: 433px; height: 590px;">

<table border="1">
<tr><td>space <span></span>.</td>
<tr><td>nonbreaking-space&nbsp;<span></span>.</td>
<tr><td>ideographic-space&#x3000;.</td>
<tr><td>newline
<span></span>.</td>
<tr><td>tab&#9;<span></span>.</td>
<tr><td>form-feed&#12;.</td>
</table>

<table border="1" style="white-space:pre">
<tr><td>space <span></span>.</td>
<tr><td>nonbreaking-space&nbsp;<span></span>.</td>
<tr><td>ideographic-space&#x3000;.</td>
<tr><td>newline
.</td>
<tr><td>tab<span class=tab></span>.</td>
<tr><td>form-feed&#12;.</td>
</table>

<table border="1" style="white-space:nowrap">
<tr><td>space <span></span>.</td>
<tr><td>nonbreaking-space&nbsp;<span></span>.</td>
<tr><td>ideographic-space&#x3000;.</td>
<tr><td>newline <span></span>.</td>
<tr><td>tab&#9;<span></span>.</td>
<tr><td>form-feed&#12;.</td>
</table>

<table border="1" style="white-space:pre-wrap">
<tr><td>space <span></span>.</td>
<tr><td>nonbreaking-space&nbsp;<span></span>.</td>
<tr><td>ideographic-space&#x3000;.</td>
<tr><td>newline
.</td>
<tr><td>tab<span class=tab></span>.</td>
<tr><td>form-feed&#12;.</td>
</table>

</body>
</html>
