<!DOCTYPE html>
<!-- tests that Arabic characters shape across word breaks -->
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <style type="text/css">
textarea { overflow: scroll; }
  </style>
  <title>Test Wordwrap</title>
 </head>
 <body>
  <textarea rows="10" cols="20" dir="rtl">ذهعقروبلجيكا،الموسوع&zwj;
&zwj;ةكل,تمبوابةاقتصاديةه&zwj;
&zwj;ذه.ضمنهاالروسوحرمانب&zwj;
&zwj;لعدد,يكنجسيمةلإعادةلم
&zwj;.يكنوالحلفاءبالقنابل&zwj;
&zwj;هو,بحثخسائرالدفاعبال&zwj;
&zwj;هجومعن.فرنسيةمارشالب&zwj;
&zwj;ينيتودحرثم,وصلبشريةا
لرايخبالحربتم.</textarea>
 </body>
</html>
