<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>libnpsecondtest.dylib</string>
	<key>CFBundleIdentifier</key>
	<string>org.mozilla.SecondTestPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0.0</string>
	<key>CFBundleSignature</key>
	<string>SECONDTEST</string>
	<key>CFBundleVersion</key>
	<string>1.0.0.0</string>
	<key>WebPluginName</key>
	<string>Second Test Plug-in</string>
	<key>WebPluginDescription</key>
	<string>Second plug-in for testing purposes.</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-second-test</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>ts2</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>Second test type</string>
		</dict>
	</dict>
</dict>
</plist>
