/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/customizableui/panelUIOverlay.inc.css

#PanelUI-contents #zoom-out-btn {
  padding-left: 12px;
  padding-right: 12px;
}

#PanelUI-contents #zoom-in-btn {
  padding-left: 12px;
  padding-right: 12px;
}

#BMB_bookmarksPopup > menuseparator {
  padding-top: 0;
  padding-bottom: 0;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  -moz-appearance: none;
  border: 0;
  -moz-margin-start: 3px;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  padding: 0 2px;
  -moz-padding-start: 0;
  height: 18px;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  padding: 0 6px;
}
