/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "chrome://browser/skin/customizableui/panelUI-shared.css";

#notification-popup {
  margin-block: -4px;
}

/* bookmark panel submenus */

#PlacesToolbar menupopup {
  margin-top: -4px;
}

#PlacesToolbar menupopup,
#BMB_bookmarksPopup menupopup {
  appearance: none;
  border: none;
}

#BMB_bookmarksPopup menupopup {
  margin-top: -13px; /* 8px of padding, 4px of shadow margin, 1px of border */
}

#PlacesToolbar menupopup {
  background: transparent;
}

#BMB_bookmarksPopup menupopup::part(content) {
  /* emulating MozPlacesPopupArrow but without the arrow */
  box-shadow: var(--windows-panel-box-shadow);
  margin: 4px;
}

#PlacesToolbar menupopup::part(content) {
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  background: var(--arrowpanel-background);
  color: var(--arrowpanel-color);
  border: 1px solid var(--arrowpanel-border-color);
  margin: 4px;
}

menupopup::part(drop-indicator) {
  /* To account for the shadow margin + border of the panel */
  margin-inline-start: 5px;
}

/* Add border-radius on Windows 7 */
@media (-moz-platform: windows-win7) {
  #BMB_bookmarksPopup menupopup::part(content) {
    border-radius: 3.5px;
  }
}

@media (-moz-windows-non-native-menus) {
  /* Override the menu-right margin rule windows/global/menu.css */
  #BMB_bookmarksPopup .menu-right {
    margin-inline-end: 0;
  }
}

/* bookmark panel separator */
#BMB_bookmarksPopup menuseparator {
  padding-block: 0;
}

/* Disabled empty item looks too small otherwise, because it has no icon. */
menuitem.subviewbutton[disabled]:not(.menuitem-iconic) {
  /* This is 16px for an icon + 3px for its margins + 1px for its padding +
   * 2px for its border, see above */
  min-height: 22px;
}

/* Anchor the bookmark menu drop down panel at the same height as other
   panels when in the #toolbar-menubar */
#toolbar-menubar #BMB_bookmarksPopup {
  margin-top: -6px;
}
