*.failed
*.pyc
*~
.*.sw?
.DS_Store
.code_review_password
.cproject
.metadata
.project
.pydevproject
.settings
.status_password
/continuous_build/depot_tools
/third_party/gaeunit
/third_party/oauth2
/third_party/google-visualization-python

# Buildbot creates these files:
.manhole
changes.pck
changes.pck.old
dropin.cache
events_*
http.log
master.cfg.sample
state.sqlite
state.sqlite-shm
state.sqlite-wal
twistd.log*
twistd.pid

# Chrome buildbot scripts
/continuous_build/build

# Buildbot slave log directories:
/continuous_build/build_internal/masters/master.webrtc/android
/continuous_build/build_internal/masters/master.webrtc/android-ndk
/continuous_build/build_internal/masters/master.webrtc/chromeos
/continuous_build/build_internal/masters/master.webrtc/linux-chrome
/continuous_build/build_internal/masters/master.webrtc/linux-clang
/continuous_build/build_internal/masters/master.webrtc/linux-slave-1
/continuous_build/build_internal/masters/master.webrtc/linux-slave-2
/continuous_build/build_internal/masters/master.webrtc/linux-slave-4
/continuous_build/build_internal/masters/master.webrtc/linux-slave-5
/continuous_build/build_internal/masters/master.webrtc/linux-slave-gcc-4.6
/continuous_build/build_internal/masters/master.webrtc/linux-valgrind
/continuous_build/build_internal/masters/master.webrtc/mac-slave-2
/continuous_build/build_internal/masters/master.webrtc/mac-slave-3
/continuous_build/build_internal/masters/master.webrtc/public_html
/continuous_build/build_internal/masters/master.webrtc/win-32-dbg
/continuous_build/build_internal/masters/master.webrtc/win-32-release
/continuous_build/build_internal/masters/master.webrtc/video
/continuous_build/build_internal/masters/master.tryserver.webrtc/linux-trybot-1
/continuous_build/build_internal/masters/master.tryserver.webrtc/linux-trybot-2
/continuous_build/build_internal/masters/master.tryserver.webrtc/mac-trybot-1
/continuous_build/build_internal/masters/master.tryserver.webrtc/mac-trybot-2
/continuous_build/build_internal/masters/master.tryserver.webrtc/public_html
/continuous_build/build_internal/masters/master.tryserver.webrtc/win-trybot-1
/continuous_build/build_internal/masters/master.tryserver.webrtc/win-trybot-2




