<!DOCTYPE HTML>
<html>
    <title>CSS 2.1 Test Suite: text-transform</title>
    <link rel="author" title="Robert O'Callahan" href="mailto:robert@ocallahan.org" />
    <link rel="author" title="Mozilla Corporation" href="http://mozilla.com/" />
    <link rel="help" href="http://www.w3.org/TR/CSS21/text.html#caps-prop" />
    <meta name="flags" content="" />
<body style="letter-spacing:2px">
<p><span style="text-transform:capitalize">i ask "questions"</span>
<p>i ask "<span style="text-transform:capitalize">questions"</span>
<p><span style="text-transform:capitalize">i ask <span style="text-transform:none">q</span>uestions</span>
<p><span style="text-transform:capitalize">i ask<br>questions</span>
<p><span style="text-transform:capitalize">i ask&nbsp;questions</span>
<p style="white-space:nowrap"><span style="text-transform:capitalize">i ask questions</span>
</body>
</html>
