<!DOCTYPE HTML>
<html>
<body>
<p><span style="text-transform:capitalize">i ask "questions"</span>
<p>i ask "<span style="text-transform:capitalize">questions"</span>
<p><span style="text-transform:capitalize">i ask <span style="text-transform:none">q</span>uestions</span>
<p><span style="text-transform:capitalize">i ask<br>questions</span>
<p><span style="text-transform:capitalize">i ask&nbsp;questions</span>
<p style="white-space:nowrap"><span style="text-transform:capitalize">i ask questions</span>
</body>
</html>
