<!DOCTYPE html>
<html lang="ga-IE">
<head>
<meta charset="utf-8">
<title>Test for Irish uppercasing</title>
<style>
body {
  font: 16px/20px monospace;
  text-transform: uppercase;
}
</style>
</head>
<body>
  ord na bhfocal
/ Cosán na bhFilí
/ ár bpobal
/ Nóra na bPortach
/ i dtosach báire
/ An Ghaeilge i dTuaisceart na hÉireann
/ as an gceantar sin
/ I gContae na Mí agus i gConamara
/ Dé hAoine
/ Oirthear na hÁise
/ Parlaimint na hEorpa
/ Poblacht na hÉireann
/ Ealaín na hIodáile
/ na hÍosánaigh
/ Acadamh na hOllscolaíochta
/ Tír na hÓige
/ toghchán na hUachtaránachta
/ na hÚdaráis Chánach
/ I mbun mo mhachnamh
/ I mBéal Feirste agus i mBaile Átha Cliath
/ ár n-acmhainní uisce
/ eolaíocht na n-ábhar
/ lucht na n-ealaíon
/ ceol na n-éan
/ ord na n-imeachtaí
/ lucht adhartha na n-íomhánna
/ gnéithe dár n-oidhreacht
/ cultúr na n-óg
/ ocht n-uaire sa lá
/ formhór na n-údarás
/ Ár nAthair
/ Clár na nÁbhar
/ Loch nEathach
/ Cumann na nÉireannach Aontaithe
/ Gréasán na nIontas
/ nóibhíseacht na nÍosánach
/ i gCeantar na nOileán
/ Tír na nÓg
/ Baile na nUltach
/ Gort na nÚll
/ ceol na ndaoine
/ i nDún na nGall
/ táim i ngrá leat
/ labhair sé i nGaeilge!
/ cén t-am é?
/ tá an t-ádh orm inniu!
/ Den obair an t-eolas
/ An t-éileamh a íoc
/ an t-inneall cuardaigh is fearr
/ an t-íochtar a chur in uachtar
/ Tabhair an t-ordú seo dó!
/ Tá an t-ór buí aige.
/ an t-uisce beatha ar an tábla.
/ an t-úrscéal is deireanaí
/ An tAcht Oideachais
/ an tÁivé Máiria
/ An tEarrach Arabach
/ An tÉirí Amach
/ An tImeall
/ An tÍosánach Peadar Canisius
/ An tOileánach
/ An tÓr Muire
/ an tUasal Éamon Ó Cuív
/ An tÚdarás um Bóithre Náisiúnta
/ ar aon tslí
/ Béal Átha an tSléibhe
/ Amach ón tsnáthaid
/ Banríon an tSneachta
/ ar an tsráid
/ Caint an tSráidbhaile
/ cora crua an tsaoil
/ bholadh an tsáile
/ uair sa tseachtain
/ deireadh an tséasúir
/ fear an tsiopa
/ an tsíocháin a choimeád
/ an tsochaí faisnéise
/ gaoth an tsóláis
/ Is beag an tsuim iad
/ infheicthe ag an tsúil
/ Cnoc an tSamhraidh
/ Cionn tSáile
/ an tSeirbhís Phoiblí
/ Baile an tSéipéil
/ An tSiria
/ An tSín
/ Oifig an tSoláthair
/ Poll an tSómais
/ Eolaire an tSuímh
/ Casadh an tSúgáin
/ scríobhfaidh
/ preabphas
/ úsáidtear
/ snagcheol
/ Stáitse Imbolc
/ in-athnuaite agatsa
/ Teanga Dhomhanda
/ Réaltsruth
/ na hataí
/ Na Hataí
/ ár nathair
/ Ár Nathair
/ t-léine
/ torc allta
/ tsk tsk tsk a chara
</body>
</html>
