<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Test for Turkish small-caps behavior</title>
<style type="text/css">
@font-face {
  font-family: libertine;
  src: url(../fonts/LinLibertine_Re-4.7.5.woff);
}
div {
  font-family: libertine;
}
</style>
</head>
<body>
<div lang="tr" style="font-variant:small-caps">
Evrensel Kod her yazı karakteri için bir ve yalnız bir sayı şart koşar,
hangi altyapı,
hangi yazılım,
hangi dil olursa olsun.
</div>
</body>
</html>
