/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.command-bar {
  flex: 0 0 29px;
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
  overflow: hidden;
  z-index: 1;
  background-color: var(--theme-toolbar-background);
}

html[dir="rtl"] .command-bar {
  border-right: 1px solid var(--theme-splitter-color);
}

.theme-dark .command-bar {
  background-color: var(--theme-toolbar-background);
}

.command-bar .filler {
  flex-grow: 1;
}

.command-bar .replay-inactive {
  opacity: 0.5;
}

.command-bar .step-position {
  color: var(--theme-text-color-inactive);
  padding-top: 8px;
  margin-inline-end: 4px;
}

.command-bar .replay-active {
  color: var(--theme-highlight-blue);
}

.command-bar .active .disable-pausing {
  background-color: var(--theme-icon-checked-color);
}

.bottom {
  border-bottom: none;
  background-color: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  flex: none;
  height: var(--editor-footer-height);
}

.command-bar.bottom {
  justify-content: flex-end;
}

.command-bar.bottom > button {
  color: var(--theme-comment);
  width: 26px;
}
.command-bar.bottom > button:hover {
  color: var(--theme-body-color);
}

.command-bar .divider {
  width: 1px;
  background: var(--theme-splitter-color);
  height: 10px;
  margin: 11px 6px 0 6px;
}
