<!DOCTYPE html>
<head>
<title>CSS 2.1 Test Suite: text-indent test</title>
<link rel="author" title="L. David Baron" href="http://dbaron.org/" />
<link rel="author" title="Mozilla Corporation" href="http://mozilla.com/" />
<link rel="help" href="http://www.w3.org/TR/CSS21/text.html#indentation-prop" />
<meta name="flags" content="" />
<style type="text/css">
i { float: left; height: 0.3em; width: 100px; }
span { background: yellow }
</style>
</head>
<body>
<p><i></i><span>This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.  This is a long piece of text that will wrap to multiple lines.</span></p>
</body>
</html>
