 /* Screen Stylesheet */
      

  div#querynote {
        padding-left: 30px;
        font-size: smaller;
    }

  div#notice {
      background-color:#ecc;
      border:1px dashed #daa;
      text-align:center;
      padding:6px 6px 6px 6px;
      margin:6px 20px 6px 20px;
  }

  /* The labels that are floated over the bar charts */
  div.bar_chart_label {
         position: absolute;
         text-align: left;
         font-size: small;
         color: #fff; 
         overflow: hidden;
         z-index: 10;
  }
