[Desktop Entry]
Version=1.0
X-Ubuntu-Gettext-Domain=deja-dup

Name=Backup Monitor
Comment=Schedules backups at regular intervals

Icon=deja-dup
TryExec=/usr/lib/deja-dup/deja-dup/deja-dup-monitor
Exec=/usr/lib/deja-dup/deja-dup/deja-dup-monitor

# Bug 984944/1240084 - It prevents taking screenshots
X-GNOME-Autostart-Delay=false

StartupNotify=false
NoDisplay=true

Type=Application
Categories=System;Utility;Archiving;
