<!DOCTYPE HTML>
<html class="reftest-wait">
<body>
<iframe srcdoc="<body style='font-size:100px; overflow:hidden; background:white;'><p>Hello<p>Kitty<p>Hello<p>Kitty<p>Hello<p>Kitty<p>Hello<p>Kitty<p>Hello<p>Kitty<p>Hello<p>Kitty"
        id="f" style="width:500px; height:500px; border-radius:100px; border:none;"></iframe>
<script>
var f = document.getElementById("f");
function doTest() {
  f.contentWindow.scrollTo(0, 80);
  document.documentElement.removeAttribute('class');
}
document.addEventListener("MozReftestInvalidate", doTest);
</script>
</body>
</html>
