<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<style>
div {width: 3px; height: 3px;}

</style>
</head>
<body>
<table cellpadding="5" rules="all">
<tr><th>rules/border</th><th>empty</th><th>border</th><th>border="0"</th><th>border="1"</th><th>border="3"</th></tr>
<tr><th>empty</th>
<td><table>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table border>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table border="0">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table border="1">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table border="3">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
</tr>
<tr><th>rules</th>
<td><table rules>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules border>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules border="0">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules border="1">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules border="3">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
</tr>

<tr><th>rules="none"</th>
<td>
<table rules="none">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="none" border>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="none" border="0">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="none" border="1">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="none" border="3">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
</tr>
<tr><th>rules="groups"</th>
<td>
<table rules="groups">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="groups" border>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="groups" border="0">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="groups" border="1">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="groups" border="3">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
</tr>





<tr><th>rules="rows"</th>
<td>
<table rules="rows">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="rows" border>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="rows" border="0">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="rows" border="1">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="rows" border="3">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
</tr>

<tr><th>rules="cols"</th>
<td>
<table rules="cols">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="cols" border>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="cols" border="0">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="cols" border="1">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="cols" border="3">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
</tr>

<tr><th>rules="all"</th>
<td>
<table rules="all">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="all" border>
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="all" border="0">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="all" border="1">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
<td><table rules="all" border="3">
   <colgroup><col><col></colgroup>
   <colgroup><col></colgroup>
   <thead><tr><td><div/></td><td><div/></td><td><div/></td></tr></thead>
   <tfoot><tr><td><div/></td><td><div/></td><td><div/></td></tr></tfoot>
   <tbody><tr><td><div/></td><td><div/></td><td><div/></td></tr><tr><td><div/></td><td><div/></td><td><div/></td></tr></tbody>
</table></td>
</tr>
</table>

</body>
</html>