<!DOCTYPE html>
<head>
<title>Bug 1405929 reftest</title>
<style type="text/css">
table { border-collapse: collapse; }
tr    { border-bottom: 1px solid black; }
td    { padding-left: 1em; }
</style>

</head>
<body>

<table>
  <tr> <td>1 </td> <td rowspan="2">Spans 1-2  </td> </tr>
  <tr> <td>2 </td>                                  </tr>
  <tr> <td>3 </td> <td rowspan="3">Spans 3-5  </td> </tr>
  <tr> <td>4 </td>                                  </tr>
  <tr> <td>5 </td>                                  </tr>
  <tr> <td>6 </td> <td>            Nospan     </td> </tr>
  <tr> <td>7 </td> <td rowspan="2">Spans 7-8  </td> </tr>
  <tr> <td>8 </td>                                  </tr>
  <tr> <td>9 </td> <td rowspan="2"></td>            </tr>
  <tr> <td>10</td>                                  </tr>
  <tr> <td>11</td> <td rowspan="4">Spans 11-14</td> </tr>
  <tr> <td>12</td>                                  </tr>
  <tr> <td>13</td>                                  </tr>
  <tr> <td>14</td>                                  </tr>
  <tr> <td>13</td> <td>            Nospan     </td> </tr>
</table>

</body>
</html>


