<html>
<style>
h4 {
  -moz-user-select: none;
}
</style>
<body id=bd>
<h3 id=sel1>user can select this 1</h3>
<h3 id=sel2>user can select this 2</h3>
<h3 id=sel3>user can select this 3</h3>
<h4 id=nonsel1>user cannot select this 1</h4>
<h4 id=nonsel2>user cannot select this 2</h4>
<h3 id=sel4>user can select this 4</h3>
<h3 id=sel5>user can select this 5</h3>
<h4 id=nonsel3>user cannot select this 3</h4>
<h3 id=sel6>user can select this 6</h3>
<h3 id=sel7>user can select this 7</h3>
</body>
</html>
