/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 30px 0;
}

body.normal  .showPrivate,
body.private .showNormal {
  display: none;
}

div.contentSection {
  max-width: 400px;
  margin:auto;
}

body.private {
  background-color: #363b40; /* text_and_tabs_tray_grey */
  color: #afb1b3; /* tabs_tray_icon_grey */
}

body.normal {
  background-color: #eeeeee;
  color: #777777; /* placeholder gray */
}

h1 {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

body.normal h1 {
  color: #363b40; /* text_and_tabs_tray_grey */
}

a {
  color: #0096DD; /* link_blue */
  text-decoration: none;
}

.masq {
  display: block;
  height: auto;
  margin: 0 auto 20px auto;
}

.masq.showNormal {
  width: 80px;
}

.masq.showPrivate {
  width: 160px;
}

@media all and (max-height: 399px) {
  body {
    margin-top: 30px;
  }
}

@media all and (min-height: 400px) and (max-height: 599px) {
  body {
    margin-top: 60px;
  }
}

@media all and (min-height: 600px) and (max-height: 799px) {
  body {
    margin-top: 120px;
  }
}

@media all and (min-height: 800px) {
  body {
    margin-top: 240px;
  }
}
