:root {
	--form_border: #bfbfbf;
	--form_border_radius: 2px;
	--form_text: #363b40;
	--form_text_disabled: #bebebe;
	--form_background: white;
	--form_background_disabled: #f5f5f5;

	--color_about_background: #f5f5f5;
	--color_about_item: #ffffff;
	--color_about_item_border: #d7d9db;

	--color_background_highlight: rgba(255, 149, 0, 0.6);
	--color_background_highlight_overlay: rgba(171, 171, 171, 0.5);
	--color_text_highlight: #000;

	--margin_snormal: 0.64mm;
}
