<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Apple</string>
							<key>URL</key>
							<string>http://www.apple.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Apple - Mac OS X</string>
							<key>URL</key>
							<string>http://www.apple.com/macosx/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Apple .Mac Welcome</string>
							<key>URL</key>
							<string>http://www.mac.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Apple Stuff</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacSurfer's Headline News</string>
							<key>URL</key>
							<string>http://www.macsurfer.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacCentral Online</string>
							<key>URL</key>
							<string>http://maccentral.macworld.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacNN | The Macintosh News Network</string>
							<key>URL</key>
							<string>http://www.macnn.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacInTouch: Mac news, information and analysis</string>
							<key>URL</key>
							<string>http://www.macintouch.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>TidBITS Electronic Publishing</string>
							<key>URL</key>
							<string>http://www.tidbits.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Mac News</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Apple Support</string>
							<key>URL</key>
							<string>http://www.info.apple.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacFixIt - Troubleshooting Solution for the Macintosh</string>
							<key>URL</key>
							<string>http://www.macfixit.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Mac OS X Hints</string>
							<key>URL</key>
							<string>http://www.macosxhints.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>OSXFAQ</string>
							<key>URL</key>
							<string>http://www.osxfaq.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Mac Support</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Apple - Mac OS X - Downloads</string>
							<key>URL</key>
							<string>http://www.apple.com/downloads/macosx/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Mac OS X Apps</string>
							<key>URL</key>
							<string>http://www.macosxapps.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>VersionTracker: Mac OS X Software</string>
							<key>URL</key>
							<string>http://www.versiontracker.com/macosx/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Mac Software</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>CNet</string>
							<key>URL</key>
							<string>http://www.cnet.com</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Wired News</string>
							<key>URL</key>
							<string>http://www.wired.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Tech News</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>The World Wide Web Consortium</string>
							<key>URL</key>
							<string>http://www.w3.org/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>W3C HTML Home Page</string>
							<key>URL</key>
							<string>http://www.w3.org/MarkUp/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>W3C Document Object Model</string>
							<key>URL</key>
							<string>http://www.w3.org/DOM/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Cascading Style Sheets</string>
							<key>URL</key>
							<string>http://www.w3.org/Style/CSS/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Children</key>
							<array>
								<dict>
									<key>Description</key>
									<string></string>
									<key>Keyword</key>
									<string></string>
									<key>LastVisitedDate</key>
									<date>2003-07-26T04:23:34Z</date>
									<key>Status</key>
									<integer>0</integer>
									<key>Title</key>
									<string>Eric Meyer's css/edge</string>
									<key>URL</key>
									<string>http://www.meyerweb.com/eric/css/edge/</string>
									<key>VisitCount</key>
									<integer>0</integer>
								</dict>
								<dict>
									<key>Description</key>
									<string></string>
									<key>Keyword</key>
									<string></string>
									<key>LastVisitedDate</key>
									<date>2003-07-26T04:23:34Z</date>
									<key>Status</key>
									<integer>0</integer>
									<key>Title</key>
									<string>Mozilla Demos</string>
									<key>URL</key>
									<string>http://www.mozilla.org/start/1.0/demos.html</string>
									<key>VisitCount</key>
									<integer>0</integer>
								</dict>
							</array>
							<key>FolderDescription</key>
							<string></string>
							<key>FolderKeyword</key>
							<string></string>
							<key>FolderType</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Demos</string>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Web Standards</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>Keyword</key>
					<string></string>
					<key>LastVisitedDate</key>
					<date>2003-07-26T04:23:34Z</date>
					<key>Status</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Netscape.com</string>
					<key>URL</key>
					<string>http://www.netscape.com/</string>
					<key>VisitCount</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>Keyword</key>
					<string></string>
					<key>LastVisitedDate</key>
					<date>2003-07-26T04:23:34Z</date>
					<key>Status</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Yahoo!</string>
					<key>URL</key>
					<string>http://www.yahoo.com/</string>
					<key>VisitCount</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>Keyword</key>
					<string></string>
					<key>LastVisitedDate</key>
					<date>2003-07-26T04:23:34Z</date>
					<key>Status</key>
					<integer>0</integer>
					<key>Title</key>
					<string>dmoz - Open Directory Project</string>
					<key>URL</key>
					<string>http://dmoz.org/</string>
					<key>VisitCount</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FolderDescription</key>
			<string></string>
			<key>FolderKeyword</key>
			<string></string>
			<key>FolderType</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Bookmark Menu</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Camino</string>
							<key>URL</key>
							<string>http://www.mozilla.org/projects/camino/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Camino Feedback</string>
							<key>URL</key>
							<string>http://www.mozilla.org/projects/camino/feedback.html</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Mozilla.org</string>
							<key>URL</key>
							<string>http://www.mozilla.org</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Camino Info</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>BBC News</string>
							<key>URL</key>
							<string>http://news.bbc.co.uk/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>CNN</string>
							<key>URL</key>
							<string>http://www.cnn.com</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>International Herald Tribune</string>
							<key>URL</key>
							<string>http://iht.com/frontpage.html</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>Salon.com</string>
							<key>URL</key>
							<string>http://www.salon.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>0</integer>
					<key>Title</key>
					<string>News</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacCentral Online</string>
							<key>URL</key>
							<string>http://www.maccentral.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacNN | The Macintosh News Network</string>
							<key>URL</key>
							<string>http://www.macnn.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Description</key>
							<string></string>
							<key>Keyword</key>
							<string></string>
							<key>LastVisitedDate</key>
							<date>2003-07-26T04:23:34Z</date>
							<key>Status</key>
							<integer>0</integer>
							<key>Title</key>
							<string>MacInTouch: Mac news, information and analysis</string>
							<key>URL</key>
							<string>http://www.macintouch.com/</string>
							<key>VisitCount</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>FolderDescription</key>
					<string></string>
					<key>FolderKeyword</key>
					<string></string>
					<key>FolderType</key>
					<integer>1</integer>
					<key>Title</key>
					<string>Mac News Tabs</string>
				</dict>
				<dict>
					<key>Description</key>
					<string></string>
					<key>Keyword</key>
					<string>google</string>
					<key>LastVisitedDate</key>
					<date>2003-07-26T04:23:34Z</date>
					<key>Status</key>
					<integer>0</integer>
					<key>Title</key>
					<string>Google</string>
					<key>URL</key>
					<string>http://www.google.com/</string>
					<key>VisitCount</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>FolderDescription</key>
			<string></string>
			<key>FolderKeyword</key>
			<string></string>
			<key>FolderType</key>
			<integer>4</integer>
			<key>Title</key>
			<string>Toolbar Bookmarks</string>
		</dict>
	</array>
	<key>FolderDescription</key>
	<string></string>
	<key>FolderKeyword</key>
	<string></string>
	<key>FolderType</key>
	<integer>2</integer>
	<key>Title</key>
	<string>Bookmarks</string>
</dict>
</plist>
