[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-html = "*"
pytest-metadata = "*"
pytest-variables = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
