{
  "extends": "../../components/extensions/.eslintrc",

  "env": {
    "worker": true,
  },

  "globals": {
    "ChromeWorker": false,
    "Components": false,
    "LIBC": true,
    "Library": true,
    "OS": false,
    "Services": false,
    "SubprocessConstants": true,
    "ctypes": false,
    "debug": true,
    "dump": false,
    "libc": true,
    "unix": true,
  },

  "rules": {
    "no-console": 0,
  },
}
