<div class="pkt_ext_wrapperhome">
  <div class="pkt_ext_home">
    <div class="pkt_ext_header">
      <div class="pkt_ext_logo"></div>
      <a class="pkt_ext_mylist" href="https://{{pockethost}}/a?src=ff_ext_home" target="_blank">
        <span class="pkt_ext_mylist_icon"></span>
        {{mylist}}
      </a>
    </div>
    <div class="pkt_ext_hr"></div>
    <div class="pkt_ext_detail">
      <h2>{{welcomeback}}</h2>
      <p>{{pockethomeparagraph}}</p>
      <div class="pkt_ext_more"></div>
    </div>
  </div>
</div>
