<hr/>

<header>
  <h4>Similar Stories</h4>
  <a target="_blank" href="https://getpocket.com/story_recommendations_learn_more">Learn More</a>
</header>

<ol>
  {{#each recommendations}}
    <li>
      <a href="{{this.item.resolved_url}}" class="pkt_ext_item_recs_link" target="_blank">

        {{#if this.item.encodedThumbURL}}
        <img class="rec-thumb" src="https://img-getpocket.cdn.mozilla.net/80x80/filters:format(jpeg):quality(60):no_upscale():strip_exif()/{{this.item.encodedThumbURL}}" />
        {{/if}}

        <p class="rec-title">{{this.item.title}}</p>
        <p class="rec-source">{{this.item.domain_metadata.name}}</p>
      </a>
    </li>
  {{/each}}
</ol>
