<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE html>
<html>
  <head>
    <title data-l10n-id="about-unloads-page-title"></title>
    <meta http-equiv="Content-Security-Policy"
          content="default-src chrome:; object-src 'none'"/>
    <link rel="stylesheet"
          href="chrome://global/skin/in-content/info-pages.css"/>
    <link rel="stylesheet"
          href="chrome://browser/content/tabunloader/aboutUnloads.css"/>
    <link rel="localization" href="browser/aboutUnloads.ftl"/>
    <script src="chrome://browser/content/tabunloader/aboutUnloads.js">
    </script>
  </head>
  <body>
    <h1 data-l10n-id="about-unloads-page-title"></h1>
  </body>
</html>
