/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#include <os2.h>
#include "wdgtos2rc.h"

POINTER IDC_SELECTANCHOR   res\select.ptr
POINTER IDC_GRAB           res\grab.ptr
POINTER IDC_GRABBING       res\grabbing.ptr
POINTER IDC_CELL           res\cell.ptr
POINTER IDC_COPY           res\copy.ptr
POINTER IDC_ALIAS          res\aliasb.ptr
POINTER IDC_ZOOMIN         res\zoom_in.ptr
POINTER IDC_ZOOMOUT        res\zoom_out.ptr
POINTER IDC_COLRESIZE      res\col_resize.ptr
POINTER IDC_ROWRESIZE      res\row_resize.ptr
POINTER IDC_VERTICALTEXT   res\vertical_text.ptr

POINTER IDC_ARROWWAIT      res\arrow_wait.ptr
POINTER IDC_CROSS          res\crosshair.ptr
POINTER IDC_HELP           res\help.ptr
POINTER IDC_NONE           res\none.ptr

ICON    IDC_DNDURL         res\dndurl.ico
ICON    IDC_DNDTEXT        res\dndtext.ico

