/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%filter substitution

%define item richlistitem.download
%define itemFocused @item@[selected]

/*** View and outer controls ***/

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
}

/*** List items ***/

#downloadsRichListBox > richlistitem.download {
  height: var(--downloads-item-height);
}

%ifdef XP_WIN
@media (-moz-os-version: windows-xp) {
%endif
#downloadsRichListBox > richlistitem.download {
  padding: 5px 8px;
}
%ifdef XP_WIN
}
%endif

.downloadTypeIcon {
  margin-top: 8px;
  margin-inline-end: 12px;
  margin-bottom: 8px;
  margin-inline-start: 0;
  width: 32px;
  height: 32px;
}

%ifdef XP_WIN
@media not all and (-moz-os-version: windows-xp) {
  .downloadTypeIcon {
    margin-inline-start: 8px;
  }
}
%endif

.downloadBlockedBadge {
  margin: 0 4px;
  background: url("chrome://browser/skin/downloads/download-blocked.svg") top right / 16px no-repeat;
}

.downloadBlockedBadge:-moz-locale-dir(rtl) {
  background-position-x: left;
}

@item@[verdict="PotentiallyUnwanted"] .downloadBlockedBadge {
  background-image: url("chrome://browser/skin/warning.svg");
}

@item@[verdict="Uncommon"] .downloadBlockedBadge {
  background-image: url("chrome://browser/skin/info.svg");
}

@item@ > toolbarseparator {
  display: none;
}

.downloadTarget {
  margin-bottom: 3px;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
}

.downloadButton {
  -moz-appearance: none;
  -moz-box-align: center;
  background: transparent;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  padding: 5px;
  color: inherit;
}

.downloadButton > .button-box {
  -moz-appearance: none;
  padding: 2px !important;
  border-radius: 50%;
}

.downloadButton > .button-box > .button-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  filter: url("chrome://global/skin/filters.svg#fill");
  fill: currentColor;
}

.downloadButton > .button-box > .button-text {
  display: none;
}

.downloadButton:hover > .button-box {
  background-color: graytext;
  color: -moz-field;
}

.downloadButton:hover:active > .button-box {
  background-color: -moz-fieldtext;
}

@itemFocused@ > .downloadButtonArea > .downloadButton:hover > .button-box {
  background-color: HighlightText;
  color: Highlight;
}

@itemFocused@ > .downloadButtonArea > .downloadButton:hover:active > .button-box {
  background-color: -moz-field;
  color: -moz-fieldtext;
}

/*** Button icons ***/

.downloadIconCancel > .button-box > .button-icon {
  list-style-image: url("chrome://browser/skin/panel-icons.svg#cancel");
}

.downloadIconShow > .button-box > .button-icon {
%ifdef XP_MACOSX
  list-style-image: url("chrome://browser/skin/panel-icons.svg#magnifier");
%else
  list-style-image: url("chrome://browser/skin/panel-icons.svg#folder");
%endif
}

.downloadIconRetry > .button-box > .button-icon {
  list-style-image: url("chrome://browser/skin/panel-icons.svg#retry");
}

/*** Progressmeter ***/
%include progressmeter.inc.css
