/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button {
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  min-width: auto;
}

img {
  padding-inline-end: 8px;
  -moz-context-properties: fill;
  fill: currentColor;
}

:host([data-copied]) button {
  color: var(--in-content-success-icon-color) !important;
  background-color: transparent;
  opacity: 1; /* override common.css fading out disabled buttons */
}

:host([data-copied]) .copied-button-text {
  background-image: url(chrome://global/skin/icons/check.svg);
  background-repeat: no-repeat;
  background-position: left center;
  -moz-context-properties: fill;
  fill: currentColor;
  padding-inline-start: 22px;
}

:host([data-copied]) .copied-button-text:dir(rtl) {
  background-position-x: right;
}

:host(.create-login-button) img {
  padding: 0;
}
