<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>CSS 2.1 Test Suite: content: counter(c, upper-roman)</title>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#propdef-content"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/syndata.html#counter"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#counter-styles"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
 </head>
 <body>

 <div>
   <span>I</span>
   <span>II</span>
   <span>III</span>
   <span>IV</span>
   <span>V</span>
   <span>VI</span>
   <span>VII</span>
   <span>VIII</span>
   <span>IX</span>
   <span>X</span>
   <span>XI</span>
   <span>XII</span>
   <span>XLIX</span>
   <span>L</span>
   <span>CCCLXXXIX</span>
   <span>CCCXC</span>
   <span>MMMCDLXXXIX</span>
   <span>MMMCDXC</span>
   <span>MMMCDXCI</span>
 </div>

 </body>
</html>
