<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>CSS 2.1 Test Suite: content: counter(c, decimal-leading-zero)</title>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#propdef-content"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/syndata.html#counter"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#counter-styles"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>

 </head>
 <body>

 <div>
   <span>01</span>
   <span>02</span>
   <span>03</span>
   <span>04</span>
   <span>05</span>
   <span>06</span>
   <span>07</span>
   <span>08</span>
   <span>09</span>
   <span>10</span>
   <span>11</span>
   <span>12</span>
   <span>99</span>
   <span>100</span>
   <span>101</span>
 </div>

 </body>
</html>
