<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>CSS 2.1 Test Suite: Counter properties on 'content: none' pseudo-elements</title>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#q9"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#counters"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#propdef-content"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/syndata.html#counter"/>
 </head>
 <body>


 <div><span>0</span></div>

 </body>
</html>
