<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>CSS 2.1 Test Suite: content: counter(c, lower-roman)</title>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#propdef-content"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/syndata.html#counter"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#counter-styles"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
 </head>
 <body>

 <div>
   <span>i</span>
   <span>ii</span>
   <span>iii</span>
   <span>iv</span>
   <span>v</span>
   <span>vi</span>
   <span>vii</span>
   <span>viii</span>
   <span>ix</span>
   <span>x</span>
   <span>xi</span>
   <span>xii</span>
   <span>xlix</span>
   <span>l</span>
   <span>ccclxxxix</span>
   <span>cccxc</span>
   <span>mmmcdlxxxix</span>
   <span>mmmcdxc</span>
   <span>mmmcdxci</span>
 </div>

 </body>
</html>
