<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>CSS 2.1 Test Suite: content: counters(c, ".", lower-roman)</title>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#propdef-content"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/syndata.html#counter"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#counter-styles"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
 </head>
 <body>

 <p></p>

 <div>
   <span>i.i</span>
   <span>ii</span>
   <span>iii</span>
   <span>iv</span>
   <span>v</span>
   <span>vi</span>
   <span>vii</span>
   <span>viii</span>
   <span>ix</span>
   <span>x</span>
   <span>xi</span>
   <span>xii</span>
   <span>xii.xlix</span>
   <span>xiii</span>
   <span>xiii.ccclxxxix</span>
   <span>xiv</span>
   <span>xiv.mmmcdlxxxix</span>
   <span>xv</span>
   <span>xvi</span>
 </div>

 </body>
</html>
