<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>CSS 2.1 Test Suite: content: counters(c, ".", lower-roman)</title>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#propdef-content"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/syndata.html#counter"/>
  <link rel="help" href="http://www.w3.org/TR/CSS21/generate.html#counter-styles"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
 </head>
 <body>

 <p></p>

 <div>
   <span>i.i</span>
   <span>i.ii</span>
   <span>i.iii</span>
   <span>i.iv</span>
   <span>i.v</span>
   <span>i.vi</span>
   <span>i.vii</span>
   <span>i.viii</span>
   <span>i.ix</span>
   <span>i.x</span>
   <span>i.xi</span>
   <span>i.xii</span>
   <span>i.xlix</span>
   <span>i.l</span>
   <span>i.ccclxxxix</span>
   <span>i.cccxc</span>
   <span>i.mmmcdlxxxix</span>
   <span>i.mmmcdxc</span>
   <span>i.mmmcdxci</span>
 </div>

 </body>
</html>
