<!DOCTYPE html>
<html class="reftest-wait reftest-no-flush">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<!--
  A test for a partial pre-rendered transform animation moves to a place where
  the partial pre-rendered area is completely out of the viewport but still
  there remains some amount of area of the entire transform element.
  If we mis-recognize it as NOT a jank, checkerboading will happen.
  -->
<style>
html {
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
}
@keyframes anim {
  /* translate to a position the partial pre-rendered area is outside of the */
  /* viewport but still there should remain visible area. */
  to { transform: translateX(-150vw); }
}
#target {
  width: 200vw;
  height: 200vh;
  position: absolute;
  transform: translateX(0vw);
}
</style>
<div id="target">
  <!--
    Put an SVG element so that the transform display item has a blob on
    WebRender which means this test properly fails without the proper fix.
    -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
    <rect fill="green" width="16" height="16"></rect>
  </svg>
</div>
<script>
document.addEventListener("MozReftestInvalidate", () => {
  target.style.animation = "anim 100s 1s step-start";
  target.addEventListener("animationstart", () => {
    // animtionstart event is fired just before requestAnimationFrame callbacks,
    // so we need to wait two rAF to make sure the initial animation value is
    // composited on the compositor.
    requestAnimationFrame(() => {
      requestAnimationFrame(() => {
        document.documentElement.classList.remove("reftest-wait");
      });
    });
  });
}, { once: true });
</script>
</html>
