<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<style>
html {
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
}
#target {
  width: 1600px;
  height: 900px;
  position: absolute;
  transform: translateX(-325px);
}
</style>
<div id="target">
  <!--
    Put an SVG element so that the transform display item has a blob on
    WebRender which means this test properly fails without the proper fix.
    -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 900">
    <rect fill="green" x="0" width="1125" height="900"></rect>
    <rect fill="red" x="1125" width="875" height="900"></rect>
  </svg>
</div>
</html>
