<!DOCTYPE html>
<html class="reftest-wait reftest-no-flush">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<!--
  A test that a partial pre-rendered transform animation is transformed by an
  ancestor transform value.
  If we don't factor the ancestor's transform, we mis-recognize janks, which
  means janked at the initial translateX(0vw) position, thus white blank area
  will appears.
  -->
<style>
html {
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
}
@keyframes anim {
  /* translate to a position where the left edge of partial pre-rendered on */
  /* the left edge of the viewport. */
  to { transform: translateX(-50vw); }
}
#target {
  width: 300vw;
  height: 300vh;
  transform: translateX(0vw);
}
</style>
<div style="transform: translateX(50vw);">
  <div id="target">
    <!--
      Put an SVG element so that the transform display item has a blob on
      WebRender which means this test properly fails without the proper fix.
      -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <rect fill="green" width="16" height="16"></rect>
    </svg>
  </div>
</div>
<script>
document.addEventListener("MozReftestInvalidate", () => {
  target.style.animation = "anim 100s 1s step-start";
  target.addEventListener("animationstart", () => {
    // animtionstart event is fired just before requestAnimationFrame callbacks,
    // so we need to wait two rAF to make sure the initial animation value is
    // composited on the compositor.
    requestAnimationFrame(() => {
      requestAnimationFrame(() => {
        document.documentElement.classList.remove("reftest-wait");
      });
    });
  });
}, { once: true });
</script>
</html>
