<!DOCTYPE html>
<html class="reftest-wait reftest-no-flush">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<!--
  Another variant of partial-prerender-translate-2.html, but the transform
  animation is scaled by the parent element.
  -->
<style>
html {
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
}
@keyframes anim {
  /* translate to a position where the left edge of partial pre-rendered on */
  /* the left edge of the viewport. */
  0% { transform: translateX(-649px); }
  100% { transform: translateX(-2000px); }
}
#target {
  width: 4000px;
  height: 2000px;
  position: absolute;
  transform: translateX(0);
}
</style>
<div style="transform: scale(0.5); transform-origin: 0 0">
  <div id="target">
    <!--
      Put an SVG element so that the transform display item has a blob on
      WebRender which means this test properly fails without the proper fix.
      -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4000 2000">
      <rect fill="green" x="0" width="2250" height="2000"></rect>
      <rect fill="red" x="2250" width="1750" height="2000"></rect>
    </svg>
  </div>
</div>
<script>
document.addEventListener("MozReftestInvalidate", () => {
  target.style.animation = "anim 10s 1s";
  target.addEventListener("animationstart", () => {
    // Wait a second to make sure the animation gets stucked (i.e. jank) at the
    // boundary (650px).
    setTimeout(() => {
      document.documentElement.classList.remove("reftest-wait");
    }, 1000);
  });
}, { once: true });
</script>
</html>
