#ifdef APSTUDIO_INVOKED
	#error:  this file is not editable by App Studio; use an editor
#endif //APSTUDIO_INVOKED

#ifdef _WIN32
#include "winver.h"
#else
#include "ver.h"
#endif
#include "sdkver.h"

VS_VERSION_INFO	VERSIONINFO
 FILEVERSION VI_FILEVERSION
 PRODUCTVERSION VI_PRODUCTVERSION
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
	FILEFLAGS		(VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE)
#else
	FILEFLAGS		VS_FF_PRERELEASE	// beta version
//	FILEFLAGS		0			// final version
#endif
#ifdef _WIN32
	FILEOS			VOS__WINDOWS32
#else
	FILEOS			VOS_DOS_WINDOWS16
#endif
	FILETYPE		VFT_APP
	FILESUBTYPE		0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"	// lang=US English, Charset=Windows Multilingual
		BEGIN
			VALUE	"CompanyName",		"Netscape Communications Corporation\0"
			VALUE	"FileDescription",	"Lightweight Directory Access Protocol DLL\0"
			VALUE "FileVersion", VI_FileVersion "\0"
#ifdef _WIN32
			VALUE	"InternalName",		"LDAP3250\0"
#else
			VALUE	"InternalName",		"NSLDAP\0"
#endif
			VALUE	"LegalCopyright",	"Copyright (c) 2002 Netscape Communications Corporation\0"
#ifdef _WIN32
			VALUE	"OriginalFileName",	"LDAP3250.DLL\0"
#else
			VALUE	"OriginalFileName",	"NSLDAP.DLL\0"
#endif
			VALUE	"ProductName",	"Lightweight Directory Access Protocol DLL\0"
            VALUE	"ProductVersion", PRODUCTTEXT
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE	"Translation",	0x409, 1252	// English + Windows ANSI codepage
	END
END
