<!DOCTYPE html>
<!-- Any copyright is dedicated to the Public Domain.
   - http://creativecommons.org/publicdomain/zero/1.0/ -->

<html>
  <style>
  summary {
    background-color: lightgreen;
  }
  div#columns {
    -moz-column-count: 3;
    -moz-column-rule: 1px solid lightgray;
    -webkit-column-count: 3;
    -webkit-column-rule: 1px solid lightgray;
    border: 1px solid lightblue;
  }
  </style>
  <body>
    <div id="columns">
      <summary>Summary</summary>
      <p>line</p>
      <p>line</p>
      <p>line</p>
      <p>line</p>
      <p>line</p>
      <p>line</p>
      <p>line</p>
    </div>
  </body>
</html>
