<!DOCTYPE html>
<!-- Any copyright is dedicated to the Public Domain.
   - http://creativecommons.org/publicdomain/zero/1.0/ -->

<html class="reftest-wait">
  <script>
  function runTest() {
    // Insert <p> before <summary>.
    var paragraph = document.createElement("p");
    var details_text = document.createTextNode("This is the details.");
    paragraph.appendChild(details_text);

    var details = document.getElementById("details");
    details.insertBefore(paragraph, details.children[0]);

    document.documentElement.removeAttribute("class");
  }
  </script>
  <body onload="runTest();">
    <details id="details">
      <summary>Summary</summary>
    </details>
  </body>
</html>
