<!DOCTYPE html>
<!-- Any copyright is dedicated to the Public Domain.
   - http://creativecommons.org/publicdomain/zero/1.0/ -->

<html>
  <style>
  .summary-columns {
    -moz-column-count: 3;
    -moz-column-rule: 1px solid lightgray;
    -webkit-column-count: 3;
    -webkit-column-rule: 1px solid lightgray;
    border: 1px solid lightblue;
    background-color: lightgreen;
  }
  </style>
  <body>
    <div>
      <div class="summary-columns">
        <p>line</p>
        <p>line</p>
        <p>line</p>
        <p>line</p>
        <p>line</p>
        <p>line</p>
        <p>line</p>
      </div>
      <p>This is the details.</p>
    </div>
  </body>
</html>
