<!DOCTYPE html>
<html>
<script>
img = new Image(0, 2)
document.documentElement.appendChild(img)
frm = document.createElement("iframe")
frm.align = "right"
document.documentElement.appendChild(frm)
img.append(undefined, undefined, "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\rAAAAA=[AAAAAAAAAAAAAA\u066B\bAAAAAAAAAAAAAAAA*<AAAAAA")
</script>
<style>
html { width: 300px; -moz-column-width: 100px; height: 100px; }
</style>
<div style="float: left; height: 5px;"></div>
<div style="clear: left;"><feDiffuseLighting><div style="float: right;"></div></div>
