<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1" package="org.webrtc.videoengineapp" android:versionName="1.07">
    <application android:icon="@drawable/logo"
		 android:label="@string/app_name"
		 android:debuggable="true">
        <activity android:name=".WebRTCDemo"
                  android:label="@string/app_name" 
                  android:screenOrientation="landscape"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.HEADSET_PLUG"/>
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest> 
