
include ChangeLog MANIFEST.in README README.w32 NEWS CREDITS
include docs/examples/*.cfg
include docs/buildbot.texinfo
include docs/buildbot.info
include docs/buildbot.html docs/images/*.png
include docs/epyrun docs/gen-reference
include buildbot/test/mail/* buildbot/test/subdir/*
include buildbot/scripts/sample.cfg
include buildbot/status/classic.css
include buildbot/clients/debug.glade
include buildbot/buildbot.png

include contrib/* contrib/windows/*
