alabaster==0.7.12
charset-normalizer==2.0.12
docutils==0.16
idna==2.10
imagesize==1.2.0
markupsafe==2.0.1
packaging==20.9
requests==2.27.1
snowballstemmer==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-mermaid==0.8.1
rstcheck==3.5.0
Pygments==2.6.1
pytz==2021.1
urllib3==1.26.9
# We need sphinx to avoid some rstcheck errors and warnings
Sphinx==4.3.0
