/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This file defines specific rules for print preview when using simplify mode.
 * Some of these rules (styling for title and author on the header element)
 * already exist in aboutReader.css, however, we decoupled it from the original
 * file so we don't need to load a bunch of extra queries that will not take
 * effect when using the simplify page checkbox. */

body {
  padding-top: 0px;
  padding-bottom: 0px;
}

#container {
  max-width: 100%;
  font-family: Georgia, "Times New Roman", serif;
}

.header > h1 {
  font-size: 1.6em;
  line-height: 1.25em;
  margin: 30px 0;
}

.header > .credits {
  font-size: 0.9em;
  line-height: 1.48em;
  margin: 0 0 30px 0;
  font-style: italic;
}
