<!DOCTYPE HTML>
<html>
<head>
<title>Pixel rounding testcase</title>
<style type="text/css">

html, body { margin: 0; border: none; padding: 0; }
div { position: absolute; top: 10px; height: 10px; width: 11px; }

div { background: green; }

</style>
</head>
<body>

<div style="left: 10.4px"></div>
<div style="left: 30.4px"></div>
<div style="left: 50.4px"></div>
<div style="left: 70.4px"></div>
<div style="left: 90.4px"></div>
<div style="left: 110.4px"></div>
<div style="left: 130.4px"></div>
<div style="left: 150.4px"></div>
<div style="left: 170.4px"></div>
<div style="left: 190.4px"></div>
<div style="left: 210.4px"></div>
<div style="left: 230.4px"></div>
<div style="left: 250.4px"></div>
<div style="left: 270.4px"></div>
<div style="left: 290.4px"></div>
<div style="left: 310.4px"></div>
<div style="left: 330.4px"></div>
<div style="left: 350.4px"></div>
<div style="left: 370.4px"></div>

</body>
</html>
