<!DOCTYPE html>
<!-- Any copyright is dedicated to the Public Domain.
   - http://creativecommons.org/publicdomain/zero/1.0/ -->
<html class="reftest-wait">
<head>
  <script>
    // We add an artificial delay before the reftest snapshot to increase the
    // chance that we're snapshotting the high-quality downscaled version of
    // the image. This is necessary because high-quality downscaling is
    // currently an async process. Bug 1045926 will eliminate the need for this
    // delay.
    function snapshot() {
      document.documentElement.removeAttribute('class');
    }
  </script>
</head>
<body onload="setTimeout(snapshot, 250)">
<div style="padding: 1em 3em; font-size: 80%; width: 300px; text-align: center;">
  <img src="green-circle-with-blue-border.png" height="220">
</div>
</body>
</html>
