test/puppeteer/**/.wireit
test/puppeteer/**/*.tsbuildinfo
test/puppeteer/**/lib
test/puppeteer/.github
test/puppeteer/.husky
test/puppeteer/coverage/
test/puppeteer/.devcontainer/
test/puppeteer/docker/
test/puppeteer/docs/puppeteer-core.api.json
test/puppeteer/docs/puppeteer.api.json
test/puppeteer/experimental/
test/puppeteer/node_modules/
test/puppeteer/package-lock.json
test/puppeteer/packages/ng-schematics/test/build
test/puppeteer/packages/puppeteer-core/src/generated
test/puppeteer/test/installation/puppeteer*.tgz
test/puppeteer/src/generated
test/puppeteer/test/**/build
test/puppeteer/test/output-firefox
test/puppeteer/test/output-chromium
test/puppeteer/tools/internal/
test/puppeteer/tools/mocha-runner/bin/
test/puppeteer/website
