<!DOCTYPE html>
<html>
<script>
window.onload=function(){
  let n=document.getElementById('a');
  n.parentNode.removeChild(n);
  document.designMode='on';
}
</script>
<wbr/>
<script></script>
<img space='-155.002502498'/>
<blockquote style="display:ruby-text-container">
<mark id='a'></mark>
</blockquote>
<video></video>
<area/>
<section></section>
<img/>
<noscript></noscript>
<bdo></bdo>
<select></select>
<select></select>
<option></option>
<figure style="border-image:stretch url(data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=) 27% fill / / 297.456633622ex"></figure>
<wbr/>
<pre></pre>
<table>
</html>