/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

:root {
  --accordion-header-background: var(--theme-toolbar-background);
}

:root.theme-dark {
  --accordion-header-background: #222225;
}

.accordion {
  background-color: var(--theme-sidebar-background);
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.accordion ._header {
  background-color: var(--accordion-header-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
  font-size: 12px;
  padding: 4px 8px;
  width: 100%;
  /* 24px for content + 1px for the bottom border */
  height: 25px;
  align-items: center;
  margin: 0px;
  font-weight: normal;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.accordion ._header:hover,
.accordion ._header:focus {
  background-color: var(--theme-toolbar-background-hover);
}

.accordion ._header .arrow {
  margin-inline-start: -3px;
  margin-inline-end: 5px;
}

.accordion ._header .header-buttons {
  display: flex;
  margin-inline-start: auto;
}

.accordion .header-buttons .add-button {
  font-size: 180%;
  text-align: center;
  line-height: 16px;
}

.accordion .header-buttons button {
  color: var(--theme-body-color);
  border: none;
  background: none;
  padding: 0;
  width: 16px;
  height: 16px;
}

.accordion .header-buttons button::-moz-focus-inner {
  border: none;
}

/* vertical-align:middle results in slightly wrong alignment */
.accordion .header-buttons .img {
  display: block;
}

.accordion ._content {
  border-bottom: 1px solid var(--theme-splitter-color);
  font-size: 12px;
}

.accordion div:last-child ._content {
  border-bottom: none;
}
