<!DOCTYPE HTML>
<title>Test of padding-*: -moz-calc()</title>
<style>

body { width: 500px }
div { border: medium solid green }
p { background: yellow; margin: 0 }

</style>

<div style="padding: -moz-calc(10px + 1%) 0 0 0"><p>paragraph with padding</p></div>
<div style="padding: 0 -moz-calc(10px + 1%) 0 0"><p>paragraph with padding</p></div>
<div style="padding: 0 0 -moz-calc(10px + 1%) 0"><p>paragraph with padding</p></div>
<div style="padding: 0 0 0 -moz-calc(10px + 1%)"><p>paragraph with padding</p></div>
<div style="padding: -moz-calc(30px - 1%)"><p>paragraph with padding</p></div>
