<div class="pkt_ext_detail pkt_ext_saved_tmplogin pkt_shaded_background">
    <div class="pkt_ext_indent_bordered">
        <p>You are using Pocket without an account.<br />Sign up to back up your saved items.</p>
        <p><a href="https://help.getpocket.com/article/1129-using-pocket-without-an-account-in-firefox?s=ghost_upsell" target="_blank">Learn more</a></p>
    </div>

    {{#if fxasignedin}}
        <button id="pkt_ext_tmp_account_signup" class="pkt_ext_button pkt_ext_blue_button">
            <span class="pkt_ext_save_title_wrapper pkt_ext_ffx_icon">
                <span class="pkt_ext_logo_action_copy">Login with Firefox</span>
            </span>
        </button>
    {{else}}
        <button id="pkt_ext_tmp_account_signup" class="pkt_ext_button">
            <span class="pkt_ext_save_title_wrapper">
                <span class="pkt_ext_logo_action_copy">Sign up</span>
            </span>
        </button>
    {{/if}}
</div>
