<div class="pkt_ext_suggestedtag_detail pkt_ext_suggestedtag_detail_loading">
    <h4>{{suggestedtags}}</h4>
    <div class="pkt_ext_loadingspinner"><div></div></div>
    <ul class="pkt_ext_cf">
    </ul>
</div>