<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
    .outer {
     display:table;
     height:20px;
     width:300px;
     max-width:300px;            
 }
 
 .inner {  
     background-color: silver;
     display:table-cell;
     height:20px;
     min-height:20px;
     width:150px;
     max-width:150px;
     padding: 4px;
 }
  </style>
</head>
<body>
<h2>Testing CSS overflow on display:table-cell</h2>
<div class="outer">
    <div class="inner" style="overflow-x:hidden;">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer">
    <div class="inner" style="overflow-x:scroll;">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer">
    <div class="inner" style="overflow-x:-moz-hidden-unscrollable;">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer">
    <div class="inner" style="overflow:hidden;">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer">
    <div class="inner" style="overflow:scroll;">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer">
    <div class="inner" style="overflow:-moz-hidden-unscrollable;">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<h2>Testing CSS overflow on display:table</h2>
<div class="outer" style="overflow-x:hidden;">
    <div class="inner">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer" style="overflow-x:scroll;">
    <div class="inner">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer" style="overflow-x:-moz-hidden-unscrollable;">
    <div class="inner">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer" style="overflow:hidden;">
    <div class="inner">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer" style="overflow:scroll;">
    <div class="inner">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
<div class="outer" style="overflow:-moz-hidden-unscrollable;">
    <div class="inner">
       <img width="400px" height="10px" src="data:image/gif;base64,R0lGODlhAQABAIABAAD/AP///ywAAAAAAQABAAACAkQBADs=">
    </div>
</div>
</body></html>
