-r mozbase_requirements.txt

# TODO - if we structure common.tests.zip to match the in-tree structure of the
# testing directory, we could use ./marionette_requirements.txt instead
../web-platform/tests/tools/wptserve
../marionette/client
../marionette/harness/marionette_harness/runner/mixins/browsermob-proxy-py
../marionette/harness

# pytest
../../python/py
../../python/pytest
../../python/mock-1.0.0
