-r mozbase_requirements.txt

../tools/wptserve
../tools/wpt_third_party/certifi
../tools/wpt_third_party/enum
../tools/wpt_third_party/h2
../tools/wpt_third_party/hyperframe
../tools/wpt_third_party/hpack
../marionette/client
../marionette/harness/marionette_harness/runner/mixins/browsermob-proxy-py
../marionette/harness

# Allows to use the Puppeteer page object model for Firefox
../marionette/puppeteer/firefox/
