<!DOCTYPE HTML>
<html>
<head>
<title>kerning sanity checks</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">

@font-face {
  font-family: LinuxLibertine;
  src: url(../fonts/LinLibertine_Re-4.7.5.woff);
}

body {
  margin: 5px;
}

div#test, div#test pre {
  font-family: Arial, LinuxLibertine, sans-serif;
  font-size: 300%;
  line-height: 1.1em;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
}

pre {
  margin: 0;
  padding: 0;
}

</style>
</head>
<body>
<div id="test">
<pre><span>AWAY</span></pre>
</div>
</body>
</html>