box#outer-box {
  width: 100%;
  height: 100%;
}

select.combobox {
  font-family: Sans-Serif;
  font-size: 8pt;
  border-top: 3px;
  border-left: 4px;
  border-right: 4px;
  border-style: outset;
}

titledbutton#TextColorPopup {
  margin-right: -3px;
}

titledbutton#BackColorPopup {
  margin-left: -3px;
}

titledbutton#BoldButton {
  min-width: 16px; 
  font-size: 19px; 
  font-weight: bold; 
  font-family: times, serif, sans-serif;
}

titledbutton#BoldButton:hover {
  text-decoration: none;
}

titledbutton#ItalicButton {
  min-width: 16px; 
  font-size: 19px; 
  font-weight: bold; 
  font-family: times, serif, sans-serif; 
  font-style:  italic;
}

titledbutton#ItalicButton:hover {
  text-decoration: none;
}

titledbutton#UnderlineButton {
  min-width: 16px; 
  font-size: 19px; 
  font-weight: bold; 
  font-family: times, serif, sans-serif; 
  text-decoration: underline;
}

titledbutton.AlignButton {
  margin: 0px;  
  min-width: 20em;
  border: 1px solid transparent;
}

titledbutton.AlignButton:hover {
  border: 1px outset white;
  text-decoration: none;
}

titledbutton.AlignButton:active {
  border: 1px inset;
}

titledbutton#LeftAlign {
	list-style-image:url(chrome://editor/skin/images/ED_Left.gif);
}

titledbutton#CenterAlign {
	list-style-image:url(chrome://editor/skin/images/ED_Center.gif);
}

titledbutton#RightAlign {
	list-style-image:url(chrome://editor/skin/images/ED_Right.gif);
}

titledbutton#JustifyAlign {
	list-style-image:url(chrome://editor/skin/images/ED_Justify.gif);
}

