/* This file is for platform-specific CSS for TabView, and is loaded after the
  platform-independent tabview.css, to allow overwriting.
*/

body {
  font-family: Tahoma, sans-serif !important;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  line-height: 16px;
}

#bg {
  background: url("chrome://browser/skin/tabview/grain.png") repeat scroll center top, -moz-linear-gradient(center top , #CCD9EA, #C7D5E7) repeat scroll 0 0 transparent;
}

/* Tabs
----------------------------------*/

.tab {
  padding: 4px 6px 6px 4px;
  background-color: #E0EAF5;
  border-radius: 0.4em;
  -moz-box-shadow:
    0 1px 0 #FFFFFF inset,
    0 -1px 1px rgba(255, 255, 255, 0.8) inset,
    1px 0 1px rgba(255, 255, 255, 0.8) inset,
    -1px 0 1px rgba(255, 255, 255, 0.8) inset,
    0 1px 1.5px rgba(4, 38, 60, 0.4);
  cursor: pointer;
  margin: 4px;
}

.tab canvas,
.cached-thumb {
  border: 1px solid rgba(73, 99, 119, 0.3);
}

.thumb {
  -moz-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.favicon {
  background-color: #E0EAF5;
  border-bottom-right-radius: 0.4em;
  padding: 4px 6px 6px 4px;
  top: 4px;
  left: 4px;
  border-right: 1px solid rgba(73, 99, 119, 0.3);
  border-bottom: 1px solid rgba(73, 99, 119, 0.3);
  height: 17px;
  width: 17px;
}

.favicon img {
  border: none;
  width: 16px;
  height: 16px;
}

.close {
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  background: url(chrome://global/skin/icons/Close.gif) no-repeat;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  opacity: 0.2;
}

.expander {
  bottom: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  background: url(chrome://global/skin/icons/resizer.png) no-repeat;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  opacity: 0.2;
}

.close:hover,
.expander:hover {
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  opacity: 1.0;
}

.favicon img:hover, 
.close img:hover, 
.expander img:hover {
  opacity: 1;
  border: none;
}

.tab-title {
  bottom: -20px;
  text-align: center;
  width: 94.5%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.stacked {
  padding: 0;
}

.stacked .thumb {
  -moz-box-shadow: rgba(0,0,0,.2) 1px 1px 4px;
}

.stack-trayed .tab-title {
  text-shadow: rgba(0,0,0,1) 1px 1px 1.5px;
  color: #EEE;
  font-size: 11px;
}

.stack-trayed .thumb {
  -moz-box-shadow: none !important;
}

.tab.focus {
  -moz-box-shadow:
    0 1px 0 #FFFFFF inset,
    0 -1px 1px #FFFFFF inset,
    1px 0 1px #FFFFFF inset,
    -1px 0 1px #FFFFFF inset,
    0 0 5.5px #007ECE;
}

/* Tab: Zooming
----------------------------------*/

.front .tab-title, 
.front .close, 
.front .favicon, 
.front .expander, 
.front .thumb-shadow {
  display: none;
}

.front .thumb {
  -moz-box-shadow: none !important;
}

.front.focus {
  -moz-box-shadow: none !important;
}

/* Tab GroupItem
----------------------------------*/

.tabInGroupItem {
  -moz-box-shadow: none;
  background-color: #E0EAF5;
}

.tabInGroupItem .favicon {
  background-color: #E0EAF5;
}

.groupItem {
  cursor: move;
  background-color: #E0EAF5;
  border-radius: 0.4em;
  -moz-box-shadow:
    0 1px 0 #FFFFFF inset,
    0 -1px 1px rgba(255, 255, 255, 0.8) inset,
    1px 0 1px rgba(255, 255, 255, 0.8) inset,
    -1px 0 1px rgba(255, 255, 255, 0.8) inset,
    0 1px 3px rgba(4, 38, 60, 0.6);
}

.groupItem.activeGroupItem {
  -moz-box-shadow:
    rgba(0,0,0,0.6) 1px 1px 5.5px;
}

.phantom {
}

.overlay {
  background-color: rgba(0,0,0,.7) !important;
  -moz-box-shadow: 3px 3px 5.5px rgba(0,0,0,.5);
  border-radius: 0.4em;
  /*
  border: 1px solid rgba(230,230,230,1);
  background-color: rgba(248,248,248,1);
  -moz-box-shadow:
    rgba(0,0,0, .3) 2px 2px 5.5px,
    inset rgba(255, 255, 255, 0.6) 0 0 0 2px; */
}

.appTabTray {
  top: 34px;
  right: 1px;
}

.appTabIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.undo {
  background-color: #A0A0A0;
  width: 150px;
  height: 30px;
  line-height: 30px;
  -moz-box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,.24);
  text-shadow: 0px -1px 0px rgba(255,255,255,.2);
  color: rgba( 0,0,0, .8);
  border-radius: 0.4em;
  text-align: center;
  border: none;
  cursor: pointer;
}

.undo:hover {
  background-color: #949494;
}

.undo .close {
  top: 4px;
  left: 4px;
  opacity: 0.5;
}

.undo .close:hover{
  opacity: 1.0;
}

/* InfoItems
----------------------------------*/

.info-item {
  cursor: move;
  border: 1px solid rgba(230,230,230,1);
  background-color: rgba(248,248,248,1);
  border-radius: 0.4em;
  -moz-box-shadow:
    inset rgba(255, 255, 255, 0.6) 0 0 0 2px,
    rgba(0,0,0, .2) 1px 1px 3px;
}

.intro {
  margin: 10px;
}

/* Trenches
----------------------------------*/

.guideTrench {
  opacity: 0.9;
  border: 1px dashed  rgba(0,0,0,.12);
  border-bottom: none;
  border-right: none;
  -moz-box-shadow: 1px 1px 0 rgba(255,255,255,.15);
}

.visibleTrench {
  opacity: 0.05;
}

.activeVisibleTrench {
  opacity: 0;
}

.activeVisibleTrench.activeTrench {
  opacity: 0.45;
}

.visibleTrench.border, 
.activeVisibleTrench.border {
  background-color: red;
}

.visibleTrench.guide, 
.activeVisibleTrench.guide {
  background-color: blue;
}

/* Other
----------------------------------*/

.newTabButton {
  width: 16px;
  height: 15px;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  opacity: .3;
  background-image: url(chrome://browser/skin/tabview/new-tab.png);
}

.newTabButton:hover {
  opacity: 1;
}

.active {
  -moz-box-shadow: 5px 5px 3px rgba(0,0,0,.5);
}

.acceptsDrop {
  -moz-box-shadow: 2px 2px 7px -1px rgba(0,0,0,.6);
}

.titlebar {
  font-size: 12px;
  line-height: 18px;
  height: 18px;
}

input.name {
  background: transparent;
  border: 1px solid transparent;
  color: #999;
  margin: 3px 0px 0px 3px;
  padding: 1px;
  background-image: url(chrome://browser/skin/tabview/edit-light.png);
  padding-left: 20px;
}

.title-container:hover input.name {
  border: 1px solid #ddd;
}

.title-container:hover input.name-locked {
  border: 1px solid transparent !important;
  cursor: default;
}

input.name:focus {
  color: #555;
}

input.defaultName {
  font-style: italic !important;
  background-image-opacity: .1;
  color: transparent;
}

.title-container:hover input.defaultName {
  color: #CCC;
}

.title-container {
  cursor: text;
}

.title-shield {
  margin: 3px 0px 0px 3px;
  padding: 1px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.transparentBorder {
  border: 1px solid transparent !important;
}

.stackExpander {
  opacity: .4;
  cursor: pointer;
  background-image: url(chrome://browser/skin/tabview/stack-expander.png);
  width: 24px;
  height: 24px;
}

.stackExpander:hover {
  opacity: .7 !important;
}

/* Resizable
----------------------------------*/
.resizer {
  background-image: url(chrome://global/skin/icons/resizer.png);
  width: 16px;
  height: 16px;
  bottom: 0px;
  right: 0px;
  opacity: .2;
}

.iq-resizable-handle {
  font-size: 0.1px;
}

.iq-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* Exit button
+----------------------------------*/
#exit-button {
  cursor: default;
  top: 0;
  right: 0;
  width: 28px;
  height: 27px;
  background: url(chrome://browser/skin/tabview/tabview.png) no-repeat scroll 4px 4px #b7b7b7;
  border-bottom: 1px solid #909090;
  border-left: 1px solid #B7B7B7;
  border-top: 1px solid #CFCFCF;
  border-radius: 3px 0 0 3px;
}

/* Search
----------------------------------*/

#search{
  background-color: rgba(0,0,0,.42);
  width: 100%;
  height: 100%;  
}

#searchbox{
  width: 270px;
  height: 30px;
  -moz-box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,1), 0px 0px 9px rgba(0,0,0,.8);
  color: white;
  border: none;
  background-color: #272727;
  border-radius: 0.4em;
  padding-left:5px; padding-right: 5px;
  font-size: 14px;  
}

#actions{
  width: 30px;
  height: 30px;
  background-color: #CFDBE8;
  border: none;
  border-bottom-left-radius: 0.4em;
  border-top-left-radius: 0.4em;    
  -moz-box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,.8), inset 6px 6px 9px rgba(0,0,0,.56);
  opacity: .64;
  text-align: center;
}

#actions #searchbutton{
  background: transparent url(chrome://browser/skin/tabview/search.png) no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  margin-top:5px;
  opacity: .8;  
}

#actions #searchbutton:hover{
  opacity: 1.0;
}

.notMainMatch{
  opacity: .70;
}
