/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#include "HangUIDlg.h"
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_HANGUIDLG DIALOGEX 0, 0, 400, 75
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Continue",IDC_CONTINUE,283,51,50,18
    PUSHBUTTON      "Stop",IDC_STOP,341,51,50,18
    CONTROL         "Check1",IDC_NOFUTURE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,37,32,354,10
    LTEXT           "Static",IDC_MSG,37,7,353,24
    ICON            "",IDC_DLGICON,7,7,20,20
END

