#filter substitution
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="@IDE_PACKAGE_NAME@"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="@MOZ_ANDROID_MIN_SDK_VERSION@"
        android:targetSdkVersion="@ANDROID_TARGET_SDK@" />

</manifest>
