%%HEADER%%

[DEFAULT]
%%DEFAULT_ERRATA%%

support-files = webgl-conformance/mochi-single.html
                webgl-conformance/mochi-wrapper.css
                %%SUPPORT_FILES%%

%%MANIFEST_TESTS%%
