@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: find toolbar ::::: */

findbar {
  background-image: url("chrome://global/skin/icons/white-gray-gradient.gif");
  background-repeat: repeat-x;
  background-position: bottom right;
  background-color: rgb(246, 246, 246);
  border-top: 1px solid #b3b3b3;
  border-bottom: none;
  list-style-image: url("chrome://global/skin/icons/find.png");
  min-width: 1px;
}

.findbar-closebutton {
  padding-right: 4px;
  list-style-image: url("chrome://global/skin/icons/closetab.png");
  border: none;
  background-image: none;
}

.findbar-closebutton:hover {
  list-style-image: url("chrome://global/skin/icons/closetab-hover.png") !important;
}

.findbar-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/closetab-active.png") !important;
}

findbar > toolbarbutton {
  padding-left: 7px;
}

findbar > label {
  font-weight: bold;
  color: #565656;
}

findbar > toolbarbutton > .toolbarbutton-icon {
  height: 16px !important;
  padding: 0;
}

findbar > toolbarbutton > .toolbarbutton-text,
findbar > checkbox > .checkbox-label-box {
  height: 16px !important;
  padding: 1px 7px 1px 2px;
  font-weight: bold;
  color: #565656;
}

findbar .checkbox-icon,
findbar > .findbar-closebutton > .toolbarbutton-text {
  display: none;  
}

findbar .checkbox-check {
  -moz-appearance: checkbox-small;
  margin-left: 7px;
}

findbar .checkbox-label {
  padding-bottom: 0;
}

.findbar-textbox {
  -moz-binding: url("chrome://global/content/bindings/findbar.xml#findbar-textbox");
  background: url("chrome://global/skin/icons/find-bar-background.png") no-repeat;
  -moz-appearance: none;
  height: 22px !important;
  width: 182px !important;
  border: none !important;
  margin: 2px 4px;
  padding: 3px 14px 3px 24px;
}

findbar[flash="true"] > .find-field-container > .findbar-textbox {
  background: url("chrome://global/skin/icons/find-bar-flash.png") no-repeat;
}

.findbar-textbox[status="notfound"] {
  background: url("chrome://global/skin/icons/find-bar-notfound.png") no-repeat;
  color: #FFF;
}

/* find-next button */

.findbar-find-next {
  -moz-image-region: rect(0px 16px 16px 0px);
}

.findbar-find-next:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}

.findbar-find-next[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

/* find-previous button */

.findbar-find-previous {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.findbar-find-previous:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}

.findbar-find-previous[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}

/* highlight button */

.findbar-highlight {
  -moz-image-region: rect(0px 48px 16px 32px);
}

.findbar-highlight:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}

.findbar-highlight[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

.findbar-highlight:active, .findbar-highlight[checked="true"] {
  -moz-image-region: rect(48px 48px 64px 32px);
}

.findbar-highlight[checked="true"]:hover {
  -moz-image-region: rect(64px 48px 80px 32px);
}

.find-status-icon {
  display: none;
}

.findbar-find-status {
  color: #436599 !important;
}

.findbar-find-next > .toolbarbutton-text,
.findbar-find-previous > .toolbarbutton-text,
.findbar-highlight > .toolbarbutton-text {
  margin-left: 0 !important;
}

.findbar-find-next:not([disabled]):hover > .toolbarbutton-text, 
.findbar-find-previous:not([disabled]):hover > .toolbarbutton-text,
.findbar-highlight:not([disabled]):hover > .toolbarbutton-text {
  background: url("chrome://global/skin/toolbar/toolbarbutton-customhover-right.png") no-repeat right center;
  color: #fff;
}

.findbar-find-next:not([disabled]):hover,
.findbar-find-previous:not([disabled]):hover,
.findbar-highlight:not([disabled]):hover {
  background: url("chrome://global/skin/toolbar/toolbarbutton-customhover-left.png") no-repeat left center;
}

.findbar-find-next:not([disabled]):hover > .toolbarbutton-icon,
.findbar-find-previous:not([disabled]):hover > .toolbarbutton-icon,
.findbar-highlight:not([disabled]):hover > .toolbarbutton-icon  {
  background: url("chrome://global/skin/toolbar/toolbarbutton-customhover-mid.png") repeat-x;
  color: #fff;
}
