@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  min-height: 24px;
}

notification[type="info"] {
  color: rgba(255,255,255,0.95);
  background: url("chrome://global/skin/notification/info-bar-background.png") #404040 repeat-x top left;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #2a2a2a;
}

notification[type="warning"] {
  color: rgba(0,0,0,0.95);
  background: url("chrome://global/skin/notification/warning-bar-background.png") #ffc703 repeat-x top left;
  border-top: 1px solid #ffe970;
  border-bottom: 1px solid #bf8a01;
}

notification[type="critical"] {
  color: rgba(255,255,255,0.95);
  background: url("chrome://global/skin/notification/critical-bar-background.png") #980000 repeat-x top left;
  border-top: 1px solid #e35959;
  border-bottom: 1px solid #5d0000;
}

.messageImage {
  width: 16px;
  height: 16px;
  margin: 0px 1px 0px 6px;
}

.messageText {
  margin-top: 2px;
  font-weight: bold;
  -moz-margin-start: 5px;
}

.notification-inner > button {
  -moz-appearance: none !important;
}

.messageButton {
  margin: 0px 5px 0px 5px;
}

.notification-inner {
  border: 0 !important;
}

.messageCloseButton {
  -moz-appearance: none;
  -moz-padding-end: 4px;
  list-style-image: url("chrome://global/skin/icons/closetab.png") !important;
  border: none;
}

.messageCloseButton > .toolbarbutton-text {
  display: none;
}

.messageCloseButton:hover {
  list-style-image: url("chrome://global/skin/icons/closetab-hover.png") !important;
}

.messageCloseButton:hover:active {
  list-style-image: url("chrome://global/skin/icons/closetab-active.png") !important;
}


