@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * Scroll arrows
 */
.autorepeatbutton-up,
.scrollbutton-up
 {
   list-style-image      : url("chrome://global/skin/arrow/arrow-lft-sharp.gif");
 }
 
.autorepeatbutton-down,
.scrollbutton-down
  {
    list-style-image     : url("chrome://global/skin/arrow/arrow-rit-sharp.gif");
  }

.autorepeatbutton-up[orient="vertical"],
.scrollbutton-up[orient="vertical"]
 {
   list-style-image      : url("chrome://global/skin/arrow/arrow-up-sharp.gif");
 }
 
.autorepeatbutton-down[orient="vertical"],
.scrollbutton-down[orient="vertical"]
  {
    list-style-image     : url("chrome://global/skin/arrow/arrow-dn-sharp.gif");
  }

autorepeatbutton
  {
    -moz-box-align       : center;
    -moz-box-pack        : center;
    margin               : 1px 2px 2px 1px;
    padding              : 4px;
  }
