<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaEmbeddingPlugin</string>
	<key>CFBundleGetInfoString</key>
	<string>Java Embedding Plugin 0.9.6.1, Copyright (c) 2007 Steven Michaud</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Java Embedding Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.6.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.6.1</string>
	<key>NSJavaNeeded</key>
	<string>YES</string>
	<key>NSJavaPath</key>
	<array>
		<string>JavaEmbeddingPlugin.jar</string>
	</array>
	<key>NSJavaRoot</key>
	<string>Contents/Resources/Java</string>
</dict>
</plist>
