/* ::::: Folder Pane ::::: */

treechildren::-moz-tree-image(folderNameCol) {
  margin-right: 2px;
  list-style-image: url("chrome://messenger/skin/icons/folder.png");
  -moz-image-region: rect(0 16px 16px 0);
}

treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
  -moz-image-region: rect(16px 16px 32px 0);
}

treechildren::-moz-tree-image(folderNameCol, selected, open) {
  -moz-image-region: rect(0 32px 16px 16px);
}

treechildren::-moz-tree-image(folderNameCol, selected, open, newMessages-true) {
  -moz-image-region: rect(16px 32px 32px 16px);
}

/* ..... Inbox ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
  -moz-image-region: rect(0 48px 16px 32px);
}

treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
  -moz-image-region: rect(16px 48px 32px 32px);
}

/* ..... Sent ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
  -moz-image-region: rect(0 64px 16px 48px);
}

/* ..... Unsent ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Unsent Messages) {
  -moz-image-region: rect(0 80px 16px 64px);
}

/* ..... Drafts ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
  -moz-image-region: rect(0 96px 16px 80px);
}

/* ..... Templates ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
  -moz-image-region: rect(0 112px 16px 96px);
}

/* ..... Junk ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
  -moz-image-region: rect(0 128px 16px 112px);
}

/* ..... Trash ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
  -moz-image-region: rect(0 144px 16px 128px);
}

/* ..... Shared folders .....

treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
  -moz-image-region: rect(0 192px 16px 176px);
}

*/ 

/* ..... Saved Search Folder ..... */

treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
  -moz-image-region: rect(0 176px 16px 160px);
}

treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual, newMessages-true) {
  -moz-image-region: rect(16px 176px 32px 160px);
}

/* ..... Mail server  ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0 16px 16px 0);
}

treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true) {
  -moz-image-region: rect(16px 16px 32px 0);
}

treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
  font-weight: bold;
}

/* ..... Secure mail server ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-pop3, isSecure-true),
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-imap, isSecure-true) {
  -moz-image-region: rect(0 32px 16px 16px);
}

treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true, isSecure-true) {
  -moz-image-region: rect(16px 32px 32px 16px);
}

/* ..... Local folders ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
  -moz-image-region: rect(0 48px 16px 32px);
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none, biffState-NewMail) {
  -moz-image-region: rect(16px 48px 32px 32px);
}

/* ..... News server ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) {
  -moz-image-region: rect(0 64px 16px 48px) !important;
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp, isSecure-true) {
  -moz-image-region: rect(0 80px 16px 64px) !important;
}

/* ..... Newsgroup ..... */

treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
  -moz-image-region: rect(0 160px 16px 144px);
}

/* ::::: All Servers ::::: */

treechildren::-moz-tree-cell-text(closed, subfoldersHaveUnreadMessages-true) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(folderNameCol, isServer-true),
treechildren::-moz-tree-cell-text(hasUnreadMessages-true) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(folderNameCol, noSelect-true) {
  color: gray;
  font-style: italic;
}

.tree-folder-checkbox {
  list-style-image: none;
}

/* ::::: Folder Summary Popup ::::: */

.folderSummary-message-row {
  /* This max width ends up dictating the overall width of the popup
     because it controls how large the preview, subject and sender text can be
     before cropping kicks in */
  max-width: 450px;
}

.folderSummary-subject {
  font-weight: bold; 
}

.folderSummary-previewText {
  color: grey; 
}
