<!DOCTYPE HTML>
<html>
<body style="background:white;">
<div style="background-color: black; width: 150px; height: 100px; position: absolute; left: 10px; top: 10px;"></div>

<!-- Left side vertical. -->
<div style="position: absolute; left: 9px; top: 9px; width: 2px; height: 102px; z-index: 2; background: red;"></div>

<!-- Right side vertical. -->
<div style="position: absolute; left: 159px; top: 9px; width: 2px; height: 102px; z-index: 2; background: red;"></div>

<!-- Top horizontal bar. -->
<div style="position: absolute; left: 9px; top: 9px; width: 152px; height: 2px; z-index: 2; background: red;"></div>

<!-- Bottom horizontal bar. -->
<div style="position: absolute; left: 9px; top: 109px; width: 152px; height: 2px; z-index: 2; background: red;"></div>

</body>
</html>
