<!DOCTYPE HTML>
<html>
<head>
<style>
#mask {
  position: absolute;
  z-index: 3;
  width: 7px;
  height: 5px;
  background-color: green;
  top: 10px;
  left: 10px;
}
</style>
</head>
<body style="background:white;">
<!--
Test if video displays correctly when it's smaller than the amount of space
required to draw its controls. The controls should be clipped to the css
specified dimensions.

We draw a mask over the video to prevent the status overlay interferring. The controls
need to be on (so that the test would fail if they drew outside of the element's
area) but we need to mask them out as we can't guarantee the status overlay
will or won't be showing or fading in or out when the reftest does its comparison.
-->
<div id="mask"></div>
<video controls src="black140x100.ogv"
       style="position:absolute; left: 10px; top: 10px; width: 7px; height:5px;">
</video>

</body>
</html>
