div(id='tweet-button')
  = 'Post a '
  a(href='https://twitter.com/intent/tweet?button_hashtag=spdytwitlog&text=This%20text%20will%20appear%20on',class='twitter-hashtag-button',data-size='small',data-related='indutny',data-url='https://spdy-twitlog.indutny.com/') tweet
  = ' and it\'ll be displayed here'

section(id='tweets')
