/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/******************************************************************************/
/* General */

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.mainFrame {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainFrame > .treeTableBox {
  flex: 1 1 auto;
  overflow: auto;
}

/******************************************************************************/
/* TreeView Customization */

.treeTable {
  width: 100%;
}

/* Space for read only properties icon */
.treeTable td.treeValueCell {
  padding-inline-start: 16px;
}

.treeTable .treeLabel,
.treeTable td.treeValueCell .objectBox {
  direction: ltr; /* Don't change the direction of english labels */
}

/* Read only properties have a padlock icon */
.treeTable tr:not(.writable) td.treeValueCell {
  background: url("chrome://devtools/skin/images/read-only.svg") no-repeat;
  background-position: 1px 5px;
  background-size: 10px 10px;
}

.treeTable tr:not(.writable) td.treeValueCell:dir(rtl) {
  background-position-x: right 1px;
}

/* Non-enumerable properties are grayed out */
.treeTable tr:not(.enumerable) td.treeValueCell {
  opacity: 0.7;
}

.treeTable > tbody > tr > td {
  border-bottom: 1px solid #EFEFEF;
}

/* Label Types */
.treeTable .userLabel,
.treeTable .userClassLabel,
.treeTable .userFunctionLabel {
  font-weight: bold;
}

.treeTable .userLabel {
  color: #000000;
}

.treeTable .userClassLabel {
  color: #E90000;
}

.treeTable .userFunctionLabel {
  color: #025E2A;
}

.treeTable .domLabel {
  color: #000000;
}

.treeTable .domClassLabel {
  color: #E90000;
}

.treeTable .domFunctionLabel {
  color: #025E2A;
}

.treeTable .ordinalLabel {
  color: SlateBlue;
  font-weight: bold;
}

/******************************************************************************/
/* Refresh button */
#dom-refresh-button::before {
  background-image: url("chrome://devtools/skin/images/reload.svg");
}

/******************************************************************************/
/* Theme Dark */

.theme-dark .treeTable > tbody > tr > td {
  border-bottom: none;
}

.theme-dark body {
  background-color: var(--theme-body-background);
}
