[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Ed Fuentetaja <efuentetaja@acm.org>
  #                 Greg Hendricks <ghendricks@novell.com>
  #%]

[%# INTERFACE:
  # ...
  #%]
  
[%############################################################################%]
[%# Template Initialization                                                  #%]
[%############################################################################%]

[% PROCESS global/variables.none.tmpl %]

[%############################################################################%]
[%# Page Header                                                              #%]
[%############################################################################%]

[% PROCESS global/header.html.tmpl
  title = title
  style = style
%]

[% PROCESS testopia/style.none.tmpl %]

[% PROCESS testopia/messages.html.tmpl %]

[% UNLESS tr_error %]
<FORM METHOD="POST" ACTION="tr_buglist_to_plan.cgi">
  <INPUT TYPE="HIDDEN" NAME="form_action" VALUE="add">
  <INPUT TYPE="HIDDEN" NAME="run_id" VALUE="$run_id">
  <p><b>Select a test plan:</b>&nbsp;&nbsp;
  <select name="plan_id" id="plan_id">
  [% FOREACH plan = plans %]
    <option value="[% plan.plan_id FILTER none %]">[% plan.name FILTER html %]</option>
  [% END %]
  </select>
  </p>
  <p><INPUT TYPE="submit" VALUE="Continue >>"></p>
</FORM>
[% END %]
<p>
[% IF $run_id %]
    Back to <A HREF="tr_testrun_regression.cgi?run_id=[% run_id FILTER none %]">test run regression test cases</a>
[% ELSE %]
    Back to <A HREF="buglist.cgi?regetlastlist=1">bug list</a>
[% END %]
</p>
[% PROCESS global/footer.html.tmpl %]
