toolbar {
    background-color: lightgray;
    border-bottom: solid darkGray 1px;
    border-top: solid white 1px;
    border-left: solid white 1px;
    border-right: solid darkGray 1px;
    font: 10pt sans-serif;
}
toolbar[collapsed] {
	display:none;
}
toolbar[hidden] {
	display:none;
}

toolbox { 
        background-color:darkgray;
}

:TOOLBOX-NORMAL {
	background-color: lightgray;
	color: lightgray;
	border-bottom: solid darkGray 1px;
	border-top: solid white 0px;
	border-left: solid white 0px;
	border-right: solid darkGray 1px;
}
:TOOLBOX-ROLLOVER {
	background-color: purple;
	color: green;
	border-bottom: solid darkGray 1px;
	border-top: solid white 0px;
	border-left: solid white 0px;
	border-right: solid darkGray 1px;
}

window { 
  background-color:rgb(192,192,192);
  display: block; 
}

button.throbber {
	width: 32px;
	height: 32px;
	background-color:red;
	background-image:url("resource:/res/throbber/anims00.gif");
}
throbber [busy] {
	background-image:url("resource:/res/throbber/anims07.gif");
}