/* -*- Mode: C; c-basic-offset: 2 -*-

   Style rules specific to the Flash Panel. These are kludged right now.

 */

treeitem[type="http://home.netscape.com/NC-rdf#StockFlash"] > treecell > titledbutton {
  list-style-image: url("resource:/res/rdf/stock.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#OnlinePresence"] > treecell > titledbutton {
  list-style-image: url("resource:/res/rdf/online.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Biff"] > treecell > titledbutton {
  list-style-image: url("resource:/res/rdf/unread.gif");
}

treeitem[type="http://www.mozilla.org/RDF#BustedBuild"] > treecell > titledbutton {
  list-style-image: url("file:///D|/tmp/flames.gif");
}

treeitem[type="http://www.mozilla.org/RDF#TreeStatus"] > treecell > titledbutton {
  list-style-image: none;
}

