<script type="text/javascript">
function enableProductModeButtons() {
  document.getElementById("edit_product_button").disabled=false;
  document.getElementById("delete_product_button").disabled=false;
}

function disableProductModeButtons() {
  document.getElementById("edit_product_button").disabled=true;
  document.getElementById("delete_product_button").disabled=true;
}

function loadProduct() {
  var product_select = document.getElementById("product_id");

  if (! product_select ||
      product_select.options[product_select.selectedIndex].value=="") {
    disableProductModeButtons();
    document.getElementById('edit_product_form_div').style.display = 'none';
    disableForm('edit_product_form');
    blankProductForm('edit_product_form');
    return false;
  }

  var product_id = product_select.options[product_select.selectedIndex].value;

  disableForm('edit_product_form');
  toggleMessage('loading','Loading Product ID# ' + product_id + '...');
  var url = 'json.cgi?product_id=' + product_id;
  fetchJSON(url,populateProduct);
}

function populateProduct(data) {
  product=data;
  document.getElementById('edit_product_form_product_id').value = product.product_id;
  document.getElementById('edit_product_form_product_id_display').innerHTML = product.product_id;
  document.getElementById('edit_product_form_name').value = product.name;
  document.getElementById('edit_product_form_iconpath').value = product.iconpath;
  var enabled_em = document.getElementById('edit_product_form_enabled')
  if (product.enabled == 1) {
    enabled_em.checked = true;
  } else {
    enabled_em.checked = false;
  }

  document.getElementById('edit_product_form_div').style.display = 'block';
  enableProductModeButtons();
}

function blankProductForm(formid) {
  blankForm(formid);
  document.getElementById('edit_product_form_product_id_display').innerHTML = '';
}

function switchProductFormToAdd() {
  disableProductModeButtons();
  blankProductForm('edit_product_form');
  document.getElementById('edit_product_form_submit').value = 'Add Product';
  document.getElementById('edit_product_form_mode').value = 'add';
  enableForm('edit_product_form');
  document.getElementById('edit_product_form_div').style.display = 'block';
}

function switchProductFormToEdit() {
  document.getElementById('edit_product_form_submit').value = 'Submit Edits';
  document.getElementById('edit_product_form_mode').value = 'edit';
  enableForm('edit_product_form');
  document.getElementById('edit_product_form_div').style.display = 'block';
}


function checkProductForm(f) {
  return (
          checkString(f.edit_product_form_name,"product name",false) &&
          checkString(f.edit_product_form_iconpath,"product icon path",true)
         );
}

function resetProduct() {
  if (document.getElementById('edit_product_form_product_id').value != '') {
    populateProduct(product);
    switchProductFormToEdit();   
  } else {
    switchProductFormToAdd();   
  }
}
</script>

<h1 id="products_header" class="firstHeading"><a name="manage_products" class="collapse-link">Manage Products&nbsp;&raquo;</a></h1>

<div id="manage_products_div" class="collapsable">
<div class="section-full">
  <div class="section-header">Existing Products</div>

  <div class="section-content">

    <form id="select_product_and_mode_form" name="select_product_and_mode_form" method="post" action="manage_categories.cgi">
      <table border="0" cellspacing="0" cellpadding="5">
        <tr>
        <td>
        [% INCLUDE form_widgets/select_product_id.tmpl name="product_id" placeholder=1 size=5 show_name=1 onChange="loadProduct();" %]
        </td>
        </tr>
        <tr>
        <td>
        <input id="add_product_button" name="add_product_button" class="manage" type="button" onClick="switchProductFormToAdd();" value="Add new product">&nbsp;
        <input id="edit_product_button" name="edit_product_button" class="manage" type="button" onClick="switchProductFormToEdit();" value="Edit product" disabled>&nbsp;
        <input id="delete_product_button" name="delete_product_button" class="manage" type="submit" onClick="return confirm('Really delete this product?')
;" value="Delete product" disabled>&nbsp;
        </td>
        </tr>
      </table>
    </form>

  </div> <!--end section-content-->

  <div style="display: none;" id="edit_product_form_div">
  <hr />
    <div id="product-title" class="section-header">Product Info</div>
    <div class="section-content">
      <form id="edit_product_form" name="edit_product_form" method="post" action="manage_categories.cgi" onSubmit="return checkProductForm(this);">
        <input id="edit_product_form_mode" name="edit_product_form_mode" type="hidden" value="edit">
        <input id="edit_product_form_product_id" name="edit_product_form_product_id" type="hidden" value="">

        <table class="manage">
          <tr>
          <td class="headerleft">Product ID#:</td>
          <td name="edit_product_form_product_id_display" id="edit_product_form_product_id_display"></td>
          </tr>
          <tr>
          <td class="headerleft">Name:</td>
          <td colspan="2"><input name="edit_product_form_name"
                                 id="edit_product_form_name"
                                 value=""
                                 size="55"/ disabled></td>
          </tr>
          <tr>
          <td class="headerleft">Icon Path:</td>
          <td colspan="2"><input name="edit_product_form_iconpath"
                                 id="edit_product_form_iconpath"
                                 value=""
                                 size="55"/ disabled></td>
          </tr>
          <tr>
          <td class="headerleft">Enabled?</td>
          <td><input name="edit_product_form_enabled"
                     id="edit_product_form_enabled"
                     type="checkbox"
                     value="1" disabled>
          </td>
          <td>&lArr;&nbsp;Uncheck this to completely disable this product. <b>NOTE</b>: this will have also disable all associated test runs, test groups, subgroups, and testcases.</td>
          </tr>
          <tr>
          <td colspan="3" align="right"><input id="edit_product_form_reset" class="button" type="button" value="Reset" disabled onClick="resetProduct();" />&nbsp;<input class="button" type="submit" id="edit_product_form_submit" name="edit_product_form_submit" value="Submit Edits" disabled /></div>
          </td>
          </tr>
        </table>
      </form>
    </div>
  </div>

</div> <!--end section-full-->
</div>