<h1 id="testdays_header" class="firstHeading"><a name="manage_testdays" class="collapse-link">Manage Testdays&nbsp;&raquo;</a></h1>

<div id="manage_testdays_div" class="collapsable">
<div class="section-full">
  <div class="section-header">Existing Testdays</div>

  <div class="section-content">

    <form id="select_testday_and_mode_form" name="select_testday_and_mode_form" method="post" action="manage_categories.cgi">
      <table border="0" cellspacing="0" cellpadding="5">
        <tr>
        <td>
        [% INCLUDE form_widgets/select_testday_id.tmpl name="testday_id" placeholder=1 size=5 show_name=1 onchange="loadTestday();" %]
        </td>
        </tr>
        <tr>
        <td>
        <input id="add_testday_button" name="add_testday_button" class="manage" type="button" onclick="switchTestdayFormToAdd();" value="Add new testday">&nbsp;
        <input id="edit_testday_button" name="edit_testday_button" class="manage" type="button" onclick="switchTestdayFormToEdit();" value="Edit testday" disabled>&nbsp;
        <input id="delete_testday_button" name="delete_testday_button" class="manage" type="submit" onclick="return confirm('Really delete this testday?')
;" value="Delete testday" disabled>&nbsp;
        </td>
        </tr>
      </table>
    </form>

  </div> <!--end section-content-->

  <div style="display: none;" id="edit_testday_form_div">
  <hr />
    <div id="testday-title" class="section-header">Testday Info</div>
    <div class="section-content">
      <form id="edit_testday_form" name="edit_testday_form" method="post" action="manage_categories.cgi" onSubmit="return checkTestdayForm(this);">
        <input id="edit_testday_form_mode" name="edit_testday_form_mode" type="hidden" value="edit">
        <input id="edit_testday_form_testday_id" name="edit_testday_form_testday_id" type="hidden" value="">

        <table class="manage">
          <tr>
          <td class="headerleft">Testday ID#:</td>
          <td name="edit_testday_form_testday_id_display" id="edit_testday_form_testday_id_display"></td>
          </tr>
          <tr>
          <td class="headerleft">Description:</td>
          <td colspan="2"><input name="edit_testday_form_desc"
                                 id="edit_testday_form_desc"
                                 value=""
                                 size="55"/ disabled></td>
          </tr>
          <tr>
          <td class="headerleft">Start Timestamp:</td>
          <td><input name="edit_testday_form_start_timestamp"
                     id="edit_testday_form_start_timestamp"
                     value=""
                     size="14"/ disabled></td>
          <td>&lArr; YYYYMMDDHHmmSS (required)</td>
          </tr>
          <tr>
          <td class="headerleft">Finish Timestamp:</td>
          <td><input name="edit_testday_form_finish_timestamp"
                     id="edit_testday_form_finish_timestamp"
                     value=""
                     size="14"/ disabled></td>
          <td>&lArr; YYYYMMDDHHmmSS (required)</td>         
          </tr>
          <tr>
          <td class="headerleft">Product:</td>
          <td colspan="2">[% INCLUDE form_widgets/select_product_id.tmpl name="testday_product_id" placeholder=1 onchange="changeProduct(this,document.getElementById('testday_branch_id'),document.getElementById('testday_testgroup_id'));" %]</td>
          </tr>
          <tr>
            <td class="headerleft">Branch:</td>
            <td>[% INCLUDE form_widgets/select_branch_id.tmpl name="testday_branch_id" placeholder=1 onchange="changeBranch(this,document.getElementById('testday_testgroup_id'));" %]</td>
            <td>&lArr; Select Product first</td>
          </tr>
          <tr>
            <td class="headerleft">Testgroup:</td>
            <td>[% INCLUDE form_widgets/select_testgroup_id.tmpl name="testday_testgroup_id" placeholder=1 %]</td>
            <td>&lArr; Select Branch first</td>
          </tr>
          <tr>
            <td class="headerleft">Build ID:</td>
            <td><input name="testday_build_id" id="testday_build_id" type="text" size="10"></td>
          </tr>
          <tr>
            <td class="headerleft">Locale:</td>
            <td>[% INCLUDE form_widgets/select_locale.tmpl name="testday_locale" placeholder=1 %]
          </tr>

          <tr>
          <td colspan="3" align="right"><input id="edit_testday_form_reset" class="button" type="button" value="Reset" disabled onclick="resetTestday();" />&nbsp;<input class="button" type="submit" id="edit_testday_form_submit" name="edit_testday_form_submit" value="Submit Edits" disabled /></div>
          </td>
          </tr>
        </table>
      </form>
    </div>
  </div>

</div> <!--end section-full-->
</div>