[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Testopia System.
  #
  # The Initial Developer of the Original Code is Greg Hendricks.
  # Portions created by Greg Hendricks are Copyright (C) 2001
  # Novell. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #%]

[%# INTERFACE:
  # ...
  #%]
  
[% title = "Bug Impact Report for Plan $plan.id - $plan.name" %]
[% PROCESS global/header.html.tmpl %]

<p>This report details the bugs detected in this test plan and the number of test cases that each bug is attached to.
Those bugs impacting the most test cases appear at the top. 
Click the link under Test Cases to be taken to a list of those cases.
</p>
<table>
  <tr class="bz_row_header">
    <th># of Test Cases</th>
    <th>Bug</th>
  </tr>
[% FOREACH row = bug_table %]
  <tr class="[% loop.count % 2 == 1 ? "bz_row_odd" : "bz_row_even" %]">
    <td align="center"><a href="tr_list_cases.cgi?bug_id=[% row.bug_id %]&plan_id=[% plan.id FILTER none %]">[% row.casecount FILTER html %]</a></td>
    <td align="center">[% row.bug_id FILTER bug_link(row.bug_id) %]</td>
  </tr>
[% END %]
</table>
<p>
<a href="tr_show_plan.cgi?plan_id=[% plan.id FILTER none %]">Back</a> to plan.
</p>
[% PROCESS global/footer.html.tmpl %]