/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Font for code */

:root {
  font: message-box;
}

.devtools-monospace {
  font-family: Consolas, monospace;
}

/* Toolbar and Toolbar items */

.devtools-toolbar {
  -moz-appearance: none;
  padding: 4px 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.devtools-menulist,
.devtools-toolbarbutton {
  -moz-appearance: none;
  -moz-box-align: center;
  min-width: 78px;
  min-height: 22px;
  text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
  border: 1px solid hsla(211,68%,6%,.5);
  border-radius: 3px;
  background: linear-gradient(hsla(209,13%,54%,.35), hsla(209,13%,54%,.1) 85%, hsla(209,13%,54%,.2)) padding-box;
  box-shadow: 0 1px 0 hsla(209,29%,72%,.15) inset, 0 0 0 1px hsla(209,29%,72%,.1) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
  margin: 0;
  -moz-margin-end: 3px;
  color: inherit;
}

.devtools-toolbarbutton > .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal;
}

.devtools-menulist:-moz-focusring,
.devtools-toolbarbutton:-moz-focusring {
  outline: 1px dotted hsla(210,30%,85%,0.7);
  outline-offset: -4px;
}

.devtools-toolbarbutton > .toolbarbutton-icon {
  margin: 0;
}

.devtools-toolbarbutton:not([label]) {
  min-width: 32px;
}

.devtools-toolbarbutton:not([label]) > .toolbarbutton-text {
  display: none;
}

.devtools-toolbarbutton:not([checked=true]):hover:active {
  background-color: hsla(210,18%,9%,.1);
  background-image: linear-gradient(hsla(209,13%,54%,.35), hsla(209,13%,54%,.1) 85%, hsla(209,13%,54%,.2));
  box-shadow: 0 1px 3px hsla(211,68%,6%,.5) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
}

.devtools-menulist[open=true],
.devtools-toolbarbutton[open=true],
.devtools-toolbarbutton[checked=true] {
  border-color: hsla(211,68%,6%,.6);
  background: linear-gradient(hsla(211,68%,6%,.1), hsla(211,68%,6%,.2));
  box-shadow: 0 1px 3px hsla(211,68%,6%,.5) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
}

.devtools-toolbarbutton[checked=true] {
  color: hsl(200,100%,60%) !important;
}

.devtools-toolbarbutton[checked=true]:hover:active {
  background-color: hsla(211,68%,6%,.2);
}

.devtools-option-toolbarbutton {
  -moz-appearance: none;
  list-style-image: url("chrome://browser/skin/devtools/option-icon.png");
  -moz-image-region: rect(0px 16px 16px 0px);
  background: none;
  border: none;
}

.devtools-option-toolbarbutton[open=true] {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.devtools-menulist > .menulist-label-box {
  text-align: center;
}

.devtools-menulist > .menulist-dropmarker {
  -moz-appearance: none;
  list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
  border-width: 0;
  background-color: transparent;
}

.devtools-menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
  color: hsl(210,30%,85%) !important;
  background-color: transparent;
}

.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-button {
  -moz-appearance: none;
  color: inherit;
  border-width: 0;
  -moz-border-end: 1px solid hsla(210,8%,5%,.45);
  box-shadow: -1px 0 0 hsla(210,16%,76%,.15) inset, 1px 0 0 hsla(210,16%,76%,.15);
}

.devtools-toolbarbutton[type=menu-button]:-moz-locale-dir(rtl) > .toolbarbutton-menubutton-button {
  box-shadow: 1px 0 0 hsla(210,16%,76%,.15) inset, -1px 0 0 hsla(210,16%,76%,.15);
}

.devtools-toolbarbutton[type=menu-button] {
  padding: 0 1px;
  -moz-box-align: stretch;
}

.devtools-toolbarbutton[type=menu] > .toolbarbutton-menu-dropmarker,
.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none !important;
  list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
  -moz-box-align: center;
}

/* Text input */

.devtools-textinput,
.devtools-searchinput {
  -moz-appearance: none;
  margin: 0 3px;
  min-height: 22px;
  border: 1px solid hsla(211,68%,6%,.6);
  box-shadow: inset 0 1px 0 hsla(211,68%,6%,.05), 0 0 0 1px hsla(210,40%,83%,.1);
  border-radius: 2px;
  background-color: transparent;
  background-image: linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
  padding: 3px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
  color: inherit;
}

.devtools-searchinput {
  background-image: url(magnifying-glass.png), linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
  background-repeat: no-repeat;
  background-position: 4px center, top left, top left;
  padding-top: 0;
  padding-bottom: 0;
  -moz-padding-start: 18px;
  -moz-padding-end: 12px;
  font-size: inherit;
}

.devtools-searchinput[focused] {
  border-color: hsl(200,70%,40%) hsl(200,75%,37%) hsl(200,80%,35%);
  background-origin: padding-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 1px hsla(211,68%,6%,.1);
}

.devtools-searchinput:-moz-locale-dir(rtl) {
  background-position: calc(100% - 4px) center, top left, top left;
}

.devtools-searchinput > .textbox-input-box > .textbox-search-icons {
  display: none;
}

.devtools-searchinput > .textbox-input-box > .textbox-input::-moz-placeholder {
  opacity: 1.0;
  color: hsl(208,10%,66%);
}

.devtools-no-search-result {
  box-shadow: inset 0 0 0 1px hsla(0,68%,6%,.35);
  border-color: hsl(10,70%,40%) hsl(10,75%,37%) hsl(10,80%,35%) !important;
  background-image: url(magnifying-glass.png), linear-gradient(hsla(1,16%,76%,.45), hsla(1,16%,76%,.75));
}

/* Close button */

.devtools-closebutton {
  list-style-image: url("chrome://browser/skin/devtools/close.png");
  -moz-appearance: none;
  border: none;
  margin: 0 4px;
  min-width: 16px;
  width: 16px;
  opacity: 0.6;
}

.devtools-closebutton > .toolbarbutton-text {
  display: none;
}

.devtools-closebutton:hover {
  opacity: 0.8;
}

.devtools-closebutton:hover:active {
  opacity: 1;
}

/* Splitters */

.devtools-horizontal-splitter {
  -moz-appearance: none;
  border-width: 1px 0 0 0;
  -moz-border-top-colors: black;
  background-color: transparent;
  min-height: 3px;
  height: 3px;
  margin-bottom: -3px;
  position: relative;
}

.devtools-side-splitter {
  border: 0;
  -moz-border-start: 1px solid #242b33;
  min-width: 0;
  width: 3px;
  background-color: transparent;
  -moz-margin-end: -3px;
  position: relative;
  cursor: e-resize;
}

/* In-tools sidebar */

.devtools-toolbox-side-iframe {
  min-width: 465px;
}

.devtools-sidebar-tabs {
  -moz-appearance: none;
  margin: 0;
}

.devtools-sidebar-tabs > tabpanels {
  -moz-appearance: none;
  padding: 0;
  border: 0;
}

.devtools-sidebar-tabs > tabs {
  -moz-appearance: none;
  position: static;
  color: #b6babf;
  margin-bottom: 0;
  padding: 0;
  background-color: #343c45;
  border-width: 0 0 1px 0;
  border-color: hsla(210,8%,5%,.6);
  border-style: solid;
  overflow: hidden;
}

.devtools-sidebar-tabs > tabs > .tabs-right,
.devtools-sidebar-tabs > tabs > .tabs-left {
  display: none;
}

.devtools-sidebar-tabs > tabs > tab {
  -moz-appearance: none;
  /* We want to match the height of a toolbar with a toolbarbutton
   * First, we need to replicated the padding of toolbar (4px),
   * then we need to take the border of the buttons into account (1px).
   */
  padding: 5px 3px;
  -moz-padding-start: 6px;
  margin: 0;
  min-width: 78px;
  /* toolbar's min-height is button min-height (25px) + padding (2 * 4px): 33px.
   * -1px because the parent element (<tabs>) comes with a 1px bottom border.
   */
  min-height: 32px;
  text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
  text-align: center;
  color: inherit;
  -moz-box-flex: 1;
  border-width: 0;
  background: transparent;
  border-radius: 0;
  position: static;
  -moz-margin-start: -1px;
}

.devtools-sidebar-tabs > tabs > tab:-moz-focusring {
  position: static;
}

.devtools-sidebar-tabs > tabs > tab:last-of-type {
  -moz-border-end-width: 0;
}

.devtools-sidebar-tabs > tabs > tab:first-of-type {
  -moz-margin-start: -3px;
}

.devtools-sidebar-tabs > tabs > tab {
  background-size: calc(100% - 2px) 100%, 1px 100%;
  background-repeat: no-repeat;
  background-position: 1px, 0;
}

.devtools-sidebar-tabs:-moz-locale-dir(rtl) > tabs > tab {
  background-position: calc(100% - 1px), 100%;
}

%filter substitution
%define smallSeparator linear-gradient(transparent 15%, #5a6169 15%, #5a6169 85%, transparent 85%)
%define solidSeparator linear-gradient(#2d5b7d, #2d5b7d)

.devtools-sidebar-tabs > tabs > tab {
  background-image: linear-gradient(transparent, transparent), @smallSeparator@;
}

.devtools-sidebar-tabs > tabs > tab:hover {
  background-image: linear-gradient(hsla(206,37%,4%,.2), hsla(206,37%,4%,.2)), @smallSeparator@;
}

.devtools-sidebar-tabs > tabs > tab:hover:active {
  background-image: linear-gradient(hsla(206,37%,4%,.4), hsla(206,37%,4%,.4)), @smallSeparator@;
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab {
  background-image: linear-gradient(transparent, transparent), @solidSeparator@;
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab:hover {
  background-image: linear-gradient(hsla(206,37%,4%,.2), hsla(206,37%,4%,.2)), @solidSeparator@;
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab:hover:active {
  background-image: linear-gradient(hsla(206,37%,4%,.4), hsla(206,37%,4%,.4)), @solidSeparator@;
}

.devtools-sidebar-tabs > tabs > tab[selected=true] {
  color: #f5f7fa;
  background-image: linear-gradient(#1d4f73, #1d4f73), @solidSeparator@;
}

.devtools-sidebar-tabs > tabs > tab[selected=true]:hover {
  background-image: linear-gradient(#274f64, #274f64), @solidSeparator@;
}

.devtools-sidebar-tabs > tabs > tab[selected=true]:hover:active {
  background-image: linear-gradient(#1f3e4f, #1f3e4f), @solidSeparator@;
}

%include ../../shared/devtools/common.inc.css
