{
  "extends": "../../.eslintrc",
  "rules": {
    // Require spacing around =>
    "arrow-spacing": 2,

    // No space before always a space after a comma
    "comma-spacing": [2, {"before": false, "after": true}],

    // Commas at the end of the line not the start
    "comma-style": 2,
  }
}
