<!DOCTYPE html>
<style>
  #target { color: red; }
  #target.green { color: green; }
</style>
<span id="target">
  <div></div>
  First <span id="next"> Third</span>
  <div></div>
</span>
<script>
  onload = function() {
    var s = document.querySelector("#target");
    window.color = getComputedStyle(s).color;
    s.className = "green";
    window.newColor = getComputedStyle(s).color;
    s.insertBefore(document.createTextNode("Second"),
                   s.querySelector("#next"));
  }
</script>
