/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 #appcontent[devtoolstheme="light"] {
  --rdm-browser-container-background: #F5F5F6;
  --rdm-browser-box-shadow: 0 4px 4px 0 rgba(155, 155, 155, 0.26);
}

#appcontent[devtoolstheme="dark"] {
  --rdm-browser-container-background: #18181a; /* This should map to --theme-toolbar-background. */
  --rdm-browser-box-shadow: 0 4px 4px 0 rgba(105, 105, 105, 0.26);
}

.browserContainer.responsive-mode {
  background-color: var(--rdm-browser-container-background);
}

.browserContainer.responsive-mode .browserStack > .rdm-toolbar {
  border: none;
  position: absolute;
  width: 100%;
  height: 30px;
}

.browserContainer.responsive-mode .browserStack.device-modal-opened > .rdm-toolbar {
  height: 100%;
}

.browserContainer.responsive-mode > .browserStack {
  position: relative;
  min-height: 0;
  min-width: 0;
  overflow: auto;

  /* This could go post https://bugzilla.mozilla.org/show_bug.cgi?id=1576946 */
  display: grid;
}

.browserContainer.responsive-mode > .browserStack.device-modal-opened {
  overflow: hidden;
}

.browserContainer.responsive-mode > .browserStack > * {
  justify-self: center;
  /* This could go post https://bugzilla.mozilla.org/show_bug.cgi?id=1576946 */
  grid-area: 1 / 1;
  height: var(--rdm-height);
  width: var(--rdm-width);
}

.browserContainer.responsive-mode > .browserStack > browser {
  border: 1px solid var(--devtools-splitter-color);
  box-shadow: var(--rdm-browser-box-shadow);
  margin-top: 65px;
}
