
.below-search-snippet {
  margin: 0 auto 16px;

  &.withButton {
    padding: 0 25px;
    margin: auto;

    // Add more padding if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      padding: 0 50px;
    }

    .snippet-hover-wrapper {

      &:hover {
        background-color: var(--newtab-element-hover-color);

        .blockButton {
          display: block;
        }
      }
    }
  }
}

.SimpleBelowSearchSnippet {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  position: relative;
  line-height: 40px;
  width: 736px;
  margin: auto;
  z-index: auto;

  &.active {
    background-color: var(--newtab-element-hover-color);
  }

  .innerWrapper {
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: var(--newtab-card-shadow);
    flex-direction: column;
    padding: 16px;
    text-align: center;
    width: 100%;

    @mixin full-width-styles {
      align-items: flex-start;
      background-color: inherit;
      box-shadow: none;
      flex-direction: row;
      padding: 0;
      text-align: inherit;
    }

    @media (min-width: $break-point-medium) {
      @include full-width-styles;
    }

    // Disable breakpoints for now if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      @include full-width-styles;
    }
  }

  .blockButton {
    display: block;
    inset-inline-end: 20px;
    opacity: 1;
    top: 24px;
  }

  .icon {
    height: 32px;
    margin-inline-start: 12px;
    margin-top: 15px;
    width: 32px;

    @mixin full-width-styles {
      height: 24px;
      margin-top: 10px;
      width: 24px;
    }

    @media (min-width: $break-point-medium) {
      @include full-width-styles;
    }

    // Disable breakpoints for now if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      @include full-width-styles;
    }
  }

  &.withButton {
    line-height: 20px;
    margin-bottom: 10px;

    .blockButton {
      display: none;
      inset-inline-end: -80px;
      opacity: 1;
      margin: auto;
    }

    .textContainer {
      margin: 10px;
    }

    .title {
      font-size: inherit;
      margin: 0;
    }

    .title-inline {
      display: inline;
    }

    .icon {
      width: 42px;
      height: 42px;
      margin-inline-end: 12px;
      flex-shrink: 0;
    }

    .buttonContainer {
      margin: auto;
    }
  }

  .body {
    display: inline;
    margin: 8px 0 0;

    @media (min-width: $break-point-medium) {
      margin: 12px 0;
    }

    // Disable breakpoints for now if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      margin: 12px 0;
    }

    a {
      font-weight: 600;
    }
  }
}
