
.below-search-snippet {
  margin: 0 auto 16px;

  &.withButton {
    padding: 0 25px;
    margin: auto;
    min-height: 60px;
    background-color: transparent;

    // Add more padding if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      padding: 0 50px;

      @media (max-width: 865px) {

        .buttonContainer {
          margin: auto;
        }
      }
    }

    .snippet-hover-wrapper {
      min-height: 60px;
      border-radius: 4px;

      &:hover {
        background-color: var(--newtab-element-hover-color);

        .blockButton {
          display: block;
          opacity: 1;

          // larger inset if discovery stream is enabled.
          .ds-outer-wrapper-breakpoint-override & {
            inset-inline-end: -8%;

            @media (max-width: 865px) {
              inset-inline-end: 2%;
            }
          }
        }
      }
    }
  }
}

.SimpleBelowSearchSnippet {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  position: relative;
  margin: auto;
  z-index: auto;

  @media (min-width: $break-point-large) {
    width: 736px;
  }

  &.active {
    background-color: var(--newtab-element-hover-color);
    border-radius: 4px;
  }

  .innerWrapper {
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: var(--newtab-card-shadow);
    flex-direction: column;
    padding: 16px;
    text-align: center;
    width: 100%;

    @mixin full-width-styles {
      align-items: flex-start;
      background-color: transparent;
      border-radius: 4px;
      box-shadow: none;
      flex-direction: row;
      padding: 0;
      text-align: inherit;
    }

    @media (min-width: $break-point-medium) {
      @include full-width-styles;
    }

    // There is an off-by-one gap between breakpoints; this is to prevent weirdness at exactly 1121px.
    @media (max-width: $break-point-widest + 1px) {
      margin: 0 60px;
    }

    @media (max-width: 865px) {
      margin-inline-start: 0;
    }

    // There is an off-by-one gap between breakpoints; this is to prevent weirdness at exactly 610px.
    @media (max-width: $break-point-medium - 1px) {
      margin: auto;
    }

    // Disable breakpoints for now if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      @include full-width-styles;
      margin: auto;
    }
  }

  .blockButton {
    display: block;
    inset-inline-end: 20px;
    opacity: 1;
    top: 50%;

    &:focus {
      box-shadow: 0 0 0 1px $blue-50 inset, 0 0 0 1px $blue-50, 0 0 0 4px $blue-50-30;
      border-radius: 2px;
    }
  }

  .title {
    font-size: inherit;
    margin: 0;
  }

  .title-inline {
    display: inline;
  }

  .textContainer {
    margin: 10px;
    margin-inline-start: 0;
  }

  .icon {
    margin-top: 8px;
    margin-inline-start: 12px;
    height: 32px;
    width: 32px;

    @mixin full-width-styles {
      height: 24px;
      width: 24px;
    }

    @media (min-width: $break-point-medium) {
      @include full-width-styles;
    }

    @media (max-width: $break-point-medium) {
      margin: auto;
    }

    // Disable breakpoints for now if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      @include full-width-styles;
    }
  }

  &.withButton {
    line-height: 20px;
    margin-bottom: 10px;
    min-height: 60px;
    background-color: transparent;

    .blockButton {
      display: block;
      inset-inline-end: -15%;
      opacity: 0;
      margin: auto;
      top: unset;

      &:focus {
        opacity: 1;
        box-shadow: none;
      }

      // There is an off-by-one gap between breakpoints; this is to prevent weirdness at exactly 1121px.
      @media (max-width: $break-point-widest + 1px) {
        inset-inline-end: 2%;
      }

      .ds-outer-wrapper-breakpoint-override & {
        inset-inline-end: -10%;
        margin: auto;

        @media (max-width: 865px) {
          inset-inline-end: 2%;
        }
      }
    }

    .icon {
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      margin: auto 0;
      margin-inline-end: 10px;

      @media (max-width: $break-point-medium) {
        margin: auto;
      }
    }

    .buttonContainer {
      margin: auto;
      margin-inline-end: 0;

      @media (max-width: $break-point-medium) {
        margin: auto;
      }
    }
  }

  button {
    @media (max-width: $break-point-medium) {
      margin: auto;
    }
  }

  .body {
    display: inline;
    position: sticky;
    transform: translateY(-50%);
    margin: 8px 0 0;

    @media (min-width: $break-point-medium) {
      margin: 12px 0;
    }

    // Disable breakpoints for now if discovery stream is enabled.
    .ds-outer-wrapper-breakpoint-override & {
      margin: 12px 0;
    }

    a {
      font-weight: 600;
    }
  }
}
