# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Treat generated API docs as binary. We do not want them to pollute
# our diffs.
docs/api/**/* -text -diff linguist-generated=true

# Treat the public suffix list file as text
**/publicsuffixes diff


