<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /

RewriteRule ^service(/)?([A-Za-z0-9.-]+)? service.php?v=$2 [QSA]
RewriteRule ^app/query(/)?(.*)$ query.php$2 [QSA,L]
RewriteRule ^app/report/screenshot(/)?(.*)$ screenshot.php$2 [QSA,L]
RewriteRule ^app/report(/)?(.*)$ report.php$2 [QSA,L]
RewriteRule ^app/stats(/)?(.*)$ stats.php$2 [QSA,L]
RewriteRule ^app/login(/)?(.*)$ login.php$2 [QSA,L]
RewriteRule ^app/logout(/)?(.*)$ logout.php$2 [QSA,L]
RewriteRule ^app/privacy(/)? privacy.php$1 [QSA,L]
RewriteRule ^app index.php [QSA,L]

#Static Content
RewriteRule ^(scripts|styles)$/(.*)$ $1/$2 [QSA,L]
</IfModule>

#Error Pages
ErrorDocument 500 /error.php?error=500
ErrorDocument 404 /error.php?error=404
ErrorDocument 403 /error.php?error=403
ErrorDocument 401 /error.php?error=401
