<!DOCTYPE html>
<html>
<head>
<script>
function draw(id, r, c) {
  var txt = "TryToTaLLY-" + id + "__________" + r;
  var ctx = document.getElementById(id).getContext('2d');
  ctx.font = '15px Arial';
  ctx.fillStyle = c;
  if (r) {
      ctx.save();
      ctx.rotate(Math.PI / 4);
      ctx.fillText(txt, 200, 0);
      ctx.restore();
  }
  ctx.fillText(txt, 10, 20);
}
</script>
<style>
canvas { border: 1px solid silver; margin: 10px; }
</style>
</head>
<body>
<div style="float:left; transform: translate(300px, 150px) scale(3)">
    <canvas id="c1" width="120" height="50"></canvas>
</div>
<script>
draw("c1", false, "red");
draw("c1", false, "green");
</script>
</body>
