<!DOCTYPE HTML>
<html>
<head>
<title>Test to ensure non-framed canvas inherits properties</title>
</head>
<body>
<div style="font: 20px sans-serif;">
<div style="display: none;">		
<canvas id="c" width="512" height="256"></canvas>
</div>
<canvas id="d" width="512" height="256"></canvas>
</div>
<script type="text/javascript">
  var canvas = document.getElementById('c');
  var ctx = canvas.getContext('2d');

  var str = 'BLEARGH!';
  ctx.font = '1em sans-serif';
  ctx.fillStyle = 'black';
  ctx.textAlign = 'center';
  ctx.fillText(str, 256, 128);

  var canvas2 = document.getElementById('d');
  var ctx = canvas2.getContext('2d');

  ctx.drawImage(canvas, 0, 0);
</script>
</body>
</html>
