<!DOCTYPE HTML>
<html>
<head>
<title>Test for Unicode emoji in canvas</title>
<script type="text/javascript">
function test(canvasID) {
  var canvas = document.getElementById(canvasID);
  var ctx = canvas.getContext('2d');
  var str = 'Hello \uD83D\uDE0E'; // U+1F60E
  ctx.font = '2em sans-serif';
  ctx.fillStyle = 'black';
  ctx.textAlign = 'left';
  ctx.textBaseline = 'top';
  ctx.fillText(str, 10, 10);
};
</script>
</head>
<body>

<div lang="en" style="margin:20px; height:100px;">
<canvas id="c1" width="400" height="50"></canvas>
<script type="text/javascript">
  test("c1");
</script>
</div>

</body>
</html>
