/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/downloads/downloads.inc.css

/*** Panel and outer controls ***/

#downloadsFooter {
  border-top: 1px solid ThreeDShadow;
  background-image: linear-gradient(hsla(0,0%,0%,.15), hsla(0,0%,0%,.08) 6px);
}

#downloadsHistory {
  color: -moz-nativehyperlinktext;
}

@keyfocus@ #downloadsSummary:focus,
@keyfocus@ #downloadsHistory:focus > .button-box {
  outline: 1px -moz-dialogtext dotted;
}

@keyfocus@ #downloadsSummary:focus {
  outline-offset: -5px;
}

/*** List items and similar elements in the summary ***/

:root {
  --downloads-item-height: 6em;
  --downloads-item-border-top-color: hsla(0,0%,100%,.2);
  --downloads-item-border-bottom-color: hsla(0,0%,0%,.15);
  --downloads-item-font-size-factor: 0.9;
  --downloads-item-target-margin-bottom: 7px;
  --downloads-item-details-margin-top: 1px;
  --downloads-item-details-opacity: 0.6;
}

.blockedIcon {
  list-style-image: url("moz-icon://stock/gtk-dialog-error?size=dialog");
}

.downloadButton:focus > .button-box {
  outline: 1px -moz-dialogtext dotted;
}

/*** Highlighted list items ***/

#downloadsPanel[keyfocus] > #downloadsListBox:focus > richlistitem[type="download"][selected] {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -1px;
}

#downloadsPanel:not([keyfocus]) > #downloadsListBox > richlistitem[type="download"][state="1"][exists]:hover {
  border-radius: 3px;
  border-top: 1px solid hsla(0,0%,100%,.3);
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  background-color: Highlight;
  background-image: linear-gradient(hsla(0,0%,100%,.1), transparent);
  color: HighlightText;
  cursor: pointer;
}

/*** Button icons ***/

.downloadButton.downloadConfirmBlock,
.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadConfirmBlock,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadConfirmBlock:hover,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:hover {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadConfirmBlock:active,
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:active {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.downloadButton.downloadShow {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
#downloadsPanel:not([keyfocus]) > #downloadsListBox > richlistitem[type="download"][state="1"]:hover > stack > .downloadButton.downloadShow {
  -moz-image-region: rect(16px, 96px, 32px, 80px);
}
#downloadsPanel:not([keyfocus]) > #downloadsListBox > richlistitem[type="download"][state="1"]:hover > stack > .downloadButton.downloadShow:hover {
  -moz-image-region: rect(16px, 112px, 32px, 96px);
}
#downloadsPanel:not([keyfocus]) > #downloadsListBox > richlistitem[type="download"][state="1"]:hover > stack > .downloadButton.downloadShow:active {
  -moz-image-region: rect(16px, 128px, 32px, 112px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:hover {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}
