<!DOCTYPE HTML>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style>
path {
  stroke: black;
  stroke-width: 8;
}

.small {
  transform: scale(0.25, 0.25);
  transform-origin: 50% 50%;
  /*transform-box: fill-box;*/
}
</style>
</head>
<body>

<svg width="500" height="500">
  <g class="small">
    <path d="M 20,250 L 480,250" style="stroke: green"/>
  </g>
  <g class="small">
    <path d="M 250,20 L 250,480" style="stroke: green"/>
  </g>
</svg>
</body>

</html>
