<!-- 1.0@bugzilla.org -->
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[%# INTERFACE:
  # form: hash; the form values submitted to the script
  # verify_fields: boolean; whether or not to verify 
  #   the version, component, and target milestone fields
  # versions: array; versions for the new product.
  # components: array; components for the new product.
  # milestones: array; milestones for the new product.
  # verify_bug_group: boolean; whether or not to ask the user
  #   if they want to add the bug to its new product's group
  # use_target_milestone: boolean; whether or not to use 
  #   the target milestone field
  #%]
 
[% USE mycgi = CGI %]

<form action="process_bug.cgi" method="post">

[% PROCESS "global/hidden-fields.html.tmpl" 
     exclude=(verify_fields ? "^version|component|target_milestone$" : "") %]

[%# Verify the version, component, and target milestone fields. %]
[% IF verify_fields %]
  <h3>Verify Version, Component[% ", Target Milestone" IF use_target_milestone %]</h3>

  <p>
  [% IF usetargetmilestone %]
    You are moving the bug(s) to the product <b>[% form.product %]</b>, 
    and the version, component, and/or target milestone fields are no longer
    correct.  Please set the correct version, component, and target milestone now:
  [% ELSE %]
    You are moving the bug(s) to the product <b>[% form.product %]</b>, 
    and the version and component fields are no longer correct.  
    Please set the correct version and component now:
  [% END %]
  <p>

  <table>
    <tr>
      <td>
        <b>Version:</b><br>
        [% mycgi.popup_menu(Name => "version" , Values => versions) %]
      </td>
      <td>
        <b>Component:</b><br>
        [% mycgi.popup_menu(Name => "component" , Values => components) %]
      </td>
      [% IF use_target_milestone %]
        <td>
          <b>Target Milestone:</b><br>
          [% mycgi.popup_menu(Name => "target_milestone" , Values => milestones) %]
        </td>
      [% END %]
    </tr>
  </table>

[% END %]
       
[% IF verify_bug_group %]
  <h3>Verify Bug Group</h3>

  <p>
    Do you want to add the bug to its new product's group (if any)?
  </p>

  <p>
    <input type="radio" name="addtonewgroup" value="no"><b>no</b><br>
    <input type="radio" name="addtonewgroup" value="yes"><b>yes</b><br>
    <input type="radio" name="addtonewgroup" value="yesifinold" checked>
      <b>yes, but only if the bug was in its old product's group</b><br>
  </p>
[% END %]

<input type="submit" value="Commit">

</form>
<hr>
<a href="query.cgi">Cancel and Return to the Query Page</a>

[% PROCESS global/footer.html.tmpl %]

