/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#HelpToolbar toolbarbutton {
  -moz-box-orient: horizontal !important;
  min-width: 0px;
  list-style-image: url("chrome://help/skin/Toolbar.png");
  margin: 0 !important;
  padding: 4px 5px;
}

#HelpToolbar:-moz-locale-dir(rtl) toolbarbutton {
  list-style-image: url("chrome://help/skin/Toolbar-rtl.png");
}

/* Hide labels for the toolbar because we really don't need them what with the
   tooltips */
#HelpToolbar .toolbarbutton-text {
  display: none;
}

/* With no labels, we don't need the margin on the icon that separates it
   from the label */
#HelpToolbar .toolbarbutton-icon {
  -moz-margin-end: 0;
}

/* Set the minimum sidebar width so the help contents aren't squeezed together.*/
#help-sidebar { min-width: 15em; width: 20em; max-width: 25em; }

/* ----- BACK BUTTON ----- */

#help-back-button {
  -moz-image-region: rect(0px 24px 24px 0px); 
}

#help-back-button:not([disabled="true"]):hover { 
  -moz-image-region: rect(24px 24px 48px 0px); 
}

#help-back-button[disabled="true"] { 
  -moz-image-region: rect(48px 24px 72px 0px); 
}

#help-back-button:not([disabled="true"]):hover:active { 
  -moz-image-region: rect(72px 24px 96px 0px); 
}

#help-back-button .toolbarbutton-menubutton-button {
  -moz-box-align: end !important;
}

/* ----- FORWARD BUTTON ----- */

#help-forward-button {
  -moz-image-region: rect(0px 48px 24px 24px); 
}

#help-forward-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 48px 48px 24px); 
}

#help-forward-button[disabled="true"] {
  -moz-image-region: rect(48px 48px 72px 24px); 
}

#help-forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(72px 48px 96px 24px); 
}

/* ----- HOME BUTTON ----- */

#help-home-button { 
  -moz-image-region: rect(0px 72px 24px 48px); 
}

#help-home-button:not([disabled="true"]):hover { 
  -moz-image-region: rect(24px 72px 48px 48px); 
}

#help-home-button[disabled="true"] { 
  -moz-image-region: rect(48px 72px 72px 48px); 
}

#help-home-button:not([disabled="true"]):hover:active { 
  -moz-image-region: rect(72px 72px 96px 48px); 
}

/* ----- PRINT BUTTON ----- */

#help-print-button { 
  -moz-image-region: rect(0px 96px 24px 72px); 
}

#help-print-button:not([disabled="true"]):hover { 
  -moz-image-region: rect(24px 96px 48px 72px); 
}

#help-print-button[disabled="true"] { 
  -moz-image-region: rect(48px 96px 72px 72px); 
}

#help-print-button:not([disabled="true"]):hover:active { 
  -moz-image-region: rect(72px 96px 96px 72px); 
}

/* ----- OTHER ----- */

#context-copy[disabled="true"] {
  display: none;
}
