<?xml version="1.0" encoding="utf-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<manifest package="org.mozilla.telemetry"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <!-- TODO: This should only be added to the manifest if this scheduler is actually used. -->
        <service
            android:name=".schedule.jobscheduler.TelemetryJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
