/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree.object-inspector .node.object-node {
  display: inline-block;
}

.tree.object-inspector .object-label,
.tree.object-inspector .object-label * {
  color: var(--theme-highlight-blue);
}

.tree.object-inspector .node .unavailable {
  color: var(--theme-comment);
}

.tree.object-inspector .lessen,
.tree.object-inspector .lessen *,
.tree.object-inspector .lessen .object-label,
.tree.object-inspector .lessen .object-label * {
  color: var(--theme-comment);
}

.tree.object-inspector .block .object-label,
.tree.object-inspector .block .object-label * {
  color: var(--theme-body-color);
}

.tree.object-inspector .block .object-label::before {
  content: "☲";
  font-size: 1.1em;
  display: inline;
  padding-inline-end: 2px;
  line-height: 14px;
}

.object-inspector .object-delimiter {
  color: var(--theme-comment);
  white-space: pre-wrap;
}

.object-inspector .tree-node .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-inline-start: -1px;
}

/* Focused styles */
.tree.object-inspector .tree-node.focused * {
  color: inherit;
}

.tree-node.focused button.open-inspector,
.tree-node.focused button.invoke-getter {
  background-color: currentColor;
}

button.remove-set-watchpoint {
  mask: url("resource://devtools/client/debugger/images/webconsole-logpoint.svg")
    no-repeat;
  display: inline-block;
  vertical-align: top;
  height: 13px;
  width: 15px;
  margin: 0 4px 0px 20px;
  padding: 0;
  border: none;
  background-color: var(--breakpoint-fill);
  cursor: pointer;
}

button.remove-get-watchpoint {
  mask: url("resource://devtools/client/debugger/images/webconsole-logpoint.svg")
    no-repeat;
  display: inline-block;
  vertical-align: top;
  height: 13px;
  width: 15px;
  margin: 0 4px 0px 20px;
  padding: 0;
  border: none;
  background-color: var(--purple-60);
  cursor: pointer;
}

button.remove-getorset-watchpoint {
  mask: url("resource://devtools/client/debugger/images/webconsole-logpoint.svg")
    no-repeat;
  display: inline-block;
  vertical-align: top;
  height: 13px;
  width: 15px;
  margin: 0 4px 0px 20px;
  padding: 0;
  border: none;
  background-color: var(--yellow-60);
  cursor: pointer;
}

.theme-dark button.remove-set-watchpoint:hover,
.theme-light button.remove-set-watchpoint:hover {
  background-color: var(--breakpoint-fill);
}
.theme-dark button.remove-get-watchpoint:hover,
.theme-light button.remove-get-watchpoint:hover {
  background-color: var(--purple-60);
}

.theme-dark button.remove-getorset-watchpoint:hover,
.theme-light button.remove-getorset-watchpoint:hover {
  background-color: var(--yellow-60);
}
