<!DOCTYPE html>
<html reftest-async-scroll
      reftest-displayport-x="0" reftest-displayport-y="0"
      reftest-displayport-w="800" reftest-displayport-h="1000"
      reftest-async-scroll-x="0" reftest-async-scroll-y="50"
      reftest-async-zoom="2.0">
<head>
  <style>
    body {
      height: 3000px;
      margin: 0;
      overflow: hidden;
    }
    div {
      position: fixed;
      top: 0;
      width: 100px;
      height: 100px;
      background: green;
    }
  </style>
</head>
<body>
  <!-- Test that position:fixed elements are attached to the layout viewport
       instead of the visual viewport.

       An async scroll of 50 CSS pixels will scroll the visual viewport by 100
       screen pixels (since async zoom is set to 2.0) and result in the top
       half of the div being scrolled out of view. -->
  <div></div>
</body>
</html>
