<!DOCTYPE HTML>
<html reftest-async-scroll
      reftest-displayport-x="0" reftest-displayport-y="0"
      reftest-displayport-w="800" reftest-displayport-h="2000"
      reftest-async-scroll-x="0" reftest-async-scroll-y="50">
<body style="height:3000px; overflow:hidden">
  <!-- Test that element content scrolls asynchronously even when content
       has to be split into separate layers with non-scrolling content in
       between -->
  <div style="width:400px; height:500px; overflow:hidden; border:2px solid black"
       reftest-displayport-x="0" reftest-displayport-y="0"
       reftest-displayport-w="800" reftest-displayport-h="2000"
       reftest-async-scroll-x="0" reftest-async-scroll-y="50">
    <div style="height:500px"></div>
    <div style="height:100px; width:200px; float:left; background:purple"></div>
    <div style="left:200px; top:0; height:800px; width:300px; float:left; background:yellow; position:absolute; z-index:1;"></div>
    <div style="height:100px; width:200px; float:left; background:purple; position:relative; z-index:2;"></div>
  </div>

