/* formerly test_bug511909.html */

a {
    font-weight: bold;
}
#pink {
    color: pink;
}

#green {
    color: green;
}

#blue {
    color: blue;
}


pre {
    border: 1px solid black;
}

@-moz-document regexp(".*test_moz_document_nesting.*") {
    #d {
        color: pink;
    }
}

@media screen {
    #m {
        color: green;
    }
}

@-moz-document regexp(".*test_moz_document_nesting.*") {
    @media screen {
        #dm {
            color: blue;
        }
    }
}

@media screen {
    @-moz-document regexp(".*test_moz_document_nesting.*") {
        #md {
            color: green;
        }
    }
}

/* syntax error - recover at end of @media block */
@media print { @-moz-document regexp("not_this_url") , }
#mx {
    color: pink;
}

/* syntax error - recover at end of @-moz-document block */
@-moz-document regexp("not_this_url") { @media , }
#mxx {
    color: blue;
}

@media screen {
    @-moz-document regexp(".*test_moz_document_nesting.*") {
        @media screen {
            @-moz-document regexp(".*test_moz_document_nesting.*") {
                @media screen {
                    #me {
                        color: blue;
                    }
                }
            }
        }
    }
}

/* formerly reftests/w3c-css/submitted/conditional3/css-supports-027.xht */
@-moz-document regexp(".*test_moz_document_nesting.*") {
    @supports (color: green) {
        #mf { color: green }
    }
}

/* formerly reftests/w3c-css/submitted/conditional3/css-supports-028.xht */
@supports (color: pink) {
    @-moz-document regexp(".*test_moz_document_nesting.*") {
        #mg { color: pink }
    }
}
