<title>text-decoration quirk on tables (Bug 572713)</title>

<div><table><tbody><tr><td>text-decoration on container of table</td></tr></tbody></table></div>
<div><table><tbody><tr><td style="text-decoration: underline">text-decoration on table</td></tr></tbody></table></div>
<div><table><tbody><tr><td style="text-decoration: underline">text-decoration on tbody</td></tr></tbody></table></div>
<div><table><tbody><tr><td style="text-decoration: underline">text-decoration on tr</td></tr></tbody></table></div>
<div><table><tbody><tr><td style="text-decoration: underline">text-decoration on td</td></tr></tbody></table></div>
