<title>text-decoration quirk on tables (Bug 572713)</title>

<h1>text-decoration on a block</h1>

<u>text in the block</u>

<div><u>text in a block in the block</u></div>

<table><tbody><tr><td>an HTML table</td></tr></tbody></table>

<table style="display:block"><tbody style="display:block"><tr style="display:block"><td style="display:block">an HTML table that's not table-display</td></tr></tbody></table>

<div style="display: table"><div style="display: table-row-group"><div style="display: table-row"><div style="display: table-cell"><u>a div with table display types</u></div></div></div></div>

<h1>text-decoration on an inline</h1>

<u>text in the block</u>

<div><u>text in a block in the block</u></div>

<table><tbody><tr><td>an HTML table</td></tr></tbody></table>

<table style="display:block"><tbody style="display:block"><tr style="display:block"><td style="display:block">an HTML table that's not table-display</td></tr></tbody></table>

<div style="display: table"><div style="display: table-row-group"><div style="display: table-row"><div style="display: table-cell"><u>a div with table display types</u></div></div></div></div>

