/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.sidebar-toggle {
  display: block;
}

.sidebar-toggle::before,
.sidebar-toggle.pane-collapsed:-moz-locale-dir(rtl)::before {
  background-image: url(chrome://devtools/skin/images/pane-collapse.svg);
}

.sidebar-toggle.pane-collapsed::before,
.sidebar-toggle:-moz-locale-dir(rtl)::before {
  background-image: url(chrome://devtools/skin/images/pane-expand.svg);
}

/* Rotate button icon 90deg if the toolbox container is
  in vertical mode (sidebar displayed under the main panel) */
@media (max-width: 700px) {
  .sidebar-toggle::before {
    transform: rotate(90deg);
  }

  /* Since RTL swaps the used images, we need to flip them
     the other way round */
  .sidebar-toggle:dir(rtl)::before {
    transform: rotate(-90deg);
  }
}
