<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Appearance</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>Appearance.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>org.mozilla.chimera.preference.appearance</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Appearance</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>MOZC</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>NSMainNibFile</key>
	<string>Appearance</string>
	<key>NSPrincipalClass</key>
	<string>OrgMozillaChimeraPreferenceAppearance</string>
</dict>
</plist>
