[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2005
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
  # $return_to - the CGI script to redirect to after the login is complete
  # $params - the CGI object containing parameters to pass to the 
  #	  script in $redirect_to	  
  #	$email - email address of the user to convert
#%]

[% INCLUDE global/html_header.tmpl title = 'Login: Update Account' %] 
[% INCLUDE global/litmus_header.tmpl title = 'Login: Update Account' %] 

[% # Dump CGI data into hidden fields for safekeeping as the user 
   # logs in
%]
[% BLOCK create_hidden_fields %]
	[% IF params %]
    	[% FOREACH curdata = params.param() %]
    		[% IF ! params.param(curdata) %] [% NEXT %] [% END %]
        	<input name="[%curdata FILTER html %]" type="hidden" 
            	value="[% params.param(curdata) FILTER html %]">
    	[% END %]
	[% END %]
[% END %]

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

    <h1 class="breadcrumbs">Login: Update Account</h1>
    <h3>This new version of Litmus uses a new system for managing user accounts. 
    In order to continue, you must update your account and create a 
    password for use with the new system. This won't take but a minute of your 
    time and will help to improve your Litmus experience. Thank you for your 
    contribution to Mozilla QA.</h3>
    
    
    <div class="loginbox">
    
    <div class="login_form">
    	<h2 class="login_sectitle">Update your Litmus Account</h2>

    	<form name="litmus_login" action="[% return_to | none %]" method="post">
    		<input name="login_type" type="hidden" value="reallyconvert">
    		<input name="login_loc" type="hidden" value="[% return_to FILTER html %]">
    		[% INCLUDE create_hidden_fields params=params %]
    		
    		<table border=0>
    			<tr>
    			<td>Email:</td>
    				<td><b>[% email FILTER html %]</b></td>
    				<input name="email" type="hidden" value="[% email FILTER html %]">
    			</tr>
    			<tr>
    			<td>Real Name:</td>
    				<td><input name="realname" type="text" size="25"></td>
    			</tr>
    			<tr>
    			<td>New Password:</td>
    				<td><input name="password" type="password" size="25"></td>
    			</tr>
    			<tr>
    			<td>Confirm Password:</td>
    				<td><input name="password_confirm" type="password" size="25"></td>
    			</tr>
    		</table>
    		<br /><input type="submit" name="Submit" value="Login">
    	</form>
    </div>
  
    <p class="login_forhelp" style="bottom: 0px;">For assistance logging in, please contact 
    	<a href="http://irc.mozilla.org">irc.mozilla.org</a>, channel #qa.</p> 
    
    </div>

  </div> <!--END content-->

</div> <!--END page-->

[% INCLUDE global/html_footer.tmpl %]
