# This section contains arguments to be read by the firebug test runner
[runner_args]
server = http://10.250.5.0

# This section maps firefox versions to firebug versions.
# The default value is used for any firefox version not specified here.
[version_map]
3.6 = 1.6
4.0 = 1.7
4.0b = 1.7
default = 1.7

# This section allows disabling tests.
# Use 'test_name' = 'comma separated list of Firefox versions to disable the test against'
# See the Firebug test console for a full list of tests.
[disable_tests]
# Example
# firebug/testName.js = 3.6,4.0b
