
div.input-color {
  display: inline-block;
  -moz-appearance: textfield;
  padding: 1px 0px 1px 0px;
  color: ButtonText;
  text-align: center;
  text-shadow: none;
  line-height: normal;
  font: -moz-button;
}

div.input-color-swatch {
  border-width: 0px;
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  background-color:#000000; /* default color for input type color */
}
