
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 

dialog {
  -moz-binding: url("chrome://global/content/platformDialog.xml#dialog") !important;
}

.wizard-header {
  -moz-binding: url("chrome://global/content/bindings/wizard.xml#wizard-header-mac");
}

.wizard-buttons {
  -moz-binding: url("chrome://global/content/bindings/wizard.xml#wizard-buttons-mac");
}

statusbar {
  padding-right: 14px;
}

.statusbar-resizerpanel {
  display: none;
}
