.deps
.libs
Makefile
Makefile.in
Makefile.am.features
#Makefile.win32.features
*.gcda
*.gcno
*.la
*.lo
*.loT
*.pc
cairo-features.h
cairo-supported-features.h
cairo.def
*.i
*.s
*.o
*.obj
*.pdb
*.dll
*.manifest
*.ilk
*.exp
*.lib
*.trs
*~
.*.sw?
TAGS
tags
check-has-hidden-symbols.i
check-link
check-skiplist
headers-standalone
!cairo.pc.in
!cairo-uninstalled.pc.in
!cairo-features.pc.in
!cairo-features-uninstalled.pc.in
