[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Vaskin Kissoyan <vkissoyan@yahoo.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[%# *** Knob *** %]

  <br>
  <input type="radio" name="knob" value="none" checked="checked">
  Leave as <b>[% bug.bug_status FILTER html %]&nbsp;
              [% bug.resolution FILTER html %]</b>
  <br>

  [% knum = 1 %]

  [% IF bug.bug_status == "UNCONFIRMED" &&
        bug.user.canconfirm %]
    <input type="radio" name="knob" value="confirm">
    Confirm [% terms.bug %] (change status to <b>NEW</b>)
    <br>
    [% knum = knum + 1 %]
  [% END %]

  [% IF bug.user.canedit %]
    [% IF bug.isopened %]
      [% IF bug.bug_status != "ASSIGNED" && bug.user.canconfirm %]
        <input type="radio" name="knob" value="accept">
        Accept [% terms.bug %] (
        [% IF bug.isunconfirmed %]confirm [% terms.bug %], [% END %]change
        status to <b>ASSIGNED</b>)
        <br>
        [% knum = knum + 1 %]
      [% END %]

      [% IF bug.resolution %]
        <input type="radio" name="knob" value="clearresolution">
        Clear the resolution (remove the current resolution of
        <b>[% bug.resolution FILTER html %]</b>)<br>
        [% knum = knum + 1 %]
      [% END %]

      <input type="radio" name="knob" value="resolve">
      Resolve [% terms.bug %], changing 
      <a href="page.cgi?id=fields.html#resolution">resolution</a> to
      <select name="resolution"
              onchange="document.changeform.knob[[% knum %]].checked=true">
      [% FOREACH r = bug.choices.resolution %]
        <option value="[% r FILTER html %]">[% r FILTER html %]</option>
      [% END %]
      </select>
      <br>
      [% knum = knum + 1 %]

      <input type="radio" name="knob" value="duplicate">
      Resolve [% terms.bug %], mark it as duplicate of [% terms.bug %] #
      <input name="dup_id" size="6"
             onchange="if (this.value != '')
                       {document.changeform.knob[[% knum %]].checked=true}">
      <br>
      [% knum = knum + 1 %]

      <input type="radio" name="knob" value="reassign">
      <a href="page.cgi?id=fields.html#assigned_to">Reassign</a> 
      [% terms.bug %] to
      <input name="assigned_to" size="32"
             onchange="if ((this.value != '[% bug.assigned_to.email FILTER js %]') &&
                            (this.value != '')) {
                         document.changeform.knob[[% knum %]].checked=true;
                       }"
             value="[% bug.assigned_to.email FILTER html %]">
      <br>
      [% IF bug.isunconfirmed && bug.user.canconfirm %]
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="andconfirm">
        and confirm [% terms.bug %] (change status to <b>NEW</b>)
        <br>
      [% END %]
      [% knum = knum + 1 %]

      <input type="radio" name="knob" value="reassignbycomponent">
      Reassign [% terms.bug %] to owner
      [% " and QA contact" IF Param('useqacontact') %]
      of selected component
      <br>
      [% IF bug.isunconfirmed && bug.user.canconfirm %]
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="compconfirm">
        and confirm [% terms.bug %] (change status to <b>NEW</b>)
        <br>
      [% END %]
      [% knum = knum + 1 %]
    [% ELSE %]
      [% IF bug.resolution != "MOVED" ||
           (bug.resolution == "MOVED" && bug.user.canmove) %]
        <input type="radio" name="knob" value="reopen"> Reopen [% terms.bug %]
        <br>
        [% knum = knum + 1 %]
      [% END %]
      [% IF bug.bug_status == "RESOLVED" %]
        <input type="radio" name="knob" value="verify">
        Mark [% terms.bug %] as <b>VERIFIED</b><br>
        [% knum = knum + 1 %]
      [% END %]
      [% IF bug.bug_status != "CLOSED" %]
        <input type="radio" name="knob" value="close">
        Mark [% terms.bug %] as <b>CLOSED</b><br>
        [% knum = knum + 1 %]
      [% END %]
    [% END %]
  [% END %]

  <input type="submit" value="Commit">
  <input type="hidden" name="form_name" value="process_bug">
  <p>
    <font size="+1">
      <b>
        <a href="show_activity.cgi?id=[% bug.bug_id %]">View [% terms.Bug %] Activity</a>
        &nbsp; | &nbsp;
        <a href="long_list.cgi?buglist=[% bug.bug_id %]">Format For Printing</a>
      </b>
    </font>

    [% IF bug.user.canmove %]
      &nbsp; <font size="+1"><b> | </b></font> &nbsp;
      <input type="submit" name="action"
             value="[% Param("move-button-text") %]">
    [% END %]
  </p>

