/* This should match in page 1, 2 and 3 */
.sheetB-test1 {
  color: #0B1;
}
/* This should not match anywhere */
.sheetB-test2 {
  color: #0B2;
}
/* This should match in page 1 only */
.sheetB-test3 {
  color: #0B3;
}
/* This should match in page 2 only */
.sheetB-test4 {
  color: #0B4;
}
/* This should match in page 3 only */
.sheetB-test5 {
  color: #0B5;
}
